[2020-06-09 03:15] ProfFan commented on #342
NVM, the file variant is not fixed but the string one is:
[code]

@gchenfc Could you make a PR fixing this?

[2020-06-09 18:05] ProfFan commented on #291
@acxz I have added some other solvers like CHOLMOD and cuSparse in #111. However their performance is not great compared to GTSAM's MULTIFRONTAL_CHOLESKY. There should be a lot of room for optimization though I don't have bandwidth on this currently.

[2020-06-09 18:06] ProfFan commented on #291
BTW, CHOLMOD's GPU support is somewhat exaggerated: it only supports GPU cholesky with integers, not doubles.

[2020-06-09 18:34] varunagrawal opened #344 "Nightly build of Python package"
## Feature

GTSAM is currently available through `pip` over PyPI, but given the steady stream of improvements, the current version is lacking a lot of features. It would be nice to have a nightly build which publishes the daily snapshot of the repo as a package which can be installed easily.

## Motivation

Having a nightly build would make access to new features and bugfixes a lot more accessible

[2020-06-09 18:48] ProfFan commented on #344
#247 is my attempt to solve this but is blocked :(

[2020-06-09 18:49] acxz commented on #291
Nice! I am sure the optimizations can come later.

rip, makes me sad

[2020-06-09 18:52] ProfFan commented on #291
me bursted into tears after wasting one day building custom SuiteSparse with GPU and figuring out how to make it *use* the gpu...

[2020-06-09 18:56] varunagrawal commented on #344
Where is it blocked? I can help if you're preoccupied.

[2020-06-09 18:58] ProfFan commented on #344
Adding a bot user and give it access to GTSAM :)

[2020-06-09 19:50] varunagrawal commented on #290
You can set the first location as origin. World frame can be set arbitrarily, but GPS is always latitude, longitude and altimeter.

I am not sure how did you match the example data to that specific subset of the KITTI subset.

[2020-06-09 20:11] varunagrawal commented on #344
Won't we need Frank to give access to the bot? I don't believe I have access.

[2020-06-09 20:34] ProfFan commented on #344
Yeah thus it stalled... Otherwise we need to manually trigger the build...

[2020-06-09 20:35] dellaert commented on #344
I was told the bot was for deleting branches, which I do not agree with. If you want me to give the bots access, let me know the "deleting branches bot" is not running.

[2020-06-09 21:03] ProfFan commented on #344
@dellaert No that is not happening :)

Long story short:

1. The bot only need admin access to `gtsam-manylinux-build` not `gtsam`
2. the personal access token (representing the bot) is then written into the secret entry `PYTHON_CI_REPO_ACCESS_TOKEN` (in settings of GTSAM repo, by @dellaert )
3. after #247  is merged, the workflow in `gtsam` repo will call the `gtsam-manylinux-build` repo to start

[2020-06-09 21:05] ProfFan commented on #344
Also, the token will not be leaked to untrusted third parties because GitHub Secrets will only allow PRs originating from the `gtsam` repo to access the secret, not forks.

[2020-06-09 21:07] dellaert commented on #344
I would like @varunagrawal  to comment, because the only thing that I got was a fairly general authorization request for any type of bot thing. If he does not respond can you trigger a new authorization request for the more restricted activity you just outlined above?

[2020-06-09 21:08] varunagrawal commented on #344
This was for another bot, the idea of which I canned after seeing your email. My mistake, sorry for the confusion.

[2020-06-11 18:52] mikesheffler commented on #290
It's some sort of rectangularized coordinate system. Given the magnitude of the coordinates, it's not a big one like UTM, so it's probably a local ENU or NED. Who make the conversion and even what the conversion is seems to have been lost to time.

Check out this [frame from the KITTI 'trailer'](https://youtu.be/KXpZ6B1YB_k?t=54). I haven't processed this data in forever, but I remember that that

[2020-06-12 13:39] #344 closed

[2020-06-12 15:37] ProfFan commented on #248
Rim:
![image](https://user-images.githubusercontent.com/5358374/84519769-89828a80-aca0-11ea-8999-f74f18deb9a6.png)

Sphere:
![image](https://user-images.githubusercontent.com/5358374/84519838-9dc68780-aca0-11ea-9ac9-c32336f50763.png)

torus3D:
![image](https://user-images.githubusercontent.com/5358374/84519941-c8184500-aca0-11ea-9ec2-da9ac3f8c8ec.png)

garage:
![image](https://user-images.githubus

[2020-06-12 16:29] ProfFan commented on #248
grid3d:
![image](https://user-images.githubusercontent.com/5358374/84524710-665bd900-aca8-11ea-9488-0f8c13b2e300.png)

[2020-06-12 16:31] dellaert commented on #248
Excellent.
Perhaps you could organize this on some slides for the meeting?
Make the title slides “tweets"
Frank

[2020-06-12 19:12] ProfFan commented on #344
@varunagrawal Note that nightlies now live in https://github.com/borglab/gtsam-manylinux-build/actions :)

[2020-06-16 01:45] dwisth commented on #283
I'm also interested in the correctness of the `OrientedPlane3Factor`.

I added a small unit test to `testOrientedPlane3Factor.cpp` ([branch](https://github.com/dwisth/gtsam/commit/df5ecac604b396139c72eafc0ad806532cdcde67)) to check that the calculated Jacobians match the numerical ones. It seems to indicate that part of the Jacobians are wrong (the top left 2x2 block of both matrices). Below are t

[2020-06-16 06:17] zeng-xiangwei commented on #196
@narutojxl Hello, I also meet this issue. Have you solved the problem? Thanks.

[2020-06-16 06:39] narutojxl commented on #196
Hi @zeng-xiangwei, no. :(  I give up using ceres with gtsam eventually, through many attempts failed. I think maybe it is a gtsam-4.0.0-alpha2 bug or something else. Maybe you can test with the newer gtsam version, i didn't do that test at that time.

[2020-06-16 06:53] zeng-xiangwei commented on #196
@narutojxl Thank you very much.

[2020-06-16 09:33] zeng-xiangwei commented on #196
@narutojxl  I test with the newer gtsam version(release: tag 4.0.2), the update() function can work well. Thanks again!!!

[2020-06-16 11:17] narutojxl commented on #196
Thanks a lot ! @zeng-xiangwei

[2020-06-16 15:51] dellaert commented on #283
I'm taking a look...

[2020-06-16 23:44] varunagrawal opened #355 "Travis - Set verbose makefile to OFF"
## Feature

Currently Travis builds GTSAM with the flag `-DCMAKE_VERBOSE_MAKEFILE=ON` which leads to a lot of output from the compiler, slowing down build times.

If there is a compilation issue, `make` will report it as needed, making this flag somewhat useless.

As an alternative, we could set the flag to ON for the build stage but to OFF for all other stages.

## Motivation

This would potentia

[2020-06-17 00:24] dellaert commented on #355
I agree with that

[2020-06-17 00:32] ProfFan commented on #355
2nd

[2020-06-18 13:56] dellaert opened #357 "4.0.3 Release Tracking Issue"
I created a new release branch to cement things before we switch to 4.1
4.1. will remove the cython wrapper.

@ProfFan  will bump release number
Which PR's *need* to be merged in 4.0.3? @jlblancoc @mikesheffler @varunagrawal @acxz

- [ ] blog post

## Issues
- [x] #20
- [x] #57
- [x] #158
- [ ] remove `wrap/pybind11` in the release branch after branching
- [ ] #412 resolve PGO default

## Pull Req

[2020-06-18 16:16] varunagrawal commented on #357
I want to definitely get #343 and #358 in. #358 can happen since this is a version bump. :tada:

[2020-06-18 17:27] dellaert commented on #357
No, sorry, this is a *minor* version bump *before* we version bump to 4.1, which can include API changes. 4.0.3. should not have API changes. Does that change anything?

[2020-06-18 18:34] varunagrawal commented on #357
Ah pardon me. #358 should be for 4.1 then.

[2020-06-19 07:04] jlblancoc commented on #357
You can merge #314 after my last commit (after CI does its job), which actually finishes the undo of #310 .... as we discussed, #310 changed the behavior in a very core class just to fix an error somewhere in `gtsam_unstable` (recall, the error was only revealed when building in intel/arm 32bit architectures), which we should address someday but is not urgent IMO.

[2020-06-19 07:06] jlblancoc commented on #306
Reopening since the former proposed solution was actually a workaround, a better solution would be to fix the construction of the quadratic cost factor in the test referenced above.

[2020-06-19 12:49] zhangxiaoya commented on #75
disable 'march=native' works for me, reference https://github.com/borglab/gtsam/pull/4/files

[2020-06-19 23:02] #355 closed

[2020-06-20 14:14] acxz commented on #357
None of my PRs are essential at the moment.

For using upstream METIS, we need to wait for METIS to expose more of their API with the default installation. (not critical at all)

For TBB we are using deprecated functionality and deprecation warnings do clutter the build, but most users shouldn't see them and it will only be a problem when that functionality is actually removed in later TBB release

[2020-06-22 04:57] dwisth commented on #283
I proposed a solution in #362 which passes the unit tests using `numericalDerivative`.

If anyone knows the details of `OrientedPlane3` and `Unit3` I might need a hand to calculate the analytical derivatives for `OrientedPlane3::error` and `Unit3::localCoordinates`.

[2020-06-24 15:48] mindThomas opened #368 "CombinedImuFactor with just one measurement leads to degeneracy"
## Description
If only 1 measurement is integrated into the **CombinedImuFactor**, the position related covariance terms are all zero.
This only seems to happen for the **CombinedImuFactor** though. If the same single measurement is integrated into an **ImuFactor** all elements of the covariance matrix is filled out. No zero rows/columns.

Unfortunately, these zero rows in the covariance leads to

[2020-06-24 20:25] aspears1935 opened #369 "IMU information in ImuFactorExample"
## Feature

If possible, can you please note the type of IMU you used for this example so it will be easier for users to translate the example noise sigma values to what they should use for their own IMUs? I see some old discussions of how to obtain these values for different IMUs, but don’t see any conclusive equations.

## Motivation

Knowing the IMU you used can help us back out how those examp

[2020-06-24 20:31] varunagrawal commented on #369
I am actually working on this right now and any help would be appreciated.
Can you please point me to the discussions?

[2020-06-24 20:56] mikesheffler commented on #369
@varunagrawal Here is [one time I waded in on the Google group mailing list](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/gtsam-users/o9brW87ZjZ0/dWOigRcjBAAJ) on the topic.

One thing that is maybe not ideal about the status quo is that a lot of people jump onto the Kitti example as the first thing they try to understand (I did), and the IMU data has no documentation.

[2020-06-24 21:22] aspears1935 commented on #369
https://github.com/borglab/gtsam/issues/213
https://github.com/ethz-asl/kalibr/wiki/IMU-Noise-Model

In some of the papers about the new IMU factor, the ADIS16448 IMU is mentioned, but the datasheet doesn't seem to correspond.

[2020-06-24 21:33] mikesheffler commented on #369
I don't know if this helps, but there is a [nice thread on a (closed) issue on the Kalbr site](https://github.com/ethz-asl/kalibr/issues/63)  about some of the gymnastics that get you from one conception of the data to another. It also notes that they use different parameters for the 16448 than they used to.

[2020-06-25 00:07] #342 closed

[2020-06-25 13:15] aspears1935 commented on #369
Ok. Thanks. I will try to play around with the equations and see if I can match the numbers to any of the 16448 values to see if that might be what was used.

[2020-06-29 21:07] dellaert commented on #368
@varunagrawal take a look at this?

[2020-06-30 18:56] andre-nguyen commented on #369
I'd just like to chime in here and mention a few things which may or may not help:

1. It's probably best to just go ahead and plot out the allan deviation curves instead of just relying on the datasheet as a sanity check.
2. Some datasheets will give you the required values and it is relatively easy to convert the units to the expected ones in the Kalibr noise model some don't.
3. Unless you have

[2020-07-03 17:53] Alexma3312 opened #372 "Rot3 determinant!=1 after recursive operation"
## Description

The determinant of a Rot3 variable no longer equals to 1 after 31 steps of recursive operations with Rot3.between() and Rot3.compose().
## Steps to reproduce

1. run test_rot3_determinant_between in the attached file

[code]

## Expected behavior
1  error = 1.4901161193847656e-08
2  error = 1.4901161193847656e-08
3  error = 1.4901161193847656e-08
4  error = 2.5809568279517847e-08
5

[2020-07-03 19:23] dellaert commented on #372
Wow. That loses precision much faster than I expected.

So, to be clear, if you replace

[code]

with

[code]

things still fail? Could you give that a try?

[2020-07-03 19:53] Alexma3312 commented on #372
When I use the (*) operation, I got an exception. I installed gtsam through pip install. Is this normal?:
[code]

I tried and replace
[code]
With
[code]
**The result is the same**:
1  determinant error = 1.4901161193847656e-08
2  determinant error = 1.4901161193847656e-08
3  determinant error = 1.4901161193847656e-08
4  determinant error = 2.5809568279517847e-08
5  determinant error = 4.2146848510

[2020-07-03 20:19] dellaert commented on #372
Oh, yeah, * will (hopefully) only work in new pybind wrapper

[2020-07-04 01:34] ProfFan commented on #372
I think it's quite hard to avoid this without some clever floatpoint-fu. (or we can use the quaternion at Rot3, since quaternion is always normalized)

[2020-07-06 19:36] Angit16 commented on #104
@YangSiri
cat install_manifest.txt | xargs echo sudo rm | sh
Please check if it helps.

[2020-07-07 18:33] varunagrawal commented on #222
@haotiangu1993 can you please share a fully reproducible example? We would like to help you out if we can identify the underlying issue.

[2020-07-07 18:34] varunagrawal commented on #220
@parkerlreed any updates? We are looking to close pending issues. :)

[2020-07-07 18:37] varunagrawal commented on #208
@acxz is this resolved?

[2020-07-07 18:38] varunagrawal commented on #191
Hi @tim-fan sorry for the delay in responding.

I did an intense rewrite of the CMake for the wrapper recently so I should be able to resolve this. I'll get back to you once I have a solution in place.

[2020-07-07 18:40] varunagrawal commented on #180
@erik-nelson has this issue been resolved? It seems that #187 fixes this, but I would like to get confirmation from you.

[2020-07-07 18:41] varunagrawal commented on #158
Thanks for reporting this @tardifjp. I'll take a look at it especially since you've already proposed a fix.

[2020-07-07 18:54] acxz commented on #208
Nope not yet. see #336 for a wip solution

[2020-07-07 19:07] mikesheffler opened #377 "MATLAB Wrapper Build Is Broken"
The MATLAB wrapper build is broken. I'm without a Linux box right this second, so I can only confirm that that is the case on Windows. It appears to be just stuff that was either not updated or (not sure about this one) showed up early from another branch.

1) Serialization in `SOn.h`. There' some serialization code needed. I plucked some from `origin/feature/new_wrapper` and that seemed to do the

[2020-07-07 19:13] varunagrawal commented on #357
I discussed this minor release with @ProfFan today and this is the plan we've come up with:

1. Identify issues/PRs that we would like to see addressed in this release.
2. Set a date to finalize the release.
3. Freeze all the issues/PRs we wish to push in this release.
4. Address the task items and prepare the release.

I have already made a list in the main comment of all the issues and PRs that

[2020-07-07 21:12] dellaert commented on #357
We left “nice to have” behind last week :-) Let’s do the absolute essential, like the broken matlab wrapper. Then pybind wrapper upgrades to 4.1. Everything else can go into 4.1.1.

Speed !!!

[2020-07-07 21:35] varunagrawal commented on #357
Gotcha! I've updated the list to include the issues that are easy to fix or are serious bugs. I believe we can knock those out by the end of the week.

[2020-07-07 21:40] dellaert commented on #357
Forget “easy to fix”. Pare down even more to *BROKEN NEEDS TO BE FIXED*.

[2020-07-07 23:31] varunagrawal commented on #57
@ProfFan I believe this has been fixed since the corresponding tests on Travis pass. Can you please confirm, and if yes, close this issue?

[2020-07-08 02:00] CrazyPopLin opened #380 "libmetis-gtsam issue"
Hi, I am in Ubuntu 20.04 and built gtsam follow the [quick start](https://github.com/borglab/gtsam#quickstart) and build the github branch successfully with a install path.

Then I try to build the **OdometryExample.cpp** with cmake(with ROS but plain gtsam). The CMakeLists.txt is shown below. The build was successfully, too.
[code]
Then I run the executable, got the error:

Any suggestions? Thank

[2020-07-08 12:08] YouShaoze opened #382 "make install error"
-- Install configuration: "Release"
-- Up-to-date: /usr/local/lib/cmake/GTSAM/gtsam_extra.cmake
CMake Error at cmake_install.cmake:36 (file):
  file INSTALL cannot set permissions on
  "/usr/local/lib/cmake/GTSAM/gtsam_extra.cmake"

Makefile:105: recipe for target 'install' failed
make: *** [install] Error 1

[2020-07-08 16:38] dellaert commented on #382
sudo?

[2020-07-08 16:38] dellaert commented on #382
Personally I *never* install in /usr/local, but specify my $HOME as a prefix

[2020-07-08 18:09] #377 closed

[2020-07-08 18:21] mikesheffler opened #383 "Is #include <boost/serialization/split_member.hpp> needed in SOn.h?"
The fix to #377 (PR #381) involved the addition of

[code]

to `SOn.h`. Quoth @dellaert :

I'll go ahead and remove the include locally to see if I can still build.

[2020-07-08 18:53] mikesheffler commented on #383
Checked. It does not seem to be necessary

[2020-07-09 04:27] varunagrawal commented on #382
This is clearly a permissions error on the user's end.

@YouShaoze please use `sudo make install` if you are using `/usr/local/lib` as your CMake Install Prefix.

[2020-07-09 04:27] #382 closed

[2020-07-09 18:04] #57 closed

[2020-07-09 18:04] ProfFan commented on #57
Should have been fixed, we can reopen if this is not the case.

[2020-07-09 18:14] acxz commented on #292
Update on using system METIS:

One of our files: https://github.com/borglab/gtsam/blob/develop/gtsam_unstable/partition/FindSeparator-inl.h uses `metislib.h`. This header file is not exposed by upstream METIS, which is why we build METIS ourselves.

In order for us to use the system METIS, METIS needs to expose this functionality. I opened an issue & PR about this a while back (https://github.com/

[2020-07-09 18:18] acxz commented on #220
From what I understand this should be resolved with https://github.com/borglab/gtsam/pull/332

[2020-07-09 18:25] acxz commented on #380
Hmm that is odd indeed. I got `OdometryExample` compiling as follows.

1. Install gtsam as specified in the [quick start](https://gtsam.org/get_started/)
2. Create the following structure:
[code]
3. Populate `OdometryExample.cpp` as an exact copy from https://github.com/borglab/gtsam/blob/develop/examples/OdometryExample.cpp
4. Populate `CMakeLists.txt` as follows:
[code]

5. Build and run the pro

[2020-07-09 20:07] dellaert commented on #220
@parkerlreed probably resolved by PR #332, please check and feel free to re-open if not.

[2020-07-09 20:07] #220 closed

[2020-07-09 20:16] dellaert opened #388 "cmake question"
I noticed that the behavior of cmake changed. When I do

[code]

now it insists on building *all* test targets, not just testDataset, which makes the run command all but useless actually.

Is anyone aware of a recent cmake change that may have caused this? @varunagrawal @jlblancoc  ?

[2020-07-09 20:21] dellaert commented on #388
Oops, sorry, my bad - I had an extra check there :-(

[2020-07-09 20:21] #388 closed

[2020-07-09 21:47] CrazyPopLin commented on #380
hi @acxz ,thanks for your reply. I did just like the **quick start** but installed the gtsam a self-defined path, so this time the CMakeLists.txt like below:
[code]
Same issue occurred.  Maybe I used Ubuntu 20.04, because this system not tested according [Important Installation Notes](https://github.com/borglab/gtsam/blob/develop/INSTALL.md#important-installation-notes)?

[2020-07-09 22:02] acxz commented on #380
Can you give the exact commands you followed? Without them I am afraid I cannot reproduce your situation and therefore have limited knowledge in helping you.

That list sort of outdated anyways tbh. I'm running on Arch Linux with GCC 10.1.0. People that I know use GTSAM on Ubuntu 20.04 as well so it is not a system issue.

[2020-07-09 22:20] CrazyPopLin commented on #380
The install commands shown below:
[code]
This is new installed system, and it's first to install gtsam. Please let me know if you have any questions. thanks for your help.

[2020-07-09 22:22] acxz commented on #380
And how did you compile your own project?

[2020-07-09 22:23] CrazyPopLin commented on #380
![gtsam_issue](https://user-images.githubusercontent.com/11235093/87096659-4e2c9a80-c211-11ea-8931-64b6c084da95.png)
The gtsam test project build steps are just like your suggestion.

[2020-07-09 22:30] acxz commented on #380
Weird those instructions shouldn't even compile your project if GTSAM is installed locally.

After installing GTSAM to a local directory, I built my project with the following commands:
[code]

and just to iterate, where I installed GTSAM locally as follows after cloning:
[code]

With these steps I still do not receive the libmetis-gtsam issue.
Can you try these exact steps and let me know the out

[2020-07-09 22:34] acxz commented on #380
Weird those instructions shouldn't even compile your project if GTSAM is installed locally.

After installing GTSAM to a local directory, I built my project with the following commands:
[code]

and just to iterate, where I installed GTSAM locally as follows after cloning:
[code]

With these steps I still do not receive the libmetis-gtsam issue.
Can you try these exact steps and let me know the out

[2020-07-09 23:13] varunagrawal commented on #213
So I have made some progress on this, but not enough to have a satisfactory answer for everyone. Unfortunately, I have a deadline coming up next week so I am going to have to push this back until then.

I am assigning this to myself though and you can rest assured I will figure this out. :)

[2020-07-09 23:57] CrazyPopLin commented on #380
## Build gtsam
[code]
The CMake output for building gtsam:

-- The C compiler identification is GNU 9.3.0
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /usr/bin/c++ -- works
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Detecting CXX compile features
-- Detecting CXX compile features - done
-- Check for working C compiler: /usr

[2020-07-10 00:14] ProfFan commented on #380
Before this is dealt with you can always use LD_LIBRARY_PATH to get going.

[2020-07-10 00:19] CrazyPopLin commented on #380
Hi @ProfFan , could you be more specific?

[2020-07-10 01:38] acxz commented on #380
@CrazyPopLin followed your steps command by command (except replacing `lin` with `acxz`) and I could not reproduce the issue. It seems there is something else amiss.

Can you give us the output of `ls ~/local/lib`?

It would be much appreciated if you can post your file as a [gist](https://gist.github.com) or as a [dropdown](https://gist.github.com/citrusui/07978f14b11adada364ff901e27c7f61) elemen

[2020-07-10 02:01] CrazyPopLin commented on #380
### ls ~/local/lib

libCppUnitLite.a  libgtsam.so.4.0.2     libgtsam_unstable.so.4.0.2
libgtsam.so       libgtsam_unstable.so  libmetis-gtsam.so

### install_manifest.txt
please check [here](https://gist.github.com/CrazyPopLin/7456c25ab82922795e9b5a2cd6f5223f).

Thanks.

[2020-07-10 02:10] CrazyPopLin commented on #380
I used the same build steps to install gtsam and build project in Jetson TX2 with jetpack 4.4.2(Ubuntu 18.04), got same error;
Then use same steps to install gtsam and build project in Ubuntu 16.04, it's working.
Just let you know.

[2020-07-10 02:33] ProfFan commented on #380
@CrazyPopLin I mean you can add `LD_LIBRARY_PATH` that points to where `libmetis-gtsam.so` is in and see if that fixes your issue.

Ref: https://stackoverflow.com/questions/13428910/how-to-set-the-environmental-variable-ld-library-path-in-linux

[2020-07-10 02:35] acxz commented on #380
@CrazyPopLin so it seems like that `libmetis-gtsam.so` is installed, but your executable cannot find it.

Glad to hear it's working on Ubuntu 16, but still very weird that it is not working for you on 18 or 20.

Can you change your CMakeLists.txt as follows and post the output, noting the new `get_target_property()` commands.

[code]

I get the following output:
[code]

[2020-07-10 05:47] jlblancoc commented on #292
1) would be the best path. In the worst case, we could forward declare the required types and/or C functions, and if the functions are exposed in metis.so, we could link against them without problems. That's a brittle solution though, the best indeed is determining why gtsam is using something that METIS' author thinks it shouldn't be using :-)

[2020-07-10 12:07] CrazyPopLin commented on #380
@ProfFan ,thanks.
@acxz , the entire output:
[code]

[2020-07-10 12:47] CrazyPopLin commented on #380
@acxz , this issue is solved by addling following in ~/.bashrc suggested by @ProfFan
`export LD_LIBRARY_PATH=/home/lin/local/lib/:$LD_LIBRARY_PATH`.

But this issue is wired, so please let me know if you want to debug more. thanks for your suggestion.

[2020-07-10 12:50] dellaert commented on #380
Thanks ! Will close for now

[2020-07-10 12:50] #380 closed

[2020-07-10 12:58] acxz commented on #380
I am puzzled but out of ideas. Nevetheless, glad to hear you got it working, and I hope you enjoy using GTSAM!

[2020-07-10 17:53] varunagrawal commented on #126
The CMake printing was added by #393.

[2020-07-10 17:53] #126 closed

[2020-07-11 01:23] mikesheffler commented on #213
So, I thought that the submitter was trying to find appropriate numerical values; if they just want the units, I would be shocked if they do not correspond to the [IMU  noise model at the Kalibr wiki](https://github.com/ethz-asl/kalibr/wiki/IMU-Noise-Model). that is:
  * `accel_noise_sigma` &#8594; `accelerometer_noise_density`
  * `gyro_noise_sigma` &#8594; `gyroscope_noise_density`
  * `accel_bi

[2020-07-11 07:46] mikesheffler commented on #383
This should have closed with #384. Closing now.

[2020-07-11 07:46] #383 closed

[2020-07-11 18:02] ProfFan commented on #20
Closed by #379, please reopen if not :)

[2020-07-11 18:02] #20 closed

[2020-07-11 18:05] ProfFan commented on #357
Also , we need to remove `wrap/pybind11` in the release branch.

[2020-07-11 19:35] #158 closed

[2020-07-11 20:55] ProfFan commented on #55
I believe this is already fixed, if not please feel free to reopen :) @jlblancoc

[2020-07-11 20:55] #55 closed

[2020-07-11 20:56] ProfFan commented on #91
Is this still an issue?

[2020-07-11 21:03] ProfFan commented on #2
Is this still an issue?

[2020-07-11 21:43] jlblancoc commented on #55
@ProfFan yes, I just tested with the current develop and the error is not there anymore... :+1:

[2020-07-12 02:07] varunagrawal commented on #191
So I am unable to recreate this bug on my system, and CMake shows me the virtualenv versions of Python and Cython.
My guess is this issue got resolved when we cleaned up the Cython wrapper cmake files over the last few months.

Closing this issue. If you still believe this issue exists @tim-fan, please feel free to reopen.

[2020-07-12 02:07] #191 closed

[2020-07-12 12:22] Wallbraker opened #398 "Build errors after #386 was merged."
## Description

Change 95b4a49f643efe0a8bdae4c04132cf6b110deab2 causes build errors in Kimera-VIO. See CI build: http://ci-sparklab.mit.edu:8080/blue/organizations/jenkins/MIT-SPARK-Kimera/detail/PR-100/2/pipeline

[code]

## Steps to reproduce

1. Build gtsam develop
2. Build Kimera-VIO

## Expected behavior

It builds

## Environment

Kimero-VIO CI picked it up, also breaks using Kimera-VIO dock

[2020-07-12 13:51] Wallbraker commented on #398
Removing this line https://github.com/borglab/gtsam/blob/develop/gtsam/navigation/CombinedImuFactor.h#L388 fixes the build.

[2020-07-12 14:42] varunagrawal commented on #398
Are you importing the header in multiple places?

[2020-07-12 14:53] Wallbraker commented on #398
I am not familiar with the `Kimera-VIO` codebase at all but I would assume that they are doing this. That is kinda the point of a header, to include them at multiple places? The header has a `#pragma once` so it's something that is being defined in the header that emits a symbol that gets exported. No where in the gtsam code base is `BOOST_CLASS_EXPORT_GUID` used in a header, only `cpp` files.

[2020-07-12 15:46] varunagrawal commented on #398
You're correct. I did some research and turns out the `BOOST_CLASS_EXPORT_GUID` macro is fraught with issues, and have added a new fix. The PR should be merged in about an hour once CI passes. Thank you for reporting this.

[2020-07-12 15:51] Wallbraker commented on #398
Thank you

[2020-07-12 17:07] #124 closed

[2020-07-12 20:57] #398 closed

[2020-07-12 20:58] varunagrawal commented on #398
@Wallbraker can you please try again with the latest develop branch?

[2020-07-13 11:26] Wallbraker commented on #398
@varunagrawal Yupp it works, thank you for taking care of this.

[2020-07-14 12:00] mikesheffler opened #405 "MATLAB Toolbox Build Broken"
The build of the MATLAB toolbox (at least on Windows) is currently broken. The errors are

[code]

[code]

[code]

[code]

The last two are weird and might be bogus -- I wouldn't be shocked if they went away after fixing the first two.

[2020-07-14 12:26] dellaert commented on #405
I think maybe this is because of #391. It might be solved by adding a specialized template for Matrix proper, so Matlab wrapper can latch on to it.

[2020-07-14 12:40] dellaert commented on #405
PS I'm trying that now @mikesheffler @varunagrawal

[2020-07-14 12:41] dellaert commented on #405
Although, I also think now it's BayesNet-inst.h that is not included. I will add it at end of BayesNet.h so it's always included.

[2020-07-14 12:42] victor1234 opened #406 "gtsam::IndeterminantLinearSystemException on solving g2o file iteratively y isam2"
Hello

I created sample which load `g2o` file, sort nodes and pass node one by one to ISAM2 solver.

I loaded well known `parking-garage.g2o` sample.

And in _release_ compilation mode after hundreds of solving nodes `isam2 `produce error:
`gtsam::IndeterminantLinearSystemException`
in
https://github.com/borglab/gtsam/blob/develop/gtsam/base/cholesky.cpp#L128

`A` matrix is
[code]

And in _debug_

[2020-07-14 12:51] dellaert commented on #405
@mikesheffler @varunagrawal I pushed a branch to https://github.com/borglab/gtsam/tree/fix/matlab_wrapper
It did *not* fix the issue, but hopefully you can pick up where I left off: I have to prepare my talk for today :-)

[2020-07-14 13:09] ProfFan commented on #406
Hi Victor, master is the prior release, could you try `develop` branch? Thanks a lot!

[2020-07-14 13:11] ProfFan opened #407 "[WIP] New MATLAB wrapper"
We need to finish this before 4.1.

- [x] code generation for some method signatures is broken (wrong type)
- [x] matlab compiles (only for gtsam, `gtsam_unstable` is broken even in develop)
- [x] we have not tested on MATLAB at all (I don't know how to load the module)
- [x] resolve overloads or add numbering?
- [x] resolve the issue where the numbering of C++ and matlab functions mismatch
- [x]

[2020-07-14 13:17] victor1234 commented on #406
@ProfFan Sorry it was typo. I work in develop branch.
Fixed

[2020-07-14 14:50] ProfFan commented on #407
@dellaert

[2020-07-14 14:51] ProfFan commented on #407
I have updated the `feature/new_wrapper` branch to reflect the changes.

[2020-07-14 15:27] ProfFan commented on #407
I have finished the wrapping for matlab and briefly tested on MATLAB (loading and simple function works), could anyone help me test it by:

- Clone the `feature/new_wrapper` branch
- `git submodule update --init --recursive`
- mkdir build && cd build
- `cmake -DCMAKE_BUILD_TYPE=Release -DGTSAM_TYPEDEF_POINTS_TO_VECTORS=ON -DGTSAM_INSTALL_MATLAB_TOOLBOX=ON -DCMAKE_INSTALL_PREFIX=../gtsam_install -D

[2020-07-14 15:36] ProfFan commented on #407
I am getting errors like this when running the examples:
[code]

So we probably need to do some name mangling here.

[2020-07-14 15:38] ProfFan commented on #407
Same goes for the file name resolution. Really need some help from someone with better MATLAB experience...

[2020-07-14 16:52] varunagrawal commented on #407
I'll take a look at this later today.

[2020-07-14 18:34] ProfFan commented on #407
@varunagrawal Thank you in advance :) I need a list of problems so I can tweak the generation code...

[2020-07-14 20:08] mikesheffler commented on #405
You know how in _Raiders of the Lost Ark_, Indiana Jones says, "Snakes! Why did it have to be snakes!?" This is like that, but with Boost Serialization. _Why did it have to be Boost Serialization!?_

Anyway, it appears that a `BOOST_SERIALIZATION_NVP` macro wrapper was missing for an element of `SOn.h` that was to be serialized. Locally, this builds. Can you guys take a quick look to make sure tha

[2020-07-14 20:11] mikesheffler commented on #405
BTW: I accidentally pushed directly into `fix/matlab_wrapper` because I had named my previous fix the same thing, and my local GTSAM fork got confused about the upstream and the origin. Hopefully that's okay (it's just a one-liner).

[2020-07-14 20:26] dellaert commented on #405
Of course, I thought that was the plan all along :-)

[2020-07-15 00:12] #405 closed

[2020-07-16 01:55] ProfFan commented on #407
Another rather serious issue is that the current generator will generate identical signature for overloaded function, which is illegal in MATLAB:
[code]

[2020-07-16 03:18] acxz opened #410 "warning: rowMajor2 may be used uninitialized in AdaptAutoDiff.h"
## Description

AdaptAutoDiff.h is giving a compile warning under gcc 10.1.0.

[code]

## Steps to reproduce

1. git clone
2. mkdir build && cmake .. && make check

## Expected behavior

No warning

## Environment

OS: Arch Linux
GTSAM: latest commit on develop at time of posting
GCC: 10.1.0

## Additional information

N/A

[2020-07-16 03:23] ProfFan commented on #407
Now most of the API is working, but construction of a simple factor crashes MATLAB:
[code]

I'll keep investigating what is happening, but any help is welcome...

[2020-07-16 11:14] #410 closed

[2020-07-16 11:17] dellaert opened #412 "Resolve Pose3 pose graph optimization before 4.0.3"
I believe we should resolve this, and change the defaults if the data supports this. So, I think we should give up on 4.1 for this week and instead concentrate on the combined 4.0.3 + PGO blog post+ default change, and release 4.0.3 that way.

[2020-07-16 12:27] dellaert commented on #407
I'm puzzled because many of these issues were *not* present for the c++ based wrap, and I thought we generated nearly identical c++ wrapper files. So, what's up with that? Let's talk in our meeting.

[2020-07-16 13:43] ProfFan commented on #407
@dellaert Sure, it's a lot of delicate name mangling differences....

[2020-07-16 15:59] lucacarlone commented on #213
@mikesheffler : correct! the variables accel_noise_sigma, gyro_noise_sigma, accel_bias_rw_sigma,  gyro_bias_rw_sigma are the continuous-time noise densities of the imu noise and the random walks (the discretization happens inside the factors). Therefore the units are the same as the ones mentioned in the Kalibr wiki, except a couple of (minor) typos in the Kalibr github: https://github.com/ethz-as

[2020-07-16 16:31] ProfFan commented on #407
Now the crash is fixed and the examples mostly work.

[2020-07-16 19:32] ProfFan opened #413 "Compilation of the Old C++ wrap fails in Release mode"
## Description

The old C++ wrap utility contains a use of uninitialized memory (which is probably caused by an undefined behavior)

## Steps to reproduce

1. Compile the wrap utility with GCC 10.1
2. Try to compile the MATLAB or Cython wrapper
3. Crash

## Expected behavior

Clean exit

## Environment

## Additional information

Valgrind:

[code]

[2020-07-16 19:35] ProfFan commented on #413
Asan fails to detect this issue because the memory gets properly populated once I enable sanitizers... But valgrind's result is not point-on enough to pin-point the issue.
@jlblancoc @varunagrawal Any ideas?

[2020-07-18 05:27] xiaoshitou4 opened #414 "gtsam use in android,I need use gtsam in my android app,how to build gtsam for android?thank for your help"
## Android

[2020-07-20 19:55] mklingen-bd opened #415 "[Question] question about the derivatives of LieGroup"
It's difficult to know what the intention is here without documentation , but I was surprised to see the code for `Pose3::compose` looks like this:

[code]

I was under the impression that if we have `f(x) = A.compose(x)`, then:

[code]

But it looks like H2 is always the identity. So how do I actually obtain `dfDX`?

[2020-07-20 20:04] dellaert commented on #415
Look at the documentation, which is in math.pdf. Bottom-line: these Jacobians compute the correct Lie algebra "vectors" for how we define retract, which is in body coordinates, not global coordinates.
If still questions, consider posting in Google Group :-)

[2020-07-20 20:44] mklingen-bd commented on #415
Let me rephrase this as an issue: "The documentation is inconsistent and confusing."

Obviously I'm sure your math is correct, and the math pdf helps clarify what is meant by these functions in a theoretical sense -- but the variable names are both inconsistent and confusing, which makes interfacing with this library a challenge.

Take this example in gtsam "concepts" from the documentation on Lie

[2020-07-20 22:12] dellaert commented on #415
Yeah, `Compose(p,q,Hq,Hp)` is definitely a typo: the arguments are reversed: Hq is the derivative with respect to q and Hp is with respect to p, and we always preserve the order. So, the documentation *is* not only confusing but wrong in this case :-)

Do you want to do a PR or should I :-) ?

[2020-07-21 15:08] dellaert commented on #415
Added PR #416 to make OptionalJacobian more consistent with [GTSAM-Concepts.md](GTSAM-Concepts.md])

[2020-07-21 15:31] jlblancoc commented on #415
IMHO, I would call that a minor typo instead... ;-)
But I understand it may cause frustration.

[2020-07-21 21:49] dellaert commented on #412
So, @ProfFan ? I guess we still need a PR that changes the default? Anything else?

[2020-07-21 21:50] ProfFan commented on #412
I'll prepare a PR shortly.

[2020-07-21 22:47] varunagrawal commented on #414
You might need to write your own CMake commands to build the target for android. Unfortunately, I don't think anyone here has the bandwidth to tackle this.

This is more of a Google Groups query and I highly encourage you to post your question on the GTSAM Google Group.

[2020-07-21 22:47] #414 closed

[2020-07-21 22:49] varunagrawal commented on #413
Yeah I am having this same issue and the weird part is that it works with Debug mode.
I tried using an older commit to see if it was something we introduced, and no, the issue still persists. This makes me think that something with GCC or Boost is the root cause.

[2020-07-21 22:57] ProfFan commented on #413
Yep, I switched to Clang and no problem whatsoever. Could be GCC whose messed up :)

[2020-07-21 23:14] varunagrawal commented on #413
Interesting. I am also using an Ubuntu machine and the latest commit compiles perfectly. The issue seems to be on Arch primarily. Maybe it is an issue with the latest version of GCC. :/

[2020-07-22 11:24] dellaert commented on #121
Ok, now 4.0.3 is pretty much ready? We should clean up this issue: IMHO it should just be the pybind wrapper in 4.1 as well as Removing deprecated methods/functions.

[2020-07-22 16:21] #412 closed

[2020-07-22 16:22] ProfFan commented on #357
Yay!

[2020-07-22 16:22] #357 closed

[2020-07-22 16:28] dellaert opened #420 "Remove deprecated methods/functions in 4.1"
Stephanie, can I ask you to create a PR as soon as possible? We can talk and make a start in our meeting today.
Basically, for 4.1 we would like to remove *all* code in-between ALLOW_DEPRECATED_IN_GTSAM_4 (spelling?)
We should also have a new flag ALLOW_DEPRECATED_IN_GTSAM_41

Frank

[2020-07-22 16:36] dellaert commented on #248
This will soon be addressed in 4.0.3 blog post on gtsam.org

[2020-07-22 16:36] #248 closed

[2020-07-22 16:43] ProfFan commented on #407
Since 4.0.3 is out, we now need testers for the new MATLAB wrapper, since the generated code currently does not exactly match what is generated by the old C++ wrapper.

[2020-07-22 16:55] dellaert commented on #407
It would be nice if this call came with instructions and a concrete ask :-) When fixed, also announce on internal slack?

[2020-07-22 18:42] ProfFan commented on #407
@dellaert Sure.

[2020-07-22 20:36] xdtl opened #421 "references"
## Feature

reference list

## Motivation

In the code I saw comments such as: refer to reference [2]. Can I have the reference list somewhere?

## Pitch

Add a link to the list of references.

Thanks!

[2020-07-22 22:43] jlblancoc commented on #421
BTW: Doxygen supports citations from a .bibtex file. Could be done that way?

[2020-07-23 02:29] dellaert commented on #415
Solved for Pose3 in #416

[2020-07-23 02:29] #415 closed

[2020-07-23 19:55] acxz commented on #421
Can you explicitly link to where this occurs?

o.O that's something neat I didn't know

[2020-07-23 21:07] acxz opened #426 "[Timing Build Error] timeFrobeniusFactor.cpp: no matching function call"
## Description

When attempting to compile the `timing` scripts, `timeFrobeniusFactor` fails with the following error:

[code]

## Steps to reproduce

1. git clone
2. mkdir build && cd build && cmake .. && make timing

## Expected behavior

`timeFrobeniusFactor` should compile successfully.

## Environment

OS: Arch Linux
gtsam: latest develop head
gcc: 10.1.0

## Additional information

N/A

[2020-07-23 22:07] xdtl commented on #421
Thank you both for your replies!

I saw them in gtsam\gtsam\navigation\CombinedImuFactor.cpp, line 74-78. Now I actually see the reference list at the beginning of CombinedImuFactor.h. That's all I need. Thank you for the great work!

[2020-07-23 22:50] acxz commented on #421
@xdtl Glad to see the reference was there! You can go ahead and close the issue if you got it figured out.

[2020-07-24 07:57] #421 closed

[2020-07-25 14:33] #426 closed

[2020-07-25 16:11] acxz commented on #413
Just as another data point, `testWrap` and `testClass` segfault for me at the same root cause of the error. (GCC compiled, Clang compiled the tests pass)

[2020-07-25 17:38] #242 closed

[2020-07-25 19:29] ProfFan commented on #236
I am bringing this issue out again that:
1. The CI is fully working with Github Actions
2. No timeouts with Github Actions
3. Windows builds on Github actions is running smoothly

So I propose to remove AppVeyor and Travis (in the PyBind branch).

@dellaert @jlblancoc @varunagrawal For comments.

[2020-07-25 19:31] dellaert commented on #236
sure :-)

[2020-07-25 19:40] gchenfc opened #433 "AdjointMap jacobians"
## Feature

Lie Groups have `AdjointMap` implemented.

Just as (lowercase) `Pose3.adjointMap` has functions for
[code]

It would be useful to have the equivalent one with jacobians for (uppercase) `AdjointMap`.  Also, I propose to add another argument:

[code]

to avoid having to calculate the AdjointMap again.

Unless there is a reason against this, I can begin working on this.

## Motivation

Fa

[2020-07-25 20:02] dellaert commented on #433
Sure. Make sure Jacobians for methods are ordered `HSelf, Hargument`. If this means the API **changes**, we need to think a bit how to handle, e.g., force the use of the two-argument jacobian version by not having defaults.

[2020-07-25 21:29] jlblancoc commented on #236
I was thinking of proposing you CircleCi to avoid the time outs, but if you have actions already set up and running... brilliant! LGTM

[2020-07-26 16:23] varunagrawal commented on #236
Yes please! Whatever speeds up the CI pipeline (and you made excellent arguments for GitHub Actions). Minimizing the context switching should help with productivity immensely.

[2020-07-28 02:32] varunagrawal opened #439 "Separate Pybind modules for inner namespaces"
## Feature

Currently, all namespaces under the top level `gtsam` (e.g. `symbol_shorthand`) are added as pybind submodules. This requires the python import to look like

[code]

aka a gtsam module inside a gtsam module.

We can get rid of the inner gtsam module by configuring the pybind wrapper to create separate modules for all the inner namespaces, allowing us to do

[code]

which is more intuit

[2020-07-28 02:34] varunagrawal commented on #413
This definitely seems to be a GCC issue. Given that we are focused on pushing the pybind wrapper forward in favor of the cython wrapper, this issue can be deemed as low-priority.

[2020-07-28 02:45] ProfFan commented on #439
It's just time consuming :shrug: I feel it's more like a cosmetic issue (and I feel that it may be possible to solve with a trick)

[spoiler]

add a `symbol_shorthands` subfolder, put a `__init__.py` there, and add delegates.

[2020-07-28 03:15] dellaert commented on #439
I do agree with @varunagrawal there is an issue here. @ProfFan cosmetics *matters* for our users.
Also, "adding delegates" may be something that adds maintenance issues?
Typing is not the bottleneck here so I'd like to avoid tricks if possible.

[2020-07-28 03:29] ProfFan commented on #439
@dellaert It's because we are currently having this one massive header and it's not trivial to escape this design pattern, as the wrap script is designed for this. Maybe in the future we can split the headers so this won't be an issue, but for now, I don't see an easy way to get this working.

[2020-07-28 03:59] varunagrawal commented on #439
So I actually did quite a bit of research on this today. I'd be glad to put in a PR for this once I'm done with my summer commitments.

[2020-07-28 10:16] jlblancoc opened #443 "Deserialized expression factors (RangeFactor, may be others?) evaluate the wrong expression"
## Description

Expression factors use the virtual method `expression()` to build the actual gtsam::Expression that evaluates the error and Jacobians.

During de-serialization, the base class ExpressionFactor is called first, and it calls expression() in its "read()" step, invoking the derived class specific code to build the factor expression. However, all the required parameters are not yet load

[2020-07-28 12:52] dellaert commented on #413
If someone fixes it, it would be good to do so now so we can release another maintenance version *right* before 4.1, which will delete cython. We already accumulated 10 PRs or so after 4.0.3 release...

[2020-07-28 12:53] dellaert commented on #439
Could you write up the solution in an issue? Maybe with links?

[2020-07-28 12:53] dellaert commented on #439
Or, *this* issue, of course :-)

[2020-07-28 14:21] varunagrawal commented on #291
I spent some time looking into ROCm this past weekend and it looks to be ideal for tackling this issue in a transparent way.

<img src="https://rocmdocs.amd.com/en/latest/_images/ROCmComp.png" />

[2020-07-29 15:40] qpc001 opened #446 "why gtsam4.0.2 crash my eigen and pcl and g2o ?"

[2020-07-29 16:23] varunagrawal commented on #446
Hi @qpc001. We're going to need more information than this.

Can you please follow the issue template and provide all the information?

[2020-07-29 16:32] varunagrawal opened #447 "Replace Point-Vector typedef with empty derived class"
## Feature

Instead of this

[code]

I propose using this:

[code]

## Motivation

If we `typedef` the PointX classes, we not only get different print behavior (amongst other things), we also have to account for this in multiple places, littering the codebase with `#ifdef GTSAM_TYPEDEF_POINTS_TO_VECTORS` guards in places like tests and other classes.

By using the empty derived class structure abo

[2020-07-29 16:39] ProfFan commented on #447
Eigen does not recommend subclassing, but YMMV

[2020-07-29 16:42] dellaert commented on #447
No, sorry. In fact I want to totally get rid of Point2, Point3... I think only holdup is matlab wrapper.

[2020-07-29 16:45] #443 closed

[2020-07-29 17:28] varunagrawal commented on #447
Coolio

[2020-07-29 17:28] #447 closed

[2020-07-29 17:48] jlblancoc commented on #447
@dellaert I'm curious about why do you want to remove them, and what would be the alternatives, since I'm using those types in other projects... :-)

[2020-07-29 17:53] jlblancoc commented on #446
My trained neural network predicts that the missing information will point towards the need to:
- enable use system eigen in cmake
- disable build with -march=native, in cmake too.

;-)

[2020-07-29 17:58] ProfFan commented on #447
I think "get rid of" means typealiasing? Since they are indeed just Vector2 and Vector3, and the Eigen version can use auto vectorization while the GTSAM-defined version cannot.

[2020-07-29 18:33] dellaert commented on #447
If we delete the class and just keep eigen, will MATLAB work? If so, we should do it in 4.1 release.

[2020-07-29 18:54] ProfFan commented on #447
@dellaert I think we discussed it last time (on the context of building python and matlab together), but you suggested that we make it work first so I didn't push that way. It's definitely doable though, I will look into it.

[2020-07-29 19:14] varunagrawal commented on #447
So my gripe with this is that I want to keep having Point2 and Point3 print like
[code]

instead of
[code]
which is what Eigen defaults to.

One way of accomplishing this is to overload the `<<` operator, but then this affects the Vector3 implementation directly, having consequences for streams where Vector3 is used (and not Point3), such as in saving Logmap representations. This necessitates the

[2020-07-29 19:18] varunagrawal commented on #447
@ProfFan thanks for the note about Eigen subclassing. Instead of subclassing, we should simply use [Eigen's plugin system](https://eigen.tuxfamily.org/dox/TopicCustomizing_Plugins.html).

[2020-07-29 19:44] jlblancoc commented on #447
I strongly recommend against the plug in mechanism, after using it in another project for years. It's a nightmare since all dependent projects must ensure including your headers first, always...

[2020-07-29 19:47] ProfFan commented on #447
Yeah, anything that tweaks Eigen is a nightmare, if we ignore Eigen itself as a nightmare...

[2020-07-29 21:23] jlblancoc commented on #447
Hahaha, absolutely! And a sink of build time...

El mié., 29 jul. 2020 21:47, Fan Jiang <notifications@github.com> escribió:

[2020-07-29 22:24] ProfFan commented on #447
@dellaert It works, we can discuss in our meeting, still need some tweak in the generated MATLAB type check code but it looks good.
[code]

[2020-07-29 22:32] acxz opened #448 "Community Forum Update"
## Feature

This is a feature request for moving the discussion from the GTSAM [Google Group](https://groups.google.com/forum/#!forum/gtsam-users) to a more modern Community Forum solution, specifically [Discourse](https://www.discourse.org/).

## Motivation

Google groups is an older service and there are many things to be desired.
The biggest issue is the fact that you must sign in with a Google

[2020-07-29 22:33] dellaert commented on #447
They are typedef'd to Vector2 and Vector3, anyway. we'll keep the typedefs, of course, just not the old implementation, if we can make matlab works (which looks promising).

[2020-07-29 22:42] dellaert commented on #448
I'm willing to try it: I did step 1, if you could do step 2 :-)

[2020-07-29 22:55] acxz commented on #448
As for step 2, I believe someone who is a Google Groups owner privileges needs to handle it.

From import guide:

I could handle step 2, if I become an owner for the Google Group.

After the import is done on a local discourse server, we can ask Discourse folks to restore that local discourse server/backup and put it up on their hosting site.

From free hosting discourse blog

[2020-07-30 14:32] qpc001 commented on #446
I got that ,the problem is :
 i add a line of  "/usr/local/lib " into the file `/etc/ld.so.conf` when I'm installing the g2o.
 and just remove this line , it solved.

[2020-07-30 14:32] #446 closed

[2020-07-30 21:06] talregev opened #450 "Add gtsam to vcpkg"
Add gtsam to vcpkg
https://github.com/microsoft/vcpkg

Easier to compile gtsam to windows. there infrastructure with all the 3rparty that gtsam need, and can add other libraries as well.

when I type vcpkg install gtsam it install the gtsam in windows.

[2020-07-30 22:48] varunagrawal commented on #450
Hi @talregev. This seems like a cool idea, but I don't think any of us have the bandwidth to accomplish this any time soon.

Taking a quick look, packaging GTSAM via the github repo is straightforward ([link](https://vcpkg.readthedocs.io/en/latest/examples/packaging-github-repos/)). If you could make a PR for this, I'd be glad to help review and merge it in.

[2020-07-30 22:55] varunagrawal commented on #287
@Study-is-happy any updates on this?

We added a new `make python-install` command that should install everything for you (also cleaned up the cmake quite a bit).
Hopefully that works for you?

[2020-07-30 23:05] ProfFan commented on #287
I kind of know what is the problem, he is probably importing the gtsam "folder" because he is running the examples under some folder with a subfolder called `gtsam`.

[2020-08-02 20:26] dellaert commented on #420
Fixed in #422

[2020-08-02 20:26] #420 closed

[2020-08-02 20:27] dellaert commented on #287
Re-open if still an issue

[2020-08-02 20:27] #287 closed

[2020-08-02 20:28] dellaert commented on #265
By design, not a bug

[2020-08-02 20:28] #265 closed

[2020-08-02 20:30] dellaert commented on #289
@lvzhaoyang ?

[2020-08-02 20:31] dellaert commented on #286
Go for it ;-)

[2020-08-02 20:33] dellaert commented on #286
Note, you can add a factor, but image processing and other front-end code is deliberately not included with GTSAM - which is focused on the back-end optimization. There are several line-based factors that might already be similar to what you want.

[2020-08-02 20:34] dellaert commented on #448
@acxz I have the discourse group. Send me email on GIT side with credentials you want to use for Google group

[2020-08-02 20:42] acxz commented on #448
Just sent a request to join the gtsam user groups under display name acxz as well as sent my email I used to sign up from my GT email address.

[2020-08-03 08:34] Gaochao-hit opened #456 "The mechanism in the propagation of covariance."
Recently I run LIO_SAM which uses GTSAm for optimization. And find that  it's weird that the covariance of odometry flutuates which should increse constantly. And the author also don't know the reason for sure, so I asked the question. the link is here https://github.com/TixiaoShan/LIO-SAM/issues/49

[2020-08-07 20:42] acloitre opened #461 "Support for super-fisheye camera (larger than 180 deg of FOV)"
## Feature
Change the intrinsic coordinate representation of 3D direction vectors to support super-fisheye cameras that have field-of-views larger than 180 degrees.

## Motivation
GTSAM currently proposes a camera model capable of handling very large FOV in theory, but not in practice. The Unified model from Mei and Rives (2007) can handle such cameras thanks to its extra parameter, the mirror par

[2020-08-11 06:45] varunagrawal commented on #213
So after spending a lot of time deep in the trenches with the code, and even understanding noise derivation via Allan Deviation plots, I can confirm what @lucacarlone already mentioned.

The units are:

- `gyro_noise_sigma`: `rad/s/√Hz` (Gyro white noise)
- `accel_noise_sigma`: `m/s²/√Hz` (Accelerometer white noise)
- `gyro_bias_rw_sigma`: `rad/s` or `rad √Hz/s` (Gyro bias stability or random walk

[2020-08-11 06:48] varunagrawal commented on #456
Why would the pose covariance be non-decreasing? If you provide sufficient constraints in your problem via measurements, then the covariance can go down since your certainty is going up.

Can you please provide a minimal working example? The code + data.

[2020-08-11 06:49] varunagrawal commented on #456
Also, for faster answers, I recommend asking this question on the [GTSAM Google Group](https://groups.google.com/forum/#!forum/gtsam-users).

[2020-08-11 06:49] #456 closed

[2020-08-11 06:51] varunagrawal commented on #406
This basically means the factor graph is singular, aka when the optimizer performs Cholesky decomposition on the formed sparse matrix, it fails because that matrix is singular.

Can you please provide a minimal working example of your code?

[2020-08-11 07:14] jlblancoc commented on #456
As proved in [a seminar paper](https://www.semanticscholar.org/paper/A-solution-to-the-simultaneous-localization-and-map-Dissanayake-Newman/d7aa257db5f2cc40e486f677b4378b219727459e), the inferior limit in the covariance of the map is determined by the initial covariance of the pose... which in VIO is zero. Together with the fact that we have *inertial* global observations (acceleration), it *might

[2020-08-11 09:25] Gaochao-hit commented on #456
I agree with you. But there seems only prior constraint and  sequencial constraints in the mapoptimization.cpp of [LIO_SAM,](https://github.com/TixiaoShan/LIO-SAM) and no other redundant constraints. I have asked the author of LIO-SAM to give you some feedback.

[2020-08-11 15:57] varunagrawal commented on #369
So the numbers from the OXTS don't match up. I guess we have to ask @lucacarlone directly...

[2020-08-11 16:24] varunagrawal commented on #368
@mindThomas I assume by covariance term you mean the noise model of the CombinedImuFactor?

I just ran an example using your reproduction steps, and I am seeing non-zero terms in the noise model. Please let me know if I am mistaken, or better yet, can you provide me with a minimal working example?

I'll gladly fix this if I can identify the issue. :slightly_smiling_face:

[2020-08-13 08:59] tmoerwald opened #467 "Null-pointer access in NonlinearFactorGraph::saveGraph()"
In contrast to line 232, the const NonlinearFactor::shared_ptr& factor is not checked whether it is null, but accessed here:
https://github.com/borglab/gtsam/blob/de49ef6ff01f46fbece16282b3af268647fce23f/gtsam/nonlinear/NonlinearFactorGraph.cpp#L209

[2020-08-13 22:32] varunagrawal commented on #467
That seems like an easy PR if you'd like to tackle it @tmoerwald. :slightly_smiling_face:

[2020-08-14 12:19] tmoerwald commented on #467
I fixed it and tried to push it, but I've got access rights issues:
`git push --set-upstream origin fix/NullPtrNonlinearFactorGraph
ERROR: Permission to borglab/gtsam.git denied to tmoerwald.
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.`

Do you have to grant me permission to push?

[2020-08-14 13:46] ProfFan commented on #467
@tmoerwald You can fork the repo and do a PR?
https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2020-08-14 18:38] lucacarlone commented on #369
@varunagrawal : I would check this thread about the measurement units required to instantiate the quantities in the IMU factor: https://github.com/borglab/gtsam/issues/213#issuecomment-656958996.
The IMUFactorExample went through many iterations and it is not easy for me to backtrack the numbers we are using there.
You can also find an example where we use the IMU stats from the Euroc dataset (htt

[2020-08-17 03:59] dellaert opened #474 "warnings: qualifier applied to function typ"
## Description

New CI Action on windows produces warnings like:

`C:\hostedtoolcache\windows\boost\1.72.0\x86_64\include\boost/optional/detail/optional_reference_spec.hpp(101): warning C4180: qualifier applied to function type has no meaning; ignored (compiling source file D:\a\gtsam\gtsam\gtsam\nonlinear\Marginals.cpp) [D:\a\gtsam\gtsam\build\gtsam\gtsam.vcxproj]
`
## Steps to reproduce

see e.g

[2020-08-17 04:01] dellaert commented on #467
@tmoerwald I invited you as a collaborator so you don't have to fork. Just try to push your branch again ;-)

[2020-08-17 04:48] varunagrawal opened #475 "Remove Appveyor"
## Feature

Now that we've moved to Github Actions with a CI for Windows, we need to remove the CI from Appveyor.

Instructions:
 https://help.appveyor.com/discussions/questions/1393-how-to-turn-off-appveyor-for-a-project

## Motivation

Github will keep reporting failure since the appveyor files were removed by #472.

## Pitch

Follow the instructions in the link above. Needs admin access aka @de

[2020-08-17 05:05] ProfFan commented on #475
Just remove the app from Settings of the repo, very easy :) @dellaert

[2020-08-17 05:09] varunagrawal commented on #475
That's literally what the link says :joy:

[2020-08-17 06:24] varunagrawal commented on #372
Do you think using a normalized quaternion would make more sense? It would be slightly more expensive, but hopefully Eigen's magic would ameliorate some of the run time costs, while ensuring correctness.

I wrote a test and made the changes on my local machine and it works great, error never goes greater than 1e-7.

[2020-08-17 06:28] jlblancoc commented on #475
Remember to also remove the badges from the README and add the new ones... perhaps that's already in another PR but couldn't see it, sorry if it's already WIP.

[2020-08-17 06:53] varunagrawal commented on #475
Ah thanks for the reminder @jlblancoc. I just updated #476 to ensure the correct badges.

[2020-08-17 14:27] dellaert commented on #475
Done

[2020-08-17 14:27] #475 closed

[2020-08-17 16:52] dellaert commented on #372
We have a separate compilation flag for quaternions. Sticking quaternions in the middle here is *a* solution, just not a very elegant one.

[2020-08-17 16:52] dellaert commented on #372
BTW is the quaternion flag tested in CI?

[2020-08-17 17:45] ProfFan commented on #372
@dellaert Nope :) We should have one though.

[2020-08-17 17:55] varunagrawal commented on #372
Just added the `special` workflow via #476

[2020-08-18 09:03] Baodh opened #479 "executable bin built by qt creator can't run"
## Description
I compile gtsam-4.0.3/examples/Pose2SLAMExample.cpp by qt creator, when run executable bin, it shows Segmentation fault (core dumped).

## Steps to reproduce

1.  add new app project in qt creator, select GCC compiler.
2.  copy gtsam-4.0.3/examples/Pose2SLAMExample.cpp to project.
3.  add include and link file in .pro file as follow.
TEMPLATE = app
CONFIG += console c++11
CONFIG -=

[2020-08-18 14:54] ProfFan commented on #479
Note that GTSAM requires a lot of flags to be defined to be built correctly. If you are using your own build tools (other than CMake), you will need to extract the correct flags manually, possibly `make VERBOSE=1` when building GTSAM. Otherwise it's is guaranteed to fail.

[2020-08-19 13:40] dellaert commented on #479
We do not support any build systems except those that can be generated by cmake. If you have used cmake to generate QT creator project and something is wrong, we still cannot help you unfortunately, because none of us use QT creator. But we welcome any suggested changes to the cmake files to support QT creator, if you find out what's wrong.

[2020-08-19 13:40] #479 closed

[2020-08-19 14:33] dellaert commented on #204
@ProfFan two remaining items after mega-merge:

- [ ] Can we now make typedef default and simply remove conditional code?
- [ ]  After that's done, please tag a release 4.1rc, and create a corresponding python wheel?

[2020-08-20 12:53] dellaert opened #484 "Pybind issues with TBB"
## Description

Several small bugs in wrapper discovered in PR #483
- Pybind wrapper fails to properly handle vector types with TBB flag on.
- While researching, I saw several of thse special types are not handled at all (all declared at top of gtsam.i)
- typo: hoder_type -> holder_type

## Steps to reproduce

Compile with TBB and try to run python examples

## Expected behavior

Examples should w

[2020-08-20 17:54] ProfFan opened #486 "[New Pybind Wrapper] FindPython should find the venv executable"
## Description

When running `make python-install` with a venv, the global python install is used instead. Further investigation shows that the `PYTHON_EXECUTABLE` found is the global one, not the venv shim.

[2020-08-20 17:54] ProfFan commented on #486
Discovered by @dellaert, when using miniconda on macOS.

[2020-08-20 22:49] #484 closed

[2020-08-21 12:48] dellaert opened #488 "Typdef option should go"
Reminder for @ProfFan . Blocking 4.1

[2020-08-21 14:26] #488 closed, assigned to nobody

[2020-08-26 11:04] fpczk opened #496 "Cannot build matlab toolbox due to to unresolved external symbol error"
## Description

On Windows 10 / Visual Studio 2015, I cannot build the matlab toolbox. It always fails with the following errors:

[code]

## Steps to reproduce

1. Install cmake and pyparsing via Anaconda:
  - `conda install cmake pyparsing`
2. Install boost:
  - Download and extract boost_1_73_0.7z from https://www.boost.org/users/history/version_1_73_0.html
  - cd into boost root
  - `bootstrap

[2020-08-26 11:25] fpczk commented on #496
The following change apperantly solves the first 2 errors, while the other ones remain:

[code]

Build log: https://pastebin.com/raw/AqgCZaT6

[2020-08-26 13:28] nutonomy-thomas commented on #368
@varunagrawal Here is a minimal example:
[code]

Output is:
[code]

[2020-08-26 13:44] mindThomas commented on #368
@varunagrawal Here is a minimal example:
[code]

Output is:
[code]

Conversely with the **ImuFactor**:
[code]

Where there is no zero rows in the measurement covariance:
[code]

[2020-08-26 16:56] dellaert commented on #496
Thanks! I'm not a windows user, but I created a branch fix/windows_warnings just now. Hoping the export in SOn.h fixes the other errors. Give it a try and share build log? Alternatively - if it does not work yet - maybe you could fork and add a few more GTSAM_EXPORT directives to try and fix? Adding @mikesheffler  to this thread as he has more insight into this, usually :-)

[2020-08-26 16:57] dellaert commented on #496
As an aside: if you don't need Shonan or new python wrapper, you can check out our stable release 4.0.3 instead. Develop is a bit bleeding edge now.

[2020-08-27 00:21] dellaert opened #497 "Get rid of cython references"
Search for cython still finds much leftover code, and links to files that should presumably be changed to python.

[2020-08-27 05:41] fpczk commented on #496
Thank you for your reply! Unfortunately, those changes caused new errors that look like the following:

[code]

Here is the full log: https://pastebin.com/raw/zfhABibg

As for stable release 4.0.3: I was able to compile it on Windows, but I'm particularly interested in the IMUKittiExampleGPS for Matlab, and that doesn't work in release 4.0.3 due to a type mismatch error (at least on Windows, I cou

[2020-08-27 10:44] cynosure4sure commented on #380
Same issue when upgrading ROS Melodic code from 4.0.2 to 4.0.3 on Ubuntu 18.04. ROS code compiled correctly however at runtime gave error:
`error while loading shared libraries: libmetis-gtsam.so: cannot open shared object file: No such file or directory `

Adding `export LD_LIBRARY_PATH=/usr/local/lib/:$LD_LIBRARY_PATH` to ~/.bashrc resolved the issue as mentioned above.

Thank you for the soluti

[2020-08-27 11:54] mikesheffler commented on #496
I haven't tried to build `develop` since the release candidate; I'll try to build it today and see what sort of fireworks I encounter.

[2020-08-27 18:19] ProfFan commented on #496
@fpapi83 If you are talking about the MATLAB example in unstable, yes I fixed it in develop.

[2020-08-28 13:04] ItsTimmy opened #498 "Segfault in destructor of PreintegratedCombinedMeasurements"
This question started on [StackOverflow](https://stackoverflow.com/questions/63619467/gtsam-segfault-possible-alignment-issue), then moved to the [Google group](https://groups.google.com/g/gtsam-users/c/AIbXNwEc0q4), and now I am posting it here, and tagging @ProfFan, per the recommendation from the Google group.

## Description

There seems to be an intermittent segfault in the destructor of `Pre

[2020-08-28 13:24] xdtl commented on #496
I cannot build matlab toolbox on Windows either. I got all the interfaces files and "gtsam_unstable_wrapper.mexw64", but cannot generate "gtsam_wrapper.mexw64". I am on Windows 10, Visual Studio Professional 2019, CMake 3.17 and Boost 1.73.0. Thanks!

[code]

[2020-08-28 14:07] dellaert commented on #498
Excellent issue reporting here! @ProfFan is this something you might easily see?

[2020-08-28 14:43] ProfFan commented on #498
I see a possibility of an alignment issue here, but as I said in the docs, this is very hard to reproduce. I can try setup a Docker container and see if I can reproduce @ItsTimmy 's environment. If I cannot reproduce, I would probably need some remote access.

[2020-08-28 14:46] ProfFan commented on #498
@ItsTimmy I need your GTSAM build arguments (cmake), and the CMake file you used to build the test.

[2020-08-28 14:54] dellaert commented on #498
@ProfFan could you first do a sanity-check in the code that we might have forgotten a gtsam::make_shared inside navigation? Could even be multiple places.

[2020-08-28 15:07] ProfFan commented on #498
@dellaert No there is none...

[2020-08-28 15:12] ProfFan commented on #498
I cannot reproduce on a fresh Ubuntu 18.04 Docker image with GTSAM in Release mode.

[2020-08-28 16:12] ItsTimmy commented on #498
@ProfFan I am using ROS and Catkin. [Here is the CMake file](https://gist.github.com/ItsTimmy/e4d96d52ea4115242f8d9594c79536ae). (I have also created a temporary repo with the whole ROS package [here](https://github.com/ItsTimmy/TemporaryGTSAMDemo)) To build it, I used `catkin build gtsam_fusion --cmake-args -DCMAKE_BUILD_TYPE=Release`. To run the test, I used `make -C build/gtsam_fusion/ run_test

[2020-08-28 17:25] ItsTimmy commented on #498
Ok, I got the Docker image ready, at [`scottti/gtsam-bug-demo:latest`](https://hub.docker.com/repository/docker/scottti/gtsam-bug-demo).

To demonstrate the segfault, just open a container with an interactive shell and run the script `RUN_THIS_COMMAND.sh` in the root of the container. To switch to the configuration where the implementation is in the header::

- Comment out everything in `/catkin_w

[2020-08-28 17:44] ProfFan commented on #498
Eigen version issue?

[2020-08-28 18:08] ItsTimmy commented on #498
What version of Eigen is required? I have the latest version available through `apt` for Ubuntu 18.04, which is `3.3.4-4`

[2020-08-28 19:03] ProfFan commented on #498
Oh so you are using a system Eigen? If so you need to also build GTSAM with the system Eigen - I think the flag is `GTSAM_USE_SYSTEM_EIGEN`

[2020-08-28 21:22] ItsTimmy commented on #498
I tried cleaning and rebuilding everything with `-DGTSAM_USE_SYSTEM_EIGEN=ON`, and have the same results.

[2020-08-28 21:57] ProfFan commented on #498
I currently have little capacity debugging this, but I think these are the general directions:
1. ditch catkin and build GTSAM separately & build a test project separately, and see if you can reproduce
2. if that works and you cannot reproduce (90% I think)
3. remove find_package(EIGEN) from your catkin pkg cmake, build and see
4. If that does not work, start diagnosing the cmake variables modifie

[2020-08-29 02:26] mikesheffler commented on #496
Hmm. Poaching the two `GTSAM_EXPORT` changes, I get slightly different errors than @fpczk , but I'd wager they're of the same root. My first error is

[code]

On my line 281
[code]
there is a LINT notice, `invalid base class detected during instantiation of class "gtsam::SO<N> [with N=-1]"` at line 144, which is
[code]
BUT, that's part of this block:
[code]
looking at the definition for `IsFixed`,

[2020-08-29 15:00] dellaert commented on #496
Hmm. What happens if you explicitly say, to force the compiler's hand?
[code]

[2020-08-30 03:14] mikesheffler commented on #496
[code]
I think it's the same error 🤕

[2020-08-30 19:36] dellaert opened #500 "FindExampleDataFile in python wrapper does not work"
## Description

Seems like the path used in gtsam::findExampleDataFile is the one from the python wheel build.

[code]

## Steps to reproduce

[code]

## Expected behavior

Should look in directory where python wheel was installed

## Environment

MacOS, python 3.8

## Additional information

Could be hard to solve

[2020-08-31 00:59] varunagrawal commented on #500
I'll take care of this. It's some simple setup.py foo.

[2020-08-31 12:16] ItsTimmy commented on #498
I found that there was a different version of Eigen on my machine in a different install location. `FindEigen3.cmake` was finding this wrong version, leading to an issue.

However, after fixing this, I have now verified that GTSAM and my example are both being built with the same system version of Eigen, and I am seeing the same segfault. I have not yet created a separate project outside of Catkin

[2020-08-31 12:38] ItsTimmy commented on #498
I created a separate project outside of Catkin, and the problem is gone. So it's definitely something that Catkin is misconfiguring. I'll close this issue for now, since it's (probably) not in GTSAM.

[2020-08-31 12:38] #498 closed

[2020-08-31 13:10] dellaert commented on #498
Thanks @ItsTimmy for your willingness to investigate !

[2020-08-31 14:13] ProfFan commented on #500
Should probably be replaced by a Python version

[2020-08-31 20:27] #500 closed

[2020-08-31 20:30] varunagrawal commented on #467
@tmoerwald any updates?

[2020-08-31 20:34] dellaert commented on #467
@varunagrawal if easy to fix just push a PR :-)

[2020-09-01 01:55] #467 closed

[2020-09-01 09:37] jonla1 opened #504 "Documentation of BetweenFactor unclear."
## Description

Currently it is not possible for me to see how the covariance associated to BetweenFactor has to be set. I searched the references but I could not find an answer. Therefore I think it is a good idea to describe it a little more in detail as this factor is used a lot.

## Steps to reproduce

1. A BetweenFactor from Poses A to Pose B shall be added. Ta and Tb are the corresponding Af

[2020-09-01 12:32] dellaert commented on #504
The noise covariance is in the tangent space at dT. So, in expectation I guess it can also be viewed as being specified in B.

I guess you could verify by sampling poses with zero mean and composing them with the ground truth dT, and checking the whitenedError of the factor, which should be something chi-squared. At least, that would be story for a flat space and diagonal covariances.  I’ve never

[2020-09-01 16:46] jonla1 commented on #504
Thanks for the clearification :)

[2020-09-02 06:13] jonla1 commented on #504
Hi,

I am sorry to reopen this issue, but it did some rudimentary testing and I think your answer is not quite correct. It makes sense that the noise covariance is defined in the tangent space at dT. But in this case I think the tangent space uses A (the start pose) as a reference not B (end pose) for the BetweenFactor from A to B.

In a lot of examples the dT for the BetweenFactor is computed usi

[2020-09-02 12:35] dellaert commented on #504
Yes, I think I was wrong in saying the B part. A, B, and dT are all different. Betweenfactor actually works with any type that has the right traits. For scalars, if A=6, B=8, then dT=2. You don’t have to think about where the noise is specified, as scalars are a commutative group. But, for SO(3) or SE(3), the noise is specified in dT=2, which is a different tangent space from 6 and 8.

[2020-09-02 14:25] jlblancoc commented on #504
That was my insight too...

A few weeks ago I wrote a test program precisely to debug and put at test the intuition about (non-isotropic) covariance matrices and "Between factors" in SO(3). I tried, but failed, to map YawPitchRoll angles to the elements in the diagonal of the covariance of "dT"... Will try to clean up the code and bring it here to help moving forward this interesting discussion...

[2020-09-02 15:09] jonla1 commented on #504
@jlblancoc that would be actually very helpful since I think it is much harder to do this correctly than initially anticipated due to my limited experience with GTSAM :)

[2020-09-02 15:17] jlblancoc commented on #504
Here's the code: https://github.com/jlblancoc/gtsam-test-rotations
Some comments follow...

[2020-09-02 15:21] jlblancoc commented on #504
And here some comments:
- The problem defines two rotation values in SO(3): R0 and R1.
- R0 is *fixed* via a Prior to the either, the identity, or a small rotation (two configurations for the test).
- R1 is affected by two factors, which get fused (and here's the beef, of course):
  * A prior with a small (but finite) isotropic covariance, with SO(3) identity as the observed value.
  * An observed

[2020-09-02 15:35] jlblancoc commented on #504
Actual results:

R0: identity
Axis 0 is active:

[code]

Great! The *first* coordinate (rpy) of the resulting "r01 est" (which is the relative R1 wrt R0, with these being the optimized values) matches the first coordinate of the r01 observation. Only that one because we are "trusting it" via the covariance diagonal.

The same happens for the alternative factor graphs with only the 2nd and the 3rd

[2020-09-02 15:57] ItsTimmy commented on #498
After some more tests, I found that this problem was not present when I abandoned Catkin and just made a basic CMake test project, so the problem must be with Catkin or with my configuration of Catkin.

The default CMakeLists for Catkin includes the following line for each target:

    add_dependencies(${PROJECT_NAME}_lib ${${PROJECT_NAME}_EXPORTED_TARGETS} ${catkin_EXPORTED_TARGETS})

I removed t

[2020-09-02 18:06] dellaert commented on #504
Ok, this is a great conversation indeed. I think I was wrong *again* :-)
If you look at the error that the BetweenFactor produces, it is

[code]

with `hx` the prediction, I.e. between(A,B). Now, if measured ~ hx, the above is approximately zero. Hence, let me make a third (possibly wrong) statement :-) “The noise covariance is specified in the tangent space around identity.”

I don’t know (yet) h

[2020-09-02 18:11] dellaert commented on #504
Looking at the test code, could it be the prior on R1 that is causing this?

[2020-09-03 00:18] ProfFan commented on #498
@ItsTimmy Thanks for the precious info :)

I think it is worthwhile to `message()` these variables and paste them here so we can try to figure out what is the problem. Possibly something related to weak symbols, but let's see.

[2020-09-03 12:16] ItsTimmy commented on #498
So I have not had time to 100% confirm that those changes to my CMakeLists are exactly what solved the problem, so I don't know if it would be worthwhile to spend too much time going through this information. But in case something seems immediately useful to you, here it is:

[code]

[code]

It looks to be all message generation.

And here's `${catkin_LIBRARIES}`, which is probably more relevant:

[2020-09-03 14:35] varunagrawal opened #508 "Bump minimum Boost version"
## Description

Currently, the minimum Boost version required is 1.43. The version required by the tests and Actions CI is 1.69.0.
Moreover, some tests won't pass with Boost 1.43 due to bugs that have since been fixed in the subsequent versions.

It would be nice to have consistency to avoid unnecessary pain for users. Recommended version is 1.58 (thanks @chrisbeall).

## Steps to reproduce

1. In

[2020-09-03 15:24] ProfFan commented on #508
Yes I second @chrisbeall. Many ROS systems are still on 16.04, so we should at least support that.

[2020-09-03 15:52] varunagrawal commented on #508
@chrisbeall @ProfFan okay awesome! Now that we have a consensus, I can create the PR. :slightly_smiling_face:

[2020-09-06 18:52] #508 closed

[2020-09-07 01:29] Joechencc opened #512 "How to distinguish between IMU factor and landmark factors"
New to GTSAM! I am currently working on ISAM2 Optimization and using landmarks and IMU to optimize the trajectory in real-time. I am using "initialEstimate.insert" to add the GPS location of the node. And **graph.emplace_shared<IMUFactor>** and **graph.emplace_shared<GenericProjectionFactor<Pose3, Point3, Cal3_S2> >**  are used to add IMU factor and 3D landmark pose(x,y,z, I might be wrong here, p

[2020-09-07 21:00] dellaert commented on #512
1. Indeed.
2. I think maybe you should look for help locally and/or read Intro to GTSAM tech report first.
PS there is a Google group for questions like this (it is mentioned when you create an issue), but I encourage you to read more before asking there, as well.
Closing this as not an issue with GTSAm.

[2020-09-07 21:00] #512 closed

[2020-09-08 10:32] jonla1 commented on #504
I think so, too. R1 is not the identity and the assigned noise is quite small with a standard deviation (sigma) of just 1e-3 * 180/M_PI = 0.057 degree. The question would also be this 3 sigmas for the noise what is the order (roll, pitch, yaw?) and the corresponding values (do they refer to the euler angles?) they are referring to?

[2020-09-08 15:11] jlblancoc commented on #504
Hmm... perhaps I either was wrong, or failed to transmit the idea of the test code :-)

The goal is to make "R1" to be in conflict between two contradictory values: one is the "weak" link towards SO(3) identity. With " R1 is not the identity", @jonla1 , I think you mean that the "correct" value of R1!=identity. That's correct... according to the BetweenFactor, but if it was assigned a high weight

[2020-09-09 20:44] yangyulin opened #514 "typo on numerical derivative of 66"
## Description

There is a typo in the numerical derivative:
https://github.com/borglab/gtsam/blob/develop/gtsam/base/numericalDerivative.h

line 703:
typename internal::FixedSizeMatrix<Y,X5>::type numericalDerivative66(

shoud be:
typename internal::FixedSizeMatrix<Y,X6>::type numericalDerivative66(

[2020-09-10 06:18] Mr-Xia-6 opened #515 "cmake error"
Please help me,thank you.

99% tests passed, 1 tests failed out of 242

Total Test time (real) =   3.74 sec

The following tests FAILED:
	114 - testSmartProjectionFactor (Failed)
Errors while running CTest
CMakeFiles/check.dir/build.make:57: recipe for target 'CMakeFiles/check' failed
make[3]: *** [CMakeFiles/check] Error 8
CMakeFiles/Makefile2:947: recipe for target 'CMakeFiles/check.dir/all' fai

[2020-09-10 17:13] #514 closed

[2020-09-10 17:14] dellaert commented on #515
Please read guidelines when posting an issue

[2020-09-10 17:14] #515 closed

[2020-09-10 17:18] dellaert commented on #515
BTW you can use GTSAM even if all unit tests do not pass. This is probably a specific class-compiler interaction issue that will not affect anything else. It would be great if you filed a proper issue with platform, compiler, etc and anything else you can find so we can fix it.

[2020-09-10 20:47] mmmfarrell opened #517 "Compute Normalized Innovation Error of a Factor"
I'm sorry if this is not the right forum for this type of question. If there is a better place to ask this question, can you please point me to it.

I am working with a `NonlinearFactorGraph` and want to do my own outlier rejection before adding factors to the graph. Suppose we follow the PoseSLAM example from [the GTSAM tutorials](https://gtsam.org/tutorials/intro.html), but before we add the loo

[2020-09-11 00:28] varunagrawal commented on #448
@acxz any updates on this? I would very much like to use Discourse over Google Groups.

[2020-09-11 00:37] acxz commented on #448
Sorry, wasn't able to create the local discourse server with the google groups data before the semester started, and now I'm swamped with homework and research...

[2020-09-11 16:10] mfinean opened #519 "Matlab wrapper uses python 3"
Problem:
[ 56%] Generating wrap/gtsam/gtsam_wrapper.cpp
Ignoring classes: ['gtsam::Point2', 'gtsam::Point3']
Traceback (most recent call last):
  File "/path/gtsam/wrap/matlab_wrapper.py", line 1770, in <module>
    cc_content = wrapper.wrap()
  File "/path/gtsam/wrap/matlab_wrapper.py", line 1657, in wrap
    self.wrap_namespace(self.module)
  File "/path/gtsam/wrap/matlab_wrapper.py", line 1096,

[2020-09-11 17:36] mmmfarrell commented on #517
Here's a rough code snippet that implements the NIS computation described above. Is there a cleaner way to do this?

[code]

[2020-09-11 19:42] ProfFan commented on #519
Ahh. Should be compatible with Python 2.7... #TODO

[2020-09-11 19:43] ProfFan commented on #517
@varunagrawal May have some insights?

[2020-09-11 20:14] varunagrawal commented on #519
I disagree that it should be compatible with Python 2.x.

Python 2 has [officially reached EOL](https://www.python.org/doc/sunset-python-2/), so I recommend @mfinean upgrade his Python to 3.6+.

[2020-09-11 20:16] varunagrawal commented on #519
Actually disregard my previous comment. This issue doesn't seem to have anything to do with Python 2.
@mfinean it seems that you haven't pasted the full stack trace and error message. Can you please do so?

[2020-09-11 20:40] varunagrawal commented on #517
Here's my understanding from reading the linked paper: `H` is the linear measurement model which in this case will come from the `BetweenFactor` definition, `R` is the measurement covariance which you should be providing to the `BetweenFactor` as the noise model, and all you need is `P` which is the marginal covariance of the optimized estimate.

You can get `P` by using `Mariginals(graph, result)

[2020-09-11 20:41] varunagrawal commented on #517
Also for future reference, asking in the Google Group might give you a faster response. :slightly_smiling_face:

[2020-09-11 21:33] mfinean commented on #519
My apologies that it cut off! First error encountered was:

------------------------------------------------------------------------------------------------------

[ 56%] Generating wrap/gtsam/gtsam_wrapper.cpp
  File "/home/mark/installs/gtsam/wrap/matlab_wrapper.py", line 87
    print(message, file=sys.stderr)
                       ^
SyntaxError: invalid syntax
gtsam/CMakeFiles/gtsam_matlab_wra

[2020-09-11 21:46] varunagrawal commented on #519
Ah thanks a lot! So you're right, in that `Default` picks up Python 2 on your system (I am guessing you are using Ubuntu?). Setting the CMake variable `GTSAM_PYTHON_VERSION` (either via command line or `ccmake`) to `3.6` or whatever version of python you are using, should fix this issue as you have already discovered.

I guess the issue really is that we need to somehow enforce Python 3+ in the wr

[2020-09-12 18:29] varunagrawal commented on #229
Irrelevant since we moved to Actions.

[2020-09-12 18:29] #229 closed

[2020-09-13 15:05] solution3000 opened #521 "Is there any reason to code "-traits<T>::Local(x, prior_);" instead of "traits<T>::Local(prior_, x);" in PriorFactor.h?"
PriorFactor.h
----------------------------------------------------------------------------
/** vector of errors */
    Vector evaluateError(const T& x, boost::optional<Matrix&> H = boost::none) const override {
      if (H) (*H) = Matrix::Identity(traits<T>::GetDimension(x),traits<T>::GetDimension(x));
      // manifold equivalent of z-x -> Local(x,z)
      // TODO(ASL) Add Jacobians.
      return

[2020-09-13 15:30] varunagrawal opened #522 "Default Python version is bad"
## Description

The default Python version in CMake is `Default`. When turning on the `GTSAM_BUILD_PYTHON` flag, the `Default` values causes an error with Pybind11.

[code]

Setting the Python version to a specific version, such as `3.8`, fixes the issue, so the proposed solution would be to set the default to empty ("") and use the CMake variables from Python to set the default version value. @de

[2020-09-13 19:19] varunagrawal commented on #521
From my understanding, I don't believe there is a difference. However, by doing `Local(x, prior_)` we get the negative of `Local(prior_, x)`, and hence the minus sign there. I believe the order matters, but @dellaert should be able to better explain.

[2020-09-14 08:11] solution3000 opened #523 ""matlab/gtsam_examples/IMUKittiExampleGPS" fails to run!"
![image](https://user-images.githubusercontent.com/20204121/93060127-4b807280-f6a4-11ea-9ea8-292e822707b6.png)

https://github.com/jlblancoc/2020-ual-factor-graphs-course is the matlab toolbox!

[2020-09-14 13:44] dellaert commented on #521
Yes, it matters, in that it needs to match the derivative. Note that for vector spaces `local(x, prior_)` means 'prior_-x`, and hence the negative is `x -  local_`. with derivative the identity matrix, in the unknown `x`.

Note, maybe GTSAM user group is more appropriate venue, as this is a question rather than a reported issue.

[2020-09-14 13:44] #521 closed

[2020-09-14 15:10] mmmfarrell commented on #517
Awesome, thank you for the response. Yes, using `marginalInformation` makes sense, good idea.

For future reference, I will point out that if the measurement depends on multiple estimated variables, then `Marginals(graph, result).jointMarginalInformation(keys)` should be used instead of `.marginalInformation(key)` to obtain the off-diagonal terms of the martrix. This is the case for `BetweenFactor

[2020-09-14 15:10] #517 closed

[2020-09-15 08:29] solution3000 opened #524 "Is there an easy way to fuse a few 'tiny' factors to a 'big' single factor?"
Hi,

In kitti example, I want to define my own type, just like:

struct NavStateWithBias
{
   Pose3 pose_;
   Velocity3 velocity_;
  imuBias::Constant bias_;
}；

and try to combine {ImuFactor, PriorFactor{s}, BetweenFactor} to a single factor.
I can do this by defining a customized factor, but I  want to know whether there is an easy way to do that!

By defining a big type 'NavStateWithBias', I ca

[2020-09-15 20:12] dellaert commented on #524
Absolutely. You need to use C++ traits to make your new type available to GTSAM optimization, though. Take a look at NavState.h on how to do this.

BTW, GTSAM already does sparse Cholesky so this might not give rise to the savings you want.

Closing as not an actual issue (consider using Google group for questions like this).

[2020-09-15 20:12] #524 closed

[2020-09-18 01:30] varunagrawal commented on #519
@mfinean #526 uses CMake to find Python3 exclusively. This should solve this issue.

Can you checkout that PR and try it on your local machine to confirm?

[2020-09-22 01:52] #519 closed

[2020-09-22 01:52] #522 closed

[2020-09-22 01:54] varunagrawal commented on #519
@mfinean PR #526 has been merged into `develop`. Can you please confirm it solves this issue for you?
If not, please feel free to reopen the issue.

[2020-09-22 18:42] johnwlambert commented on #237
@varunagrawal It looks like we can't access the `camera` parameter of `SfmData` in the wrapper until we resolve this (https://github.com/borglab/gtsam/blob/develop/gtsam/gtsam.i#L2865). Any idea for a path forward for resolving the tolerance argument issue?

[2020-09-22 18:47] varunagrawal commented on #237
This is something @dellaert and I need to discuss at a design level so I can't comment on that *sigh*.

I've had a PR ready for months actually, but it breaks the API signature which is what is causing the delay.

[2020-09-22 19:06] dellaert commented on #237
I’m sorry, what’s the issue?

[2020-09-22 19:09] varunagrawal commented on #262
Closing this since the #263 is merged.

[2020-09-22 19:09] #262 closed

[2020-09-22 19:10] varunagrawal commented on #236
We got this working!! :tada:

[2020-09-22 19:10] #236 closed

[2020-09-22 19:14] varunagrawal commented on #237
`Cal3_S2` has `calibrate` defined as

[code]

while `Cal3Bundler` has it defined as
[code]

aka no `Dcal` and `Dp`, so this causes issues with wrapping and use cases in optimization.

[2020-09-22 19:18] varunagrawal commented on #237
@dellaert the original PR I made is here: https://github.com/borglab/gtsam/pull/257

[2020-09-22 19:54] dellaert commented on #237
“Causes issues” ?

[2020-09-22 21:16] varunagrawal commented on #237
Using `CalBundler` gives the no-matching function error for `calibrate`. Actually, I think I can solve this in 15 minutes later tonight.

[2020-09-22 22:41] johnwlambert commented on #237
Thanks Varun. So Pybind11 will not allow two separate classes to have the same method with different signatures? That seems extremely restrictive. Or is it the case that these two classes are related in a particular hierarchy and that causes problems?

[2020-09-23 00:24] varunagrawal commented on #237
This was definitely an issue with the old Python wrapper so I don't know if this will work with Pybind11 or not.
My guess is that it won't because `PinholeCamera` has a `backproject` method that needs a `calibrate` with Jacobians, so if Pybind11 performs static analysis (via the compiler, which it should), it will see that code path as non-existential which is good.

On the other hand, even if you

[2020-09-29 04:24] asa opened #543 "CppUnitLite include referenced in linear/LPInitSolver.h header file"
https://github.com/borglab/gtsam/blob/b89478c0fa07543c53190584f470c2598609ddea/gtsam_unstable/linear/LPInitSolver.h#L24

I believe this testing header include should not be here.

[2020-09-29 04:28] #543 closed

[2020-09-29 16:32] dellaert commented on #543
I will actually fix this in a PR Soon

[2020-09-29 18:16] asa opened #544 "gtsam_unstable/slam/tests/testSerialization.cpp is broken (and not running currently) remove or fix?"
Forgive me if I am not able to answer this question elsewhere. What is the philosophy behind working on or retaining code in gtsam_unstable?  For example this test is commented out because it fails, it has headers that are missing / moved etc.  I have run across a few other places in unstable where headers are missing ie: gtsam_unstable/partition/tests/testNestedDissection.cpp:16:#include "SubmapP

[2020-09-29 19:29] #237 closed

[2020-09-29 21:58] dellaert commented on #544
Some of the code in unstable is rarely used, but other parts should really be migrated to gtsam. I’d not spend too much time cleaning up for the sake of cleanup, but if you are *using* something and fix bugs/file issues, we would gladly welcome that in addition to having a signal on what code is actually used :-)

[2020-09-29 21:58] dellaert commented on #544
Closing as answered

[2020-09-29 21:58] #544 closed

[2020-10-01 03:21] dellaert opened #548 "VC 2016 compile bug?"
## Description

It seems VC 2016 fails to complete check after @Alexma3312 ’s PR was merged:
[code]

[2020-10-01 15:34] Alexma3312 commented on #548
https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-1/compiler-error-c2491?view=vs-2019

[2020-10-01 15:42] dellaert commented on #548
I think the issue is the name conflict. I am fixing in a branch now...

[2020-10-01 19:16] aspears1935 opened #550 "Debugging an indeterminant linear exception"
## Feature

We have encountered the exception "Indeterminant linear system detected while working near variable XX" pretty consistently across various sensors and designs, especially with larger graphs. It doesn't seem like there is an easy way to debug what is causing this so additional guidance or methods to drill down into the exception would be very helpful in our design and validation process

[2020-10-01 21:19] dellaert commented on #550
I would love to give better guidance. @gchenfc and I have been thinking about detecting exactly *which* variable is under-determined, and providing better guidance.

The second point is more about observability over time, and I think is hard to solve in general. I've encountered this in several situations, and it can occur, say, in IMU situations when traveling on a straight line for a while, then

[2020-10-02 02:50] ProfFan commented on #548
Should this be closed?

[2020-10-02 12:42] dellaert commented on #548
Fixed in #549

[2020-10-02 12:42] #548 closed

[2020-10-02 13:17] huanhexiao opened #552 "Can't build matlab_wrapper"
When compiling gtsam,it stops at "[ 76%] Building CXX object gtsam/CMakeFiles/gtsam_matlab_wrapper.dir/wrap/gtsam/gtsam_wrapper.cpp.o
", the memory has been increasing until overflow and killing by the compiler.

I set GTSAM_INSTALL_MATLAB_TOOLBOX as "ON", my OS is Ubuntu16.04.

Any help?

[2020-10-02 14:37] jlblancoc commented on #552
General ideas: replace -g with -g1 if symbols are enabled, or reduce
optimizations to -O1 (in that file), or to split the file in smaller ones
(this only helps sometimes)

[2020-10-04 09:03] jlblancoc commented on #292
@varunagrawal :

Please, add `libcpputest-dev`... and probably it's a good idea to edit the OP with the updated list with checkboxes to keep track of the progress on this important WIP task ;-)

[2020-10-04 17:17] varunagrawal commented on #292
Done

[2020-10-04 17:17] #497 closed

[2020-10-04 19:36] varunagrawal commented on #372
I found an [elegant solution](https://stackoverflow.com/a/23082112/1236990) to this problem.
I can submit the PR later today.

[2020-10-04 20:33] jlblancoc commented on #292
Thanks! Marking libeigen3 as done.

[2020-10-06 14:53] #372 closed

[2020-10-08 23:05] gregsensem opened #559 "Unknown CMake command "gtsamAddExamplesGlob""
I encountered this error : Unknown CMake command "gtsamAddExamplesGlob" when I try to cmake and build examples. Does any one have similar issue? thanks!

CMake Warning (dev) in CMakeLists.txt:
  No project() command is present.  The top-level CMakeLists.txt file must
  contain a literal, direct call to the project() command.  Add a line of
  code such as

    project(ProjectName)

  near the top o

[2020-10-08 23:14] ProfFan commented on #559
Could be related to #557 ?

Ping @jlblancoc

[2020-10-08 23:28] #559 closed

[2020-10-08 23:30] gregsensem commented on #559
I think it is not, reverted to previous version the issue is still there. thanks!

[2020-10-09 05:17] jlblancoc commented on #559
@gregsensem Examples are not intended to be used directly by instructing CMake to use their directories as a SOURCE_DIR, I think that's what you are trying to do, right? Build examples by compiling gtsam from its root directory instead.

To bootstrap your own example / program, use as a template this directory instead: `GTSAM/cmake/example_cmake_find_gtsam/`

[2020-10-09 13:12] dellaert commented on #559
Running an example should just be possible using 'make Blahexample.run` in the build directory.

[2020-10-09 13:49] gregsensem commented on #559
Thanks Jose! Exactly like you said, I made a mistake to try to build examples from example's directory. Thank you and have a nice weeked! @jlblancoc

[2020-10-09 13:58] gregsensem commented on #559
Thanks Professor! I am reading your "Factor Graphs for Robot Perception" and testing with GTSAM library at the moment.  It is really nice material to learn Factor Graph and really handy library as I am trying to apply pose graph optimization in my visual SLAM project. Thanks for your team's effort for bringing this great work to us. Have a nice weekend! @dellaert

[2020-10-10 17:49] mcamurri opened #561 "Incremental Smoothing with Plane Factor occasionally fails"
Hi all,
I'm experiencing some problems with isam2 optimization with plane factors.
Occasionally, the system throws an `gtsam::IndeterminantLinearSystemException` when two planes are present. But if I comment one of them, the system converges.
## Description

Let's consider the following minimal example (or at least as minimal as I could get to reproduce the error).

The code instantiates a prior p

[2020-10-11 11:46] w634307272 opened #562 "how can i uninstall gtsam?"
I want to change the version of gtsam

[2020-10-11 15:23] dellaert commented on #561
This is a great example! Before o look at it in detail: does the optimization work if you just do gauss-Newton optimization rather than iSAM?

[2020-10-12 13:55] mcamurri commented on #561
Yes, exact same behavior with Gauss-Newton. Here is the listing:
[code]

[2020-10-12 19:47] dellaert commented on #561
Marco, I added your test in #564
There is definitely an issue, but it's weirder than I even imagined. Take a look. Could be a subtle memory issue.
Running out of time but could you try a valgrind on the example?

[2020-10-12 20:07] mcamurri commented on #561
Here is the output of the second listing (Gauss-Newton) with the offending line through the command:
`valgrind --tool=memcheck --leak-check=yes --show-reachable=yes --num-callers=20 --track-fds=yes -v ./indet_system`

Output:
[code]

Without the offending line, the error count goes to 1:
[code]

Note that I wasn't able to reproduce the success by commenting out both the plane priors. I will try la

[2020-10-12 20:28] dellaert commented on #561
Hmmm. I'm not an expert on debugging memory errors but don't see crazy things here at first glance. Still, the fact that you can't get error by commenting out prior again points to non-determinism. I'll take another look after teaching but please pore over the code as well?

My bet is on some subtle bug in OrientedPlane3 or OrientedPlane3Factor, and non-determinism points to either uninitialized m

[2020-10-12 20:34] dwisth commented on #562
Navigate to your gtsam build folder and run `make uninstall`. This should hopefully remove it from your system.

[2020-10-12 21:55] ProfFan commented on #561
TBB is famous for generating false positives with Valgrind. Could you try reproducing without TBB? That would make the stacktrace a bit cleaner.

[2020-10-12 22:48] mcamurri commented on #561
@ProfFan you are right. I've recompiled gtsam without TBB and run the test @dellaert made. The stack is clear of errors:
[code]

If I recompile with TBB, then I get 3 errors (which I spare you).

[2020-10-12 22:55] ProfFan commented on #561
Eigen's Debug mode run time bound checks are not helpful here because the code path is completely different under Release. I would suggest an uninitialized variable (which is the nastiest since both valgrind and ASAN cannot detect). I have work on my hand so I can't investigate so this is a pointer for anyone who's working on this.

[2020-10-12 23:00] dellaert commented on #561
It fails under Debug, too, though... Maybe that's a hint?

[2020-10-13 06:17] jlblancoc commented on #561
Running the new test in a debug build (u18.04, g++7) with valgrind gives no suspicious memory access. Neither as is in git, nor uncommenting the p2_prior factor. In that latter case the test failed, of course, but it looks more like a logic or math problem than an uninitialized/corrupted memory issue.

[2020-10-13 06:20] jlblancoc commented on #561
The augmented information matrix on p1-x0 has **large** (but not absurdly large) negative eigenvalues, btw...

[code]

[2020-10-13 13:32] dellaert commented on #561
Hmmm. Marco, I propose you print out the singular values of the entire information matrix: it should be positive definite. If not, we should figure out why. Don’t use the augmented part if you use the method @jlblancoc refers to, just the top-left block, omitting the last row and column.

[2020-10-13 14:17] fangxu622 opened #566 "Could export IMUKittiExampleGPS.py example ?"
I'm a beginner , I want to use imu factor and preintegration tools with python on real data.

for PreintegrationExample.py it's use gtsam.ScenarioRunner .API , and it's seems simulation data. I can't understand well if I want to use this tools on real data,( kitti data ) . I didn't know how to do it.

So ，could export IMUKittiExampleGPS.py example ? because I found it (.cpp,  .m ) base on real dat

[2020-10-14 09:27] fangxu622 commented on #566
cloud export more python examples?

[2020-10-15 09:03] fangxu622 commented on #552
@jlblancoc @varunagrawal  hi ~~when build matlab wrapper . it happens some error like this

`
[ 76%] Building CXX object examples/CMakeFiles/Pose2SLAMExampleExpressions.dir/Pose2SLAMExampleExpressions.cpp.o
In file included from /usr/include/boost/smart_ptr/make_shared.hpp:14:0,
                 from /usr/include/boost/make_shared.hpp:14,
                 from /media/fangxu/Segate3T/PHD-Project/gt

[2020-10-15 17:20] pshea76 opened #568 "LinearFactorContainer rekey()"
Hi all,

It appears that the LinearFactorContainer has a broken rekey member function (inherited from NonlinearFactor).

## Description

Upon construction, the LinearFactorContainer sets its keys attribute (inherited from NonlinearFactor) and stores a shared pointer to the linear factor:
https://github.com/borglab/gtsam/blob/develop/gtsam/nonlinear/LinearContainerFactor.cpp#L31

Then when Nonlinea

[2020-10-17 13:02] fangxu622 commented on #552
have you solved it? @huanhexiao

[2020-10-17 23:08] ProfFan commented on #552
Since currently no one here is actively using the MATLAB wrapper, you can try use the Python wrapper instead.

[2020-10-18 02:48] fangxu622 commented on #552
yeah, python wrapper is ok,  build the matlab wrapper because it has more examples~~

[2020-10-18 03:59] huanhexiao commented on #552
@fangxu622
yeah,  it seems like a matter of memory size. When building matlab_wrapper, i close any other applications, and this needs a long time

[2020-10-18 15:44] dwisth commented on #561
Hi Frank,

Thanks again for the feedback.

I added the following code to your example to calculate the singular values (I didn't have permission to push to the branch):
[code]

I also added the `GaussNewtonParams` to the optimizer as you mentioned [here](https://github.com/borglab/gtsam/pull/564#discussion_r503949213).

Please let me know if this isn't the best way to calculate this an I can run i

[2020-10-19 18:57] dellaert commented on #561
OK, so this is interesting, and rather poorly conditioned (both very
high and low singular values). Can you hypothesize why there is such a

discrepancy ? Why are the lowest directions so poorly constrained? What

variables do they correspond to?

On October 18, 2020, GitHub <notifications@github.com> wrote:

—
You are receiving this because you were mentioned.
Reply to this email directly, view i

[2020-10-22 08:05] duyanwei commented on #550
@aspears1935

Some debugging suggestions from my experience:

1. Catch the exception
2. Get the original factor graph and values
3. Linearize the graph to a gaussian factor graph
4. Check its jacobian or hessian matrix, usually the singular values or determinant, it might give you a hint to tune the noise model or find outliers.

You can even try to optimize the linearized gaussian graph with `gau

[2020-10-26 02:17] rginjapan opened #573 "What is the difference between PreintegratedImuMeasurements and PreintegratedCombinedMeasurements"
As the title, could u plz give some explanations?
CombinedImuFactor and ImuFactor as well, thanks!

[2020-10-26 05:08] Cryptum169 opened #574 "Building MATLAB toolbox throws Python version "Default""
## Description
When building Matlab toolbox, throws
[code]

## Steps to reproduce

[code]

## Expected behavior
Shouldn't be throwing error.

## Environment
- Ubuntu 20.04
- gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)
- cmake version 3.16.3
- `python -V` outputs Python 3.8.5
- branch `develop`
## Additional information
None

[2020-10-26 14:24] ProfFan commented on #574
Could be related to the recent cmake split? I think @varunagrawal has already fixed this issue.

[2020-10-26 15:10] Cryptum169 commented on #574
My bad for not doing enough search, this seems to be quite similar to #522 . I tried building with Python and it works all fine with the following.
[code]
Going through generated cmake file it seems that `GTSAM_PYTHON_VERSION` is initially assigned "Default" in `cmake/HandleGeneralOptions.cmake`, and is then assigned a proper Interpreter version in `cmake/HandlePython.cmake`, but `HandlePython` ne

[2020-10-26 21:12] hz658832 opened #575 "tbb Allocator with boost"
## Description

While compling gtsam (>4.0.x) with:
1. python and pybind11
2. matlab wrapper
3. tbb
4. boost (1.71)
compiler throws out error "no matching function ..." by gtsam objects which are allocated with tbb instead of stl

## Steps to reproduce
Just setup with the description.

## Expected behavior
Fix bug in CMakeList, perhaps set(preferred_allocator STL)?

## Environment
OS: Ubuntu 20.04

[2020-11-02 17:06] tmcg0 commented on #368
@mindThomas I notice that in your minimal example you're setting the integration covariance to zero. Does this bug still exist when you use a (small) non-zero positive quantity? Of course, in the ImuFactorExamples.cpp code they use eye(3)*1.0e-8.

Apologies for not confirming this myself right now, but I can check in a few days. It was just an initial thought I had when reading this issue. I certa

[2020-11-03 13:46] YangSiri opened #578 "How to self-inlcude gtsam ?"
Aim: Use specific gtsam in a single project instead of installing it into the system;

Description:  I git clone the gtsam code in my _**project/thirdparty**_ folder where i do the build. Instead I manually use the **_make DESTDIR="prjoect/thirdparty/gtsam_installed" install_**. So there will be two folders in _**thirdparty: gtsam; gtsam_installed**_. In my project's **_CMakeList.txt_**, instead o

[2020-11-04 03:12] mindThomas commented on #368
@tmcg0 Theoretically speaking the integration covariance should not be necessary. The way I understand it is that you add the integration covariance to capture unmodelled errors as a result from the discrete integration (would be even worse if we weren't doing proper Lie Group integration). So if the integration is perfectly continuous there shouldn't be a need for this integration covariance.
Als

[2020-11-04 18:19] varunagrawal commented on #574
Ahh that's a good point @Cryptum169, since the wrapper needs Python either way. I'll create the PR later today.

[2020-11-04 18:24] varunagrawal commented on #573
`PreintegratedImuMeasurements` only takes into account the position, velocity and rotation measurements (9 dimensional vector).
`PreintegratedCombinedMeasurements` takes into account the above, plus the bias values for the gyro and the accelerometer (9+6 dimensional vector).

For future reference, please ask conceptual questions on the GTSAM Google Group. :slightly_smiling_face:

[2020-11-04 18:24] #573 closed

[2020-11-04 18:28] varunagrawal commented on #562
Generally having a `make uninstall` command is a bad idea, since due to different user configurations it is hard to specify what should be uninstalled.

The foolproof way is to go to your `build` directory and run `xargs rm -rf < install_manifest.txt`.

[2020-11-04 18:28] #562 closed

[2020-11-04 18:28] varunagrawal commented on #562
Optionally, if you are building from source, just pull the latest changes and run the build and install process again. It will override the previous versions.

[2020-11-04 18:29] varunagrawal commented on #552
I've seen this issue with the python wrapper too unfortunately. This is going to require quite a bit of leg work to figure out. :slightly_frowning_face:

[2020-11-04 18:36] varunagrawal opened #581 "Add GTSAM citation"
## Feature

Generate a bibtex citation for use in academic publishing.

## Motivation

We use GTSAM for research, and Github repositories get cited all the time these days.

## Pitch

The process is really simple:

1. Link this repo with Zenodo (instructions [here](https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/referencing-and-citing-content)). T

[2020-11-04 20:16] dellaert commented on #581
Feel free to start a draft about GTSAM 4

[2020-11-07 00:13] chenosaurus opened #582 "ImuFactorsExample & CombinedImuFactorsExample crashes"
Just cloned the repo, built, & tried to run the ImuFactorsExample, however it crashes after a bit:

dchen@dchen-linux:~/workspace/gtsam/build/examples$ ./ImuFactorsExample
Using Levenberg Marquardt Optimizer
initial state:
0 0 0 0 0 0 0 0 0 1

Position error:0.004	 Angular error:4.99999e-16
Position error:0.829697	 Angular error:2.85707e-07
Position error:1.51764	 Angular error:4.45777e-06
Positio

[2020-11-07 01:08] #582 closed

[2020-11-07 21:13] varunagrawal commented on #581
If you create the DOI, I can add the badge to the README as well as autogenerate the BibTex via a `curl` command.

[2020-11-09 03:51] varunagrawal opened #588 "Windows Installation Documentation"
## Feature

Can we please add a step-by-step document on how to install (and test) GTSAM on Windows?

## Motivation

We already have solid docs for Linux and macos. Let's complete the holy trinity.

This is also the first step to fixing all the warnings and the CI timeouts we see.

## Pitch

Get help from @mikesheffler and @jlblancoc to create a nice little document about installing GTSAM on Windo

[2020-11-09 07:05] YangSiri commented on #578
Recently I'm using GTSAM with ISAM2 to incremental solve the graph optimizaiton. That is, I build a local smaller graph every time and add it to the whole ISAM graph by _**isam2->update(graph, values)**_. But it got stuck right at this line. It's like it is doing the update but the result never come out.

Question: What may cause this kind of situation?

Looking forward to your help ;>

[2020-11-09 07:08] jlblancoc commented on #578
After calling update(), you must call iSAM2->calculateEstimate()
<https://gtsam-jlblanco-docs.readthedocs.io/en/latest/_static/doxygen/html/classgtsam_1_1ISAM2.html#ae12fc71728266a75fa3893f40531f597>
to actually get the estimated values.

JL

On Mon, Nov 9, 2020 at 8:05 AM YangSiri <notifications@github.com> wrote:

--

/**
 * Jose Luis Blanco-Claraco
 * Universidad de Almería - Departamento de In

[2020-11-09 07:11] YangSiri commented on #578
Yes, @jlblancoc

The problem is the program got stuck in the update step and it won't go forword to the next step which may be  _**iSAM2->calculateEstimate()**_

[2020-11-09 09:01] YangSiri commented on #578
So far it turn out to be some problem with Ceres.

[2020-11-09 18:03] chrisbeall opened #590 "testSmartProjectionFactor unit test fails with march=native"
## Description

`testSmartProjectionFactor` fails on Ubuntu 16.04, gcc 5.4.0 with default configuration. The default configuration uses `march=native`, which is not exercised by CI. Test passes with `GTSAM_BUILD_WITH_MARCH_NATIVE=OFF`.

[code]

I'll try to look into this myself later, but wanted to make a report.

## Steps to reproduce

Get latest develop, configure, `make check`.

## Expected beh

[2020-11-09 18:13] chrisbeall opened #591 "Numerous unit test failures with GTSAM_ROT3_EXPMAP=OFF"
## Description

Numerous unit test failures with `GTSAM_ROT3_EXPMAP=OFF`. This configuration apparently is not be exercised by CI.

[code]

## Steps to reproduce

1. Check out latest develop
2. Set `GTSAM_ROT3_EXPMAP=OFF`, and also `GTSAM_BUILD_WITH_MARCH_NATIVE=OFF` (separate issue caused by `march=native` reported in https://github.com/borglab/gtsam/issues/590)
3. `make check`

## Expected behav

[2020-11-09 21:17] jlblancoc commented on #590
This might even be a bug in the older gcc version... I'll try to run all tests with optimize native ON on an u20.04.
Anyway, if it's a bug in either gcc or eigen, it might depend on the specific CPU, so it's hard to reproduce... Please, report  your flags with: `grep flags /proc/cpuinfo` to complete the bug report.

PS: GTSAM_BUILD_WITH_MARCH_NATIVE *might* be OFF by default, it's a recurrent topi

[2020-11-10 06:02] chrisbeall commented on #590
[code]
A few more data points:
- I don't get this failure with gcc 7.5 in a Ubuntu 18.04 VM on the same machine.
- `testSmartFactorBase`, `testSmartProjectionFactor`, `testImuFactorSerialization` segfault on clang-9 with `march=native`. Problem appears to be in serialization. Unclear whether the root cause might be related. Can you please try to reproduce with clang-9, also?

[2020-11-10 07:15] jlblancoc commented on #590
Some tests:
- Native (no VM) u18.04 + gcc 7.5 + all gtsam defaults (optimize native=ON, Embedded Eigen=ON) ==> testSmartProjectionFactor PASSES.
- Same machine + clang-10 + all gtsam defaults ==> **SEGFAULT**

Crashes occur at:
[code]

Rebuilding with optimize native=OFF for clang-10 **also** segfault's, so the "optimize native" doesn't seem to be the problem here (?).

Rebuilding with system Eige

[2020-11-10 20:11] #574 closed

[2020-11-10 22:28] varunagrawal commented on #574
@Cryptum169 the latest version of `develop` fixes this issue. Please feel free to reopen this in case it still doesn't work for you.

(Note, you make have to clear your build directory and run CMake from scratch)

[2020-11-10 22:31] varunagrawal commented on #552
@fangxu622 can you try compiling with the `GTSAM_WITH_TBB` set to `OFF`?

E.g. `cmake -DGTSAM_WITH_TBB=OFF .. && make -j4`

[2020-11-10 22:32] varunagrawal commented on #588
This issue would also help in fixing #474.

[2020-11-10 22:48] varunagrawal commented on #590
What version of Boost are y'all using? I believe this is a boost bug from before version 1.67, because I had faced a serialization segfault issue in the recent past. The basic problem is that the older boost serialization code would do a shallow serialization, so when de-serializing any complex factor, the test code would try to access something that wasn't initialized, hence segfault.

I am using

[2020-11-10 23:00] varunagrawal commented on #591
I believe this is primarily a `ROT3_EXPMAP` issue since the values are differing by an order of `1e-2`. Nevertheless, I can add the CI stage for this while also proposing a fix.

[2020-11-10 23:06] varunagrawal opened #595 "InconsistentEliminationRequested error with SmartFactor"
Issue discovered by @ToniRV.

Aminimal test for which we get the `InconsistentEliminationRequested` when calling `gtsam::Marginals`.
It seems to happen when a smart factor is added with no measurements.

The example is in here: https://github.com/MIT-SPARK/gtsam/pull/1
where the example `ISAM2_SmartFactorStereo_IMU` is modified to showcase the problem.

In particular, the data is simplified so tha

[2020-11-11 00:14] varunagrawal commented on #590
Just tried with both `GTSAM_BUILD_WITH_MARCH_NATIVE=OFF` and `ON` and I get the tests to pass.

@chrisbeall please do try running the tests with Boost 1.67+.

[2020-11-11 00:42] varunagrawal commented on #568
Hi @pshea76. Can you please provide a minimal reproducible example, possibly a unit test, that I can use to figure this out?

I see you have added a screenshot, so the code snippet that generated that screenshot would also work.

[2020-11-11 00:44] varunagrawal commented on #575
Hi @hz658832. Can you please try with GTSAM 4.1 and see if that works for you?

TBB is seeing a lot of changes and deprecations right now and we're having a hard time keeping up with them.

[2020-11-11 01:58] varunagrawal commented on #591
I found some related info!

Issue #248 goes into a lot of detail about why the Cayley parameterization is bad (which is what is used when we set `ROT3_EXPMAP=ON`).

@ProfFan's [post](https://gtsam.org/gtsam.org/2020/07/16/new-release-gtsam.html) also explains why the tests fail. We're basically seeing poorer convergence due to the approximation. I believe this is the reason we don't have a CI path

[2020-11-11 14:14] dellaert commented on #591
ROT3_EXPMAP=ON turns *off* Cayley and turns *on* full exponential map. We changed the defaults to have ROT3_EXPMAP=ON, AFAIK, based on Fan's work. Other than that, let's just fix the failing unit tests by branching on the flag?

[2020-11-11 18:33] varunagrawal commented on #591
I did some investigating and the fix for this might be easier than expected. It seems like the majority of tests are failing due to setting `GTSAM_ROT3_EXPMAP=OFF` but the corresponding `GTSAM_POSE3_EXPMAP` is still `ON`. This is because the macro `GTSAM_POSE3_EXPMAP` is used everywhere in the tests, but the internal behavior of Pose3 has been updated.

I made a simple change to the cmake files an

[2020-11-11 18:54] chrisbeall commented on #591
I think this was by design, to let users control the behavior of `Pose3` and `Rot3` independently. Perhaps this no longer makes sense, and a single flag is better?

I failed to mention in my report that all tests (except for `testSimilarity3`) pass when I set both flags to `OFF`. Both flags `OFF` used to be the default up until July 22, when https://github.com/borglab/gtsam/pull/417 landed.

[2020-11-11 19:22] dellaert commented on #591
Yeah, seems strange that you would have `GTSAM_POSE3_EXPMAP=ON` and `GTSAM_ROT3_EXPMAP=OFF`. I propose that combination is disallowed. Let's see how many unit tests fail after that :-)

[2020-11-11 21:31] varunagrawal commented on #591
@dellaert only the `AlingPose3` test in `testSimilarity3.cpp` fails after disallowing that combination.

I looked into the issue (which took forever because of lack of documentation on the Local function for Cayley maps), and the problem is that it doesn't handle the case where `(R+I)` is singular (R is the rotation matrix, I is identity).

I have already fixed that, though that should be a separa

[2020-11-11 21:32] varunagrawal commented on #591
Note that in the snippet above, `K` will end up being `inf` if R is singular.

[2020-11-11 23:41] varunagrawal commented on #591
Hmm this test case is weird because the prior is a 180 degree rotation around X and Z individually, which the Cayley map cannot accommodate. We should #ifdef that test for Expmap only.

[2020-11-12 15:22] varunagrawal commented on #578
@YangSiri this seems to be something that you should ask on the Google Group to get a faster response. Closing since this is not a code issue.

[2020-11-12 15:22] #578 closed

[2020-11-12 15:50] tmcg0 opened #598 "pre-4.1 build issue in MATLAB wrapper: possible Boost/TBB incompatibility?"
I'm having build issues when building the MATLAB wrapper in the current pre-4.1 develop which I don't have on the 4.0.3 release. The problem occurs only when building with TBB on.

(This may be a system compatibility issue that I need to fix on my personal machine, but I'm documenting it here just in case others have this issue. Perhaps my build flags are misconfigured?)

## Description

In curren

[2020-11-13 06:11] varunagrawal commented on #598
It might be something that TBB deprecated which we haven't been on top of due lack of time and support. To be sure, compilation works with the exact same TBB version for 4.0.3?

[2020-11-13 06:13] varunagrawal commented on #598
This also might be the same issue as #575

[2020-11-13 06:27] jlblancoc commented on #590
1.65.1. I'll try 1.67+. Any painless way to install it w/o building boost from sources for u18.04?

[2020-11-13 06:27] jlblancoc commented on #590
PS: **If** boost is confirmed to be the cause, at least a note should be added to the README.

[2020-11-13 12:31] #591 closed

[2020-11-13 14:06] varunagrawal commented on #590
This link has a custom PPA: https://asciinema.org/a/199344

[2020-11-13 14:18] tmcg0 commented on #598
Yes, compilation works with the exact same TBB version (2020.1-2) for 4.0.3.

That's the only caveat that makes me think this _might not_ just be a TBB deprecated functionality problem. Something changed between 4.0.3 and 4.1.

[2020-11-13 14:21] tmcg0 commented on #575
@hz658832, what version of TBB were you using here?

[2020-11-14 02:37] hunkyu opened #599 "Some questions about the FactorGraph class"
## Feature

It is found that FactorGraph only has the function of adding factor graphs. How can I remove or modify the added factor node constraints?

## Motivation

Remove or modify the added factor node constraints

## Pitch

I see that the FactorGraph class has remove and erase, but I don't know how to use it yet

## Alternatives

graph_ptr->add(BetweenFactor<Pose3>(gtsam::symbol('x',start_id),

[2020-11-14 04:28] dellaert commented on #599
Our philosophy is to be functional. Constructors and "add" methods built things that remain constant. All other methods are const. A factor graph is just a vector so building a new graph is O(n).

We deviate from it a bit in iSAM, for performance reasons.

[2020-11-14 06:03] gchenfc opened #600 "Sequential Cholesky incorrect for large problems"
## Description

This was initially noticed by @ProfFan in #111.  Linear solving/elimination using Sequential Cholesky and Multifrontal Cholesky don't give the same results, and it appears actually sequential is the erroneous one.

For the large dataset from BAL "Final" with 394 images [(link)](https://grail.cs.washington.edu/projects/bal/data/final/problem-394-100368-pre.txt.bz2), running [timing/

[2020-11-14 06:32] hunkyu commented on #599
`  /// @}
  /// @name Modifying Factor Graphs (imperative, discouraged)
  /// @{

  /** non-const STL-style begin() */
  iterator begin() { return factors_.begin(); }

  /** non-const STL-style end() */
  iterator end() { return factors_.end(); }

  /** Directly resize the number of factors in the graph. If the new size is
   * less than the original, factors at the end will be removed.  If the ne

[2020-11-16 15:09] varunagrawal commented on #599
@hunkyu can you please share a minimal reproducible example (MRE)? We can help debug with some more context.

[2020-11-16 15:45] varunagrawal commented on #598
Okay I am able to reproduce this with TBB 4.4 and Matlab 2018. I'll take a closer look at it and get it resolved soon.

Thanks for reporting @tmcg0!

[2020-11-16 16:26] tmcg0 commented on #598
Let me know if you want any help tracking it down. I'm probably not nearly as useful but I can help a little. Maybe something for GTSAM to consider is breaking out TBB versions (and maybe Boost versions?) into the build matrix for CI if it isn't there already.

[2020-11-16 16:57] varunagrawal commented on #598
Any and all help is appreciated. :slightly_smiling_face:

[2020-11-16 17:30] varunagrawal commented on #598
I discovered and fixed the issue. As always, it was something trivial.

That being said, we currently don't have a CI in place for Matlab, hence this escaped into the codebase. If you have any suggestions, we'd be all ears. The only fix I have right now is to use a [Docker container](https://github.com/mathworks-ref-arch/matlab-dockerfile) with Github Actions, so if you'd like you can take a stab

[2020-11-16 17:41] tmcg0 commented on #598
So glad it was something trivial! I was really worried it was a full scale TBB version incompatibility.

MATLAB CI would be really useful. I may or may not be the person to pull that feature, but would it be helpful to track MATLAB CI development as an issue with a milestone? Just something to organize contributors' communication on it.

[2020-11-16 22:48] #598 closed

[2020-11-16 22:50] varunagrawal commented on #552
@fangxu622 #603 should fix your issue. If you pull the latest `develop` branch, you should be able to compile the Matlab wrapper.

@huanhexiao any updates? Please try with the latest `develop` branch.

[2020-11-16 22:52] varunagrawal commented on #575
This has been fixed by #603. Please pull the latest `develop` branch and try again.

Closing.

[2020-11-16 22:52] #575 closed

[2020-11-16 22:52] varunagrawal commented on #575
Feel free to re-open in case your issue has not been resolved.

[2020-11-18 02:14] danielmcrook opened #604 "Matlab wrapper not recognizing C++ files"
## Description

After installing GTSAM and running the units of `cmake check`, I added the Matlab folder to paths and tried to run `test_gtsam.m` which returned the error:
[code]

I went through the [installation steps](https://gtsam.org/build/) independently on MacOS and Ubuntu, so I probably have some fundamental misunderstanding given the same error's emergence on both machines.  Any help?

edi

[2020-11-18 19:15] gchenfc commented on #604
When you say "still found the Matlab toolbox to be Disabled" do you mean there's a cmake flag that makes you think it's not building the matlab toolbox or do you just mean that `test_gtsam.m` is not working?  Also, I think
[code]
should actually be (note the "-D")
[code]
not sure if that was just a typo or not.

Also, which folder are you adding to your matlab path?  It should be something like `<

[2020-11-18 20:24] gchenfc opened #605 "Matlab noiseModel inheritance downcasting"
## Description
The noiseModel static factor functions check if the noise matrix actually satisfies derived types and will automatically simplify.  For example, if you construct a Gaussian noise model with a diagonal noise matrix, then the "smart" check will automatically simplify it to a Diagonal noise model.

Previously, this also worked fine with the matlab wrapper.  For example, constructing a

[2020-11-18 21:56] varunagrawal commented on #581
An attempt at humor in this repo. Seemed apt for this issue.

![what_prof_read](http://phdcomics.com/comics/archive/phd080709s.gif)

[2020-11-19 03:20] danielmcrook commented on #604
Thanks for the response.  To your final note I'm on Ubuntu and I cloned the master branch.

I ran the following commands once in the root folder:
[code]

I am adding the folder ` /home/daniel/gtsam/matlab ` to my path. I don't see any folder labeled toolbox, however, this folder does have the contents you listed.

[2020-11-19 04:01] mikesheffler commented on #604
Hi, @danielmcrook ,

This may have been a typo, but you probably want to clone `develop` instead (it is generally treated as `master` on this project, so there is sometimes confusion).

You should be in business, or close to it.

Are you sure that your GTSAM installation is functional besides MATLAB? I see that you ran `make install` and not `sudo make install`. I think the default install prefix

[2020-11-19 04:12] ProfFan commented on #605
I think this is because the `class()` call is recognizing the MATLAB type, thus it means that the constructor is not returning an `Isotropic` MATLAB object. I am not familiar with MATLAB at all (though I hacked my way through LOL), but my current guess is a faulty generated MATLAB class file.

Probably a diff of the generated `Isotropic.m` and `Gaussian.m` could be helpful :)

[2020-11-19 08:23] gchenfc commented on #604
As @mikesheffler mentioned, `$HOME/toolbox` is where I would expect the toolbox to be... which I presume would be `/home/daniel/toolbox` in your case, rather than `/home/daniel/gtsam/matlab`

Another possible point of confusion is that the [matlab folder in the root directory of the github repo](https://github.com/borglab/gtsam/tree/develop/matlab) also has many of the same folder names, but is ac

[2020-11-19 10:49] jlblancoc opened #606 "Error-prone assignable lvalue returned by Values.at<T>()"
## Description

Possible bug in `operator =` of `gtsam::Value`
I'll write a small test code to reproduce later, but just wanted to leave it reported here as a reminder, since this drove me crazy for a long time.

`Values::at<T>(key)` returns a const ref, but at least in the case of "T=gtsam::Vector", it's **assignable** without any warning or error (!).

## Steps to reproduce

Better example will

[2020-11-19 14:38] varunagrawal commented on #606
I think I see the problem here: the templated version of `at` **does not** return a const ref. This is why you're seeing this issue.

Here are the definitions in the header file:

[code]

It seems this was a design choice for convenience. @dellaert thoughts?

[2020-11-19 14:48] varunagrawal commented on #604
Okay so what is up with this: `-DGTSAM_TOOLBOX_INSTALL_PATH:PATH=$HOME/toolbox ..`? Why is the cmake variable `GTSAM_TOOLBOX_INSTALL_PATH:PATH` rather than `GTSAM_TOOLBOX_INSTALL_PATH`?

I would recommend doing a standard install from the `develop` branch first:

[code]

and try again.

There's some extra steps you have to take when using custom install locations for GTSAM which are documented [he

[2020-11-19 14:51] varunagrawal commented on #306
I'm seeing this issue on GCC compilers (Clang works fine) and a 64-bit architecture. I'd like to fix this before the weekend.

[2020-11-19 15:28] ProfFan commented on #306
It's 100% UB... UBSan didn't report anything so I think you need to manually scan for it :)

[2020-11-19 15:57] gchenfc commented on #604
@varunagrawal I think the `PATH` is the "type" specifier for cmake command line args (see [cmake command line args](https://cmake.org/cmake/help/latest/manual/cmake.1.html#options)) and is acceptable, though optional.

I think this was based on the [INSTALL.md](https://github.com/borglab/gtsam/blob/develop/INSTALL.md) instructions.  Ironically, according to git blame you were supposedly the author

[2020-11-19 16:15] varunagrawal commented on #306
Here's some more info:

I tried commenting out the other tests so that I could isolate the issue better. Funnily enough, the test in question passes, when you comment out the other tests. I tracked down the culprit and it seems like the `CHECK` in `TEST(QPSolver, HS268)` is causing some weirdness, because if I only comment out that one line, everything works fine. Even on inspecting the Hessian fa

[2020-11-19 17:26] dellaert commented on #606
It should be const! PR?

[2020-11-19 17:30] dellaert commented on #581
You're gonna have to me walk through what needs to happen next time we meet

[2020-11-19 17:35] varunagrawal commented on #306
Found the issue. It's the damn parser not reading the constant term correctly. _sigh_

[2020-11-19 17:39] varunagrawal commented on #306
The fix is the dumbest thing: In `QPSVisitor` force `f = 0` by explicitly initializing it.

[2020-11-19 17:43] varunagrawal commented on #306
@jlblancoc can you please test the fix in #607 on the arm builds?

PS a few PRs more and we could have had the fix in 306*2 = 612. :joy:

[2020-11-19 17:44] varunagrawal commented on #606
On it.

[2020-11-19 17:57] danielmcrook commented on #604
It looks like passing all the `cmake` arguments at once (thanks @mikesheffler ) prompted the toolbox to appear where @gchenfc mentioned it should.  After adding the toolbox folder to my path in Matlab I've been able to run things smoothly, thanks for your help all!  And yes I was heavily leaning on the .md instructions for the ordering and arguments to set things up.  Thanks folks!

[2020-11-19 17:57] #604 closed

[2020-11-19 18:19] jlblancoc commented on #606
Thanks Varun!
Sure that looks to be the problem.
Returning a "const T" (no ref) should fix it.

El jue., 19 nov. 2020 18:44, Varun Agrawal <notifications@github.com>
escribió:

[2020-11-19 22:17] dellaert commented on #606
Const T will copy, though? Not const ref?

[2020-11-19 22:36] varunagrawal commented on #606
Const ref is not recommended for Eigen since it gives the dangling pointer error. [StackOverflow](https://stackoverflow.com/a/62919971/1236990)

Another option is to use `Eigen::Ref` but that breaks the generality of `Values`. My expectation is that Eigen's expression templates will make the return efficient by eliminating the temporary variable in the `at` function.

[2020-11-20 00:03] varunagrawal commented on #292
@jlblancoc @acxz I went through METIS' documentation right now and it seems like @nikai and @amelim were trying to write a custom separator function for partitioning the graph based on edges. I've asked on the linked issue what the correct way to approach that would be that doesn't involve exposing the internals. Let's hope to hear a response soon.

[2020-11-20 05:16] jlblancoc commented on #292
Great, thanks!

[2020-11-20 06:44] jlblancoc commented on #606
@dellaert Sure, but I saw the original code returned by value for some reason, hence proposing just returning a const value.

I have dig into *why* the templated at<T> returns by value and found the reason: check out Values-inl.h -> internal::handle.
Returning by copy is done, apparently, with the sole purpose of providing a transparent way for users to request `values.at<T>()` with `T` being Eige

[2020-11-20 06:46] jlblancoc commented on #606
PS: A possible alternative might be adding a new `atRef<T>()` which doesn't make any conversion and returns a const ref, and documenting in the .h docs that the existing `at<T>()` performs copies as needed to convert between Eigen types.

[2020-11-20 21:31] jlblancoc commented on #606
Sorry I didn't read your linked page until now: of course, we can't just return a reference to the local (on the stack) Eigen matrix, that's why I recommended either returning by value (as now) or throwing an exception if `at<>()` is to always return a const ref and the actual stored data is not identical, since there is no legal way to return a const ref... if it's not referring **to** the actual

[2020-11-29 22:05] Harsharma2308 opened #618 "Python nonlinearfactorgraph api save via graphviz"
## Feature
`graph = gtsam.NonlinearFactorGraph()`
`graph.save_graph(format='graphViz')`

## Motivation
Hi visualizing the graph is very important especially if optimization is done incrementally. GraphViz seems very useful for this purpose and I was wondering if python nonlinearfactorgraph could be saved in graphviz format.
## Pitch

For my usecase where I am working on tracking algorithm on a giv

[2020-11-30 00:27] varunagrawal commented on #618
Thanks for the suggestion. Would you be able to create a PR for this?

[2020-11-30 00:30] ProfFan commented on #618
I remember we have a `dot` output?

[2020-11-30 10:38] LiShuaixin opened #620 "Cannot build with GTSAM4.0.2"
## Description
Hi, I tried to compiled my own project using `GTSAM 4.0.2`, but failed. The program is compatible with `GTSAM 4.0.0 alpha` which is also the version I've been used.

It seems like the problem is caused by the difference of eigen version used in the project. Therefore, to ensure the consistency of version of `Eigen`, I install `Eigen 3.3.4` from the source, and recompile all libs (`P

[2020-11-30 10:59] varunagrawal commented on #620
You should use the Eigen version bundled in the project under `3rdparty`.

[2020-11-30 11:07] LiShuaixin commented on #620
@varunagrawal Thanks for your reply. If I use the `Eigen` version bundled in the `GTSAM`, it could be different from the one used in my system. If that, which version of `Eigen` should I used in my project?

[2020-11-30 11:16] varunagrawal commented on #620
Definitely try with the version provided by GTSAM. We test against that so it should work no problem.

[2020-11-30 11:27] varunagrawal opened #621 "Mismatch between calibrate functions for Cal3_S2 and Cal3DS2"
## Description

This is the same issue as #237 but for `Cal3DS2`. We need to use the Implicit Function theorem to fix this in `Cal3DS2_Base.cpp`.

[2020-11-30 14:02] dellaert commented on #606
Sorry about delay in getting back to this. *Is there a compelling reason to change anything at this time?* #608 seems to fix the issue you point here, and indeed, the "at" method is a bit funky to deal with the Eigen types - as I recall vaguely. This might not be as efficient as we want, but I'm not sure it's a bottleneck anywhere.

[2020-11-30 14:04] dellaert commented on #618
@Harsharma2308 we actually already have this, right? Please confirm by checking out code that produces .dot file and re-open this issue if that is not what you meant :-)

[2020-11-30 14:04] #618 closed

[2020-11-30 20:49] #606 closed

[2020-12-01 02:39] varunagrawal commented on #552
Closing this due to lack of responses. Please feel free to reopen if your issue has not been resolved.

[2020-12-01 02:39] #552 closed

[2020-12-01 03:23] varunagrawal commented on #91
This is still an issue. There is name-clashing of global variables and functions happening when we merge various test files.

[2020-12-01 03:27] varunagrawal commented on #240
@yrzhanov this seems to be an issue with your boost installation. Please ensure you have the seralization packages of boost installed as well. If you're still having issues, please ask questions on the Google Group or feel free to reopen this issue.

[2020-12-01 03:27] #240 closed

[2020-12-01 03:28] varunagrawal commented on #125
This is not really a must-have feature so I am closing this.

[2020-12-01 03:28] #125 closed

[2020-12-01 03:29] varunagrawal commented on #306
@jlblancoc gentle reminder.

[2020-12-01 03:43] varunagrawal commented on #180
@erik-nelson gentle reminder.

[2020-12-01 06:54] LiShuaixin commented on #620
I tried to recompile the `GTSAM` with its bundled `Eigen 3.3.7`, but it makes the difference eigen version problem occurs. Then I changed to use `Eigen 3.3.7` as the system eigen, and recompiled everything, the problem solved. However, I found the current version of `GTSAM` may conflict with some bundled lib of `ROS`. For instance, adding `tf_conversion` in the `catkin package`  (in CMakeLists `fi

[2020-12-01 18:56] swarrier246 opened #625 "Template support for free functions in the wrapper"
## Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2020-12-01 18:58] jlblancoc commented on #306
copy that...

[2020-12-01 22:27] #621 closed

[2020-12-02 00:04] #213 closed

[2020-12-02 09:22] jlblancoc commented on #306
Yay, [it's fixed](https://launchpad.net/~joseluisblancoc/+archive/ubuntu/gtsam-develop/+packages)! :+1:

[2020-12-02 09:22] jlblancoc commented on #306
Confirmed: #306 closed via #607

[2020-12-02 09:22] #306 closed

[2020-12-02 10:03] varunagrawal commented on #306
Yes!!! Awesome

[2020-12-02 10:04] varunagrawal commented on #306
We can now experiment with embedded ARM platforms. 😁

[2020-12-02 13:43] varunagrawal commented on #599
Closing due to lack of response. @hunkyu please reopen if you have any new information.

[2020-12-02 13:43] #599 closed

[2020-12-02 13:44] varunagrawal commented on #568
@pshea76 gentle reminder. This seems to be a valid issue so I want to figure it out asap.

[2020-12-02 13:47] varunagrawal commented on #590
@chrisbeall @jlblancoc any updates? I apologize for the pushes, but there is some stuff I wish to investigate so fixing this niggling issues should help my cause.

[2020-12-02 15:58] raabuchanan opened #627 "Problem with IMU preintegration during impacts"
There may be an issue with IMU preintegration for impacts and impulses. Bellow is a link to simulated data from an IMU in a robot's foot as it takes a step. The figure shows the raw acceleration and rotation velocities in the top two plots. The bottom plot is the result of continuous IMU preintegration and the Z velocity is shown in cyan. The velocity should return to zero as the foot makes contac

[2020-12-02 16:14] tmcg0 commented on #627
Forgive me if this is a naïve response: but it doesn't look like you have any position reference like a GPS. If you're merely doing pure IMU gyro/accelerometer dead reckoning, velocity drift due to sensor noise is expected, right?

[2020-12-02 16:17] dellaert commented on #627
Thanks @raabuchanan ! Tim, you are spot on, but it would not drift this far in this short amount of time. We actually asked Russell to create this issue to debug the IMU factor in the face of impacts.

@raabuchanan I assume you will also create a PR that has the unit test in it?

[2020-12-02 16:23] raabuchanan commented on #627
@dellaert Yes the unit test is coming

@tmcg0 In addition to Frank's point, this is simulated data without noise. Other kinds of motions without impacts have virtually no drift over several minutes.

[2020-12-02 16:28] tmcg0 commented on #627
@raabuchanan Great point, I totally missed that this was simulated data.

[2020-12-02 18:27] bjack205 opened #628 "Build Error on Tiger Lake Processor"
## Description

I get a build error on my computer, which has an 11th-gen Tiger Lake CPU. It looks like the error is related to my cpu architecture.

`make build` output
[code]

`make check` output
[code]

## Steps to reproduce

1. Clone the repo
2. Create the `mkdir` folder and `cd` into it
3. Run `make ..`
4. Run `make install`

## Expected behavior

I'd expect to be able to build the repo :) Or

[2020-12-02 23:02] varunagrawal commented on #628
This is a problem with CCOLAMD, not GTSAM. I guess we'll have to check if they have updated their code to work on the new TigerLake processors.

[2020-12-02 23:07] varunagrawal commented on #628
Actually, this looks like a GCC problem. You will need to use GCC 10 as per the docs: https://gcc.gnu.org/gcc-10/changes.html

[2020-12-02 23:07] #628 closed

[2020-12-04 04:04] Harsharma2308 opened #631 "Closest way to approximate a GPS factor with rotation?"
I have an oracle giving the measurement for the 6DOF pose of my robot.
I have been using GPS factor so far and only passing the translation component from this oracle in the factor graph.
How do I use gps factor in gtsam with rotation component as well?

[2020-12-04 14:54] varunagrawal commented on #631
Hi @Harsharma2308. The [Google Group](https://groups.google.com/g/gtsam-users) might be a better and faster place to get support on this.

You may be interested in the AHRSFactor, which specifically deals with (preintegrated) rotations.

[2020-12-04 14:54] #631 closed

[2020-12-04 23:51] Harsharma2308 commented on #618
Sorry could you explain the exact function call? `graph.saveGraph` in Python doesn't exist right now.

[2020-12-05 15:54] varunagrawal commented on #618
It should be `isam2.saveGraph`.

[2020-12-08 15:31] raabuchanan commented on #627
See PR #633

[2020-12-09 15:51] DYFeng opened #634 "error: no type named 'library_version_type' in namespace 'boost::serialization'"
## Description

Compile on macOS failed.

## Steps to reproduce

1.  git checkout develop
2. cmake .. && make

[code]

## Expected behavior

## Environment

OS: macOS
Apple clang version 12.0.0 (clang-1200.0.32.2)
Target: x86_64-apple-darwin20.1.0
boost: 1.74.0

## Additional information

[2020-12-11 16:33] varunagrawal commented on #634
So this is actually an issue with Boost 1.74. I encountered this issue today morning and found this: https://github.com/boostorg/serialization/issues/217#issuecomment-737284894

@DYFeng can you please downgrade to Boost 1.73?

[2020-12-12 14:24] #634 closed

[2020-12-18 02:10] daidluvkb opened #637 "Ask for Matlab version(MEX file '/usr/local/gtsam_toolbox/gtsam_wrapper.mexa64' invalid , undefined symbol "some detailed functions")"
Hello,
I am trying to build gpmp2, it required gtsam>=4.0.
I have successfully compiled the two library with ubuntu18.04, gcc-7.5(lower-version gcc has compile errs).But when executing the matlab scripts, it reports message like"MEX file '/usr/local/gtsam_toolbox/gtsam_wrapper.mexa64' invalid , undefined symbol "some detailed functions"". I have read the readme like[this](https://github.com/borgla

[2020-12-18 08:40] hunkyu opened #638 "tbb::interface5::internal::concurrent_unordered_base<>::internal_copy()"
## Description

## Steps to reproduce

*** Aborted at 1608279752 (unix time) try "date -d @1608279752" if you are using GNU date ***
PC: @                0x0 (unknown)
0  775 737
1  776 738
2  778 740
3  779 741
4  780 742
5  781 743
6  782 744
7  784 743
8  785 743
9  786 741
10  788 740
11  790 738
12  791 737
13  792 736
14  793 734
15  795 732
16  796 730
17  797 728
18  799 726
19  800 725
20

[2020-12-18 15:33] ProfFan commented on #638
Could you provide a minimal reproducer?

[2020-12-19 03:58] hunkyu commented on #638
Sorry, it's my code problem, I didn't do interlocking daozhi

[2020-12-19 03:58] #638 closed

[2020-12-20 22:36] dlee640 opened #639 "Python Wrapper Error"
## Description

**I have ubuntu 18.04, and I have used release 4.1.0 to install gtsam. My C++ version works fine (all the unittests work), but I am more familiar with python, therefore decided to install python wrapper. However, using python 3.6.9, I get an error saying python version of  >= 3.7.x is required. Yet, if I set -DGTSAM_PYTHON_VERSION= to anything past 3.7.x, it throws me an error as w

[2020-12-21 03:23] dlee640 opened #640 "Help needed for Matlab/Python Wrapper Instructions"
## Feature

I am a student who wants to get familiarized with GTSAM python / matlab functionalities.

## Motivation

I have followed the instructions on readme.md and was able to build & run OdometryExample on terminal. My system is Ubuntu 18.04, and I have used release 4.1 on borglab/gtsam page. However, I am not sure how to build/install python and matlab. I tried doing both, but I have messed u

[2020-12-23 21:41] varunagrawal commented on #640
Hi @dlee640
Does [this document](https://github.com/borglab/gtsam/tree/develop/python) answer all your questions?

We always recommend using the latest version of GTSAM, in this case 4.1.0.

[2020-12-23 21:51] varunagrawal commented on #640
Here are the answers to your questions:

1. If you have already built GTSAM via CMake, when you enable the flags for the wrapper, `CMake` and `Make` are smart enough to compile only the required parts. Thus, they won't re-compile GTSAM from scratch, but you need to run `cmake ..` with the correct flags enabled so that CMake knows what to do.
2. All CMake/Make instructions are to be executed from t

[2020-12-23 21:58] varunagrawal commented on #639
1. I don't understand why you are using `sudo make python-install`. `make python-install` (without the sudo) should be sufficient. Nowhere in the instructions do we recommend using sudo when installing the python wrapper.
2. The issue from what I can see, seems to be that you are using numpy 1.20.0rc1 which enforces a requirement for Python 3.7 and greater. I don't understand why you would need 1.

[2020-12-23 22:01] varunagrawal commented on #637
When you say Matlab scripts, do you mean the ones in GPMP2? It seems like this is an issue with GPMP2 showing its age and not being updated *sigh.

[2020-12-23 22:03] varunagrawal commented on #590
Gentle reminder. If this is indeed a boost version issue, I'd like to update the CMake and the docs to reflect this ASAP. :slightly_smiling_face:

[2020-12-24 01:54] daidluvkb commented on #637
Yes,  actually I changed a lower matlab version(R2014b) to complie mexfile,the err I mentioned above disappeared, but when I'm running the gpmp matlab scripts, there are always unstable errors like ' Segmentation violation detected, This error was detected while a MEX-file was running....'
'Unstable' means the codes caused this error, can be execuate correctly sometime, but at most times matlab re

[2020-12-24 02:51] ProfFan commented on #637
I would suggest the following:

1. You can post more detailed reproduction instructions, for example, detailed commands and logs;
2. The message you mentioned is very strange. Actually GTSAM has been tested with MATLAB 2020, so I would say that is almost definitely not GTSAM issue.
3. Maybe you could work with the GPMP2 author to update the dependency to latest GTSAM 4.1?

[2020-12-24 02:53] ProfFan commented on #590
Maybe we should consider (seriously) getting rid of boost, as the biggest boost dependency has been eliminated (which coincidentally is the `wrap` C++ application)

[2020-12-24 02:55] johnwlambert commented on #590
i would like to see boost gone, since it is a large system dependency i really dont think we need, or even want

[2020-12-24 03:05] varunagrawal commented on #590
That's not quite correct. We use boost for the OptionalJacobian amongst other things.

Also I don't quite see @johnwlambert's point about it being a big system dependency that we don't need. You install boost once and forget about it, plus it can be used for other C++ projects and scripts, e.g. for parsing command line arguments.

[2020-12-24 03:11] varunagrawal commented on #637
Yeah this is not a MATLAB version issue. It definitely seems like an issue with the GPMP2 code not being updated.

The best and fastest way around this would be to convert the Matlab scripts to python.

[2020-12-24 03:14] varunagrawal commented on #590
Anyway, whether or not boost is needed is tangential to the point of this PR.

@jlblancoc @chrisbeall can y'all let me know if upgrading boost fixed this issue for you?

[2020-12-24 04:27] johnwlambert commented on #590
On a cluster where one does not have sudo access, boost installation can be difficult to get right using conda -- I've seen this recently on Skynet.

[2020-12-24 05:04] varunagrawal commented on #590
Well that's not a Boost problem, that's a lazy admin problem.

Moreover the fix in that case is incredibly simple: install Boost to a location you have access to and just add that location to the Cmake and ldconfig env variables, and voila!

[2020-12-24 05:05] varunagrawal commented on #590
FYI that's how I manage multiple versions of boost on my system, no issues.

[2020-12-24 07:03] daidluvkb commented on #637
Here is the error info printed by matlab.

It does seem like something wrong with gpmp2. I will ask this issue in gpmp2, thanks a lot!

[2020-12-24 16:23] ProfFan commented on #637
If you demangle the names you will see that this is indeed a problem in GPMP2:

[code]

[2020-12-24 16:23] #637 closed

[2020-12-24 16:28] ProfFan commented on #590
Boost is a burden for us because boost is a source of uncertainty - I think bugs in boost reflected on GTSAM have cost me 100+ work-hours to debug in the previous two years. I would say if we are targeting Ubuntu 18.04+ (which = GCC 7.4), then we should have most of the Boost functionalities in `std`.

[2020-12-24 16:29] ProfFan commented on #590
Anyway I agree this is tangential to this issue so let's move the discussion elsewhere.

[2020-12-25 00:58] soulslicer opened #641 "Solving 3D -> 2D Line Projection error?"
## Feature

To perform lidar -> camera calibration, a common method is to project the lidar 3d points into a 2D camera, and minimize the projection of those points onto a detected 2D line. Can this actually be setup in gtsam?

## Motivation

## Pitch

## Alternatives

## Additional context

[2020-12-27 00:12] dlee640 commented on #640
Dear Varun,

Thank you very much for your help. I needed sudo for make python-install step, but everything worked.

[2020-12-27 00:12] #640 closed

[2020-12-27 00:16] dlee640 commented on #639
Dear Varun,

Thank you for your response. I closed the issue regarding python wrapper documentation, since
[code]
all worked successfully.

However, upon running unittests for python, I get following error:
[code]
I followed instructions on the github,

[code]

Is there something I am missing from the python installation phase?  Thank you.

[2020-12-27 01:20] varunagrawal commented on #639
What is the output when you run `sudo python -V`?

[2020-12-27 02:23] dlee640 commented on #639
python 3.6.9

[2020-12-27 04:02] varunagrawal commented on #639
Looks like something went wrong during your build, most likely due to all the python version switching or something else.

Can you rebuild the entire thing again from scratch following the process that works for you?

[2020-12-27 18:31] varunagrawal commented on #639
Also, I believe you'll have a faster response by asking this question on the Google group.

[2020-12-27 18:44] varunagrawal commented on #620
That's exactly the issue. We do provide a cmake flag to use the system (e.g. ROS provided) eigen library so you may want to use that.

[2020-12-27 18:52] varunagrawal commented on #486
I know how to do this! It's in one of the example wrapper projects. I'll submit a PR later today.

[2020-12-28 07:06] jlblancoc commented on #590
@ProfFan :

If it's acceptable to *impose* the minimum standard C++17 to users, then it would be a really easy port on `boost::{optional,shared_ptr}` -> `std::*`, but the remaining part would be **serialization**.
It could be either left as an optional feature implemented only if boost is avalable in the system (minimum gtsam effort), or port it to another serialization library (I'm the author of

[2020-12-28 20:55] dellaert commented on #590
Moving to c++17 and removing boost, *if* we decide to do that, is not going to happen until the next major version change (5.X.Y), so let's not discuss too much.

[2020-12-29 18:35] dlee640 commented on #639
Varun, thank you for your help. After following the instructions about the HandlePython file and making corrections, my unittests for python binding passed.

Only concern was that during
$ make -j4,
I needed to attempt it 3 times in order for it to compile.

[2020-12-29 21:26] varunagrawal commented on #639
That's strange. I don't understand why you would need to run make multiple times.

What errors do you get in the initial runs?

[2020-12-29 21:36] dlee640 commented on #639
![Screenshot from 2020-12-29 16-34-53](https://user-images.githubusercontent.com/60672433/103315544-e0a93c00-49f3-11eb-9010-fa658bdc5526.png)
This is the screenshot I took when the error occured. As you can see, when I attempted another $ make -j4, it ended up compiling successfully.

[2020-12-29 21:38] varunagrawal commented on #639
Hmm it seems that you're potentially running out of RAM. I recommend turning off building of examples via ccmake. The wrapper is a real memory hog and we've not figured out the best way to tackle it thus far.

[2021-01-01 17:45] ProfFan opened #648 "findExampleDataFiles broken on macOS"
## Description

`findExampleDataFile` should work on macOS but it does not.

## Steps to reproduce

1. `pip3 install --user --pre gtsam`
2. try find any data file.

## Expected behavior

Should return the path of data file.

## Environment

macOS Big Sur, Python 3.9.1

## Additional information

Upon inspection the data files were installed to
[code]
not
[code]

I think this behavior is wrong as t

[2021-01-02 17:00] ayushbaid commented on #648
Just FYI: this is an issue on linux too

[2021-01-02 22:02] varunagrawal commented on #648
This is fixed by #609 :slightly_smiling_face:

[2021-01-02 22:09] varunagrawal commented on #91
So after some consideration, this issue can be easily solved if we update the namespaces of each of the test files. This is an easy thing to do, but requires a lot of legwork to check and run the tests.

[2021-01-02 22:11] varunagrawal commented on #406
@victor1234 any updates? Please feel free to reopen if this is still an issue.

[2021-01-02 22:11] #406 closed

[2021-01-02 22:12] varunagrawal commented on #222
@haotiangu please reopen if this is still an issue for you.

[2021-01-02 22:12] #222 closed

[2021-01-02 22:15] varunagrawal commented on #641
@soulslicer this is more of a question than an issue. Can you please ask this on the Google Group? Thanks!

[2021-01-02 22:15] #641 closed

[2021-01-02 22:16] varunagrawal commented on #620
@LiShuaixin please reopen this issue if you still have a problem.

[2021-01-02 22:16] #620 closed

[2021-01-03 18:20] varunagrawal commented on #523
@jlblancoc can you please look at this? Thanks!

[2021-01-03 18:23] varunagrawal commented on #461
Hi @acloitre. Apologies for the late response. You'll be happy to know that we recently streamlined all the camera calibration models so that there is less duplication and clutter, so I imagine this feature wouldn't be too big of an issue. Can you please take a look at `Cal3_S2.h` and the related files and start a PR?

Since you already have the equations figured out, it should be straightforward

[2021-01-03 20:23] ProfFan commented on #523
Can this be reproduced under Linux? Seems to be an RTTI issue.

[2021-01-03 23:14] varunagrawal commented on #588
@mikesheffler can you please share how you build & install GTSAM on Windows? I haven't used Windows 10 as a dev machine ever, so I am a bit lost on how to go about doing this.

[2021-01-04 06:36] varunagrawal commented on #474
This is a boost warning displayed on the debug build. We can safely ignore it.

[2021-01-04 07:07] #474 closed

[2021-01-05 01:39] #639 closed

[2021-01-05 01:39] #648 closed

[2021-01-05 20:07] varunagrawal opened #658 "Logging and Code Coverage"
## Feature

Request to add in:

- [ ] Logging via [glog](https://github.com/google/glog#cmake).
- [ ] Unit test code coverage via either [gcov](https://gcc.gnu.org/onlinedocs/gcc/Gcov.html) or [CodeCoverage](https://github.com/bilke/cmake-modules/blob/master/CodeCoverage.cmake).

## Motivation

Logging will help us print exceptions, warnings and other useful information while at the same time prov

[2021-01-06 22:11] varunagrawal commented on #368
A quick update (because it drove me nuts trying to resolve this), the output from the ImuFactor code should be multiplied by a factor of 1e-6.

[2021-01-06 22:21] tmcg0 commented on #368
@varunagrawal sorry, can you be specific as to what output you're referring to? The covariance?

It would be awesome if we could build a unit test for this that fails with an assert statement. I told myself I wanted to look into this and then got totally sidetracked.

[2021-01-06 22:31] varunagrawal commented on #368
This example

[code]

Where there is no zero rows in the measurement covariance:

[code]

This issue is going to take a while since I need to redo the math for noise propagation for `PreintegratedCombinedMeasurements`. We already have documentation for that (ImuFactor.pdf) so having a similar doc for CombinedImuFactor would be great as a reference. Or do we have one @dellaert?

[2021-01-07 07:13] zzodo commented on #213
Love you guys! This helped me a lot :+1:

[2021-01-08 12:43] #588 closed

[2021-01-08 22:27] acloitre commented on #461
Hello @varunagrawal ,
Thank you for your reply.
Should I implement the change as two separate functions, e.g. `calibrateSpherical` and `uncalibrateSpherical`?
Or should I modify the existing `calibrate` and `uncalibrate` functions, as well as all the other functions in gtsam that use these functions' outputs?

[2021-01-08 23:35] varunagrawal commented on #461
You could just create a subclass.

[2021-01-10 01:47] varunagrawal commented on #461
Would it be possible to simply subclass Cal3Fisheye? That way you'd have very little to do.

[2021-01-11 10:52] NikolausDemmel opened #661 "Building with TBB on macOS for "debug" build types"
## Description

On macOS (10.15 Catalina) -- with current TBB installed via homebrew -- the GTSAM cmake only picks it up for `Release` build type, but fails to do so for `RelWithDebInfo` and `Debug`. This is with the latest `develop` branch.

## Steps to reproduce

`Release` is ok:

[code]

`Debug` or `RelWithDebInfo` fails:

[code]

## Workaround

It seems that the cmake find module wants to find

[2021-01-11 13:26] dellaert commented on #461
Actually, please note that there is already a normalized direction class, Unit3. And that several (if not all?) camera models *already* support a Unit3 measurement. I recommend reading the code to inform you of the shortest path here.

[2021-01-12 01:10] ProfFan opened #663 "Python wheel CI builds are broken after gtwrap changes"
The borglab/gtsam-manylinux-build CI builds are now broken because of the recent changes made to the way `gtwrap` operates.

[code]

@varunagrawal I think in the PR you said that there will be no behavior changes? Or we need to install `gtwrap` for building GTSAM now? Could you look at the build logs [here](https://github.com/borglab/gtsam-manylinux-build/runs/1684460491?check_suite_focus=true) an

[2021-01-12 01:54] varunagrawal commented on #663
Huh that's strange. Sure thing I'll help debug :)

[2021-01-12 02:23] varunagrawal commented on #663
So what's happening is that `gtwrap` is being installed to Python3.9 rather than 3.8 and that's why it is "missing". Let me do some CMake fixes.

[2021-01-12 02:54] varunagrawal commented on #663
@ProfFan I am transferring this issue to `gtsam-manylinux-build` since it is an issue there.

[2021-01-12 02:57] varunagrawal commented on #661
Hmm this seems to be a very specific case (though I may be wrong). I am not sure if having GTSAM enforce requiring external libraries to follow the same build type makes any sense. We should be able to build a Debug version of GTSAM while using a Release version of TBB (at least from a performance perspective).

[2021-01-12 11:24] NikolausDemmel commented on #661
Maybe. But I think it is the default (easiest) way to get TBB on macOS these days, so IMHO it's the default setup to compile GTSAM on macOS.

I don't really care about what libraries it uses (on Linux, where it seems it has both release and debug libraries shipped by TBB), but I agree this is a bit strange in the TBB find module, to enforce this. I'd rather expect it to choose release libraries un

[2021-01-12 15:58] dellaert commented on #661
Agreed!

[2021-01-14 03:33] hunkyu opened #666 "Use isam to add planefactor to prompt error"
## Description
Hello everyone, I am using planefactor and isam to report an error, but there is no problem using Gauss Newton? I think it’s weird, but I changed the optimizer, and it seems that the writing is problematic.

## Steps to reproduce

1. Add two P and X
2.ISAM optimization

#include <gtsam/slam/OrientedPlane3Factor.h>
#include <gtsam/slam/PriorFactor.h>
#include <gtsam/base/numericalDer

[2021-01-14 04:56] #666 closed

[2021-01-14 07:29] hunkyu opened #667 "Can isam perform accelerated processing?"
## Feature
Whether the Bayesian tree adjusts the node optimization position so that the optimization can be accelerated

## Motivation

I want to do a stress test to see the node size and the efficiency of isam optimization

## Pitch

When the number of factor nodes is greater than 5000, it contains three factors (betweent facotr gps factor prior factor), and isam update() takes 100ms. Is this nor

[2021-01-14 19:22] dellaert commented on #667
There are several mechanisms in iSAM that are governed by parameters. for `calculateEstimate` the wildfire threshold especially might matter to you. I suggest you read the paper thoroughly and examine what exactly makes this slow, and then come up with a concrete proposal if you think it is not yet implemented and will make a real difference.

[2021-01-15 01:57] hunkyu commented on #667
@dellaert  The iSAM parameter I use is like this   :
gtsam::ISAM2Params parameters;
        parameters.relinearizeThreshold = 0.01;
        parameters.relinearizeSkip = 1;
        gtsam::ISAM2DoglegParams dogleg_param;
        dogleg_param.setVerbose(false);
        parameters.setOptimizationParams(dogleg_param);

[2021-01-16 09:55] RamadanAhmed opened #672 "Using Vcpkg/conan for dependencies and third party libraries"
## Feature

use vcpkg/conan instead of system packaging for dependencies and third party libraries

## Motivation

System Packaging have the problem that it can't be updated till next release update of the system, or some custom repo with needed library. On the other hand we can use conan or vcpkg to build these library which is updated regularly, and if certain library build configuration is not

[2021-01-18 00:12] jlblancoc commented on #590
u18.04 (amd64) + clang-10 + ...
- boost 1.65 -> **segfault**
- boost 1.66 -> (could not find this version on the PPA)
- boost 1.67 -> **no crash**.
- boost 1.70 -> no crash.
- boost 1.74 -> build error (sigh)

So it seems that minimum Boost version should be 1.67, at least for clang.

cc: @varunagrawal  Should you perhaps update the README?

[2021-01-18 20:31] dellaert commented on #667
I suggest you read the paper thoroughly and examine what exactly makes this slow, and then come up with a concrete proposal if you think it is not yet implemented and will make a real difference.

[2021-01-19 21:40] varunagrawal commented on #672
Similar to #450

[2021-01-20 02:00] varunagrawal commented on #672
@RamadanAhmed I believe this request would fall into the [gtsam-packaging](https://github.com/borglab/gtsam-packaging) namespace. The current maintainers of that repo don't have expertise with Windows packaging and it is the only thing blocking this feature.

[2021-01-20 02:01] varunagrawal commented on #672
It seems like you are already well versed in this. Can you please submit a PR?

[2021-01-20 02:16] varunagrawal commented on #590
@chrisbeall encountered this issue for gcc as well, so if he can confirm that upgrading Boost to 1.67+ works, we can close this.

@jlblancoc created the PR! #681

[2021-01-22 05:25] varunagrawal commented on #590
Quick update: I tried this on an Ubuntu 16.04 docker image with GCC 5.4.0 and Boost 1.58 and I **cannot** reproduce the issue.

@chrisbeall am I missing something?

[2021-01-22 08:42] RamadanAhmed commented on #672
Ok I will try to do it but if I needed to edit many of the current Handle*.cmake or add new ones, should I do each one in separte PRs or just do it in one PR

[2021-01-22 15:52] ProfFan commented on #672
I do think this is a very significant design choice. I personally is not a big fan of vcpkg, and I am concerned that this will impact ABI compatibility with system packages.

However, if this can be done without any behavioral change, it should be acceptable.

[2021-01-22 17:41] varunagrawal commented on #672
I was under the impression that vcpkg would be used to create a homebrew like installation path for GTSAM on Windows. Looking at the [docs](https://github.com/microsoft/vcpkg/blob/master/docs/examples/packaging-github-repos.md) this seems like zero changes to any C++ code.

[2021-01-26 16:09] soulslicer opened #686 "GTSAM Docs images not loading"
I refer to:

https://gtsam-jlblanco-docs.readthedocs.io/en/latest/FactorGraphs.html

The images in the doc do not work. Instead what I see is:

|image: 2\_Users\_dellaert\_git\_github\_doc\_images\_hmm.png| Figure 1: An HMM, unrolled over three time-steps, represented by a Bayes net.

[2021-01-26 16:16] #686 closed

[2021-01-29 04:18] ToniRV opened #689 "ShonanAveraging compile error?"
Sorry for the badly formatted issue.
I think I got an error on the ShonanAveraging.cpp side

[code]

That's probably from Frank's latest paper?

[code]

Removing all Shonan* files makes gtsam compile just fine. @dellaert
Using  Ubuntu 16.04 :man_shrugging: if that helps

[2021-01-29 04:39] dellaert commented on #689
Hmmm, this should be possible, and this compiles fine on my Mac. It also survived 23 CI runs.

BTW, @jingwuOUO, I hope we're sure here that we do not create a very large dense matrix, right? I think Eigen does the right thing with expression templates, but we better be sure :-)

@ToniRV, the expression templates might also be the issue for compilation. No good idea what to do here except try a dif

[2021-01-29 04:52] ToniRV commented on #689
Nein, I get the same problem.
[code]
Is the CI testing on Ubuntu 16.04? I only see Ubuntu 18.04.
Am I too old? :smile:

[2021-01-29 04:58] ToniRV commented on #689
Ah, cleaning and re-building solves the issue...
Sorry for the noise!

[2021-01-29 09:51] #661 closed

[2021-01-29 09:58] NikolausDemmel commented on #661
Awesome, thanks! I verified that now `mkdir build; cd build; cmake ..; make` works as expected and picks up TBB if installed (via homebrew) on macOS.

[2021-02-02 15:50] ToniRV commented on #689
Cleaning and re-building resets the Eigen used to the one bundled in GTSAM (3.3.7)... but when using my system-wide Eigen (3.2.92) it breaks with:
[code]

[code]

[code]

I think this could be avoided without the user having to update Eigen?

[2021-02-03 04:41] dellaert commented on #689
Ah. How could it be avoided? Did you try the other order I suggested?

[2021-02-03 22:50] ToniRV commented on #689
Let me try...

[2021-02-03 22:54] ToniRV commented on #689
Ok, as trivial as it may sound, I had to tell Eigen that the identity matrix is sparse :smile:
`const Sparse C = pmEigenValue * Matrix::Identity(A.rows(), A.cols()).sparseView() - A;`
Let's see if CI doesn't complain.

[2021-02-03 23:16] dellaert commented on #689
Nice!

[2021-02-04 01:01] ToniRV commented on #689
#690 it works!

[2021-02-04 01:01] #689 closed

[2021-02-06 02:26] melhashash opened #692 "Typo in docs LieGroups.pdf"
In `LieGroups.pdf`, section 5.3, is the point `p` missing from the equation explained in the first scenario?

[2021-02-06 08:03] mikesheffler commented on #692
I believe you're right; under heading `1.`, `p` should be to the right of  `R^T`, correct?

@dellaert

[2021-02-07 03:48] melhashash commented on #692
yes, I think so. I have created a PR for the `LieGroups.lyx` file. https://github.com/borglab/gtsam/pull/693

[2021-02-07 09:46] mikesheffler commented on #692
I'm not sure what the deal is with the corresponding .pdf (Do *you* make it? Does someone else?), so I didn't approve it yet. Let's let someone else chime in.

[2021-02-07 17:33] #692 closed

[2021-02-11 04:34] heethesh opened #694 "Example of solving NLS with robust kernels in Python"
Can I use the Python wrapper of GTSAM to solve simple non-linear least square problems with robust kernels using LM or Gauss-Newton methods with known/manually computed Jacobians and error functions? Is there an example or something similar to help get started?

[2021-02-11 19:56] dellaert commented on #694
Please also ask in GTSAM user group, but yes: https://github1s.com/borglab/gtsam/blob/HEAD/gtsam/linear/tests/testNoiseModel.cpp

[2021-02-11 19:56] #694 closed

[2021-02-13 17:49] jlblancoc commented on #658
Have you considered presenting GTSAM to Google Summer of Code to have extra hands helping in this kind of topics? I could give you a hand as a mentor in case you decide to participate.

[2021-02-13 17:58] jlblancoc opened #695 "Negative sigmas in noise models: bug or feature?"
## Description

Using models like `gtsam::noiseModel::Isotropic::Sigma(2, -2.0);` doesn't launch any error or warning, despite the negative sigma value.
Experiments show that it works like a kind of "repulsion" factor. Is this a desired/planned (undocumented, however) behavior?

## Steps to reproduce

Run the test I have just uploaded to branch `bug-negative-sigmas`:

[code]

## Expected behavior

[2021-02-13 20:08] jlblancoc opened #697 "Pinhole camera factor for localization only"
## Feature

Having a factor where the pose of the camera is the only variable, with fixed landmarks and calibration.

## Motivation

Vision-based localization / tracking / etc.

## Additional context

I have already written such a factor by modifying the existing `GenericProjectionFactor`... would it be useful to integrate it into GTSAM? If yes: any preference on its name?

[2021-02-15 23:34] dellaert commented on #658
@jlblancoc I have zero cycles :-) If you want to do this, I fully support it! You are a GTSAM primary by now :-)

[2021-02-16 03:11] dellaert commented on #697
There is also one in unstable, and @lucacarlone is creating another one. We could probably benefit from coordinating :-)

[2021-02-16 09:58] jlblancoc commented on #697
:+1:

In gtsam_unstable, I found `ProjectionFactorPPP` and `ProjectionFactorPPPC`, which estimate *more* variables (body-camera pose), but landmarks are still an unknown too. I'll let Luca to decide whether his proposal in #696 makes this one #697 unnecessary.

[2021-02-16 17:30] jlblancoc commented on #658
Hmm... I could help you with the registration process, etc. since I've been through it in past years.
However, there is a key page that needs to be ready, by this Friday (Feb 19th): a wiki with the "list of project ideas".
If you, @varunagrawal , and the other developers want to fill this wiki page that I created based on an older one from our project:

https://github.com/borglab/gtsam/wiki/Ideas-

[2021-02-16 17:31] jlblancoc commented on #658
PS: project ideas may be based on some pending issues / PRs, or brand new ideas, etc.

[2021-02-17 14:08] dellaert commented on #658
OK, let me take a look and give a think. Do you have a list of projects you want to mentor?

[2021-02-17 16:44] soulslicer opened #699 "Unable to get Python examples to build"
## Description

I followed the instructions on https://github.com/borglab/gtsam/tree/develop/python but I am unable to get the python examples to compile

## Steps to reproduce

1. cmake .. -DGTSAM_BUILD_PYTHON=1 -DGTSAM_PYTHON_VERSION=3.5.2
[code]
2. make python-install
[code]

What am i doing wrong here? I am on Ubuntu 16.04 using system Python 3.5.2

[2021-02-17 16:45] soulslicer commented on #699
@varunagrawal Would like your help please

[2021-02-17 16:56] varunagrawal commented on #699
Seems like you're using a very old version of GTSAM? The Cmake output says "CYTHON_TOOLBOX" which we deprecated last summer.

[2021-02-17 16:57] soulslicer commented on #699
I am using the following branch:

`* (HEAD detached at 4.0.3)`

Should i switch to master?

[2021-02-17 17:10] soulslicer commented on #699
I pulled master and recompiled and i get the same error:

[code]

[code]

[2021-02-17 17:22] varunagrawal commented on #699
You should be using the `develop` branch.

[2021-02-19 14:43] varunagrawal commented on #699
@soulslicer does this work for you now?

[2021-02-19 14:45] varunagrawal commented on #658
I have a bunch of project suggestions. Things like getting the QP solver working, better examples from existing datasets, wrapper features and some old issues that we've basically put on the backburner. I'll update the Wiki page during my lunch break today.

[2021-02-19 15:04] dellaert commented on #658
It's a bit too late now. Focus on your A->B

[2021-02-19 15:08] varunagrawal commented on #658
Less work for me, plus I made a breakthrough on the URDF issue I was having so the A->B is progressing quickly.

[2021-02-19 18:14] jlblancoc commented on #658
Varun: my advice is, try to write down those project ideas in the wiki, in
your spare time, so they will help next year's proposal. But don't let this
distract you from whatever is your key goal now! :-)

Best

[2021-02-19 18:24] varunagrawal commented on #658
You're right @jlblancoc. I just saw your comments on this issue today morning, so replied in case this was time sensitive. 😊

[2021-02-23 20:32] mmattamala commented on #699
@varunagrawal  I faced a similar issue today while trying to build the python wrappers using the Docker instructions.

I realized that the problem seems to be caused by the last commit in the `wrap` package (8 days ago) and older CMake versions, since the `install` command used [here](https://github.com/borglab/gtsam/blob/bb479c2e387ed840a2aecd7c5a50f9859db08e48/wrap/CMakeLists.txt#L36) is using `

[2021-02-23 20:34] varunagrawal commented on #699
@ProfFan this was my comment on the review for your PR. 🙂

Should we revert to DESTINATION? I have no time right now so I can look at this next week.

[2021-02-24 15:42] ProfFan commented on #699
I think I have made that change but probably it's not synced? I am busy with IROS but can look into this later.

[2021-02-26 09:25] mc13756 opened #703 "gtsam prints pointers instead of values"
Hello. I'm new to gtsam and I try to run some of the c++ examples through a ROS node. I follow the tutorials from [here](https://gtsam.org/tutorials/intro.html). Whenever a print function is called (i.e. `result.print("Final Result:\n");`), instead of printing the actual values as shown in the tutorial, it prints addresses of the values (I think). This is how my results look like:

[code]
What can

[2021-02-26 12:47] mc13756 commented on #703
I managed to solve it by uninstalling and reinstalling the gtsam package from source. Check the answer [here](https://answers.ros.org/question/372754/gtsam-prints-pointers-instead-of-values/?answer=372852#post-id-372852).

[2021-02-26 12:48] #703 closed

[2021-03-01 11:06] nmahabadi opened #704 "Custom factor (unaryFactor) issue with initial heading"
## Description
It seems that when using a custom factor for GPS measurements (UnaryFactor class as in the instructions) with a prior node with initial heading, the solvers in C++ cannot optimize and converge to the solutions. Setting the heading to 0° however poses no issue and the solvers can converge after some iterations even with noisy initial estimates.  This has been tested both with synthet

[2021-03-04 03:06] klissanzmp opened #705 "Program Crashed using quaternions"
Hi,
I'm trying to use IMU factor to make predictions of robot poses and I want to enable quaternions.
I added `#define GTSAM_USE_QUATERNIONS` in `config.h` under gtsam folder, but my program crashed, displaying the following information:
[code]
The data i'm using is euroc MH_01_esay. The code i'm using is `ImuFactorsExample.cpp`. I modified the code to remove GPS factors. I was wondering if I was

[2021-03-04 23:31] dellaert commented on #704
Did you init test your derivatives? Numerous examples to do this with numerical differentiation. Or use the super-handy `EXPECT_CORRECT_FACTOR_JACOBIANS`in factorTesting.h

[2021-03-05 13:15] nmahabadi commented on #704
For this test I used the original UnaryFactor class from the LocalizationExample.cpp

[code]
The Jacobian is definitely correct for the given error function, however the question is if the formulated error function is valid. As  shown by the results of the test case, the optimizer cannot converge to the solutions...

[2021-03-05 16:18] dellaert commented on #704
I'm not so convinced about the Jacobian. How about quickly calling EXPECT_CORRECT_FACTOR_JACOBIANS now that you have everything set up? We might be surprised, as Jacobian is about the tangent space on the right.

[2021-03-07 23:24] SubMishMar commented on #213
Can bias stability and random walk used interchangeably? For example if my IMU dataset says that the bias stability is 0.0004 m/s^{2} then can I directly plug in the value where the expected unit is  m √Hz/s^{2} ?

I am a little confused about this.

[2021-03-08 07:20] mikesheffler commented on #213
Yes, there is a conversion necessary. I don't believe the conversion involves the IMU frequency.

Take a look at [this post on the Analog Devices forum](https://ez.analog.com/mems/f/q-a/88768/adxrs453-angular-random-walk-and-bias-stability) . That person is talking about a gyroscope instead of an accelerometer, but their question is fundamentally similar to yours. Look at  NevadaMark's answer. The

[2021-03-08 20:15] varunagrawal commented on #705
@klissanzmp can you please share your changes? I am able to run the vanilla program with `#define GTSAM_USE_QUATERNIONS` no problem. If I can reproduce this issue, I can help debug and fix it.

[2021-03-08 20:15] #627 closed

[2021-03-08 20:16] varunagrawal commented on #699
@ProfFan if you have the changes ready, can you please push them? I'll take care of the rest of this PR.

[2021-03-09 00:41] klissanzmp commented on #705
@varunagrawal Yes. The code is as follows. Basically, i removed GPS factor and read imu measurements from a file as the example did. Thank you.

[code]

[2021-03-09 01:12] ProfFan commented on #699
I don't...

[2021-03-09 01:15] ProfFan commented on #705
wait, we have fprintf in our examples? @klissanzmp Could you run valgrind on your code?

[2021-03-09 10:05] nmahabadi commented on #704
I didn't manage to get the `EXPECT_CORRECT_FACTOR_JACOBIANS `working, probably something do to with conan recipe which I am working on. But for the time being I used `testFactorJacobians` from `<factorTesting.h>` directly.
I tested to cases; one with no orientation and the other with 90° orientation:

**1.  No orientation:**
[code]

**result:** this is ok since testFactorJacobians returns `true`.

[2021-03-09 14:42] nmahabadi commented on #704
It seems that the expected Jacobian is as follows:
`H = [R 0]`
with `R` as the rotation matrix.

[2021-03-09 15:33] dellaert commented on #704
Indeed, this is what I suspected :-) Try correcting the factor and see whether everything works? If so, a PR with the change would be much appreciated.

[2021-03-09 15:40] nmahabadi commented on #704
I tested the factor with correct Jacobian and it seems to be working perfect with real data as well as synthetic ones. I will send a PR, but for my understanding gtsam expect to have error and Jacobian in tangent space right?

[2021-03-10 10:16] mc13756 opened #710 "How to create symbol keys in a loop?"
Hello. I'm new to gtsam and I'm trying to use it on a mobile robot application. I create a new odometry factor whenever the robot covers a certain distance. For every new node I want to create a symbol key (but each time with a different number). I don't want to use only integers since I'll use several types on factors in the future and it will be harder for the user to read. Here is a simplified

[2021-03-10 14:31] varunagrawal commented on #710
It seems like your `first_odom_msg` condition isn't being satisfied, which is why `initial.insert(x_prev, current_odom_1);` is not being called, thus explaining your error. What you are doing is correct otherwise and you can check for existing keys with `initial.exists(keyX)`.

This is also more of a question for the GTSAM Google Group. You would get a lot more help asking over there. For this rea

[2021-03-10 14:31] #710 closed

[2021-03-11 10:53] mc13756 commented on #710
I found my problem. I was trying to extract double values from the results with a for loop (variable keys as the counter), but this cannot work with the symbol keys. Thanks!

[2021-03-11 14:25] wolfv commented on #634
Adding

[code]

to LossFunctions.h and SubGraphBuilder.h fixes this issue.

[2021-03-11 14:31] wolfv commented on #672
I would also be interested in adding gtsam to conda-forge: we're working towards having many robotics packages on conda-forge and the robostack project. It's cross-platform (Windows, OS X and Linux) and already has many data-science and HPC libraries.
Contrary to vcpkg, conda it's a binary package manager: that means no build time for the users (like apt on Ubuntu or dnf on Fedora).

Here is a rec

[2021-03-11 16:08] varunagrawal commented on #705
@klissanzmp I am not able to reproduce the error. I advise you to set `GTSAM_USE_QUATERNIONS` in the CMake options and perhaps try again?

[2021-03-11 20:52] ProfFan commented on #705
No wonder this will crash, as GTSAM is not compiled to use quaternions. You cannot just change `config.h` and pretend :)

[2021-03-11 20:52] #705 closed

[2021-03-13 05:02] alliWong opened #714 "Unable to Build GTSAM Python Wrapper"
## Description

I followed the instructions on https://github.com/borglab/gtsam/tree/develop/python but I am unable to successfully
```cmake .. -DGTSAM_BUILD_PYTHON=1 -DGTSAM_PYTHON_VERSION=3.x.x ``` for python 3.9.2, 3.6.10, and 3.8.3.
I've also tried building the older version that worked with my acquaintance (4.0.0 and cython)

## Steps to reproduce

1. cmake .. -DGTSAM_BUILD_PYTHON=1 -DGTSAM_P

[2021-03-14 15:13] #699 closed

[2021-03-14 17:14] varunagrawal commented on #714
The CMake error message is helpful here:

[code]

Looks like your Anaconda installation is not providing the `PythonConfig.cmake` file, or the file is not in the environment path variable which CMake uses. This is a very custom issue since it depends on how your Python interpreter is set up, but my recommendation would be to see how (via Google or StackOverflow) to add that path containing the app

[2021-03-14 17:16] varunagrawal commented on #695
I personally would think it is valid, just not an intended or often-used use-case. You can have negative correlations and covariance in your data so being able to capture that for a specific application makes sense.

@dellaert thoughts?

[2021-03-14 17:19] varunagrawal commented on #714
@alliWong you're in luck. Apparently I encountered a similar issue in the past and I upvoted an answer on SO. Sharing it here for your convenience. https://stackoverflow.com/a/38121972/1236990

If you'd like, you can create a PR that adds this info to the README file and we'll gladly review and accept it (plus you get to be a GTSAM contributor!!). :slightly_smiling_face:

[2021-03-15 10:18] theBlan commented on #504
Hallo everyone , this problem touches one of my understanding problems with gtsam, that I think  I solved for me. But I’m not 100 % sure my solution is correct, so I look for a confirmation of the correctness. My problem addresses how to include a given covariance matrix in GTSAM (with consideration of proper variance-covariance propagation) and not to “invent” a covariance matrix of the observati

[2021-03-15 11:15] jlblancoc commented on #504
If your Jr is the adjoint, I think your conclusion is correct.

I'll try to add a PR with an example/unit test, following this issue and
yesterday's discussion on gtsam mailing list...

[2021-03-15 12:19] nmahabadi commented on #704
This is the PR for fixing the jacobina:
https://github.com/borglab/gtsam/pull/715

I think as an improvement, we can have UnaryFactor class as a stand-alone factor.

[2021-03-15 13:17] theBlan commented on #504
Okay, i really meant the right jacobian Jr that can defined like this

wn=norm(w)
Jr(w)= Identity(3,3)-(1-cos(wn))/wn^2 x Skew(w) + (wn-sin(wn))/wn^3 x Skew(wn) x Skew(wn)

In the case of the between factor w would be the measured rotation vector, that describes the orientation difference.

The adjoint of S03, when I’m not mistaken, is simple R (only 50 % sure), so I don’t think Jr equals the adjo

[2021-03-16 02:19] dellaert commented on #504
R is indeed the adjoint for rotations, see math.pdf.

Also, this PR might be (part) of what you are looking for:  PR #499
from the description:

[2021-03-16 03:35] alliWong commented on #714
@varunagrawal Thanks for the answer.

I did try to follow the suggestion given the link, but I am still unable to build pybind11. I've also manually set the path to PYTHON_EXECUTABLE, PYTHON_INCLUDE_DIR, and PYTHON_LIBRARY, so I wasn't too sure if it's due to my Anaconda system or the CMakeList.txt problem...

[2021-03-16 03:39] varunagrawal commented on #714
You mean the python interpreter, and not Pybind11?

You can try looking for those specific CMake files (e.g. use `locate` on Ubuntu/Linux). If you can't find them, you may want to check what build files you need anaconda to install.

[2021-03-16 03:40] varunagrawal commented on #714
Also, what version of CMake are you using?

[2021-03-16 03:40] alliWong commented on #714
Actually, I just reinstalled gtsam and was able to get it compiled working perfectly!

[2021-03-16 03:41] alliWong commented on #714
Thanks for the help and I'll also create a PR :)

[2021-03-16 04:36] varunagrawal commented on #714
Huh that's interesting. I wonder what the issue was but I'm glad it works out of the box for you now.

[2021-03-16 08:30] theBlan commented on #504
So I can conclude, that your second answer was right and your third was wrong. So only thing that is left to confirm is the mapping with the right jacobian Jr. Based on your paper "IMU Preintegration on Manifold for EfficientVisual-Inertial Maximum-a-Posteriori Estimation" (http://www.roboticsproceedings.org/rss11/p06.pdf) p.2 i strongly assume that my opinion of using Jr instead of the adjoint is

[2021-03-16 15:15] dellaert commented on #504
Assuming "you" above means "me" :-) Sorry, this is a long thread and I have little bandwidth to get into this now. Did you already read the blog posts by Mattias on gtsam.org and does that help this discussion?

[2021-03-17 04:43] #714 closed

[2021-03-17 04:49] varunagrawal opened #717 "Boost on Github Actions"
## Description

Boost is no longer supported by default on Github Actions images. The corresponding issue is https://github.com/actions/virtual-environments/issues/2667.

## Steps to reproduce

CI is currently broken and will be broken until we figure this out.

## Expected behavior

CI should have Boost installed in the environment.

## Environment

## Additional information

[2021-03-17 05:14] jlblancoc commented on #717
@varunagrawal I loved your "reaction" to the upstream issue :-)

[2021-03-17 05:16] varunagrawal commented on #717
The reasoning they are providing seems very artificial. "Not enough usage"? Do they expect every single Actions build to use Boost?

[2021-03-18 00:03] varunagrawal commented on #407
@ProfFan I checked the issue with `This` declarations and it seems to work fine. I believe we can close this issue. :slightly_smiling_face:

[2021-03-18 00:05] varunagrawal commented on #407
Nvm I encountered it again. I can fix it after I get the CI up and running again.

[2021-03-18 00:07] varunagrawal commented on #407
The `This` issue only happens when the class isn't templated, so that helps a lot.

[2021-03-18 14:27] varunagrawal commented on #717
@dellaert FYI

[2021-03-18 20:17] #717 closed

[2021-03-19 08:28] BioGeek commented on #204
Small note, in the [Colab notebook](https://colab.research.google.com/drive/1j2HgxVUDUfQEseLmke4Tk_LKiyJ87QjQ) by @ProfFan  [mentioned earlier](https://github.com/borglab/gtsam/issues/204#issuecomment-571344287), you have to change `gtsam.noiseModel_Diagonal.Sigmas`  to `gtsam.noiseModel.Diagonal.Sigmas` to get it to run correctly.

[2021-03-22 03:51] ameysutavani commented on #672
@wolfv +1 for getting gtsam on conda-forge. I recently switched to RoboStack (mamba + RoboStack + ros-neotic = :fire: ) from ros-melodic (and gtsam). I have gotten pretty much everything replicated in a mamba environment; the only missing piece of the puzzle for me is gtsam. I would love to help-out on testing if you create a recipe for gtsam on conda-forge

[2021-03-22 04:07] varunagrawal commented on #667
@hunkyu closing this for now. Please reopen if you'd like to explore this further.

[2021-03-22 04:10] varunagrawal commented on #180
Closing due to lack of a response. @erik-nelson if this is still an issue, please reopen.

[2021-03-22 04:13] varunagrawal commented on #672
@wolfv we already have a python package for GTSAM. Would that suffice?

[2021-03-22 05:25] ameysutavani commented on #672
@varunagrawal I had to modify @wolfv 's [patch](https://gist.github.com/wolfv/ab44fcfc164e3fbc88e10d40a7ba10ba) a little [bit](https://gist.github.com/ameysutavani/14ee405c299baeb01e3e42dce404d16b) for getting latest develop (74e4fc392) to compile with boost 1.74

Maybe #634 needs a follow-up fix before this can be compiled on conda-forge.

[2021-03-22 07:58] wolfv commented on #672
@ameysutavani thanks for the kind words! great that the robostack is useful for you!

@varunagrawal do you mean PyPI package? conda is not really python-specific, in fact you can ship any kind of binary (C, C++, Rust, Go ...) in a Conda-package. As such, a Python package on PyPI doesn't help much. Conda packages are more like Debian / RPM packages (but cross-platform).

I have an initial recipe th

[2021-03-22 10:37] wolfv commented on #672
Here is an initial recipe submitted to conda-forge: https://github.com/conda-forge/staged-recipes/pull/14339

I've tried to unvendor all libraries (except for metis).

We could also depend on TBB. Do you guys know if you're compatible with the latest 2021 TBB release? Others (gazebo etc.) are not yet.

[2021-03-22 11:25] wolfv commented on #672
btw it's kinda surprising that PyPI has an unreleased gtsam version, if I understand that correctly?

[2021-03-22 14:35] ProfFan commented on #672
Yes, there is a PyPI dev version of 4.1.1, but that should not be the default version you install by pip.

[2021-03-22 14:43] #180 closed

[2021-03-22 16:50] varunagrawal commented on #672
@RamadanAhmed @wolfv you might want to check out [gtsam-packaging](http://github.com/borglab/gtsam-packaging/). Currently it only supports Ubuntu PPAs, but the idea is that we can have CI systems in that repo that build and push to the various package indices.

I highly recommend creating PRs over there so we can regularly publish to vcpkg, conda-forge, homebrew, etc.

[2021-03-22 16:57] varunagrawal commented on #292
I haven't heard back back on the Metis issue and considering that `FindSeparator-inl.h` is in `unstable`, I would recommend just killing it/commenting it out since we don't have a current need for it.

@dellaert your thoughts please?

[2021-03-22 17:46] AndreV84 opened #722 "crash"
any insights?

[code]

[2021-03-23 12:09] wolfv commented on #672
if we have a package on conda-forge, bots will watch this repository and create an automated version bump on the "feedstock" git repository whenever a new version of gtsam is tagged. the packages on conda-forge have to come from the feedstocks (you could start your own channel where you publish gtsam though, and use a recipe in your git repo).

Here is such an feedstock for e.g. rosdistro: https:/

[2021-03-24 01:32] ameysutavani commented on #672
@wolfv Does the problem with test persist even with the patch?

[2021-03-24 01:34] carlmorgan opened #725 "Matlab wrapper fails to compile on develop due to header inclusion gtwarp vs wrap"
### Summary
Generated code in target_build/wrap/gtsam/gtsam_wrapper.cpp refers to gtsam/matlab.h and not the wrap/matlab.h location and thus fails to find during compilation.

[ To be researched further - it appears the matlab test suite is also stated failing between 4.0.2 and 4.0.3) - treating as a seperate issue ]

### Environment
Ubuntu Focal, Matlab 2020b Update1 based.  develop branch - 74e4

[2021-03-24 02:11] ProfFan commented on #725
@varunagrawal

[2021-03-24 03:21] carlmorgan commented on #725
Merged the PR for fix/wrapper-update ( 77a0fa476 )

Different errors

[code]

[2021-03-24 03:53] varunagrawal commented on #725
@carlmorgan thanks for raising the issue. I am actively working on refactoring the wrapper and I'll have a PR ready in a bit. Please bear with us.

[2021-03-24 03:56] carlmorgan commented on #725
Cool - looks like major surgery - we are ok on 4.0.2 for the moment and can provide a good test case for develop with the same (and additional internal) matlab wrappers, all on 2020Bu1 / Focal.

If different flavours of Ubuntu / Matlab are required let us know and I'll see what can be tested here.

[2021-03-24 03:57] varunagrawal commented on #725
Awesome! I'll have the PR ready in less than an hour, so if you can checkout the corresponding branch and test the bejesus out of it, I'll be a happy dev.

[2021-03-24 05:00] varunagrawal commented on #722
Can you please share the code you're using so we can reproduce? It's really hard to figure out what's happening from just this message.

In general, what this means is that your factor graph is under-constrained and/or singular, which leads to the Jacobian being singular and hence the optimization fails. You might be well served to include some priors or additional factors to constrain your proble

[2021-03-24 05:19] varunagrawal commented on #407
Also, FYI I fixed all the Matlab tests so the tests now run and they pass.

[2021-03-24 15:08] mertkaraoglu commented on #75
This issue is still relevant with the release 4.0.3 release. Disabling ["march=native"](https://github.com/borglab/gtsam/pull/4/files) solves it.

[2021-03-24 20:05] ProfFan commented on #75
Note to all future visitors: if two of your dependencies use Eigen, make sure they are using the same version and use the same compilation settings. This is an inherent issue with a header-only library (Eigen) and is in no way related to GTSAM.

NOTE: it is irrelevant whether you are using a dynamic library. Eigen with different settings = FAIL.

There is a flag in GTSAM that makes GTSAM use the s

[2021-03-25 09:03] carlmorgan commented on #725
Resolved with 30c84eabe

[2021-03-25 09:03] #725 closed

[2021-03-25 09:25] fhill122 commented on #99
Hi in my test, disabling march=native does solve this issue, BUT this requires any other libraries to be compiled with march=native as well.  When the depency list is long, this could be tedious...
A simple case could be the libpcl installed from apt in ubuntu: despite "disabling tbb, enabling march=native", compiling with pcl would still produces sanitizer errors.