[2021-03-25 14:17] #667 closed

[2021-03-25 17:12] ProfFan commented on #99
@fhill122 Please open a new issue with *all* your logs and reproduction steps according to the issue template. If you think it's related to this issue, link to this issue in your issue. Thanks :)

[2021-03-26 21:19] varunagrawal commented on #407
This issue has been resolved :tada:

[2021-03-26 21:19] #407 closed

[2021-03-26 21:20] varunagrawal commented on #486
This is now an issue on `wrap` so I'm closing this.

[2021-03-26 21:20] #486 closed

[2021-03-30 08:46] carlin314 opened #728 "Python Wrapper of custom factor definition"
## Feature

Python Wrapper of custom factor definition

## Motivation

When I come across problem that I need to custom define factor(the whole project is based on python),I don't find python factor custom sample, if there is one, please tell me.

## Pitch

Python Wrapper of custom factor definition

## Alternatives

**repo**: [minisam](https://github.com/dongjing3309/minisam)

**paper**: [miniSAM

[2021-03-30 16:22] ProfFan commented on #728
Custom factors can be implemented with gtsam-python-project. There isn't support for custom factor fully in Python yet. Maybe this can be implement as an optional feature by using https://pybind11.readthedocs.io/en/stable/advanced/pycpp/object.html#calling-python-methods ?

[2021-03-30 16:26] dellaert commented on #728
@ProfFan you give contradictory info :-) AFAIK we *cannot* make custom factors in python. But @mattking-smith was really interested in this as well. Matt?

[2021-04-05 14:48] dwisth commented on #561
Just realised this issue was still open - it was resolved in #680.

[2021-04-05 14:48] #561 closed

[2021-04-08 09:36] hunkyu opened #737 "OrientedPlane3Factor 'gtsam::IndeterminantLinearSystemException'"
## Description
terminate called after throwing an instance of'gtsam::IndeterminantLinearSystemException'
  what():
Indeterminant linear system detected while working near variable
8070450532247928988 (Symbol: p156).

It is relatively random when it runs for a period of time.

## Steps to reproduce

1. add(PriorFactor<OrientedPlane3>(gtsam::symbol('p',0), lidar_plane, plane_noise));
this->initial_e

[2021-04-15 08:35] chennuo0125-HIT opened #740 "gtsam::OrientedPlane3Factor cant get result !!!"
## test code:
[code]

## result
after run the code, i cant get result after 30 minutes, but the code is always runing with 100% cpu usage !!!

## Environment
gtsam version: 4.0.0-alpha2
os: ubuntu16.04

[2021-04-15 09:16] chennuo0125-HIT commented on #740
has solved by update gtsam version to latest one

[2021-04-15 09:16] #740 closed

[2021-04-16 03:44] varunagrawal commented on #283
Resolved via #362

[2021-04-16 03:44] #283 closed

[2021-04-16 03:45] varunagrawal commented on #722
Closing due to lack of response. If this is a code issue, please feel free to reopen, else asking on the Google Group might be better.

[2021-04-16 03:45] #722 closed

[2021-04-16 03:45] varunagrawal commented on #568
@pshea76 reminder!

[2021-04-16 03:54] varunagrawal commented on #216
This is in the docstring for `Constrained`:

[code]

Since constrained noise models can have certain sigmas be zero, calling `WhitenInPlace` on a constrained model will lead to numerical instability, so this is indeed expected behavior.

[2021-04-16 03:55] #216 closed

[2021-04-16 03:56] #704 closed

[2021-04-19 13:12] yiping opened #746 "SO3 matrix log when theta is close to zero"
https://github.com/borglab/gtsam/blob/43e8f1e5aeaf11890262722c1e5e04a11dbf9d75/gtsam/geometry/SO3.cpp#L279-L281

Should line 281 be

`magnitude = 0.5 - tr_3 / 12.0;`

instead?

[2021-04-20 16:54] gchenfc opened #748 "Values-based FunctorizedFactor (for Python supercharging)"
## Feature

now that wrap supports functionals, could we make a factor in GTSAM similar to FunctorizedFactor but that accepts a functional on a values object rather than with a fixed list of actual types (i.e. in the style of NoiseModelFactor instead of NoiseModelFactorN)?

This would supercharge the python API so that you could write basically any custom factor you want in pure python without any

[2021-04-20 20:04] pshea76 commented on #568
Hey Varun,

Sorry for the delay, forgot about this.  The few lines of code below should be enough to recreate the issue.  The issue would be easy to resolve if NonlinearFactor's rekey method was virtual.  Any good reason why it isn't?

Best,
Pat
'

    #include <gtsam/nonlinear/LinearContainerFactor.h>
    #include <gtsam/slam/BetweenFactor.h>
    #include <gtsam/geometry/Point3.h>
    #include <g

[2021-04-24 19:13] quantumhub opened #756 "testShonanAveraging: Failure during make check"
## Description
A failure in automatic test during make check. Is it serious?

108/242 Test #108: testShonanAveraging ....................***Failed    0.02 sec
/home/kepler/Documents/GTSLAM/gtsam-release-4.1.0/gtsam/sfm/tests/testShonanAveraging.cpp:171: Failure: "expected -4.1072555088854512e-14 but was: -2.0463630789890885e-12"
There were 1 failures
...
The following tests FAILED:
	108 - testShon

[2021-04-25 19:19] lppllppl920 opened #757 "Manually updating the optimization variables inside ISAM2, is it possible?"
Hi,

First of all, I want to thank the authors for creating such a great and easy-to-use optimization framework and I have enjoyed it a lot!

I am trying to develop a 3D dense SLAM with this framework and found that sometimes the optimization speed on closing a large-scale detected global loop is slow. There is a certain closed-form global loop closing algorithm that I want to use to manually modi

[2021-04-26 09:33] bloom256 commented on #380
Perhaps ldconfig should be called after installing gtsam. See https://www.debian.org/doc/debian-policy/ch-sharedlibs.html#s-ldconfig

[2021-04-29 01:45] yeweihuang opened #759 "How to get the matrix value of a noiseModel::Robust variable?"
I want to get the covariance of BetweenFactor<Pose3> variables, which is a Cauchy noise model. I could print the covariance on the screen by print() function, but how to get the value as an Eigen matrix?

[2021-05-03 11:29] cynosure4sure commented on #380
Thank you this fixed the problem.

[2021-05-04 19:17] varunagrawal commented on #759
You can call `->noise()` (assuming you are using the default shared_ptr) which will give you the underlying noise model. You can directly access the covariance matrix from the noise model.

If you have more questions, please ask them on the Google Group. You'll get a faster response there.

[2021-05-04 19:17] #759 closed

[2021-05-04 19:19] yeweihuang commented on #759
Got it, thank you! Will try the Google group next time!

[2021-05-07 15:13] Skydes opened #764 "Custom factors & Python packaging"
Hi there,

I have been playing with the Python API recently and I am really in awe of how neat it is! Coming from Ceres, everything seems so easy with GTSAM. Huge thanks to the team for pulling this :)

I want to optimize camera poses/calibration via reprojections while keeping the 3D points fixed (similar to https://github.com/borglab/gtsam/issues/697). There is no factor for this and I want to a

[2021-05-07 19:19] ProfFan commented on #764
On (1), I think you can use zero covariance which will make the constraint an equality constraint :)
On (2), #748 is on my table now, I will start implementing it maybe tomorrow.
On (3), we currently do not use conda for distribution, but it should be fairly straightforward (contributions welcomed!)

[2021-05-10 19:41] pshea76 commented on #757
Hey,

I am by no means an authority on this page, but I was able to implement this by creating my own solver that inherits from ISAM2.  It was pretty complicated to figure out, but heres how I did it:
[code]

Basically how it works is we update isam2's internal linearization point, set the delta w.r.t. the linearization point to zero and mark that variable for re-elimination.  When we modify the l

[2021-05-12 10:21] Skydes commented on #764
Thanks for the quick reply.
1. For large graphs I observe that a zero covariance gives `inf` cost, but a `1e-8` sigma works fine.
2. That would be awesome! On our side I can think of many cases for which this would be useful.
3. I might look into it then.

[2021-05-12 21:10] ProfFan commented on #748
OK, I have a working prototype here: https://github.com/ProfFan/python-factor-test

If anyone wants to test it, just build like any other python project.

I'll start upstreaming if there is no objection to the API.

@gchenfc @varunagrawal @dellaert @Skydes

[2021-05-12 21:11] ProfFan commented on #748
Example code is in https://github.com/ProfFan/python-factor-test/blob/master/python/tests/test_custom_factor.py

Excerpt:
[code]

[2021-05-16 17:56] lppllppl920 commented on #757
Thank you so much, Pat! This is very helpful!

[2021-05-16 18:00] #757 closed

[2021-05-25 15:28] HMellor opened #768 "integrateMeasurement() data frame unclear"
## Description

In [CombinedImuFactorsExample.cpp](https://github.com/borglab/gtsam/blob/ab92779b25b04b376fbbd1846bbbd21904c50e7a/examples/CombinedImuFactorsExample.cpp#L26) it is stated that the IMU data is provided aligned to NED (the navigation frame).

However, the documentation for [gtsam::PreintegratedCombinedMeasurements::integrateMeasurement()](https://gtsam.org/doxygen/4.0.0/a03435.html#a

[2021-05-25 16:11] zarathustr opened #769 "Compilation Failed on Mac OS X Big Sur with TBB 2021.2.0"
The current default TBB version installed using Brew on Mac OS X Big Sur is 2021.2.0. However, when using this library, the cmake system of GTSAM will report missing file of /usr/local/include/tbb/tbb_stddef.h. This file has been deprecated in TBB 2021. The correct configuration should be done by installing TBB 2020 via:
`` brew install tbb@2020``

After that, in cmake/HandleTBB.cmake, we may need

[2021-05-27 05:51] akshay-krishnan opened #770 "Cal3Bundler calibrate() jacobian unit test failure"
## Description

The Jacobians of the calibrate() method of Cal3Bundler fail the numerical derivative unit test for certain calibration and input values. Specifically, they fail for the default value of Cal3Bundler i.e f = 1 with 0 distortion.

## Steps to reproduce

I've added a couple of unit tests in a branch [here](https://github.com/borglab/gtsam/blob/f64ef4ed4239371ad7e6fea008a10e95587c8584/g

[2021-05-27 13:57] dellaert commented on #770
@varunagrawal take a look if you have time?

[2021-05-27 14:41] #697 closed

[2021-05-27 18:55] tmcg0 commented on #768
Measurements should be provided in the body frame.  I think the example file comment is just misleading---perhaps the referenced comment line should end names in X, Y, Z instead of N, E, D.

[2021-05-27 20:03] mikesheffler commented on #768
Agreed. Saying 'N, E, D', may have been the author's way of describing a coordinate system that could perhaps be more accurately described as 'forward, right, down'. At least, I know I've made that specific whoopsie :)

[2021-05-28 15:37] tmcg0 commented on #768
@HMellor you could always make a PR that cleans up that comment. :) clarity is always a plus.

[2021-05-28 15:41] tmcg0 commented on #746
This is probably worth someone from the GTSAM team getting their eyes on. In practice this wouldn't affect the computation much because abs(tr_3) is always <1e-7. But there does seem to be an inconsistency between the comment at line 280 and the code at 281. I'll try to track down what it should be and post here.

[2021-05-28 16:06] tmcg0 commented on #746
original function for magnitude is:
`magnitude = f(theta) = theta/(2.0*sin(theta))` # See [Blanco](https://jinyongjeong.github.io/Download/SE3/jlblanco2010geometry3d_techrep.pdf).

taylor series expansion of f(theta) at theta=0 should be:
1/2 + theta^2/12 + 7*theta^4/720 + H.O.T.

I'm a little bit rusty and unsure what's happening in the code. Is it that for small theta we're assuming that tr(R) ~

[2021-05-28 19:07] dellaert commented on #746
OK, so, the angle `theta` is a function of the trace *t*, which ranges from -1 to 3. Here is [Wolfram alpha's plot](https://www.wolframalpha.com/input/?i=acos%28%28t+-+1.0%29+%2F+2.0%29+):

![image](https://user-images.githubusercontent.com/10515273/120030639-b91bc700-bfc5-11eb-959c-f4f3faf12bce.png)

We are interested in getting the Taylor series of `theta/(2.0*sin(theta))` as you said, but in *t

[2021-05-28 19:52] ProfFan commented on #746
I remember doing this math when dealing with Cayley and stuff long long time ago. What I remember is that it's because the original form cannot be evaluated at tr_3 = 0, so one needs to not use the formula in first branch, but the original form to devise this taylor expansion.

[2021-05-28 20:15] tmcg0 commented on #746
Glad I'm not the only rusty one here :)

So here's a snippet from Blanco:
![image](https://user-images.githubusercontent.com/31974575/120036742-36473c00-bfc6-11eb-8b96-388f88914a79.png)

We're calling magnitude the `theta/(2 sin(theta))` term. Let's call `t=tr(R)`
And `theta=acos((t-1)/2)`
So in full messy form, `magnitude = f(t) = acos((t-1)/2)/(2 sin(acos((t-1)/2)))` which I think is ugly but Wo

[2021-05-29 04:13] bryanhpchiang opened #772 "Failing examples on 20.04"
Ubuntu 20.04 - built gtsam from the develop branch earlier today.

When running the examples (specifically the StereoVO one [here](https://github.com/borglab/gtsam/blob/develop/examples/StereoVOExample.cpp)), I'm getting an undefined symbol error:

[code]

I found out what the symbol represents, but not sure how to fix it:

[code]

Any suggestions would be appreciated!

Here's a minimal setup to r

[2021-05-29 05:06] bryanhpchiang commented on #772
Checking out 4.0.3 and building that from source worked instead.

[2021-05-29 05:18] bryanhpchiang commented on #772
Confirmed that Cython examples also work on 4.0.3.

[2021-05-29 11:19] fedetask opened #773 "Redo data association on graph"
I developed a Landmark based SLAM using the `NonlinearFactorGraph` and `LevenbergMarquardtOptimizer` and it works pretty well. I am now trying to correct bad data associations:

Assume a landmark `l` is measured twice and, due to noise, two landmarks `l_0` and `l_1` are created in the graph. GTSAM is able to correctly optimize their position, such that after optimization `l_0` and `l_1` are placed

[2021-05-29 14:44] ProfFan commented on #772
Note that you should NOT use a Makefile for GTSAM-related projects if you are not super familiar with GTSAM internals.

We recommend you use CMake and include GTSAM with `find_package`.

If you still want to know what went wrong, please first build with CMake, and then `make VERBOSE=1` to get the correct g++ arguments.

[2021-05-29 14:46] ProfFan commented on #773
Note that you are not supposed to `rekey`, but you can remove and add factors from/to a graph, no issues there. Just making copies of the factor is enough.

Hope this helps :)

[2021-05-29 14:51] ProfFan commented on #746
@tmcg0

Wolfram Alpha may suffer from the same problem :) This limit is not easy to calculate, especially for CAS systems, if you don't give hints to them.

Could you put up a simple PR with more through documentation? Many thanks!

[2021-05-29 15:56] dellaert commented on #746
Awesome. Tim, if you can do a small PR with code correction that would be fine, any additional docs would be nice to have, but you could also just refer to this issue.

[2021-05-29 18:01] tmcg0 commented on #746
@ProfFan @dellaert will do, probably early next week. I'll probably add an analytical derivation to this issue and then reference the issue in a comment in the code in case anyone wants to see it.

[2021-05-29 20:33] bryanhpchiang commented on #772
The Makefile was just for the minimal reproduction.

The error occurs on the official examples under build/examples when I built GTSAM on the current develop branch.

[2021-05-30 02:06] varunagrawal commented on #772
I built the examples on my Ubuntu 20.04 machine and I cannot reproduce the error.

@bryanhpchiang can you please try using the CMake based build? I suspect some linking is not happening correctly.

[code]

[2021-05-30 02:45] bryanhpchiang commented on #772
For sure, just tried building the `develop` branch again. The specific commit is

Here's what I ran (I use the Python bindings):
[code]

Result:
[code]

Here's the full result from `cmake`:
[code]

[2021-05-30 04:23] varunagrawal commented on #770
From my understanding, this is because we ignore radial distortions in the initial value of `pn` in the `calibrate` method.
https://github.com/borglab/gtsam/blob/f64ef4ed4239371ad7e6fea008a10e95587c8584/gtsam/geometry/Cal3Bundler.cpp#L102
This causes the `pi` (the image coordinates) and `pn` (the intrinsic coordinates) to be identical leading to this issue.

When performing finite differences via

[2021-05-30 04:25] varunagrawal commented on #770
Fun fact: I am currently reading a lot of papers about camera calibration models for Skydio. This was a good issue for me to solve. :smile:

[2021-05-30 04:27] varunagrawal commented on #772
Okay, I've been using Clang-9 rather than GCC. Let me switch as get back to you. I don't think there is any other major difference (I use Boost 1.72.0).

[2021-05-30 10:14] bryanhpchiang opened #776 "gtsam_unstable not exporting SmartStereoProjectionPoseFactor"
I'm trying to run the [SmartStereoProjectionPoseFactor example](https://github.com/borglab/gtsam/blob/release/4.0.3/gtsam_unstable/examples/SmartStereoProjectionFactorExample.cpp) through the Python bindings, but it seems like the factor class itself is not exported from the header file:

https://github.com/borglab/gtsam/blob/release/4.0.3/gtsam_unstable/gtsam_unstable.h

Is there any way I can st

[2021-05-30 13:23] varunagrawal commented on #772
Interesting. It works on GCC for me as well, I'm a bit confused at this point.

[2021-05-30 15:25] varunagrawal commented on #568
@pshea76 awesome, that really helped! I figured out the issue and have opened PR #777 to fix it. Thanks for all your help.

[2021-05-30 17:24] ProfFan commented on #772
I think it's something related to multiple GTSAM versions. 5 cents you have a global install of GTSAM that is not the same version as the source.

[2021-05-30 18:04] varunagrawal commented on #772
That's a great suggestion. Perhaps some of your 4.0.3 install is still lingering in your system.

[2021-05-30 19:36] ProfFan commented on #746
Actually I found out that Maxima solved the Taylor series automagically...

![image](https://user-images.githubusercontent.com/5358374/120117728-9bcd3100-c15c-11eb-8c33-564297ffcf3f.png)

Sympy and Wolfram Alpha both failed.

[2021-05-30 20:38] bryanhpchiang commented on #772
Got it - that definitely makes sense since I might have installed GTSAM before with `apt-get`.

- How would I check for and remove a global install of GTSAM?
- Why would having multiple versions cause an error - is it the dynamic linking to the GTSAM .so file?

Thanks!

[2021-05-30 22:55] bryanhpchiang opened #778 "Missing `marginalizeLeaves` for iSAM2"
Ubuntu 20.04
gtsam 4.0.3

Using Python bindings.

According to the 4.1.0 documentation, there is a marginalizeLeaves function:

https://gtsam.org/doxygen/a04096.html

It's also in the 4.0.2 documentation as well:

https://gtsam-jlblanco-docs.readthedocs.io/en/latest/_static/doxygen/html/classgtsam_1_1ISAM2.html

But it's not available in the 4.0.3 version.

Minimal reproduction:
[code]

[2021-05-31 05:09] #568 closed

[2021-05-31 14:04] ProfFan commented on #772
1. If you installed with apt-get, uninstall
2. Search for libgtsam.xxxxx in /usr/lib and /usr/local/lib, make sure there is none
3. make sure there is no /usr/include/gtsam and /usr/local/include/gtsam
4. Yes, it's a dynamic library, for details see ldconfig documentation.

[2021-05-31 14:05] ProfFan commented on #778
Check `gtsam.i` to see if it is exported to Python. If it is not then you can export it yourself by adding the entry in gtsam.i

[2021-05-31 15:40] fedetask commented on #773
I'm not sure I understood. Let's say I have the following graph, made of two poses `p1` and `p2` and two landmarks `l1` and `l2`
[code]

Now, after optimizing the graph, I realize that `l0` and `l1` are actually the same landmark. I therefore want to remove `l1` and make the second `BearingRangeFactor` to point to `l0`.

What I am trying to do is the following:

[code]
Now, this throws a `Attempti

[2021-05-31 15:50] fedetask commented on #773
While writing the comment above, I realized that simply doing
[code]
works. The problem is that this would require me to store all parameters of the measurement in order to re-create it with the new symbol.

Therefore, my question becomes: Is it possible to either modify one of the factor symbols in-place, or is it possible to get the parameters of the factor returned by `graph.at()` so that I can

[2021-05-31 19:22] varunagrawal commented on #772
Also check out `apt purge`

[2021-06-01 05:15] akshay-krishnan commented on #770
Nice catch Varun! So the "expected" Jacobian computed numerically is the one that is incorrect?

[2021-06-01 11:05] bryanhpchiang commented on #778
Got it, will do — thanks!

Sent via Superhuman ***@***.***>

On Mon, May 31, 2021 at 7:05 AM, Fan Jiang ***@***.***> wrote:

[2021-06-01 12:12] varunagrawal commented on #770
Yes

[2021-06-03 18:14] #778 closed

[2021-06-03 18:15] ProfFan commented on #776
Similar to #778

[2021-06-03 18:15] #776 closed

[2021-06-03 18:17] ProfFan commented on #773
Yes, please look at the code, every factor should expose a method to get the keys and params. If not, please add one and feel free to make a PR :)

[2021-06-03 18:17] #773 closed

[2021-06-03 18:17] ProfFan commented on #772
Closing as stale

[2021-06-03 18:17] #772 closed

[2021-06-03 18:19] ProfFan commented on #769
Note you can use enviroment variables to do this, just add `TBB_PATH` or similar to your cmake command line.

[2021-06-03 18:19] #769 closed

[2021-06-03 18:56] #746 closed

[2021-06-04 09:30] mc13756 opened #782 "Compilation error with Range factor"
I want to create constraint for the distance between two Point2 variables (i.e. fixed distance of 1m). I'm trying to do it with a range factor like this:

`double door_width(1.0);

static SharedNoiseModel width_noise(noiseModel::Unit::Create(1));
      graph.emplace_shared<RangeFactor<Point2, Point2>>(next_door_num_left, next_door_num_right, door_width, width_noise);`

with next_door_num_left and

[2021-06-04 14:45] #770 closed

[2021-06-04 16:06] ProfFan commented on #782
Range is a trait and is not defined for `Point2`s. I think what you actually want is a BetweenFactor.

[2021-06-04 17:26] dellaert commented on #782
No, we just had this discussion on the Google group. It’s quite easy to add this trait for Point2, look at Point3.h. I offered that solution in the Google group and even asked for a PR, which might be forthcoming.

[2021-06-04 17:27] dellaert commented on #782
Not a bug, but a feature request. Solution discussed in Google group.

[2021-06-04 17:27] #782 closed

[2021-06-04 21:37] dellaert commented on #782
Will be fixed by #783

[2021-06-05 16:50] johnwlambert opened #784 "Shonan key bug"
Suppose 4 images are captured by a camera rig at 4 separate poses, `wTi0, wTi1, wTi2, wTi3`.

Suppose relative rotations are estimated between poses (1,2), (2,3), (1,3), but pose 0 is orphaned. If keys are not ordered consecutively, from 0,...,N-1, then Shonan will throw the following error:

[code]

However, I think arbitrary ordering should be allowed, in keeping with how keys can be arbitrary n

[2021-06-07 15:12] dellaert commented on #784
Unfortunately, @johnwlambert, I think this assumption goes deeper than just this piece of code, which just *checks* the assumption. Several other functions that construct matrices related to the convergence certificate also use the fact that the graph is connected and keys are `0..N-1`. There are about 10 places where nrUnknowns is used to dimension a sparse or dense matrix. I'm not saying it can'

[2021-06-07 15:17] johnwlambert commented on #784
Yeah this is what I was discovering also as I looked through the other Shonan code in Shonan.cpp.

@dellaert I don't see a way to do this without a re-mapping of keys to matrix rows/cols either on the GTSAM end, or on the GTSFM end, to remove this assumption.

I assume we are doing that elsewhere in GTSAM for arbitrarily-named keys in the factor graph, when forming a sparse system. Is there someth

[2021-06-07 18:49] #728 closed

[2021-06-07 18:49] #748 closed

[2021-06-07 18:49] #764 closed

[2021-06-07 18:52] ProfFan commented on #764
Python factor is now in develop, please try and test it hard so we can know what to change :)

[2021-06-07 18:52] ProfFan commented on #748
Python factor is now in develop, please try and test it hard so we can know what to change :)

[2021-06-07 22:24] nathangong95 opened #786 "Should this body velocity also consider angular velocity when doing linear velocity coordinate transformation?"
https://github.com/borglab/gtsam/blob/b1e91671fdf366c3d714c68f29df04db12b889f1/gtsam/navigation/NavState.cpp#L71

See reference: https://physics.stackexchange.com/questions/197009/transform-velocities-from-one-frame-to-an-other-within-a-rigid-body

[2021-06-08 13:26] luokerenxxz opened #787 "Can not find PythonConfig.cmake when cmake Matlab wrapper"
The installation without Matlab wrapper is fine. But I got a cmake warning, which means cmake in “warp” can not find python, when setting ‘-DGTSAM_INSTALL_MATLAB_TOOLBOX=ON -DGTSAM_PYTHON_VERSION=3.6’.  This leads to an error when compilling.

I am working on a clean Ubuntu 18.04 using VMWare virtual machine.

I tried to set

'-DPYTHON_INCLUDE_DIR=$(python3 -c "from distutils.sysconfig import get_

[2021-06-08 14:54] ProfFan commented on #787
Did you follow the tutorials *exactly* and install the package `python3-dev`?

[2021-06-09 07:26] luokerenxxz commented on #787
Yes, I followed the instructions in https://github.com/borglab/gtsam/blob/develop/matlab/README.md, and updated the wrap library. Also I tried `sudo apt-get install python3-dev`, it showed that python 3.6.9 has already been installed.

[2021-06-10 02:46] #768 closed

[2021-06-10 02:52] varunagrawal commented on #756
This is not really a bug since both expected and actual values are pretty close to zero, `1e-12` vs `1e-14`. This could be because you installed the GTSAM package first, it is using an older version of some dependency and so there is some numerical stability stuff going on in the back.

@quantumhub you can just change the tolerance value of the test to get it to pass. Anything less that `1e-10` is

[2021-06-10 02:53] varunagrawal commented on #756
Closing since this is not really a bug in the code and may have to do with user's system set up.

[2021-06-10 02:53] #756 closed

[2021-06-10 09:00] Tengyun-Mo opened #790 "undefined reference to `boost::program_options::validation_error::get_template"
I got an error when I make the code.
[code]
How to fix it?I'm sure that boost already has been installed.

[2021-06-11 02:21] Tengyun-Mo commented on #790
That's a problem about the version of g++.I changed g++ version to g++-7 and the problem solved.The steps of operation is as follows:
1.` sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 70 --slave /usr/bin/g++ g++ /usr/bin/g++-7`
2. `sudo update-alternatives --config gcc`
3. Change the g++ version according to the instruction

[2021-06-11 02:27] Tengyun-Mo commented on #790
That's a problem about the version of g++.I changed g++ version to g++-7 and the problem solved.The steps of operation is as follows:
1.` sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 70 --slave /usr/bin/g++ g++ /usr/bin/g++-7`
2. `sudo update-alternatives --config gcc`
3. Change the g++ version according to the instruction

[2021-06-11 02:27] #790 closed

[2021-06-11 07:51] Jontseh commented on #666
I encountered a similar problem. Have you solved it

[2021-06-14 18:23] ProfFan commented on #787
Maybe @varunagrawal has some idea on this? Also @luokerenxxz Please post your entire log in text here.

[2021-06-17 08:18] acxz commented on #208
Update:

Looks like intel released a better migration guide: https://docs.oneapi.com/versions/latest/onetbb/tbb_userguide/Migration_Guide/Task_API.html

Based on that I updated my attempt: https://github.com/acxz/gtsam/commit/825fe742528afce354778f9466a6bfbd8e65971f
Tests success has risen from 75% to 85% from my previous attempt. (Pardon the print statements)

[2021-06-21 21:31] OoooL19 opened #801 "Couldn't run the example code"
I tried to run ```make CameraResectioning```, but I got this. I am new to gtsam. I try to learn the gtsam from the example. Can anyone help me with this issue? I am on ubuntu 18 and using eigen 3.3.9.  I use developer branch of the gtsam. Thank you.
[code]

[2021-06-21 23:13] ProfFan commented on #801
Closed as non-issue.

Please follow the documentation on how to build examples properly **with CMake**. If you have further questions please use the mailing list.

[2021-06-21 23:13] #801 closed

[2021-06-21 23:38] OoooL19 commented on #801
Yes, I did followed the example Readme, but I have this error.
[code]
When you said the use the mailing list. Did you mean email you guys? I am sorry I am also new to the github.

[2021-06-21 23:42] ProfFan commented on #801
Please post your entire CMake command line and log so we can diagnose the issue.

[2021-06-22 00:02] OoooL19 commented on #801
In the examples folder I did
[code]
[CMakeOutput.log](https://github.com/borglab/gtsam/files/6690073/CMakeOutput.log)

[2021-06-22 00:34] ProfFan commented on #801
This is not the CMake log, sorry but what I mean is the command and result that appeared on your terminal.
Please look at the Issue template for details.

[2021-06-22 01:03] OoooL19 commented on #801
I am sorry, these are the output.
[code]

[2021-06-22 02:49] ProfFan commented on #801
This is not correct, but I think the documentation may need more clarification.

What you should do is run these commands under the *top* folder, not inside `example` folder.

[code]

We'll update the docs later.

[2021-06-22 03:20] OoooL19 commented on #801
Ok, In that case, I already did the build in the top folder before. Is there anything I missed, so I cannot do ``` make CameraResectioning ```

[2021-06-22 03:34] ProfFan commented on #801
Again, please submit the console logs.

[2021-06-22 03:42] OoooL19 commented on #801
yes, the first pose is the log I had when I ran the ```make CameraResectioning```
or you want the ```ccmake ..``` log?

[2021-06-22 04:05] ProfFan commented on #801
1. remove everything
2. clone fresh repo
3. `mkdir build && cd build && cmake ..` (don't use ccmake if you don't understand CMake), logs
4. `make`, logs
5. `make CameraResectioning`, logs.

[2021-06-22 05:47] OoooL19 commented on #801
This is the log I had when I tried to run ```make CameraResectioning``` after I did the previous steps.
[code]

[2021-06-22 09:02] whu-lyh commented on #240
Thank you, this do works.
BTW,  i still wander this solution is official solution that i have tbb as shared libraries and boost is complied as static library as default. Why should i do this "add_library(${libname} STATIC IMPORTED)" operation seeming funny to me :)

[2021-06-22 14:40] ProfFan commented on #801
You did not remove everything and start from clean. Make sure you post ALL logs from step one.

[2021-06-23 14:46] jaelrod opened #803 "aarch64 Nonlinear Optimizer Issues"
## Description

I have some unit tests that chain together some BetweenFactor using an odometry mock, inject some slightly contradictory supplemental evidence in the form of other factors, such as a unary factor akin to the "GPS-like" factor from LocalizationExample.cpp, and finally use LevenbergMarquardtOptimizer to `optimize()` the factor graph and assert the result.

For example, a test might s

[2021-06-23 15:01] jaelrod commented on #803
Somehow (I think it is maybe happening when the LM optimizer is initialized) the left operand of `Rot2*Rot2` has an uninitialized `c_` and `s_` during an invocation before the optimizer takes its first iteration. I think what's happening is that when this uninitialized rotation gets inverted and multiplied during the optimization iterations, the cosine and/or sine of the rotation component of pose

[2021-06-23 15:06] ProfFan commented on #803
Yes I agree this could be uninitialized memory. Could you run the unit tests with clang sanitizer on?

[2021-06-23 15:26] jaelrod commented on #803
Despite having clang installed on my Jetson, it looks like GCC is the compiler in use both when building my entire project as well as when building only gtsam with `make check`.

[2021-06-23 15:43] ProfFan commented on #803
Interesting that `-march=native` is unsupported, let me try on my Jetson Nano.

[2021-06-23 17:21] #208 closed

[2021-06-23 17:55] jaelrod commented on #803
(Currently building it on my Jetson with GTSAM_BUILD_WITH_MARCH_NATIVE OFF. Build seems to be proceeding, but it takes long enough to complete that I thought I would go ahead and mention that it is currently underway over here with
[code]
)

[2021-06-23 18:19] ProfFan commented on #803
Maybe you can try cross compiling on PC. The Jetson CPU cores are very slow.

[2021-06-23 18:19] ProfFan commented on #803
*also compiling on my Jetson Nano here

[2021-06-23 19:32] OoooL19 commented on #801
Hi, after I tried couple times. I finally make it works. Thank you so much.

[2021-06-23 21:34] jlblancoc commented on #803
Any hints out of running `make testXXX.valgrind` on a native aarch64 system?

[2021-06-25 14:21] jaelrod commented on #803
Things seem to have successfully compiled on my Jetson using clang-6 with `-fsanitize=memory` on, but I don't really see anything different when running gtsam tests. Any luck on your side, @ProfFan ?

@jiblancoc thanks for the suggestion! I am still getting re-acquainted with C++ so did not know about valgrind. Running `make testNonlinearOptimizer.valgrind` on amd64 looks pretty clean (some of the

[2021-06-25 16:30] ProfFan commented on #803
Thanks for the report! Could you also run valgrind with this: https://www.valgrind.org/docs/manual/mc-manual.html#opt.track-origins

BTW, are you using JetPack? I think JetPack is still on Ubuntu Bionic whose Boost version has some bugs that prevents `ubsan` and `asan` from working. (I tried and failed on my Jetson Nano).

[2021-06-27 11:45] lacie-life opened #804 "unregistered class - derived class not registered or exported when use gtsam::Values and gtsam::NonLinearFactorGraph"
## Description

I face error when use gtsam::Values and gtsam::NonLinearFactorGraph : "terminate called after throwing an instance of 'boost::archive::archive_exception'
  what():  unregistered class - derived class not registered or exported"

I exported with boost:

#include <gtsam/base/serializationTestHelpers.h>
#include <gtsam/nonlinear/NonlinearFactorGraph.h>
......

BOOST_CLASS_EXPORT_GUID(

[2021-06-28 08:57] brunoeducsantos commented on #694
I tried to add a costumize Jacobian in Python as follows
[code]

where

[code]
And I got the following error ,

` error_map() got multiple values for argument 'jacobians' `

Isn't it possible to have costumize Jacobians ?
Thanks,
Bruno

[2021-06-28 13:14] dellaert commented on #694
@ProfFan

[2021-06-28 13:26] matiasfrosini opened #805 "Make python-install doesn't finish installing"
Hi everybody,

I have problems installing gtsam with python wrap. Installation freezes when is building gtsam.cpp.o. It stays like that for hours and does not finish installing.

`cmake .. -DGTSAM_BUILD_PYTHON=1

-- Found Eigen version: 3.3.7
-- GTSAM_POSE3_EXPMAP=ON, enabling GTSAM_ROT3_EXPMAP as well
-- Building 3rdparty
-- checking for thread-local storage - found
-- Could NOT find GeographicLi

[2021-06-28 14:24] jaelrod commented on #803
Excellent to know about track-origins, thanks for highlighting that option! I will definitely have to try that out.

After much tedious debugging, I found that the functions returning by-value instances of Rot2 were the culprit of the garbage values I was seeing. Values of cosine & sine of rotation looked how they should during construction of the instances to be returned, but when the value was a

[2021-06-28 14:58] jlblancoc commented on #804
Start from this [source code](https://github.com/borglab/gtsam/blob/develop/tests/testSerializationSLAM.cpp).

Make sure of adding boost macros for every single class and template instance you use in your program! It’s really hard to debug since boost error messages doesn’t help, but in the end it works 😉

[2021-06-28 16:23] ProfFan commented on #694
@brunoeducsantos Note this is not the correct way to use `CustomFactor`.

Look at the example:

[code]

`jacobians` are references to the GTSAM C++ list of Jacobians, just as in the C++ factor. They are not to be filled with `partial`, but to be filled by the error function.

[2021-06-28 19:29] jaelrod commented on #803
And yes, this is on JetPack, boost version is 1.65.1

[2021-06-28 19:54] ProfFan commented on #803
Interesting find! I think this deserves a more formal investigation, but could you put up a quick PR to fix this first? Thanks a lot!

[2021-06-28 21:05] dellaert commented on #803
@ProfFan I think a PR is pre-mature. We first need to find the root cause, as per the discussion on the user group (please read up on it :-))

[2021-06-29 08:22] brunoeducsantos commented on #694
Thanks a lot @ProfFan  ! It works well now .
Thanks for your help!

[2021-06-29 17:27] jaelrod commented on #803
@dellaert, @ProfFan

I am not sure how much more there is to uncover here. I reverted all local changes with the exception of the addition of the copy constructor I added, `Rot2(const Rot2& r)`, and all of the unit tests on my end are now passing on my Jetson (the ones described as having some `BetweenFactor<Pose2>` chains constrained by some custom derived unary factors along the way).

I am rebu

[2021-06-29 17:57] jaelrod commented on #803
Jetson is taking forever to build the rest of the tests as usual, but here are the resulting disassembly in amd64. It has been some time since I have worked with assembly and have never actually worked with aarch64 instruction set yet, but you can see in the `objdump` from amd64 a hint that I am on the right track with respect to return value optimization: you can see that without the user-defined

[2021-06-29 18:45] jaelrod commented on #803
100% of `make check` passes on Jetson.

[2021-06-29 19:46] dellaert commented on #803
wow, awesome!

[2021-06-29 20:39] jaelrod commented on #803
@dellaert Thanks!

Below are the resulting variations of aarch64 instructions for the same function. I mentioned above that I am no expert in assembly, and certainly not in aarch64 flavor, so anyone feel free to correct me, but it does seem to at least share a similar difference pointed out above between the amd64 instruction variations that hint at copy elision: when implicit copy constructor is

[2021-06-29 21:16] jaelrod commented on #803
https://github.com/borglab/gtsam/pull/806

(seems I am unable to create the link between issue & PR)

[2021-06-30 11:21] alongqiyue opened #807 "SO3 dexp problem"
Accoding to formula 7.37a in State Estimation for Robotics,  the left jacobian of SO3 is different with code implementation in gtsam?
dexp_ = I_3x3 - a * K + b * KK;(gtsam implementation)
dexp_ = I_3x3 + a * K + b * KK;(Derived from formula 7.37a)
which one is right?

[2021-06-30 12:40] sneik555 opened #808 "PinholeCamera symbols not exported"
## Description
I want to use PinholeCamera from gtsam, but I have linking error:

gtsam.lib(gtsam.dll) : error LNK2005: "public: __cdecl gtsam::PinholeCamera<class gtsam::Cal3_S2>::PinholeCamera<class gtsam::Cal3_S2>(class gtsam::Pose3 const &,class gtsam::Cal3_S2 const &)" (??0?$PinholeCamera@VCal3_S2@gtsam@@@gtsam@@QEAA@AEBVPose3@1@AEBVCal3_S2@1@@Z) already defined in my_lib.lib(File.obj) [path_

[2021-06-30 16:05] HMellor opened #809 "#800 causes Levenberg-Marquardt optimisation to crash"
## Description

When updating to the latest commit of the `develop` branch my existing codebase that uses GTSAM started crashing when running LM.

There is no stack-trace, only an error saying the process has died:
[code]

I have narrowed it down to 6ee17c2ed7b2a89f4a25ae568009bb9385061ad1 which comes from #800.  Checking out the previous commit causes the program to no longer crash.

It may help

[2021-07-01 13:28] Bazs commented on #75
Note on the "disable `march=native`" solution: this will decrease the runtime performance of GTSAM according to the documentation here: https://github.com/borglab/gtsam/pull/4/files

I've found that *enabling* `march=native` in my project which uses GTSAM instead of disabling it in GTSAM also solves the problem for me, and keeps/improves the runtime performance. This is at the cost of potential lo

[2021-07-01 22:27] jlblancoc commented on #75
Hi,

Please, if you could put together a minimal example of where a build of gtsam with march=native enabled does *not* propagate the flag to a client project, it would be great for debugging the issue. Thanks.

[2021-07-06 19:25] ProfFan commented on #809
@acxz Could you take a look?

[2021-07-06 19:26] ProfFan commented on #809
Also, @HMellor could you provide a minimal reproducer (one cpp file, no other dependencies)?

[2021-07-06 21:45] ScottMcMichael opened #810 "Serializing ISAM2"
## Description

I am trying to back up an ISAM2 solver object to disk but it does not work properly once it is loaded back from file.  This is the gtest code I used to test it (I can also provide the includes and exports used):

[code]

The exception text is:  Requested variable 'x0' is not in this VectorValues.

## Environment

I am using gtsam version 4.0.3 on Ubuntu 20.04.

## Additional inform

[2021-07-07 07:24] Edwinem commented on #807
So be aware that GTSAM uses the right jacobian. Not the left one.

So I am guessing both are correct.

[2021-07-07 13:12] dellaert commented on #807
@alongqiyue see comment by @Edwinem ; if you find a formula for right-jacobian that is in conflict, feel free to re-open this issue.

[2021-07-07 13:12] #807 closed

[2021-07-07 13:31] dellaert commented on #809
@acxz this was your PR - could you weigh in? @HMellor thatnks for letting us know the TBB versions you used.

[2021-07-07 13:56] acxz commented on #809
This might be an issue similar to why the testGncOptimize test failed once out of 100 runs. I could take a deeper look into this issue with a minimal reproducing example.

In the meanwhile, it may be better to just revert my PR.

[2021-07-07 17:01] varunagrawal commented on #810
This seems straightforward to fix by adding the necessary Boost Name-Value-Pairs (`nvp`). Am I missing something?

@ScottMcMichael I don't have a lot of bandwidth right now to fix this for the next few weeks, but if you submit a PR I can provide reviews and recommendations.

[2021-07-08 18:28] ToniRV opened #812 "Compilation error with boost::placeholders"
## Description

Using `boost::placeholders` in 16.04 is not supported (out of the box).
Is there a reason why you use `boost::` and not `std::` ?

[code]

## Steps to reproduce

1. Compile in fresh 16.04 (docker ideally)

## Environment

Ubuntu 16.04

[2021-07-08 18:31] ToniRV commented on #812
I think the offending commit is: https://github.com/borglab/gtsam/commit/5a2ff198f0b8d5a7200354d900ce04713ea6aacb

[2021-07-08 19:25] ProfFan commented on #812
#796 is the related PR. I think a workaround like https://forum.freecadweb.org/viewtopic.php?t=47636 is enough to fix this.

[2021-07-08 23:07] varunagrawal commented on #812
Huh looks like `std::placeholders` is supported in C++11. Let's update it!

[2021-07-08 23:07] varunagrawal commented on #812
@acxz tagging for visibility.

[2021-07-08 23:09] varunagrawal commented on #808
Make a PR!! Your option b solution is the correct one, but we don't use Windows in the lab so don't really have ways to check this. The fix is simple, plus you can call yourself a GTSAM contributor. :slightly_smiling_face:

[2021-07-08 23:38] varunagrawal commented on #812
@ToniRV FYI the minimum version of Boost we support is now 1.67 due to issues with serialization in prior versions (there is some issue in this repo detailing this). Ubuntu 16.04 comes with 1.58, so it is not officially supported.
The best course of action would be for you to install Boost 1.67 or above. Closing since this is not a GTSAM issue (per se).

[2021-07-08 23:58] ToniRV commented on #812
Ok, thanks.
I'd still strongly suggest using `std::` for everything.
Is there a reason why you use `boost::bind` or `boost::placeholders`?

I agree for serialization it is needed (we do use it as well in Kimera), but for binding and placeholding? I don't think it is necessary, no?
I'm curious to know if I'm missing a bug I'm unaware of?

[2021-07-09 00:25] ProfFan commented on #812
I don't think there is any except maintaining API stability. `boost::bind` does have many differences against `std::bind`, but I think they do not matter in our use case (need confirm).

[2021-07-09 02:04] varunagrawal commented on #812
@ToniRV I agree with you. I actually tried doing a global replace of bind and placeholders from boost to std, but I ran into some compilation errors which didn't make sense to me. My guess is that the functional returned by boost and that returned by std have some differences so this would be more effort than I have the cycles for.
Can you create an issue for this? I'd like to get to it some day,

[2021-07-09 18:52] johnwlambert opened #815 "CMake handling of a missing TBB leads to crash"
On Mac, I would expect a missing TBB to be handled gracefully. Instead, cmake crashes:

[code]
WIth the following error report

[code]

Environment:
Python 3.8.10
macOS Big Sur, Version 11.2.3

[2021-07-09 20:14] ScottMcMichael commented on #810
Created PR #816

[2021-07-10 12:02] berndpfrommer commented on #812
Is this PR what's breaking the xenial build on the ubuntu packaging server (note to @jlblancoc)?
[code]

[2021-07-10 13:05] varunagrawal commented on #812
Yeah. Xenial has an older version of boost which has this issue as well as some serialization bugs. Would it be recommended to revert the PR or somehow get Boost 1.67 as the correct dependency?

[2021-07-10 13:56] varunagrawal commented on #815
The error message says it all

[code]

Either you haven't turned off the TBB flag or your TBB install is messed up somehow.

[2021-07-10 13:58] varunagrawal commented on #812
I'm reopening this since I found the main differences for bind between boost and std, and will be making a PR this weekend.

https://stackoverflow.com/questions/10555566/difference-between-c11-stdbind-and-boostbind

[2021-07-10 15:23] johnwlambert commented on #815
Hi @varunagrawal, thanks for taking a look. It looks like I was trying `-DGTSAM_WITH_TBB=0` instead of `-DGTSAM_WITH_TBB=OFF`. We could clarify that in the docs.

But I guess my two cents are that if TBB is truly optional, then CMake should be able to gracefully check if it's found, and if not, should set the flag to `OFF` itself and proceed with a successful compilation.

[2021-07-10 15:27] ProfFan commented on #815
I think the current thing should be documented better but the behavior should not change: one could accidentally build a GTSAM without TBB and think he is building with it, leading to serious performance regressions.

[2021-07-10 15:39] johnwlambert commented on #815
Fair point. I took a crack at clarifying the docs: https://github.com/borglab/gtsam/pull/818

[2021-07-10 15:59] varunagrawal commented on #815
I believe CMake setting flags based on internal logic can be a bad idea since then the behavior is no longer opaque. The user will be wondering why CMake is trying to find TBB when the flag was never set. If TBB is not found at all, then CMake does handle it correctly and lets the user know.

In general, the issue is more that TBB is currently default to ON, whereas the correct default (for it to

[2021-07-11 01:07] #815 closed

[2021-07-11 03:45] Tahiti410 opened #820 "segmentation fault if too many variables and constraints."
## Description
Segmentation fault if too many(about 140k) constraints and states.

I guess it's related to the resources release(recursive) in descrutors.
## Steps to reproduce

1. check/set the stack size of your machine by `ulimit -s 8192`
2. Replace the code in example/LocalizationExample.cpp by code in Additional information.
2. cd build
2. build an run the demo program by make -j8 Localizatio

[2021-07-11 03:47] Tahiti410 commented on #820
cc @ProfFan thanks~

[2021-07-11 13:58] ProfFan commented on #820
Hi @Tahiti410 , by "Master code of gtsam" do you mean `master` or `develop`? `develop` is the latest branch.

[2021-07-11 14:33] #812 closed

[2021-07-11 14:35] varunagrawal commented on #812
@ToniRV @berndpfrommer can we check if the latest develop works for your respective use cases? Please do let me know so I can make the required fixes. :slightly_smiling_face:

[2021-07-11 16:57] ToniRV commented on #812
It works, thank you!

[2021-07-12 00:01] Tahiti410 commented on #820
Sorry, it's `develop` branch

[2021-07-12 02:58] ProfFan commented on #820
I think this is also related to #809. A race condition caused the stack to overflow. @acxz @varunagrawal We should probably revert #800 for now to unbreak `develop` and find the ultimate cause.

[2021-07-12 02:59] ProfFan commented on #820
In the meantime, @Tahiti410 could you try the fix mentioned in #809 ?

[2021-07-12 03:25] ProfFan commented on #820
Though this can be a issue of the multifrontal solver in the presence of large chains like the one in this reproducer. I am not sure.

[2021-07-12 03:43] ProfFan commented on #820
I can reproduce this with even `num_states=1350`. It happens at random so this is definitely a TBB issue.

[2021-07-12 03:51] ProfFan commented on #820
Maybe this:
[code]
should be rewritten to not use recursion.

[2021-07-12 03:54] ProfFan commented on #820
Ok, by using `ulimit -s 65535` I don't get crashes anymore. So this is not a TBB issue. @Tahiti410

But still it would be great if we can do this without needing to change ulimit.

[2021-07-12 11:45] #804 closed

[2021-07-12 15:30] berndpfrommer commented on #812
Nightly build succeeded.

[2021-07-12 16:30] varunagrawal commented on #812
Yayy! The only unfortunate thing is that std::optional is C++17, else we would have come very close to potentially eliminating boost as a dependency.

[2021-07-12 17:05] ToniRV commented on #812
That would have been great indeed!
I did manage to replace boost::optional by just using pointer semantics:
- Optional input? `const T* foo`
- Optional output? `T* bar`

And then the code is the same:

- `if(foo) compute(*foo);`
- `if(bar) *bar = T();`

But boost::optional makes things explicit...  despite the extra verbosity.

[2021-07-12 17:21] ProfFan commented on #812
`boost::optional` is much more powerful than just a pointer, for example they do not carry lifetime information. In general raw pointers should be avoided unless absolutely necessary.

I think a good alternative is a simple header that implements `optional` in pure C++11, with a suitable license so that we can embed into GTSAM.

[2021-07-12 17:32] ToniRV commented on #812
:smile:  so in my experience, the discussion btw `boost::optional` or pointers can last for a long long time without a clear winner...
It's up to you, but here are my two cents:
- Pros for using pointers are:
-- no external dependency (unless c++17)
-- less verbose
- Cons for using pointers are:
-- old-fashioned un-explicit code, if you don't tell your developers they won't necessarily know what i

[2021-07-12 17:38] ToniRV commented on #812
Btw @ProfFan, raw pointers are totally fine when they are not mindlessly heap-allocated with `new`, and they are part of the google c++ code-style for input/output and output from functions.

[2021-07-12 20:46] varunagrawal commented on #812
I managed to find (via StackOverflow) [a repo](https://github.com/TartanLlama/optional) for C++11 compatible `optional`. We can always alias `tl::optional` to `gtsam::optional` and later update the alias to `std::optional` if and when we decide to be C++17 compatible.

[2021-07-12 22:45] ProfFan commented on #812
I second `tl`, it's the one with best standard conformity among all the choices: https://github.com/martinmoene/optional-lite/issues/61

[2021-07-13 19:27] dellaert commented on #812
All, Why are we getting all excited here ? There are more dependencies on boost, so unless this is the *last* boost dependency I am not keen on changing this or bringing in tl...

[2021-07-14 15:44] ProfFan commented on #368
@varunagrawal

[2021-07-14 15:48] #204 closed

[2021-07-15 15:27] ProfFan commented on #787
@luokerenxxz Do you still have this issue?

[2021-07-17 18:06] #809 closed

[2021-07-19 14:46] ProfFan commented on #165
@gchenfc Friendly ping :)

[2021-07-19 14:49] #810 closed

[2021-07-19 15:55] ProfFan commented on #448
Maybe we should try GitHub discussions? @varunagrawal @dellaert

[2021-07-19 15:58] ProfFan commented on #433
Ping @gchenfc

[2021-07-19 16:02] ProfFan opened #824 "Drafting 4.1 Release"
The `develop` branch has been pretty stable now, so it's high time that we actually release a version 4.1.0 of GTSAM.

The Python packages are now built automatically on https://github.com/borglab/gtsam-manylinux-build/actions. Please download the artifacts there and test with your code base.

Outstanding issues and PRs:
- [x] #595
- [x] #403
- [x] #842
- [x] #188 (This is done, we just need to fi

[2021-07-19 16:02] #121 closed

[2021-07-19 16:20] varunagrawal commented on #448
Is that a new GitHub feature? Anything that doesn't require too much manual effort (like discourse) and that doesn't need me to always use my Gmail to login would be great.

[2021-07-19 16:24] ProfFan commented on #448
https://github.com/borglab/gtsam/discussions I just enabled it. Next is to add a BIG RED NOTICE on the readme so people don't post questions in issues. :robot:

[2021-07-19 23:15] carlmorgan opened #825 "Python gtwrap: ModuleNotFoundError: No module named 'loguru'"
## Description
Build failure for gtsam wrapper - additional dependency added / not checked for / installed.

Probably introduced as part of commit 4c410fcd0ebe1869400f6ea601e21792da74f019 by @varunagrawal

gtwrap/matlab_wrapper/wrapper.py:14
+from loguru import logger

## Build log
[code]

## Expected behavior
To complete compile :)

## Environment
Ubuntu Focal Fossa 20.04 with MatLab 2020b.

## A

[2021-07-20 00:02] varunagrawal commented on #825
Can you do a `pip install loguru` and try again? I am pretty sure I configured CMake to install the python dependencies (even setup.py should do it for us) but I guess this is specific to your python environment.

[2021-07-20 00:03] varunagrawal commented on #825
Basically the problem is that we use loguru for logging in the wrapper and while installing the wrapper, it should also be installed as a dependency.

Knowing more about your python environment and version would be super useful.

[2021-07-20 00:51] carlmorgan commented on #825
Understand the loguru is the dependency / issue.

Stock Focal platform, gcc 9.3.0 / Python 3.8 etc

Questions:
* Is it really needed?
gtwrap/matlab_wrapper/wrapper.py and tests/test_matlab_wrapper.py are the only imports I can see, and only tests uses for a change to info logging.

wrap/tests/test_matlab_wrapper.py
[code]

* Installing pip requirements into the host OS isn't a great solution in ou

[2021-07-20 02:05] ProfFan commented on #825
@varunagrawal Maybe we should add a wrapper on `logger.log` and make loguru an optional dependency?

[2021-07-21 16:08] varunagrawal commented on #825
@carlmorgan thanks for the input. It seems like `loguru` isn't quite needed, and reducing dependencies is always a good idea. Let me remove it.

[2021-07-22 19:50] ProfFan commented on #595
@varunagrawal  Do you think this should be in 4.1 or not?

[2021-07-22 20:34] varunagrawal commented on #595
Yes it should. I've not had the cycles to look into this deeply but Toni has done a great job making this reproducible so we should address this.

[2021-07-22 22:10] jlblancoc commented on #824
Sure! I just edited it to add the 2nd and 3rd items in the "nice to have" section ;-)

[2021-07-24 14:54] #825 closed

[2021-07-25 19:37] varunagrawal commented on #824
System Eigen to `ON`? That seems suspect since we might get more issues about Eigen related errors from people who don't read error logs.

[2021-07-25 20:03] ProfFan commented on #824
It's twofold:
- `ON`, and we get issues from people with bad Eigen installs
- `OFF`, and we get issues from ABI compatibility and mysterious errors originated from different options of Eigen.

I think `ON` is slightly better, since these should mostly be `it doesn't work` type of issues...

[2021-07-30 21:17] doublestrong opened #833 "Are two entries of the Jacobian matrix in Pose2::ExpmapDerivative wrong?"
https://github.com/borglab/gtsam/blob/158d279d59201f79fac78d80465332ec1914aeec/gtsam/geometry/Pose2.cpp#L163

Hi, are the entries around the top right corner wrong for computing the jacobian d(x,y,theta)/d(v1,v2,alpha)? (v1, v2, alpha) is a tangent space vector.
The entries are
[code]
and
[code]

I checked and derived the J_l and J_r on Chirikjian11book2, pg.36. I found that J_r[0, 2], J_r[1, 2],

[2021-07-31 13:24] varunagrawal commented on #595
@ToniRV I took a look at this issue again (apologies for the delay) and I can't reproduce it. I am wondering if the fixes in the interim have resolved this issue.

Can you please try this example with the latest `develop`?

[2021-07-31 14:00] varunagrawal commented on #786
You have a fair point. The transformation from nav to body frame should be an Adjoint transform (using `navTbody` as the representational pose) and not a simple rotational transform.

Can you please make a PR with a corresponding unit test?

[2021-07-31 21:57] geoeo opened #834 "Better Windows 10 Build Manual"
## Feature

Better Windows 10 Installation/Build Manual

## Motivation

Not sure about Cmake gurus, but I personally could not get this thing to build on Windows 10.
And it is stated that it is a supported platform.

There are multiple steps of 3rd party libs that have to be built (Boost, Metis) and even then I found that
I had to edit the CMakeLists.txt to get it to, at least, accept my CMake con

[2021-08-01 02:43] asa commented on #824
Is there a python osx wheel I could test for this build? I can't seem to get it to build locally for me. Pip installs an old build (4.0.3).

[2021-08-01 03:45] varunagrawal commented on #787
Closing due to lack of a response. Please re-open if the issue persists.

[2021-08-01 03:45] #787 closed

[2021-08-01 03:47] varunagrawal commented on #461
@acloitre any updates on this?

[2021-08-01 03:50] varunagrawal commented on #448
We can close this since @ProfFan has enabled Github Discussions on this repo.

[2021-08-01 03:50] #448 closed

[2021-08-01 13:11] ProfFan commented on #824
@asa https://github.com/borglab/gtsam-manylinux-build/actions

Click artifacts and download

[2021-08-01 14:19] #808 closed

[2021-08-01 14:24] varunagrawal commented on #834
We already have one: https://github.com/borglab/gtsam/blob/develop/INSTALL.md#windows-installation

You need to make sure Visual Studio is able to find Metis and link to it (aka this is a pure linker issue). On Linux, we can do `sudo ldconfig` so you may want to google something similar for Windows.

[2021-08-01 14:24] #834 closed

[2021-08-01 14:42] varunagrawal commented on #803
@jaelrod you can link from the drop down in the right side. Closing since this has been resolved!

[2021-08-01 15:10] geoeo commented on #834
Thanks for the link. I seem to have missed that. A note about the 3rd party libs which have to be built separately would be nice imho.

Thanks again.

[2021-08-01 15:26] asa commented on #824
I was able to do that and successfully install an artifact, thank you. These actions are not run on develop branch as far as I see however.  I suppose a branch will be cut for 4.1 in a pr and the artifacts will be built then... Looks like I should keep banging on getting my local builds to work...  These artifacts get me relatively recent bits though.   Thanks!

[2021-08-02 08:12] acloitre commented on #461
Hello @varunagrawal,
My application ended-up not needing a fisheye lens and I did not implement the change listed above.
I expect this to change in the coming months, and in which case, I will update this post.
Best regards,
Audren

[2021-08-02 08:17] varunagrawal commented on #461
Fair enough. I'll close this for now, please reopen if and when things change.

[2021-08-02 08:17] #461 closed

[2021-08-02 10:00] epicjung opened #837 "gtsam_unstable IncrementalFixedLagSmoother.h vtable error"
## Description
Hi, I am trying to use "IncrementalFixedLagSmoother" in the GTSAM unstable. The compile error occurs when I compile a c++ program as follows:
**Version 1:**

[code]

**Version 2:** (This compiles fine)
[code]

The version 2 works fine, where there are no parameters in the constructor. However, when I input parameters as in Version 1, the terminal shows something like this:

[code]

[2021-08-04 19:18] geoeo commented on #834
P.s The build on windows is failing on 4.03 maybe thats part of the problem

[2021-08-04 20:08] varunagrawal commented on #834
Gotcha. You may want to try the develop branch since we've made lots of improvements for Windows support since. I wrote up that doc after weeks of trying to figure out the right way to build on Visual Studio so if you have any feedback/input, I'd highly welcome a PR. :)

[2021-08-07 13:41] geoeo commented on #834
I had to disable the `ShonanAveragingCLI.cpp`  example to get it to compile on windows 10 develop -  4.1rc. But it works now! I can file an issue request with the output if thats of interest to you

[2021-08-09 12:19] varunagrawal commented on #834
Yeah absolutely! I actually like writing docs, what I hate is developing for Windows. :sweat_smile:

[2021-08-09 19:37] geoeo opened #840 "ShonanAveragingCLI example fails to build on Windows 10 on version 4.1rc"
## Description

ShonanAveragingCLI does not compile on Windows 10 4.1rc.
 I removed the example for the build process via
`gtsamAddExamplesGlob("*.cpp" "elaboratePoint2KalmanFilter.cpp;ShonanAveragingCLI.cpp;" "gtsam;${Boost_PROGRAM_OPTIONS_LIBRARY}")`

for the CMakeLists.txt in the examples folder in order to compile.

(Disabling eloboratePont2KalmanFilter was already there)

## Steps to reproduc

[2021-08-10 21:39] dishank-b opened #841 "gtsam.utilities.extractPoint2() doesn't work"
gtsam.utilities.extractPoint2(Values) return empty array, even if Values have Point2 variables.

## Steps to reproduce

1. `initial = gtsam.Values()`
2.  `initial.insert(1, gtsam.Pose2(0.0, 0.1, 0.1)`
3.   `initial.insert(2, gtsam.Point2(0.0, 0.1))`
4.   `gtsam.utilities.extractPoint2(initial)` returns `array([], shape=(0, 2), dtype=float64)`
5.  Where as `gtsam.utilities.extractPose2(initial)` re

[2021-08-10 23:33] jlblancoc commented on #590
Does #681 imply that this issue could be closed now?

[2021-08-11 01:43] varunagrawal commented on #590
I believe that to be the case.

[2021-08-12 00:41] varunagrawal commented on #590
Closing this due to lack of movement and since we've added it to the list of known issues.

[2021-08-12 00:41] #590 closed

[2021-08-12 00:59] varunagrawal commented on #841
Valid bug. The issue is the underlying C++ function.

[2021-08-13 19:50] NickPerezCarletonUniversity commented on #834
@varunagrawal it should be more visible... as in viewable on the main Github page.

[2021-08-15 05:18] yiping opened #846 "Pose2SLAMExample_g2o and Pose3SLAMExample_g2o, the GN solver cannot proceed on some common benchmark datasets"
## Description
The shipped pose SLAM examples (both the 2D version and the 3D version) seem to have trouble with some of the commonly used benchmark datasets that are typically considered "easy to solve". Is this expected? I understand these are all local solvers so sometimes they get stuck at local minima, but the solver quits after the 1st iteration due to error increased? Feels like something i

[2021-08-15 09:20] lynnkse opened #847 "NonlinearFactorGraph deserialization doesn't work"
## Description

FactorGraph deserialization from string doesn't work. Deserialize function returns with no errors, but the factorgraph remains empty

## Steps to reproduce
Code that reproduces the issue and prints "deserialization error!" if the deserialization fails, "deserialization successfull" otherwise
[code]

## Expected behavior

deser_graph must contain the same factors as the original FG

[2021-08-15 19:05] ProfFan commented on #846
Thanks for the report!

I think you could look at the Chordal initialization papers (by Dr. Carlone), and #248, and https://github.com/borglab/SwiftFusion/issues/42. I am pretty sure this is caused by bad initialization, but it would be great if you can compare the result with other solvers so we can know whether there is a problem :)

[2021-08-17 12:50] lucacarlone commented on #846
@yiping : also worth trying to add "#define SLOW_BUT_CORRECT_BETWEENFACTOR" at the beginning of the file. That would use the correct jacobians for the between factors that should improve convergence. Let me know if this helps!

[2021-08-17 20:38] eirik-ff opened #849 "Verbose cheirality in ProjectionFactorPPP and ProjectionFactorPPPC prints wrong key for landmark"
## Description

If verbose cheirality is enabled in ProjectionFactorPPP(C), it will print out a message similar to `CheiralityException: Landmark c0 moved behind camera x0`. Here, `C(0)` is the calibration key and `X(0)` is the pose. The error is that the landmark key is in fact the calibration key.

## Steps to reproduce

1. Fail the cheirality check with verbose cheirality enabled when using Pro

[2021-08-20 00:44] varunagrawal commented on #841
Okay so did a bit of investigating and the underlying C++ function is correct (verified with a unit test).
The issue seems to be that the `values.filter` call expects a `Point2` in C++ but that type info is not being relayed in Python. As a result, when I print out the filtered values in C++, it prints as empty.

I believe this is because `Point2` is stored as an `Eigen::Matrix21` but when convert

[2021-08-20 03:35] dishank-b commented on #841
So what can be done about this? Do you know any alternative way to filter out Point2 type from Values() ?

[2021-08-20 04:03] varunagrawal commented on #841
Already on it. Will make the PR in about 30 minutes.

[2021-08-20 05:00] varunagrawal commented on #847
I cannot reproduce this bug. @lynnkse are you using the 4.1.0 release or the latest develop branch?

[2021-08-20 05:02] varunagrawal commented on #837
@epicjung can you please provide a minimal reproducible example? Just the code snippets provided don't give us sufficient info, a full example would be much more insightful.

[2021-08-20 05:03] varunagrawal commented on #846
@yiping please ask questions related to functionality on the Google Group. It should have been linked in the issue template.
Closing this since it doesn't seem to be an issue in GTSAM.

[2021-08-20 05:26] varunagrawal commented on #840
Interesting. This is usually a `GTSAM_EXPORT` issue but `ShonanAveraging2` and `ShonanAveraging3` already have that specifier declared. This might need a lot of investigation.

[2021-08-20 17:41] #841 closed

[2021-08-20 18:40] FranzEricSchneider opened #852 "Please include enough detail to run the tutorial code"
This will be the most beginner of questions, but could you include the appropriate #include lines to build and run tutorial code? I am following along with [the tutorial](https://gtsam.org/tutorials/intro.html), which looks great, but I am trying to compile and run the example code alongside to both get a feel for the process and make sure everything is installed correctly. For example, in section

[2021-08-21 14:31] lucacarlone commented on #846
@varunagrawal : this might be a bug since the dataset is supposed to converge easily. I suggest reopening and doing some investigation. I'll be happy to help post ICRA.

[2021-08-21 18:24] dellaert commented on #852
The examples are all on GitHub. I don’t have time to fix this myself but feel free to do a PR on gtsam.org, and I’ll review and merge.

[2021-08-21 18:24] #852 closed

[2021-08-21 21:09] FranzEricSchneider commented on #852
Thanks for the suggestion to look at the examples directly, the README there was very useful. Added a very small PR (https://github.com/borglab/gtsam/pull/853) against some README instructions.

[2021-08-22 10:32] lynnkse commented on #847
@varunagrawal yes I'm using the 4.1.0 release. Had it worked correctly for you, i.e. "deserialization successfull" is printed out?

[2021-08-22 12:35] varunagrawal commented on #847
Yes, I get the success message.

[2021-08-22 15:06] ProfFan commented on #847
@lynnkse Could you try building in clean (fresh clone, fresh build folder and no `ccache`?

[2021-08-23 04:06] dishank-b commented on #841
How do I get the fixed version? Will I have to pull and install again?

[2021-08-23 05:31] varunagrawal commented on #841
Yup. `git pull origin develop` should get you the latest fixes.

[2021-08-28 21:50] dellaert opened #864 "Unit test for Lie::interpolate"
## Feature

Add Unit test for Lie::interpolate

## Motivation

Jacobians were added in #827 but never tested.

## Pitch

Add unit test for Jacobians in testLie.cpp

[2021-08-29 08:03] lynnkse commented on #847
@ProfFan yes I did just that, on multiple computers in fact. Which Python release do you use?

[2021-08-29 20:28] varunagrawal commented on #847
I personally use 3.8.11. Did you try using the latest develop branch?

[2021-09-01 10:20] lynnkse commented on #847
@varunagrawal ok, it works correctly on the latest develop branch

[2021-09-01 10:47] varunagrawal commented on #847
Sweet. Closing this as resolved.

[2021-09-01 10:47] #847 closed

[2021-09-03 05:38] LucaloLee opened #868 "How to use GTSAM to implement re-localization?"
Any clue and information how to use GTSAM to implement robotics re-localization?

[2021-09-06 23:55] varunagrawal commented on #868
Hi @LucaloLee. This seems like a question for the Google Group (the link to which should have been in the issue template ;) ) and is not a valid issue. You'll get much faster and better help from the wide community on the Google Group.

[2021-09-06 23:55] #868 closed

[2021-09-06 23:56] varunagrawal commented on #849
Makes sense that this would be buggy since it is a part of `gtsam_unstable`. If it is urgent @eirik-ff, can you please submit a PR? I'll be happy to help review and get it merged at the earliest.

[2021-09-15 19:36] varunagrawal commented on #849
Gotcha. This issue is not on our radar anytime soon, which is why if you need it resolved for something, we would be gladly welcome a PR.

[2021-09-16 22:59] varunagrawal commented on #368
Okay I think I figured this out! Had to go through all the math and then some but I did it.
The issue is that the handling of the jacobians wrpt translation was not being done in `CombinedImuFactor`. @dellaert had left a note in the code about this and I guess @mindThomas was the unfortunate soul who encountered this.

Opening a PR.

[2021-09-16 23:04] varunagrawal commented on #368
Draft PR #874 opened. I need to update ImuFactor.pdf to account for what I've learned while solving this issue so we can verify the correctness of the PR.

[2021-09-17 16:23] ProfFan opened #875 "Custom Factor in Python with JIT"
Currently the CustomFactor incurs about 100x performance drop because of the following:
1. Pybind11 translation costs
2. Python GIL, thus all multi-threading goes bust (TBB)

We should have a way to use JIT engines like Numba, and directly generate a C++ function on the fly.

Need to think:
1. How to provide access to C++ structures and functions?
2. How to manage C++ memory?

[2021-09-18 08:51] jingyibo123 commented on #380
There's clearly a lot missing in the generated GTSAMConfig.cmake and GTSAM-exports.cmake

When installed to a custom path( which is usually the PREFERED way to build and link against a thirdparty project from source), the libgtsam.so is unable to find libmetis-gtsam.so (as seen by `ldd libgtsam.so`), and import GTSAM with find_package(GTSAM) is quite painful.

AFAIK, either the old fashioned way,

[2021-09-18 13:38] varunagrawal opened #878 "Details about IMU Integration Covariance"
## Feature

@lucacarlone and I need to document what the Integration Covariance is and its role in the `ImuFactor`.

[2021-09-18 14:02] dellaert commented on #878
Please be careful: ImuFactor.pdf is about my new Tangent-space formulation. The Forster et al. papers are the reference for the manifold pre-integration version. I don't mind expanding and re-capping that math in this file as well, but that is a more substantial undertaking.

[2021-09-19 04:51] lucacarlone commented on #846
@yiping @varunagrawal : I carefully looked into this and everything looks good. The Jacobians for the Pose2 case match exactly my manual implementation in Matlab and converge to the same solution. The only issue is that with GN the cost increases after the first iteration on the intel dataset. This triggers GTSAM to terminate early. If that stopping condition is disabled, everything converges as e

[2021-09-19 13:19] varunagrawal commented on #413
Closing this since we're pushing the Pybind wrapper

[2021-09-19 13:19] #413 closed

[2021-09-20 16:30] dellaert commented on #786
I don't even know what bodyVelocity *means*, as I very poorly documented it back in the day. I guess the assumption is NavState is the body state in a world frame, and this calculates velocity in body frame, but that should be better explained. And, indeed, angular velocity might have to be taken into account. Would be good to reconstruct why this method exists and where it is used.

[2021-09-20 21:38] varunagrawal commented on #786
That would be the correct definition based on the function definition.
This method only exists to get `b_velocity` for the `NavState::update` and isn't used anywhere else (except for in testing).

[2021-09-20 21:43] varunagrawal commented on #786
So the fix is quite simple. If we allow `bodyVelocity` to take an additional argument `b_omega` (which is already passed to `NavState::update`), we can just pick out the relevant part of the Adjoint-twist matrix multiplication.

`v_n = R^n_b * v_b + \hat{t}*R^n_b*omega_b`

By rearrangement of terms, we get:
`v_b = R^n_b.T (v_n - \hat{t}*R^n_b*omega_b)`

[2021-09-20 23:21] varunagrawal commented on #846
Awesome! Thanks @lucacarlone

[2021-09-20 23:23] varunagrawal commented on #846
On that note, we should consider making progress on #88

[2021-09-21 01:33] dellaert commented on #786
Reference for equations? Also, how do we test without making it a self-fulfilling prophecy?
finally, then update needs an omega argument as well? Is that ever warranted at the call-site? (I.e., is it solving an actual bug?)

[2021-09-21 02:39] varunagrawal commented on #786
The stackoverflow link has a link to a set of slides that have the equations. I'll try finding a reference that's more permanent (aka book or paper).

`update` already accepts omega as an argument. Testing is going to be interesting though. Once I get MHS working, I can think about a way to test this.

[2021-09-21 03:58] yiping commented on #846
@lucacarlone Thanks a lot for the investigation. I confirm the result for input_INTEL_g2o dataset using GN solver (after applying the change you proposed).

[code]

However, if you switch to the Levenberg-Marquardt optimizer (`LevenbergMarquardtOptimizer`), the solver won't converge.

[code]

I also tried the same dataset with the [Ceres pose_graph_2d example](https://github.com/ceres-solver/ceres

[2021-09-21 09:40] varunagrawal commented on #846
That shouldn't be the case since depending on the lambda value, LM switches between Gradient Descent and GN. With the right lambda, LM would simply behave like GN.

[2021-09-21 19:27] lucacarlone commented on #368
@varunagrawal @dellaert : I spoke too early: I do have an extensive write-up on the Combine IMU factor that I wrote back when I was at GT. I'll follow up shortly to share it via email.

[2021-09-21 19:35] lucacarlone commented on #846
I think the initialization point here might be tricky: GN fails to decrease the cost from the initial point, but then it is able to recover. LM on the other side might end up taking smaller and smaller steps without making it very far from the initialization.

[2021-09-21 20:12] varunagrawal commented on #368
Awesome-sauce

[2021-09-26 10:31] mindThomas commented on #368
@lucacarlone Is it possible that you can share this doc with the rest of us as well?

[2021-09-26 15:10] lucacarlone commented on #368
@mindThomas : I think @varunagrawal is preparing a revised document that he will share.

[2021-09-26 15:11] varunagrawal commented on #368
That is correct. @dellaert, @lucacarlone and I have spoken about this and I'm rewriting all the math to ensure we fix this from the inside out.

[2021-09-28 14:15] mantkiew opened #881 "Not installing the libgtsam-unstable-dev package causes build failures"
## Description

On Ubuntu, when a user installs only `libgtsam-dev` package and then tries to use the library using CMake, the following error is produced:

[code]

That is, the cmake file references `libgtsam_unstable.so.4.0.3` file which belongs to the `libgtsam-unstable-dev` package.

Consequently, it is not possible to only install `libgtsam-dev` without installing `libgtsam-unstable-dev`.

##

[2021-09-28 14:21] mantkiew commented on #881
Maybe this could be added to https://github.com/borglab/gtsam/issues/824

[2021-09-28 16:28] ProfFan commented on #881
Pinging @jlblancoc who is the expert on packaging.

[2021-09-30 15:43] mantkiew commented on #881
Thank you, I'll try that. However, I suggest making this option to be `OFF` by default if the unstable package is not required. Otherwise, the option can stay `ON` by default if the unstable package becomes installed automatically.

[2021-10-01 21:10] Jochen0x90h opened #883 "PriorFactor<Pose3> susceptible to rotation when sigma is infinity"
## Description

The PriorFactor<Pose3> seems to be susceptible to the rotation of the prior pose even if the sigma of the noise model is infinity. In this case it should have no influence. The IMUKittiExampleGPS.cpp example uses a current estimate for the rotation. When this is replaced by an identity rotation (Rot3()) then the result doesn't look good any more. Is this a bug or do I conceptually

[2021-10-01 21:32] Jochen0x90h commented on #883
Using PoseTranslationPrior<Pose3> instead of PriorFactor<Pose3> with infinity sigma for rotation seems to work

[2021-10-02 22:12] berndpfrommer commented on #380
When I try to fix this by creating a libgtsam4.triggers file in the debian directory:

`activate-noawait ldconfig`

 I get the following cryptic lintian error when packaging:
`E: libgtsam4: repeated-trigger-name activate-noawait ldconfig (line 3) vs activate-noawait ldconfig (line 1)
`
A web search didn't provide much clarity, but [the answer to this stack exchange post](https://unix.stackexchange

[2021-10-03 20:23] jlblancoc commented on #380
For the records:
- Should #292 be updated to mark "libmetis" as solved? (Finally!! Yay! :+1: )
- I agree: `ldconfig` shouldn't be needed to be explicitly called in the Debian packaging, @berndpfrommer

So good to see progress on #292 !

[2021-10-03 22:21] jlblancoc commented on #881
It seems a real CMake exports bug:

There should be two export files, one for `gtsam` and another for `gtsam_unstable`.

I have no time for full testing now, but I think the error is the repeated ` EXPORT GTSAM-exports` in both:
- https://github.com/borglab/gtsam/blob/develop/gtsam/CMakeLists.txt#L177-L182
- and https://github.com/borglab/gtsam/blob/develop/gtsam_unstable/CMakeLists.txt#L101-L106

[2021-10-04 12:28] berndpfrommer commented on #812
Not sure what happened, but the builds on Ubuntu 16.04 (xenial) are failing with this error message:

`-- Could NOT find Boost: Found unsuitable version "1.58.0", but required is at least "1.65" (found /usr/include)
`
The related commit is from Aug 20th (my bad I didn't raise this issue earlier):

https://github.com/borglab/gtsam/commit/42b75253373bae499b40ac34631b8895c195a0f4

Have we officially

[2021-10-04 19:05] ProfFan commented on #812
I think we just require a newer boost because of the `boost::serialization` bug that whose fix is not backported to 1.58.x.

I think it’s fair to drop it from builds since 16.04 is EOL.

[2021-10-04 19:25] dellaert commented on #812
I agree with that, but I remember we had this discussion earlier - @varunagrawal?

[2021-10-05 21:50] johnwlambert opened #886 "Buggy axis-angle computation in GTSAM"
GTSAM returns angle's of well over 180 degrees when transforming a Rot3() object with `.axisAngle()`.

Here's an example below, where the angle returned is 204 degrees. Scipy's Rotation package returns the same axis vector as GTSAM, but returns the angle as 179 degrees, which seems legitimate.

I believe the angle of the angle-axis representation should be confined to [0, pi] radians, per [Duke](h

[2021-10-06 01:39] johnwlambert commented on #886
The angle can be 300 - 800 degrees in other cases:
[code]

[2021-10-07 18:07] ProfFan commented on #886
Hey @johnwlambert could you put up a PR with a unit test that reproduces this?

[2021-10-08 18:26] dellaert commented on #886
Do you have an idea how to fix it?

[2021-10-10 02:35] ProfFan opened #889 "[Deprecation] Properly mark deprecated functions in C++"
We should mark deprecated functions both in Doxygen and **in C++**.

For example,

In `EliminateableFactorGraph-inst.h` Line 39 it's calling deprecated function.

[2021-10-11 04:03] dellaert commented on #886
Also, ClosestTo can be expensive, so the computational expectations of this piece of code would suddenly change, so we should be careful or find a computation less sensitive to small deviations from the manifold.

[2021-10-11 11:17] SLAMWang opened #890 "detail meaning for noiseModel::Diagonal of pose3"
When using gtsam::Pose3， we should use noise model like noiseModel::Diagonal::Variances((Vector(6) << 1e-6, 1e-6, 1e-6, 1e-4, 1e-4, 1e-4).finished()).
However,what is the meaning for the each element of Vector(6)? I guess it has three translations and three Euler angles roll,pith yaw. What is the exact order and how is the Euler angle defined?

[2021-10-11 17:52] johnwlambert commented on #886
Thanks for looking into this, @ProfFan.

It's interesting to see how this very small deviation from the manifold creates issues. When I looked at R^T @ R and det(R), they seemed close to I and 1, so I assumed they were still "on-manifold." But I guess the 6th or 7th decimal place is decisive?

[code]

I see the [SO3::ClosestTo](https://github.com/borglab/gtsam/blob/develop/gtsam/geometry/SO3.cpp#L

[2021-10-12 14:30] #890 closed, assigned to nobody

[2021-10-18 13:46] shaoxh opened #894 "errors in build with matlab"
## Description

build ../wrap/gtsam/gtsam_wrapper.cpp failed!

## Steps to reproduce

1.  cmake -DGTSAM_INSTALL_MATLAB_TOOLBOX=ON  \
	   -DEXAMPLES_BUILD_MATLAB_TOOLBOX:OPTION=ON \
	   -DGTSAM_TOOLBOX_INSTALL_PATH:PATH=$HOME/toolbox  ..
2. make install

## Expected behavior
build successfully

## Environment

Matlab 2021
python 3.6.5
c++ 14
ubuntu 18.04

## Additional information
  [100%] Built ta

[2021-10-19 02:43] shaoxh commented on #145
Hi, I was using tag 4.0.0 but this problem is still there.
Error message like ...
CMake Warning (dev) at wrap/CMakeLists.txt:29 (target_link_libraries):
  Link library type specifier "optimized" is followed by specifier "debug"
  instead of a library name.  The first specifier will be ignored.
This warning is for project developers.  Use -Wno-dev to suppress it.

CMake Error at wrap/CMakeLists.txt

[2021-10-19 03:04] shaoxh opened #896 "error: ‘library_version_type’ in namespace ‘boost::serialization’ does not name a type"
## Description
I am using the tag 4.0.3 repo, this error occurs when make. It also occurs in release 4.0.0.
I am confused if the #732 has fixed this error, why it's still there in release 4.0.0 and 4.0.3?

godu@godu-Precision-7820-Tower:~/gtsam/build$ git log
commit 6425000775da29c93719f37dce3f2de38a0064ec (HEAD, tag: 4.0.3, origin/release/4.0.3)

## Steps to reproduce

1. cmake -DGTSAM_INSTALL_MA

[2021-10-19 04:11] varunagrawal commented on #894
Okay I'm looking into it.

[2021-10-19 04:22] shaoxh commented on #894
I used this commit but not work. Is there something wrong with the python version?

-- Building GTSAM - shared: ON
-- Found Python: /home/godu/anaconda3/bin/python3.6 (found suitable exact version "3.6.5") found components:  Interpreter Development
-- gtwrap Package config : /usr/local/lib/cmake/gtwrap

godu@godu-Precision-7820-Tower:~/gtsam/build$ git log
commit 108cd13ecd1cda7acbb62360628b526b83

[2021-10-19 04:54] shaoxh commented on #896
Thanks for your reply!
 I was using develop but come up with another error #145  so tried this version.
On develop branch this error does not appear.
If the reason is Boost version, I could not lower it now because some other projects need it.
Still thank you again!

[2021-10-19 04:54] #896 closed

[2021-10-19 05:17] varunagrawal commented on #894
And what is your OS version?

[2021-10-19 05:49] shaoxh commented on #894
oh， it's ubuntu 18.04.

[2021-10-19 06:54] #894 closed, assigned to varunagrawal

[2021-10-19 07:45] perisage opened #897 "compile error when use cmake flags: -DGTSAM_BUILD_TIMING_ALWAYS=ON"
## Description

some errors occurred when compiling the 4.0.3 tag version of gtsam.
## Steps to reproduce
[code]
Bugs description:

Two compile errors occurred when turning on the CMake flag `GTSAM_BUILD_TIMING_ALWAYS`. The first is: `error: ‘mt19937’ is not a member of ‘boost’; did you mean ‘std::mt19937’?` and the second error is about function pointer(get more information from the bottom error

[2021-10-19 14:30] #897 closed, assigned to nobody

[2021-10-19 18:46] acloitre commented on #461
Hello @varunagrawal,

I am back to implementing a fisheye lens on my application and restarting this issue as I think I got to the core of it.
Cameras in GTSAM are virtually all derived from the class `PinholeBase` defined in the file `CalibratedCamera.h` and implemented in the file `CalibratedCamera.cpp`.
This class has a function `Project` which projects a point to the normalized plane, at `z=1`

[2021-10-25 06:46] JeffR1992 opened #907 "Factors for motion-only bundle adjustment"
## Feature

I've read a few VIO/VSLAM papers (e.g. ORB-SLAM 2 and VINS-Mono to name some well known implementations), that mention using "motion-only bundle adjustment" as part of their pipelines. This essentially optimizes the camera pose against assumed known landmark positions (i.e. triangulated landmark positions are kept constant during the optimization), and seems to produce better results t

[2021-10-25 12:20] narutojxl opened #908 "How to use locally installed gtsam in a third project?"
Hi all,
I build gtsam with default config except installing gtsam 4.1rc in my `home` path. In a ros package i config CMakeLists.txt as following:

set(GTSAM_DIR "/home/jxl/Documents/third_softwares/gtsam-4.1rc/INSTALL/")

include_directories(${GTSAM_INCLUDE_DIR})
link_directories(${GTSAM_LIBRARY_DIRS})
add_executable(executable_name  source_cpp_files)
target_link_libraries(executable_name  gtsam)

[2021-10-25 16:49] #908 closed, assigned to nobody

[2021-10-31 04:55] chihyuanchiu opened #911 "Partial Optimization over a subset of keys"
Is there a feature in the GTSAM code that allows for the factor graph to be optimized over a certain subset of keys, while keeping all other keys fixed? I.e., similar to marginalization, but instead of removing a certain subset of keys (and associated factors), we merely optimize over them while keeping other keys fixed.

Thanks.

[2021-11-01 03:23] Yuanzhuangz commented on #634
why can't i find LossFunction.h,where is it?

[2021-11-01 13:36] #433 closed

[2021-11-01 20:35] xieshuqin opened #912 "Bearing range 3D factor in python"
hi,

Thanks for the awesome work!

I wonder if the BearingRangeFactor for Pose3 and Point3 is also ported to Python? I install gtsam via pip and it doesn't have BearingRangeFactor3D.

[2021-11-03 10:28] cxwoaiwojiaa opened #914 "(IMUKittiExampleGPS)"
Which part of Kitti's data is used

[2021-11-07 20:53] ayushbaid opened #919 "Batch triangulation API for faster triangulation"
## Feature
In the python wrapper, we have functions `triangulateNonLinear` and `triangulatePoint3`. These functions operate on a single track (i.e. they take input a collection of 2D measurements all belonging to the same 3D point and output one single 3D point.

The request is to have a batch triangulation API, which takes input a set of cameras (2+), collection of 2D tracks (with each track havi

[2021-11-07 22:32] dellaert commented on #919
Sure, do it :-) Should be simple. Although, a slightly better API would be to give a set of cameras in a map, and give tracks as a vector of pairs (key, measurement), where key indexes into the cameras. That way you can allow for “incomplete” tracks. Using a map is a bit slower than a vector but avoids elaborate setup.

Although, with templates and using .at you can support both maps and vectors:

[2021-11-09 22:24] ProfFan commented on #820
Closing as this is resolved.

[2021-11-09 22:24] #820 closed

[2021-11-11 02:52] zhaoworking opened #923 "How to deal with the IMU data with gravity ,cause TangentPreintegration.cpp does not consider graviry"
In TangentPreintegration.cpp, updatePreintegrated() function:

"Vector9 preintegratedPlus;
preintegratedPlus << // new preintegrated vector:
theta + w_tangent * dt, // theta
position + velocity * dt + a_nav * dt22, // position
velocity + a_nav * dt; // velocity"

Why not consider gravity?
Forgive me that I used the similar question as others. But I can not find the answer in that issue.So , I am h

[2021-11-11 04:34] dellaert commented on #923
Gravity is handled. A quick search in the navigation folder yields 44 results on "gravity" in 12 files. You might want to look at `testImuFactor`, for starters.

[2021-11-11 04:34] #923 closed

[2021-11-11 04:47] zhaoworking commented on #923
But I did not see any information about gravity handled in `ImuFactorsExample.cpp` . Cause I want to modify this file to adapt to my own dataset

[2021-11-11 12:50] zhaoworking opened #924 "What is the gps and imu coorrdinate in ImuFactorsExample.cpp?"
Recently ,I want to use the ImuFactorsExample.cpp to test my own data , but I am confused with the data coorrdinate in the file. Moreover, I do not find any transformation between IMU and GPS data. So , is that the IMU coordinate is as the same as GPS , thus called the Body coordinate. Otherwise, the raw data is aligned already before feed in algorithm?

[2021-11-11 18:38] ProfFan commented on #924
This is a question rather than a issue, which I suggest you post in the GTSAM mailing list instead.

[2021-11-11 18:38] #924 closed

[2021-11-11 18:39] ProfFan commented on #914
This is a question rather than an issue, which I suggest you post in the GTSAM mailing list instead.

[2021-11-11 18:39] #914 closed

[2021-11-11 18:40] ProfFan commented on #912
Hi, if you want to export some function not available in Python, please edit the corresponding `.i` files and add the export yourself :)

[2021-11-11 18:47] xieshuqin commented on #912
hi Frank,

Thanks for the reply. I have exported the function. I have one more question about the noise model used by BearingRange3D. I wonder what is the correct physical meaning for the 3 variables of BearingRange3D's noise model? Is it XYZ?

[2021-11-11 19:13] dellaert commented on #912
Will you create a PR? That would be awesome :-)

I’m not near a computer, but 3-D bearing is two dimensional, and range is one dimensional. So I think the first two are radians and the second is distance.You should look at the code to be sure.

[2021-11-12 01:29] cxwoaiwojiaa opened #926 "IMUKittiExampleGPS.m"
Hello, nice to meet you, and thank you very much for providing such a useful example for new users of gtsam. About the program (imukittiexamplegps. M), I have successfully run it. Now I want to test it with different data. As a first step, I try to generate data in the same format from Kitti raw data. I want to know   Kittiequivbiasedimu.txt and attached   Kittigps_converted.txt what do these two

[2021-11-12 02:08] zhaoworking commented on #924
Where  is the GTSAM mailing , do u mean Google group?

[2021-11-12 02:10] ProfFan commented on #924
Yes, the Google group.

[2021-11-12 02:57] xieshuqin commented on #912
No problem, I will try to create a PR this weekend.

[2021-11-12 04:10] dellaert commented on #912
Why don't you close when the PR lands. Can be done automatically by mentioning issue # in PR comment.

[2021-11-12 15:17] varunagrawal opened #927 "Add Deprecation Pragmas"
## Feature

Add the following deprecation pragmas and use them so that GTSAM warns users during compilation of their projects.
Creating this issue so we can track this.

[code]

## Motivation

Deprecation warnings!

## Pitch

## Alternatives

## Additional context

[2021-11-12 15:47] duembgen opened #928 "make check: ambiguous reference"
## Description

When compiling the gtsam tests on my Linux machine, I get two errors that _1 is not correctly resolved, for the two tests `testMagFactor.cpp` and `testGPSFactor.cpp`. Extract from error message:
[code]

## Steps to reproduce

1. mkdir build; cd build; cmake ..; make check

## Expected behavior

I guess according to #819 the goal was to use `std::placeholders` everywhere, but there

[2021-11-12 15:50] duembgen commented on #928
If this issue is specific to my installation (which I guess it might be given that all tests seem to be running in CI) then feel free to ignore, since I fixed it locally. Otherwise, I am happy to open a pull requested with the fixes (essentially 5 extra std::placeholders:: statements)

[2021-11-12 17:59] dellaert commented on #889
I think this was incorrectly closed

[2021-11-15 09:47] varunagrawal commented on #928
Please open the PR. This is a welcome addition to the codebase.

[2021-11-15 19:20] #928 closed

[2021-11-15 22:14] varunagrawal commented on #889
What is needed to close this? PR #925 added the macros for conditonal compilation.

[2021-11-18 21:59] NickPerezCarletonUniversity commented on #907
@JeffR1992 did you end up figuring this out? :)

[2021-11-22 11:56] beetleskin opened #935 "Values memory allocation does not adhere GTSAM_DEFAULT_ALLOCATOR flag"
## Description

The [GTSAM_DEFAULT_ALLOCATOR](https://github.com/borglab/gtsam/blob/8cb22624e0520315f402cf2255857301634a9041/cmake/HandleAllocators.cmake#L25) flag determines what allocators are used in the [FastDefaultAllocator](https://github.com/borglab/gtsam/blob/a18875b598eb454378cf05de3ed4df5278fd87c9/gtsam/base/FastDefaultAllocator.h#L51). This again is used in FastList, FastSet and FastMap

[2021-11-22 12:53] beetleskin commented on #935
I do have a fix for this, but I can't push branches. Shall I fork and PR or how do you do it? I can't find a how-to-contribute thingy.

[2021-11-22 16:56] ProfFan commented on #935
We were planning to retire the boost allocator thingy (they are really legacy of the 2010s). Thanks for the catch!

[2021-11-22 18:33] ProfFan opened #937 "[RFC] Retire Boost in light of Default C++17 Support in Ubuntu 18.04+"
# Pitch

There is no need to use boost anymore because C++17 is supported on all platforms we currently support.

GCC 8 is supported on Ubuntu 18.04, which includes C++17 support.
macOS and Windows also fully support C++17 now.

## Python distribution (PyPI)

The `manylinux2014` target we are currently using supports C++17 as well.

# Implementation

I have a branch (https://github.com/ProfFan/gts

[2021-11-22 18:55] asa commented on #937
Amazing! Yes!

[2021-11-22 20:54] ProfFan commented on #824
We are very close to doing a 4.1 release (since the PyPI packages are very out-of-date now). Currently we only need #188 blocking, but we do have a lot of nice-to-haves outstanding.

Pinging everyone here for a last sprint on getting more in the release :)

@varunagrawal  @dellaert  @lucacarlone @jlblancoc @acxz

[2021-11-22 23:52] #935 closed

[2021-11-23 00:11] varunagrawal commented on #937
We can use `std::optional` rather than pointers. Make the code safer.

[2021-11-23 00:13] varunagrawal commented on #824
#368 is solved but needs some major documentation updates which will only be done in December. We can push it to the next release.

[2021-11-23 00:22] ProfFan commented on #937
The issue is optionals should never take references. In C++17 this is explicitly disallowed.

[2021-11-23 00:40] lucacarlone commented on #824
I'm happy to push on PR #861 if there is interest. It has been ready for a while, but I'll need to fix a CI error.

[2021-11-24 03:20] Binbin418916 commented on #837
add `gtsam_unstable` in target_link_libraries,
like
target_link_libraries(exe_file
    gtsam
    gtsam_unstable
)

[2021-11-24 13:34] qianlong2059 opened #939 "Indeterminant linear system detected while working near variable 1"
what I did was to execute the quick test in tagslam_root repository
and the link is here https://github.com/berndpfrommer/tagslam_root
but I encountered a problem,the error is

[ERROR] [1637719401.554352107]: /tagslam:
Indeterminant linear system detected while working near variable
1 (Symbol: 1).

Thrown when a linear system is ill-posed. The most common cause for this
error is having underconstr

[2021-11-24 23:36] jlblancoc commented on #937
Awesome move, I would love to see C++17 finally here, Yay!

On optional references, they can be used, indeed: check this and search in
the project for some uses for syntax examples and such:

https://github.com/MRPT/mrpt/blob/develop/libs/core/include/mrpt/core/optional_ref.h

Feel free of copying that type definition and play with it as a direct
replacement of boost's optional.

El mar., 23 nov.

[2021-11-25 00:32] dellaert commented on #937
This is very cool. Probably should leave this until after the journal submission deadline :-) two questions:
– you say all platforms, but is C++ 17 supported on all popular embedded platforms?
– We should definitely do a 4.1 release before switching.

[2021-11-25 06:10] EnderLord0042 opened #940 "Eigen compilation issue"
## Description

When compiling on Ubuntu 21.10 after installing dependencies through apt, the project fails to compile
(I have attached the output of `make check` here: [gtsamMakeCheckLog.txt](https://github.com/borglab/gtsam/files/7600584/gtsamMakeCheckLog.txt))

## Steps to reproduce

1. Install dependencies via apt on Ubuntu 21.10
2. Attempt to build

## Expected behavior

The library is expect

[2021-11-25 07:01] jlblancoc commented on #824
There's a remaining issue which might need to be listed as "must fix" before release: apparently, when building a subgraph by selecting factors from a FG and inserting them into a new FG, some kind of memory corruption happens.
I've been avoding this problem in an application by serializing-and-deserializing to a temporary file to ensure the new subgraph doesn't make the optimizer to crash, but I

[2021-11-25 11:01] jlblancoc commented on #940
Could you show the full command line of the failing file? i.e. the last big fat line when doing `VERBOSE=1 make -j1`

[2021-11-25 15:10] ProfFan commented on #824
@jlblancoc Could you post a PoC in an issue so we can help reproduce?

[2021-11-25 15:12] lucacarlone commented on #824
I think we have seen similar segfaults on our side. @jlblancoc : is this in conjunction with smart factors or also happens for other factors?

[2021-11-25 19:10] EnderLord0042 commented on #940
[code]

[2021-11-25 19:16] EnderLord0042 commented on #940
The comment on the pull request I mentioned earlier (this: https://github.com/borglab/gtsam/pull/391#issuecomment-663814121) said that this issue was only with c++17, so I ran the compile command I commented earlier with an added `-std=c++11` to compile only that file in c++11, and because make checks for object files before attempting to compile, I managed to get the library to build.

[2021-11-26 00:27] ProfFan commented on #939
This is not a GTSAM issue, please first ask in the tagslam repo.

Next time, please use the mailing list for questions: https://groups.google.com/g/gtsam-users

[2021-11-26 00:27] #939 closed

[2021-11-26 00:27] #926 closed

[2021-11-26 00:28] ProfFan commented on #911
Hi @chihyuanchiu, please use the mailing list for questions: https://groups.google.com/g/gtsam-users

[2021-11-26 00:28] #911 closed

[2021-11-26 00:31] #927 closed

[2021-11-26 10:05] mintar commented on #213
No.

### IEEE Standard 952-2020

Source: [IEEE Standard 952-2020](https://doi.org/10.1109/IEEESTD.2021.9353434) for Specifying and Testing Single-Axis Interferometric Fiber Optic Gyros (page 18f)

Allan variance component                                  | unit
----------------------------------------------------------|---------------------
gyro angle quantization noise coefficient, Q

[2021-11-28 09:21] jlblancoc commented on #824
@ProfFan  It was 100% reproducible in my app but now I can't reproduce it anymore so can't provide a PoC... I'll report in a new issue if it shows up again.
@lucacarlone Nope, it was with "non-smart" factors only...

[2021-11-28 09:25] jlblancoc commented on #927
For the records: This one could be replaced by standard C++14 [deprecated attribute](https://en.cppreference.com/w/cpp/language/attributes/deprecated), if #937 ever got addressed.

[2021-11-28 09:32] jlblancoc commented on #940
Ah! It must be a new issue with g++11.2
Perhaps g++11 should be added to the CI build matrix?

From [here](https://www.phoronix.com/scan.php?page=news_item&px=GCC-11-Cpp-17-Default#:~:text=GCC%2011%20Now%20Defaults%20To%20C%2B%2B17%20Dialect%20By%20Default%20%2D%20Phoronix&text=Following%20the%20proposal%20at%20the,has%20been%20C%2B%2B14.):

So this is gonna become a real issue for most users if t

[2021-11-29 19:48] varunagrawal commented on #940
Oh I encountered this exact issue and have proposed a fix to it here #944
This is indeed an issue with GCC 8+.

[2021-11-29 20:16] ProfFan commented on #940
There is a catch here: most people will use system Eigen which is not 3.3.9. I would suggest we do some kind of work-around in *our* code instead.

[2021-11-29 20:49] varunagrawal commented on #940
The workaround isn't something we can do trivially. We can use CMake to force 3.3.9 and this shouldn't be a major issue since it is a patch version update.

[2021-11-29 20:58] ProfFan commented on #940
@varunagrawal it is easy to do:  https://github.com/humanoid-path-planner/hpp-fcl/pull/226/files

[2021-11-29 21:02] varunagrawal commented on #940
Cool! I still think we should update eigen since there are other big fixes that we can benefit from.

Asking users to update eigen is a small task for the rewards.

[2021-11-29 21:13] dellaert commented on #940
@varunagrawal upgrading system eigen is not trivial so I vote to work-around in our code. Please update PR #944 with other reasons to upgrade. Please do not merge until serialization is validated with old Eigen version.

[2021-11-29 21:29] varunagrawal commented on #940
Okay, I am updating #944 with the workaround that Fan linked.

[2021-11-29 21:52] varunagrawal commented on #940
Huh @ProfFan that fix doesn't work. I am getting the error
[code]

[2021-11-29 21:55] varunagrawal commented on #940
Also, maintainers of Eigen also call it an "ugly hack" https://gitlab.com/libeigen/eigen/-/issues/1676#note_709679901

[2021-11-29 21:57] varunagrawal commented on #940
Let me take a closer look at this.

[2021-11-29 22:32] varunagrawal commented on #940
Figured it out. We need to include `Eigen/Core` as well. This was mentioned in the [original SO answer](https://stackoverflow.com/a/54535484/1236990) and not in the PR.

[2021-11-30 11:56] #940 closed

[2021-12-02 13:15] DeepRobot2020 opened #948 "Bug in BatchFixLagSmoother "enforceConsistency_" not working"
I am working on some monocular SFM with a sliding window and notice that the
_enforceConsistency__ flag seems not doing anything and _linearKeys__ are never assigned with marginalized values.

This can be easily reproduced by using "FixedLagSmootherExample.cpp" by adding some assertions. In the example, one key and their factors will get marginalized out, and to make the system consistent (In my c

[2021-12-02 17:28] ProfFan commented on #948
@dellaert

[2021-12-03 14:24] brunoeducsantos commented on #380
I am using Ubuntu 20.04 and my `cmake` is
[code]
Getting an error like

[code]
which is causing a segmentation default.

Regards,
Bruno

[2021-12-03 14:46] ProfFan commented on #380
This is because you have *multiple* versions of GTSAM installed in different locations. Please search and remove them.

[2021-12-03 14:50] brunoeducsantos commented on #380
Thanks a lot ! Indeed that was the problem.

[2021-12-04 21:02] mattking-smith opened #950 "Possible Wrapper Issue with MATLAB Toolbox"
## Description

I recently installed a fresh 20.04 Ubuntu OS on a new computer to test GTSAM + MATLAB toolbox. After following available documentation it appeared that I successfully wrapped GTSAM into the MATLAB environment, noting that the MATLAB toolbox folder was created in the correct file path destination and there was a MATLAB MEX file in the appropriate location. However, I am unable to ru

[2021-12-05 00:59] ProfFan commented on #824
@jlblancoc Can you reproduce it? If not we may just do the release and fix in 4.1.1?

[2021-12-05 13:35] TobiasLangner-TomTom opened #952 "derivate in Point3::normalize()"
https://github.com/borglab/gtsam/blob/c7781961e66b79cfe17e4084b2ea15b94a2d2a95/gtsam/geometry/Point3.cpp#L58

Shouldn't this line be :
*H /= pow(x2 + y2 + z2, **0.5**);

https://math.stackexchange.com/a/2161888

[2021-12-05 15:11] varunagrawal commented on #952
Nope, 1.5 is correct. I guess you're missing that s = v / λ so the extra λ terms come into the denominator in the final expression.

I recommend deriving this yourself on pen and paper and you'll see for yourself. If you still think this is wrong, we would really appreciate a unit test demonstrating it is incorrect. I believe we already have a unit test for checking the correctness of this Jacobia

[2021-12-05 15:11] #952 closed

[2021-12-05 18:08] TobiasLangner-TomTom commented on #952
My bad. The derivation I have linked defines H in terms of the normalized point, while the GTSAM implementation uses the unnormalized point.

[2021-12-05 18:08] ProfFan commented on #950
@varunagrawal Could you take a look at this?

[2021-12-05 18:09] ProfFan commented on #824
Let's cut the release next Tuesday

[2021-12-05 18:10] varunagrawal commented on #952
No worries. This is non-trivial stuff.

[2021-12-05 21:32] mattking-smith commented on #950
Added high-priority tag because I am trying to make a write-up/documentation for corporate sponsors on a sponsor-shared GitHub repository. I need to have reproducible steps for company to follow on their own computers.

[2021-12-05 22:34] dellaert commented on #950
Why Varun? Who is using the Matlab toolbox regularly? That will be better than distracting Varun at this time.

@mattking-smith , do you have no ideas on how to fix this? You are now our Matlab go-to guy :-)

[2021-12-05 22:36] dellaert commented on #824
That would be amazing. Note I do not want to change the default behavior of Eigen at this moment, at least not without extensive discussion on the pros and cons

[2021-12-06 03:22] varunagrawal commented on #948
`BatchFixLagSmoother` comes under `gtsam_unstable` so this should come as no surprise that the code is super buggy.

[2021-12-06 03:41] mattking-smith commented on #950
I do not have immediate fixes to the issue, as I have not looked deeply enough into the issue at this point. My suspicion is the way the MEX binding is being generated via the wrapper, but I have not looked or worked on the wrapper code so far.

I do not have much experience with using Python to wrap libraries into MATLAB, (as is done currently in the [wrap library](https://github.com/borglab/wrap

[2021-12-06 04:49] dellaert commented on #948
- Unstable does not mean super buggy. All of the code is unit tested and reviewed. But code that is not frequently used is expected to have more bugs.
– I have no time to look into this. But I’ll gladly review a PR to fix it

[2021-12-06 08:51] jlblancoc commented on #824
@ProfFan Sure, go ahead.

[2021-12-06 10:59] mikesheffler commented on #950
This (my question) is a stupid question, but is it possible we're just looking at a MATLAB path issue,?

To me,
[code]
looks like a generic message from MATLAB saying "I don't know where / what that is" and would be exactly the same as
[code]
I haven't built the MATLAB wrapper in quite a while, but when I _have_ built it in the past, and there was an issue _at_ MATLAB (i.e., not when building the

[2021-12-06 14:11] mattking-smith commented on #950
Thankfully I have compiled and integrated GTSAM + MATLAB toolbox as early as last April on another computer. Perhaps the wrapper library has had a major update in that time?

This comment got me thinking that I should compare my currently built and working GTSAM + MATLAB computer with the computer that is not currently working.

When looking, I did find a major dependency and the source of the err

[2021-12-06 15:10] mattking-smith commented on #950
To follow up on this problem, I zipped up and sent the +gtsam folder from the working GTSAM + MATLAB computer to the computer which lacked all of the proper class defining .m files. Unzipping the .m files into this +gtsam folder resulting in MATLAB being able to find the GTSAM + Wrapper function calls, but I am finding this error now:
[code]
The `One or more output arguments not assigned during ca

[2021-12-06 16:33] varunagrawal commented on #950
@mattking-smith PR #953 should address this. Can you please take a look at it?

[2021-12-07 17:45] #950 closed

[2021-12-07 18:25] mattking-smith opened #954 "MATLAB Wrapper Does Not Support Default Arguments"
## Description
It appears that the wrapper definitions generated when binding GTSAM to MATLAB need additional arguments then the default arguments provided for the MATLAB examples.

## Steps to reproduce
1. Install [GTSAM + MATLAB toolbox](https://github.com/borglab/gtsam)..
2. In the MATLAB environment attempt the following:

## Expected behavior
Successful completion of program

## Observed beha

[2021-12-07 19:04] dellaert commented on #954
This is the default argument issue: I think previously there were *wt* versions of the Sigma function: one with 2 arguments and one with 3. This was then replaced with one, with a default argument, but that (silently) broke the MATLAB examples. A quick fix, @mattking-smith , if you're up for it, is to push a quick PR with the "true" argument added in all examples that fail. Then we can take a bit

[2021-12-07 19:35] ProfFan commented on #824
we may delay cutting branch due to #954

[2021-12-07 21:00] mattking-smith commented on #954
Yeah I can do this to give a quick fix a go.

[2021-12-08 13:56] mattking-smith commented on #954
As I am working on this I have been able to fix simple bugs, like adding `true` to `>> stereo_model = noiseModel.Isotropic.Sigma(3,1,true);`, but I am struggling to fix the `graph.print()` feature of a MATLAB-based graph, which is called in many examples.

For example in the LocalizationExample.m file, the command
`graph.print(sprintf('\nFactor graph:\n'));`  results in the error
[code]
The print

[2021-12-08 14:57] dellaert commented on #954
If it is limited to one or two classes, you can always add the two versions of the function back into the wrapper, ie One with the KeyFormatter and one without. Then the default argument will be selected in C++

[2021-12-09 06:31] ghm0819 commented on #939
As far as I know, there are two reasons for such a problem

1.1 compilation option

cmake .. -DGTSAM_BUILD_WITH_MARCH_NATIVE=OFF

1.2 parameter option

Matrix decomposition is by default using LLT decomposition, which is fast but sometimes numerically unstable. Use QR decomposition to resolve this issue. QR is slow but stable to use

parameters.factorization = gtsam::ISAM2Params::QR;

[2021-12-10 06:19] varunagrawal opened #958 "Unify Values types"
## Feature

Currently discrete factor types require the use of custom `Values` which is just an alias to the `Assignment` class. We can achieve the same objective using the regular `gtsam::Values`.

We should remove all the Values typedefs in `discrete/` and instead use good ol' `gtsam::Values`.

## Motivation

This unification will help with the newly proposed HybridFactors. Tagging @dellaert for

[2021-12-11 01:37] vifi2021 opened #961 "Range only expression factor"
Hi,

I am a beginner of GTSAM and I am following one of the example (Pose3SLAMExampleExpressions_BearingRangeWithTransform.cpp) to come up with a way to construct an expression graph based on range only expression factors.

following the example code:
[code]

I am trying to define a range expression as the following:
[code]

However my first line gives me compiler error.
[code]
I have been scratch

[2021-12-11 14:41] dellaert commented on #961
`MeasureRange` does not have the requisite OptionalJacobians. RangeFactor.h probably does what you want, but if you want to use expressions, you can use the `Range` template for the types you’re interested in. Range fractured or age does that, so you can crib from that example. Probably as easy as replacing  MeasureRange with Range<Pose3,Point3>.

[2021-12-11 14:41] #961 closed

[2021-12-11 22:30] vifi2021 commented on #961
Thank you very much!
[code]
This works for me.

[2021-12-13 08:15] zhaoworking opened #964 "Indeterminant linear system detected while working near variable"
[code]

Here I use IMU between Factor and 6DOF visual odometry pose Between factor  to construct my graph using isam2 to update it. But I found this problem after a short time. Obviously, the IMU bias displayed which after optimization is too big. But I don't know what cause the bias increases in such a pace that reaches at **1e91**  magnitude that cause the system just shut down.
So,What is the r

[2021-12-13 12:44] dellaert commented on #964
Not a bug, please subscribe to Google group and ask there. But even there I think no one will be able to help you based on only this information. Working with IMU factors is hard and people might only help you if they know the steps you have taken to debug etc.

[2021-12-13 12:44] #964 closed

[2021-12-13 13:12] zhaoworking commented on #964
Thanks a lot whatsoever. Notable to say, I change the 6DOF factor pose_noise of which the orientation noise is set to INT_MAX ,to the zero. And , it works fine. But I am confused with this noise model, could u tell me what the role that the noise parameter here represent in the noise model. Cause when I set INT_MAX, i found the noise model is [0,0,0], however , when I set zeros, i found it is [inf

[2021-12-13 14:25] mattking-smith commented on #954
@varunagrawal, I believe once the `master` version of the wrapper library is merged into this repository we can close this issue.

[2021-12-13 15:03] varunagrawal commented on #954
Yeah I'm already on that :)

[2021-12-14 03:05] #954 closed

[2021-12-17 01:57] chrisgitguud commented on #840
This appears to be fixed in commit 347ea5d805328a1fb5e014ee1f838cdc890fcccd.

[2021-12-18 13:51] varunagrawal commented on #840
@geoeo can you check if the latest `develop` branch works for you?

[2021-12-19 22:56] ProfFan commented on #937
Yes

And yes. Since quals is done I'll start the release.

[2021-12-19 22:58] ProfFan commented on #824
I am back from quals (yay!) so let's do that. I'll cut the branch, compile and release artifacts at the time @dellaert makes the call.

[2021-12-20 02:17] dellaert commented on #824
Great. Actually, before cutting anything, can we talk? I’ve since then also looked at the pypi distributions from GTSam, and I wonder whether we should tag versions that have the same version number. Send me an invite for tomorrow if you can make it

[2021-12-20 22:27] ProfFan commented on #824
4.1.1 is out! We'll do a bigger 4.2 shortly after the discrete changes per discussions w/ @dellaert .

[2021-12-20 22:27] #824 closed

[2021-12-21 16:56] varunagrawal commented on #937
We could replace `boost::optional` with `std::optional`. That should make porting far easier than switching to pointers.

[2021-12-21 17:03] ProfFan commented on #937
std::optional + std::reference_wrapper has some issues - I tried but it broke something that I have not identified. Since I am free of quals now I can start investigating. @varunagrawal do you want to pair program on this?

[2021-12-22 17:00] dellaert commented on #837
@Binbin418916 Small PR?

[2021-12-22 18:16] mattking-smith commented on #523
Is this still an open issue?

I have the current wrap library + GTSAM toolbox on in a Ubuntu 20.04 environment with MATLAB 2021a and I have no issues with this example.

@solution3000 Can you try wrapping the current GTSAM environment into MATLAB and verify it works on your machine?

[2021-12-22 18:30] varunagrawal commented on #523
I think this can be marked as resolved. @solution3000 if you still have issues, you can just reopen this issue and provide more details. :slightly_smiling_face:

[2021-12-22 18:30] #523 closed

[2021-12-22 18:33] varunagrawal commented on #581
@dellaert we can now finish this. We should do it in our next meeting.

[2021-12-22 20:04] junzhang3141 opened #981 "Incorrect reconstruction results with SmartFactor and Cal3Fisheye"
## Description
I am debugging some incorrect 3D recon issues using SmartFactor + Fisheye camera model.
For some reason all the 3d points near the edge are all wrong and I am now able to reproduce the issue
with gtsam example`SFMExample_SmartFactor.cpp`.
All I did is to modify the camera model to be fisheye with very small distortion coeffs (1e-10) and I can see the optimized points are quite off c

[2021-12-22 20:14] junzhang3141 commented on #981
I have not yet dug into the code yet but my gut feeling is we are not applying distortion to the projected points correctly as I can see more errors if 3d points are near the edges of the image. I will update once I have more info.

[2021-12-30 04:24] johnwlambert opened #995 "Similarity(3) estimation returns a negative scale for some poorly aligned pose graphs"
For some badly aligned pose graphs, `Similarity3.Align(` returns an object with **negative scale**, e.g.

[code]
This wreaks havoc on reprojection errors, as cheirality exceptions begin to occur everywhere when using camera poses that have been transformed by the Sim(3) object with negative scale.

When the scale is clamped to a positive number, then reprojection errors are unmodified by applying

[2021-12-30 13:22] dellaert commented on #995
Good find.! Do you have an idea how to fix it?

[2021-12-30 17:55] johnwlambert commented on #995
@dellaert I propose one potential fix here: https://github.com/borglab/gtsam/pull/997

[2021-12-31 12:43] dellaert commented on #937
I have been thinking about this. While there can be some (mild) API changes in 4.2, 4.3..., I see removing boost and moving to c++17 is more of "5.0" move. Also, in terms of reviewing this and assessing consequences on correctness, performance, it would have to be executed in a series of small, targeted PRs that tackle different issues, and are easy to review. Happy to chat more in person on creat

[2021-12-31 21:16] dellaert commented on #995
@johnwlambert , when I run `make python-install python-test` I get:
[code]

[2021-12-31 22:26] johnwlambert commented on #995
@dellaert interesting. I'll take another look on my local machine. Was passing that test on all CI configurations yesterday:
[code]

[2022-01-01 01:07] johnwlambert commented on #995
@dellaert I built locally and all the tests pass for me.

I did have to uninstall 4 previous versions of gtsam first, though. Can you `pip uninstall gtsam` until nothing is left, and then pull the latest, and try one more time to `make python-install`? This is what I had to do:
[code]

Then, when I run
[code]

[2022-01-03 04:22] dellaert commented on #995
Thanks for checking!  I get the same now
I think there is an issue when compiling GTSAM with "Timing" mode, in that it links with the wrong shared library. Closing this again now :-)

[2022-01-03 04:22] #995 closed

[2022-01-03 04:37] dellaert commented on #995
@varunagrawal I looked at this, and think this might be a cmake issue with CMAKE_BUILD_TYPE_POSTFIXES. Specifically, when I enable Timing, I think it builds a `gtsamTiming.cpython-39-darwin.so` but it might not link with the correct `libgtsamTiming.4.2.0.dylib`? Not sure, and no idea how to fix.

[2022-01-03 05:06] varunagrawal commented on #995
That's interesting. I will need to take a look at this with a much fresher mind though but I will get to it asap.

[2022-01-07 14:32] varunagrawal opened #1014 "DCGaussianMixtureFactor key specification needs some thinking"
## Feature

From @dellaert:

## Motivation

## Pitch

## Alternatives

## Additional context

[2022-01-11 13:44] Timple commented on #292
That's the problem with parallel branches, they go out-of-date: [feature/use-system-libraries](https://github.com/borglab/gtsam/tree/feature/use-system-libraries)

I was wondering why this package wasn't released yet to the ROS buildfarm. Would be nice, because [rtabmap](https://github.com/introlab/rtabmap) also has an optional dependency on it.

But just like [ruffsl mentioned](https://github.com

[2022-01-12 17:49] varunagrawal opened #1032 "Bug in probPrime"
## Description

`probPrime` in `GaussianFactorGraph` applies a 0.5 constant to the error, however each factor already applies 0.5 when computing its error, so the extra 0.5 is wrong.

## Steps to reproduce

We can reproduce this with a simple unit test on a `JacobianFactor`.

## Expected behavior

The `probPrime` should be correct.

## Environment

## Additional information

[2022-01-13 01:29] #1032 closed

[2022-01-13 03:51] Williamwenda commented on #837
This solution works out

[2022-01-13 21:39] varunagrawal commented on #837
From the comments it seems that the author was not linking gtsam_unstable correctly in their project. Since a solution has been reached and there is no need for a PR, we're closing this.

[2022-01-13 21:40] #837 closed

[2022-01-19 13:49] jimmy9925 opened #1046 "jetson nx internal compiler error"
hello everyone
I tried to build gtasm ,but I got some error
ubuntu 18.04 and I tried gcc 5 ,gcc 6 ,gcc 7 ,gcc 8 ,gcc9

c++: internal compiler error: Segmentation fault signal terminated program cc1plus
Please submit a full bug report,
with preprocessed source if appropriate.
See <file:///usr/share/doc/gcc-8/README.Bugs> for instructions.
gtsam/CMakeFiles/gtsam.dir/build.make:1574: recipe for targe

[2022-01-19 20:26] NickPerezCarletonUniversity commented on #705
@ProfFan where and how are you supposed to set this option? I don't see it in 'CMakeLists.txt'

[2022-01-21 13:39] dellaert opened #1048 "optimize <> MPE"
## Description

The `optimize` methods in `DiscreteFactorGraph` and `DiscreteBayesNet` do not actually compute the MPE, but optimize first the marginal of the parents, and then the conditional marginals of the children. While often agreeing with the MPE (I had to work a bit to find a counterexample in addition to the Darwiche example) this computation is not the same, and in fact is not a common t

[2022-01-21 20:47] keevindoherty commented on #1048
Wow, really great find. Thanks for keeping us in the loop on this!

[2022-01-22 19:49] #1048 closed

[2022-01-22 21:13] Shikhargupta opened #1057 "Clang `-march=native` fails on Apple M1"
When I try to build from source on my M1 Mac, I get this error:
`clang: error: the clang compiler does not support '-march=native'`

Is there a quick workaround for this?

Thanks!

[2022-01-24 06:50] FishInWave opened #1061 "Why the H1 is filled with the bottom row of rotation matrix for RelativeElevationFactor?"
https://github.com/borglab/gtsam/blob/3d86bc729463bf17369137d8451092413a6b1d17/gtsam_unstable/slam/RelativeElevationFactor.cpp#L25

As h(pose, pt) = h.z() - pt.z() , the H1 should be (0,0,0,0,0,1) and H2 be (0,0,0,0,0,-1).
Is there anything wrong?

[2022-01-24 11:39] dellaert commented on #1061
Derivative in GTSAM can be unintuitive. Can you share the output of a unit test that fails?

[2022-01-24 16:21] dellaert commented on #1057
Turn off the option ;-) But we should change cmake to detect the platform do it automatically, so will re-open issue.

[2022-01-24 16:29] Shikhargupta commented on #1057
Yeah, changing it automatically would be great. I found the quick fix myself that's why closed the issue.
You can use it to track the problem.

[2022-01-25 13:57] huanglilong opened #1063 "typo error in doc/math.pdf"
typo error in 5.3
![Image from iOS (2)](https://user-images.githubusercontent.com/7278867/150990307-0b841982-d05a-4f6d-ae73-2dba7b8d20a0.jpg)

[2022-01-25 19:21] dellaert commented on #1063
OK, wait, the last line *is* correct, it's the second to last line that's wrong. Got it :-) Thanks!

[2022-01-25 19:35] dellaert commented on #1057
PS @Shikhargupta if you know how to fix the cmake thing, please feel free to PR :-)

[2022-01-27 09:28] kkoledic1212 opened #1071 "Scale optimization for SLAM"
Assuming I have a pose graph optimization problem of SE(3) poses. I would like to optimize only scale of translation(i.e. norm of translation vector), while keeping rotation and direction of translation fixed. Error would be in tangent space of SE(3).

How would one create such optimization in GTSAM? Do appropriate factors already exist or is only solution creating custom factors?

[2022-01-27 21:00] dellaert commented on #1063
Closed with #1064

[2022-01-27 21:00] #1063 closed

[2022-01-28 01:12] ProfFan commented on #1046
Most likely you don't have enough memory. Please cross compile or find the reason why you have such low memory (GUI, etc.)

[2022-01-28 01:12] #1046 closed

[2022-01-28 22:31] ProfFan opened #1074 "Equals method should have the proper inheritance hierarchy"
We have multiple base classes with `equals` scattered throughout the codebase.

Proper way to do this: https://godbolt.org/z/4n4ETqKqs

Conditional<T>, as a CRTP designed for code reuse, should *always* use dynamic dispatch `this->xxx`, not `This::xxx`.

[code]

[2022-01-30 14:41] varunagrawal opened #1076 "Support direct STL container wrapping in the Pybind11 wrapper"
## Feature

By including `pybind11/stl.h`, we can have Pybind11 directly translate STL container elements (even those that are typedef'd) rather than go the roundabout way of defining a custom opaque type that may collide with another type.

For example, recently #1069 added a `Rot3Vector` to the wrapped code and this shouldn't be necessary. We should just be able to say `std::vector<gtsam::Rot3>`

[2022-01-30 15:13] dellaert commented on #1076
If it is very much API breaking I want to hold off until next major version (5.x). The book development can't tolerate this amount of disruption at this time.. Also, IROS....

[2022-01-30 17:39] varunagrawal commented on #1076
Yup thought as much. I'll still open a draft PR on my fork so we're not starting from scratch in the future and not wasting CI cycles.

[2022-01-31 20:43] fatrybl opened #1081 "Problem with python wrapper build"
Hello everyone,
i faced a problem with building GTSAM with python wrapper/
What i do:
1) dowloaded repo, mkdir build && cd build
2) cmake -DCMAKE_BUILD_TYPE=Debug -DGTSAM_BUILD_PYTHON=1 -DCMAKE_INSTALL_PREFIX:PATH=$HOME/mark/gtsam_lib/ ..   (tried to install to default usr/local/ , same result)
3) make check -j6 . All tested passed 0 errors out of 265
4) make install -j6.  All installed , no error

[2022-01-31 21:31] ProfFan commented on #1081
I think we should change the README to advise people to NOT use `python-install`. As demonstrated in #1075 , the existence of the `python-install` appears to be rather confusing to first-time users.

@fatrybl I suggest you to install the python toolbox with:
[code]

As for the error you are seeing, please report back your current operating system and GCC version.

[2022-01-31 21:41] dellaert commented on #1081
I love python-install ! What's wrong with it?

[2022-01-31 21:42] dellaert commented on #1081
I think the issue - which we should document properly - is that users that don't have install privileges in their regular python build should build gtsam withn a virtualenv or conda environment.

[2022-01-31 21:43] dellaert commented on #1081
On Mac, for instance, system python is still 2.7. I also think *no one* should install in /usr/local

[2022-02-01 09:39] fatrybl commented on #1081
@ProfFan thank you for a decision. I used pip install --user ./python and python wrapper has been successfully installed to /home/mark/.local/lib/Python3.8/site-packages/ . My GCC is 9.3.0, Linux Mint 20.3 Cinnamon, kernel 5.4.0-97-generic.
@dellaert Could you please clarify how to install with python-install and proper permissions? sudo make python-install did not help. I dont really want to use

[2022-02-03 05:42] JeffR1992 commented on #907
Unfortunately I haven't had time to do this. However, after coming back to this having read a few more papers it sounds like motion-only BA is equivalent to structureless BA, in which case the paper titled "On-Manifold Preintegration for Real-Time
Visual-Inertial Odometry", which states that it uses "structureless vision factors", is useful to read. @dellaert  are these factors equivalent to the `

[2022-02-04 03:05] dellaert commented on #907
Sure. This is what several people do, although the students/postdocs doing it here at Georgia Tech have long since moved on :-)
Some more papers from those folks:

1. [Mining Structure Fragments for Smart Bundle Adjustment](http://www.cc.gatech.edu/~dellaert/pub/Carlone14bmvc.pdf), [Luca Carlone](http://www.lucacarlone.com/), [Pablo Fernández Alcantarilla](http://www.robesafe.com/personal/pablo.al

[2022-02-04 06:15] JeffR1992 commented on #907
Thanks for the links to those papers, I've read (2) which was great, but I'll take a look at the others as well when I get some time.

Apologies if I didn't fully understand your previous reply @dellaert . When you said "although the students/postdocs doing it here at Georgia Tech have long since moved on", were you implying that the use of smart factors for motion-only/structureless BA with GTSAM

[2022-02-04 14:27] dellaert commented on #907
Ha :-) The latter: the students/postdocs *literally* moved to other places. The ideas are still valid and are still bing actively used, e.g., @lucacarlone and his team have recently added new smart factor variants to deal with rolling shutter etc.

[2022-02-04 20:06] magicbycalvin opened #1087 "Unable to Build 4.1.1 On Windows"
## Description

I have been trying to compile GTSAM from source on at least 3 different Windows 10 machines but keep running into problems. My goal is to compile the most recent stable version (4.1.1 at the time of writing) in release and generate the MATLAB toolbox alongside it. I am first trying to just get release to successfully compile before playing with the MATLAB build so that I can hopefu

[2022-02-04 20:11] ProfFan commented on #1087
Out of curiosity, could you try building GTSAM with the VS Clang instead of MSVC? MSVC is very foreign to the entire team, and I've heard a lot of good comments from friends using Clang.

[2022-02-04 23:20] magicbycalvin commented on #1087
Looked back at it and I believe I ran into the same problems as before despite using Clang instead of MSVC. Is there anything else I should try out? Perhaps I am not doing something right within VS?

[2022-02-05 01:18] dellaert commented on #1087
Hi, I think what we test in CI and currently is MSVC. @ProfFan, could you possibly help with debugging that? That would then help everyone if there actually is an issue.

[2022-02-05 02:32] magicbycalvin commented on #1087
I'd be happy to hop on Zoom to take a look if that would make things easier. Otherwise, I am more than happy to provide as much info here as you need. Thanks!

[2022-02-05 03:25] JeffR1992 commented on #907
Haha, thanks for clearing that up, I'll take a look at smart factors and see if I can get something to work. Thanks for your suggestions!

[2022-02-05 16:11] dellaert commented on #907
OK, I will then close this issue for now.

[2022-02-05 16:11] #907 closed

[2022-02-08 03:04] cdb0y511 opened #1092 "std::out_of_range with map::at exception with gtsam 4.1.1 (rtabmap)"
Hi, I am using rtabmp with gtsam 4.1.1. It occasionally occurs terminate called after throwing an instance of 'std::out_of_range'
  what():  map::at.
The details are similar to
https://github.com/introlab/rtabmap/issues/823
I hope it could be fixed soon. Maybe you could work it out together @matlabbe.
I give a reprint here.

[2022-02-09 22:38] DanMcGann commented on #1092
I have run into this problem as well, and have developed a minimal example that demonstrates it (see below).

I originally came across it when working with [KimeraRPGO](https://github.com/MIT-SPARK/Kimera-RPGO), but have also found it in a custom algorithm. It would appear that the common behavior of `rtabmap`, `KimeraRPGO`, and my use case, is re-solving with a batch optimizer after a new factor

[2022-02-11 19:53] DanMcGann commented on #1092
Update: I have confirmed that running on v4.0.3 (built from source) the above examples do not appear to error out.

[2022-02-11 20:08] ProfFan commented on #1092
Hi @DanMcGann, are you using TBB?

[2022-02-11 20:24] DanMcGann commented on #1092
Yes, `GTSAM_WITH_TBB` is set. I have not tried with TBB disabled.

[2022-02-11 21:36] ProfFan commented on #1092
It would be great if you can try
1. without TBB, and
2. with TBB, but with #901 reverted?

[2022-02-11 22:47] magicbycalvin commented on #1087
Just wanted to bump this issue to see if anything has been discovered. If not, no worries! I understand how busy everyone must be!

[2022-02-12 15:20] dellaert commented on #1087
Yeah, not only busy, but the core issue is most of us are on Linux or Mac. I tried compiling on an old windows laptop but could not get past boost library issues. It's odd, as our CI passed for 4.1.1., right? Can you look at the CI workflow and see what might be different on your system?

If nothing jumps out, I have this: a lot of the warnings in your original post concern timing scripts. How abo

[2022-02-13 14:48] dellaert commented on #1087
Wow, thanks @mikesheffler ! Two things:
1. Seems like one way forward is immediate: turn unstable OFF :-)
2. To get unstable to link (because seems compile is not an issue?) maybe check how many build errors you can get rid of by adding GTSAM_UNSTABLE_EXPORT to the *classes* that are mentioned above.

*However* I just looked at the first file, `SingleValue.h,` and *it is already there* ! This make

[2022-02-13 15:09] varunagrawal commented on #1087
Yeah I ran into this issue a ton when trying to speedup the windows CI. The unstable build was never turned on which is why this issue wasn't caught before.

I tried adding GTSAM_UNSTABLE_EXPORT to the complaining classes and they didn't seem to do anything? At that point I sort of gave up because I had more pressing things to attend to and the Windows dev skill needed was above my pay-grade.

We

[2022-02-14 00:58] mikesheffler commented on #1087
I don't actually know how to read the CI configurations, so I'm going to take your words for it, but looking at [this action](https://github.com/borglab/gtsam/runs/5168480167?check_suite_focus=true#step:5:202), I thought that that meant unstable _was_ being built. There are a ton of references in there that seem to suggest that it is.

-----

I created a pull request (#1097) that fixes the issues

[2022-02-14 00:59] szx0112 opened #1098 "Error with python_wrapper: plot_covariance_ellipse_3d not work as expected"
## Description

Hi gtsam support team, I tried to plot the marginal covariance matrix using `plot_covariance_ellipse_3d`. The inputs are  `axes`, `3x1 point position` , and `6x6 covariance matrix obtained from gtsam_marginals.marginalCovariance(keys[ii])`. I have checked and ensured these input variables are good.

After running the code, I got the error `shape mismatch: objects cannot be broadcas

[2022-02-14 04:52] dellaert commented on #1087
Yeah, that is weird. I think abstract classes like NoiseModelFactor3 should *not* have EXPORT, actually. Could you see whether removing that works?
PS, if that works and you're doing another PR, maybe turn off warning C4834, as it clutters everything up in logs :-/

[2022-02-14 13:28] mikesheffler commented on #1087
Removing `GTSAM_EXPORT` from `NoiseModelFactor3` and `NoiseModelFactor2` fixes all of the link errors associated with `LocalOrientedPlane3` and `RelativeElevationFactor`. I didn't PR it because I wasn't sure if it was implied that I would also strip `GTSAM_EXPORT` from `NoiseModelFactor1`, `4`, `5`, and `6` (probably), and (less obvious -- it's not completely abstract) `NoiseModelFactor`.

After m

[2022-02-14 15:48] dellaert commented on #1087
Yeah, I don't know either. I tried re-reading https://github.com/borglab/gtsam/blob/develop/Using-GTSAM-EXPORT.md and it seems to say that as long as a class has *at least one* function defined in a .cpp, it should be OK to do GTSAM_EXPORT.

FWIW I think mixing GTSAM_EXPORT and GTSAM_UNSTABLE_EXPORT is not an issue, and they probably are `#defined` to the same thing underneath. Hence, the naming i

[2022-02-15 00:22] mikesheffler commented on #1087
**tl;dr** I think I got it. The key seemed to be _removing_ some export statements. I can put together a PR later tonight, once I try to quiet some of the warnings, and learn how to run the tests that @dellaert asked for.

-----

Aaaaaaaaaah. I was not aware of that. It makes sense, but I didn't think of it at all. Would you like to guess what the genealogies of all of the complaining classes have

[2022-02-15 00:41] dellaert commented on #1087
Woah, good sleuthing :-)

about the last point, I’m not an expert either on these workflows :-) however, at the end of this file: https://github.com/borglab/gtsam/blob/develop/.github/workflows/build-windows.yml

you can add any target that is defined in GTSam. You can do `make help`  to see all the targets. The most hard-core target is simply `check`, which would certify that every unit test work

[2022-02-15 01:23] gradyrw opened #1101 "ISAM2 Marginalization Issues"
## Description

I have been trying to use ISAM2's marginalizeLeaves function and encountered a few issues, particularly on larger problems. I've tracked the issues down as best I can and I believe there are 3 different bugs in the marginalizeLeaves function which are causing problems:
1. There is a missing `nullptr` check which is required in cases where a leaf is also a root (e.g. marginalizing t

[2022-02-15 02:50] dellaert commented on #1101
@gradyrw , as it happens we were looking at marginalization today, but it's been a while since I did a deep-dive - and the students that helped create this are all gone. I am prepared to take a deeper look if you could create a some unit tests that fail. I just pushed a branch `fix/iSAM2` which you could create a PR against from a fork, if you're willing.

[2022-02-15 11:29] mikesheffler commented on #1087
There are some more details in #1102 , but I had to cave on silencing the warnings and adding checks.

* Using #pragma statements in .cpp files wound up touching like 85 files (not exaggerating), so maybe there's a CMake way to do it? I have a patch saved that just does all the pragmas, and I could apply it an make a PR, if that's the route you want to go.

* The `check`s are in bad shape for MSVC

[2022-02-15 12:06] mikesheffler commented on #1087
Getting back to the original question of getting the MATLAB toolbox building, here is the current build output, for posterity. This is just the 'regular' toolbox, and _not_ attempting to add `GTSAM_UNSTABLE_INSTALL_TOOLBOX`.

The formatting here is really frustrating, and many of the lines are 'Hint on symbols that are defined and could potentially match` 🙄 , but I don't really know a better way t

[2022-02-15 15:15] gradyrw commented on #1101
Sounds good. I'll put up a PR with the failing tests soon.

[2022-02-16 13:01] WANGYINGYU opened #1106 "ISAM2 3D Case for g2o file"
Hi,

I now need to use ISAM2 for some 3d datasets in g2o-like format such as sphere2500, but I did not find similar examples in the examples file, which either generated several simulated data using poses and landmarks directly or read the g2o format file and used it directly in some batch methods. I tried to write the code myself but I found it difficult because I was not familiar with the librar

[2022-02-17 00:12] WANGYINGYU commented on #1106
I think so. VisualISAM2Example not load and use g2o file, SolverComparer uses 2d dataset. I not find the suitable code for my case. Do you have some suitable code for my case? Thank you. @dellaert

[2022-02-17 02:40] dellaert commented on #1106
TEST(dataSet, readG2o3D) {
...
}

[2022-02-17 05:12] #91 closed

[2022-02-17 13:33] dellaert commented on #1087
Trying to resolve https://github.com/borglab/gtsam/issues/91 and https://github.com/borglab/gtsam/pull/1102, ultimately getting MATLAB and python wrappers working on windows. Borrowing from your little bird analogy, I propose using make check as the canary in the coal mine: this would suss out all compile and linking errors in gtsam proper, make our windows CI better, and move on to any issues in

[2022-02-18 02:08] berndpfrommer opened #1110 "Ubuntu 20.04 package broken: Error: GTSAM was built against a different version of Eigen"
When I try to compile a GTSAM application on Ubuntu 20.04 using libgtsam-dev (both with the nightly dev build and the 4.0 release) I get the following error:

[code]
Indeed, it looks like libeigen3 has been upgraded very recently:
[code]
In theory it should work with the nightly dev build package because that one should always build under the latest version of Ubuntu 20.04. Alas, the nightly build

[2022-02-18 23:50] berndpfrommer commented on #1110
Interestingly, the build log on the Ubuntu server farm shows that they are still building with the Eigen library at 3.3.7:
[code]
So in fact the problem is *not* fixed by just resubmitting the GTSAM source package for a rebuild.

[2022-02-19 00:14] berndpfrommer commented on #1110
False alarm!
Ubuntu is still on 3.3.7. I had picked up a later version of Eigen from a different PPA. Very sneaky:
[code]

[2022-02-19 00:14] #1110 closed

[2022-02-19 03:00] #958 closed

[2022-02-20 16:29] ProfFan commented on #1092
So a brief review:

1. This is probably not memory corruption, otherwise Asan should have caught it
2. This happens spuriously
3. Related with TBB
4. Works if #901 is reverted (confirmation @cdb0y511 @DanMcGann @matlabbe)

So I am thinking about a race condition in the graph traversal task.

[2022-02-20 16:59] acxz commented on #1092
I'll take a closer look at this either this week or next week. Having a race condition is not really acceptable.

[2022-02-20 18:53] shteren1 commented on #886
@ProfFan , @dellaert i just stumbled upon a similar issue, i have an incremental vslam optimization that runs hundreds of optimization cycles and uses results from previous iterations as initial state for new key frames i add, long story short i came across a very unpleasant event where the later Pose3 values i had in my problem were VERY far from orthogonality, as far as one of the entries of the

[2022-02-21 06:18] goldenhazard opened #1114 "The role of the `integration covariance`"
Hello, I am recently navigating through `imu_preintegration factor`
While scrutinizing `ImuFactor` and `CombinedImuFactor` , I bumped into the presence of so-called `integration_covariance` or `biasAccOmegaInt`. The two terms appear while propagating uncertainty as follows,

`ImuFactor.cpp :: integrateMeasurement`
[code]
`CombinedImuFactor.cpp :: integrateMeasurement`
[code]

At first, I thought t

[2022-02-22 06:49] yxllnSLAM commented on #196
@zeng-xiangwei @narutojxl 两位好，我在4.0.2的分支上依然会出现问题，后来你们有尝试吗

[2022-02-22 07:09] zeng-xiangwei commented on #196
@yxllnSLAM 你好，我在ubuntu20.04上用的ceres1.14.0+gtsam4.0.3，把ceres库重新安装为共享库（.so）就没有这个问题了（安装ceres的时候加一句`cmake -DBUILD_SHARED_LIBS=ON ..`）。
我目前还不清楚为什么换成 .so 就好用了。

[2022-02-22 07:19] yxllnSLAM commented on #196
@zeng-xiangwei 好的好的，多谢分享

[2022-02-22 09:13] SarveshS325 opened #1118 "Error in building MATLAB wrapper: No module named 'gtwrap'"
## Description

I am trying to build the MATLAB wrapper. Getting the following error
[code]

## Steps to reproduce

1.
[code]
2. `make`

## Environment
Ubuntu 18.04
gtsam 4.1.1
MATLAB 2018a
Python 3.8.12 (conda env)

## Additional information
I am able to build the python wrapper just fine
[code]

[2022-02-22 09:47] WANGYINGYU commented on #1106
I use readG2o(dataSet,is3D), but this api return [initial value, graph], which is good for batch optimization but it doesn't work well for incremental method (ISAM2), do you have any suggestions? Thank you. @dellaert

[2022-02-22 17:20] dellaert commented on #1106
Why would it not be good for incremental? You can feed the factors *and* values in an incremental way to iSAM, after loading. `VariableIndex` might help.

I'll close this issue unless the above does not solve your problem. If you'd like a different API, feel free to contribute with unit-tested PR.

[2022-02-22 17:20] #1106 closed

[2022-02-22 23:22] varunagrawal commented on #1118
Thanks for reporting! It'll be about a few days before I can look into this (since we're all trying to make IROS 22 deadlines), but it looks like it should be a simple fix.

[2022-02-22 23:24] varunagrawal commented on #1114
I am writing this up actually. Refer to #879.

[2022-02-23 01:52] WANGYINGYU commented on #1106
The problem is that I don't know how to use the variable index to enter values in incremental for the unique format. I used python wrapper and after using loadg2o, the graph is NonLinearFactorGraph size 4949. How do I access one of the factor  by index value? Can you give me an example? Thank you. @dellaert

[2022-02-23 04:31] vigorbird opened #1119 "How to obtain factorindex in ISAM2?"
I am using ISAM2 to optimize robot pose using GPS and VO data. But I find that the time cost is increasing with the increase of data.
I look into details of GTSAM source code and find that the ISAM2 provides another "update" function to remove unused factor in graph:
ISAM2Result ISAM2::update(
    const NonlinearFactorGraph& newFactors, const Values& newTheta,
    const FactorIndices& removeFactor

[2022-02-23 15:23] mattking-smith commented on #1087
@dellaert I am using the MATLAB toolbox in a _Ubuntu 20.04_ environment and have everything successfully compiling, wrapping, and running with no issues.

So this may be a Windows compilation issue? Are these MATLAB toolbox issue really related to the toolbox itself or an OS compilation problem?

Gauging from https://github.com/borglab/gtsam/issues/1087#issuecomment-1042953842 it looks like other

[2022-02-26 05:09] goldenhazard commented on #1114
Oh looking forward to the release of the docs. Thank you for your answer

[2022-02-27 05:29] AchmadFathoni opened #1122 "Request python 3.10 wheel for GTSAM pypi"
The latest [GTSAM PyPI](https://pypi.org/project/gtsam/#files) wheel package is still for python 3.9 (cp39).

[2022-02-27 06:56] Janphr commented on #380
Unter 20.04 and GTSAM 4.2.0 following solved it for me:
`sudo cp /usr/local/lib/libmetis-gtsam.so /usr/lib`

[2022-02-27 11:23] AchmadFathoni commented on #1122
Arch linux, I'm the maintainer of AUR for python-gtsam

[2022-03-09 16:17] DanMcGann opened #1129 "mEstimator Error with Trust Region Optimizers"
## Description
When using robust noise models trust region optimizers use an incorrect value for system error when evaluating convergence and step rejection criteria. Specifically these optimizer evaluate convergence on the sum of weighted residuals ![formula](https://render.githubusercontent.com/render/math?math=\sum(r_i\sqrt{w_i})^2) rather than the robust cost value  ![formula](https://render.g

[2022-03-09 20:39] DanMcGann commented on #1092
Confirmed: Tested this morning with these commits reverted and I cannot seem to re-recreate the bug.

[2022-03-10 19:03] KierenSama2 opened #1130 "RangeISAMExample Error 'gtsam::ValuesKeyDoesNotExist'"
I am fairly new to GTSAM and am trying to run the RangeISAMExample.cpp. When I run the code as is I get the following error:
`[100%] Built target RangeISAMExample_plaza2
terminate called after throwing an instance of 'gtsam::ValuesKeyDoesNotExist'
  what():  Attempting to at the key "L2", which does not exist in the Values.
Aborted (core dumped)
make[3]: *** [examples/CMakeFiles/RangeISAMExample_p

[2022-03-10 22:31] dellaert commented on #1130
You are right. The initialization was totally wrong. Probably was originally the smaller plaza1 dataset.
I cleaned up this old example up and fixed this in #1131
I did *not* check whether the result makes sense. Maybe you can visualize from that branch and paste an image here?

[2022-03-10 23:08] KierenSama2 commented on #1130
@dellaert thank you for the quick reply. After pulling a different error occurred.

`[100%] Built target RangeISAMExample_plaza2
terminate called after throwing an instance of 'gtsam::IndeterminantLinearSystemException'
  what():
Indeterminant linear system detected while working near variable
3086 (Symbol: 3086).

Thrown when a linear system is ill-posed.  The most common cause for this
error is

[2022-03-10 23:44] dellaert commented on #1130
Hmm. I don’t have this. Try with a different random seed for `rng` ?

[2022-03-11 00:52] KierenSama2 commented on #1130
Error still occurs with other random seeds. The same instance is thrown but is detected near other variables
`Indeterminant linear system detected while working near variable
5476377146882523139 (Symbol: L3).
`
Will provide an update if solved.

[2022-03-11 17:35] ProfFan commented on #1092
@acxz Do you have time to take a look? BTW, I suspect it could be a missing `wait` when you converted the old code.

[2022-03-11 17:44] KierenSama2 commented on #1130
Still not solved, do you think it has something to do with the config @dellaert ?
`- ================  Configuration Options  ======================
--  CMAKE_CXX_COMPILER_ID type                       : GNU
--  CMAKE_CXX_COMPILER_VERSION                       : 9.3.0
--  CMake version                                    : 3.16.3
--  CMake generator                                  : Unix Makefiles

[2022-03-12 22:00] roger- opened #1133 "ISAM2Result.newFactorsIndices() missing in Python?"
I'm trying to remove some factors from ISAM2 (similar to #1119), and it seems that I need to track their indices using `gtsame.ISAM2Result.newFactorsIndices`.

Unfortunately this seems to be missing in Python:

[code]

Is there a workaround or am I doing something wrong?

Setup: gtsam 4.1.1 / Ubuntu 20.04.4 / Python 3.8

[2022-03-12 22:04] roger- commented on #1119
Did you ever figure this out?

Seems like the factor indices are returned in [`ISAM2Result::newFactorsIndices`](https://gtsam.org/doxygen/a04364.html#adb82c057d927f3c326ca3c38dac29660).

[2022-03-14 19:19] roger- commented on #1133
That's good idea, thanks! Seems like I'll have to keep track of the entire graph instead of just handing it off to ISAM2, but should work for now.

Seems like it would be easier if factors had keys, like variables do. Wonder why indices are used?

[2022-03-14 19:48] hovren commented on #1133
I accessed the factors using `isam.getFactorsUnsafe()`, so there should be no reason to make a full graph yourself.

[2022-03-14 20:03] roger- commented on #1133
Ah, missed that method. Thanks!

[2022-03-16 00:38] acxz commented on #1092
Sorry about the delay, not yet sadly.

Yeah thats a good hunch you have.

[2022-03-16 06:05] SarveshS325 commented on #1118
Any idea where the problem could be arising from?

[2022-03-16 16:46] NickPerezCarletonUniversity opened #1134 "Incorrect Jacobian specified in Python Code for Custom Factor"
It looks like [the C++ code](https://github.com/borglab/gtsam/blob/develop/examples/LocalizationExample.cpp#L96) and [python code](https://github.com/borglab/gtsam/blob/develop/python/gtsam/examples/CustomFactorExample.py#L45) have different Jacobians defined for GPS measurements.

[2022-03-17 17:14] frank-Regal commented on #1118
also getting the same error when building, any resolution?

[2022-03-18 00:47] dellaert commented on #1118
@varunagrawal we don’t’ have to “git clone” with some sub tree flag, right? At least, I remember it works out of the box for me.

[2022-03-18 04:55] varunagrawal commented on #1118
@SarveshS325 the issue is that you're using a conda environment, so you'll need to specify the values for `GTSAM_PYTHON_VERSION` and `PYTHON_EXECUTABLE` in CMake (using ccmake for example).

[2022-03-18 06:52] SarveshS325 commented on #1118
@varunagrawal, if that were the case I should not have been able to build python bindings either. I have tried with system python3 outside conda environment and setting the `GTSAM_PYTHON_VERSION` variable, same result.

[2022-03-18 12:39] varunagrawal commented on #1118
Fair point. Can you please share the GTSAM branch and commit you are trying to build?

[2022-03-18 13:04] SarveshS325 commented on #1118
I am building from the source archive of the 4.1.1 release

[2022-03-18 13:23] varunagrawal commented on #1118
Oh then it seems like a bug creeped in that was subsequently fixed. We don't have a CI for Matlab which is why it wasn't caught before, so I apologize for that.

Do you mind building the latest `develop` branch? It should have the fixes and there should be no impact to your existing code.

[2022-03-18 14:18] varunagrawal commented on #1118
Quick update: even develop has some issues :-( I'll put in a PR in a few minutes.

[2022-03-18 14:20] SarveshS325 commented on #1118
Yup, just checked

[2022-03-19 21:09] dellaert commented on #1130
Turns out it was a parsing error in c++, see #1131 . Waiting on @jerredchen to approve and merge that PR, which now also has a notebook example with graphics. See PR for more details.

[2022-03-20 15:47] #1057 closed

[2022-03-20 17:37] dellaert commented on #1134
I fixed the docs at least in PR #1139 and copied to
https://gtsam.org/tutorials/intro.html#magicparlabel-65484

@ProfFan could you fix the python code please?

[2022-03-20 19:28] #1130 closed

[2022-03-22 08:51] SarveshS325 commented on #1118
@varunagrawal No, still the same issue

[2022-03-22 11:15] SarveshS325 commented on #1118
It is the same as in the original issue
[code]

[2022-03-22 12:30] varunagrawal commented on #1118
Can you change that line in `matlab_wrap.py` to `from gtwrap.matlab_wrapper.wrapper import MatlabWrapper`?

[2022-03-22 12:37] varunagrawal commented on #1118
This is very weird, especially since the python wrapper works for you. Both wrappers have a line `from gtwrap.X import Y` so if your system is able to build the python wrapper, then it should be able to build the Matlab wrapper.

Would you mind clearing your build directory and recompiling from scratch? The CMake cache may not have updated. Also please make sure you're on commit d0a1852c0.

[2022-03-22 16:22] doublestrong commented on #833
Sorry i was wrong. I get the same entries as those in the book and the GTSAM code. I will close this.

[2022-03-22 18:18] husseinalijaafar opened #1141 "Issue building wrap-export branch"
Hi,

I have been having difficuilty building gtsam (need it for gpmp2).

I do
[code]

However, once I do `make check`, it floods my terminal with warnings relating to Eigen etc.
Thats not the problem though. It fails at 37%:

Here is the end of the error message.

[code]

I can provide the entire error message, but it is really long (several thousand lines).

Thanks in advance

[2022-03-23 03:27] SarveshS325 commented on #1118
I have tried starting with a squeaky clean build and I am on `d0a1852`. Maybe there is a difference between how `pybind_wrap.py` and ``

[2022-03-23 05:26] doublestrong opened #1142 "Some objects in Python have no attribute 'measured'"
## Description
Hi, I am using the python wrapper of GTSAM. I cannot get `measured()` from the `RangeFactor2D` and `BearingFactor2D` objects. I can get it from the `BearingRangeFactor2D` object. Any clues for potential solutions? Is there a different way to access the measurements in those factors in Python? Thanks!

## Steps to reproduce
[code]

## Expected behavior
[code]

## Environment
I am usi

[2022-03-23 19:16] NickPerezCarletonUniversity commented on #714
I'm coming across the same issue. I've tried everything mentioned in this thread... no luck.

I confirmed I have cmake version 3.10.2, as well as Python 3.6.9

[2022-03-23 19:18] NickPerezCarletonUniversity commented on #1081
I tried everything in the following thread: https://github.com/borglab/gtsam/issues/714 as well as in this current thread. I am still getting the error listed [here](https://github.com/borglab/gtsam/issues/714) when trying to build.

Does anyone have any tips/tricks/advice? Thanks in advance.

[2022-03-23 19:21] NickPerezCarletonUniversity commented on #1081
@ProfFan @dellaert @fatrybl

[2022-03-23 19:22] NickPerezCarletonUniversity commented on #714
@varunagrawal @alliWong

alli, what did you mean by 'reinstall GTSAM'? do you just mean you deleted the build folder and started form scratch?
1) delete build folder
2) recreate build folder
3) cd into build folder
4) run: cmake .. -DGTSAM_BUILD_PYTHON=1 -DGTSAM_PYTHON_VERSION=3.x.x

[2022-03-24 18:27] varunagrawal commented on #714
That should be sufficient. Please post the full error message.

[2022-03-24 18:30] varunagrawal commented on #1081
If you're getting a PythonConfig.cmake error, that means you most likely don't have the dev files for your interpreter installed. For a vanilla Ubuntu system, that would be `apt-get install python3-dev`.

[2022-03-25 01:08] varunagrawal commented on #1133
PR #1146 should add the desired method as `getNewFactorsIndices()`.

[2022-03-25 02:49] #1081 closed

[2022-03-25 13:38] #1133 closed

[2022-03-25 13:38] #1142 closed

[2022-03-29 09:45] tdallapiazza opened #1153 "NavState between constraint"
## Feature

As the NavState is just a 9D manifold, it doesn't inherit the LieGroup's convenient methods like Between. In working only with Navstate (mainly around imuFactor2) having a between for NavState would be cool for loop closures.

## Motivation

Actually introducing a BetweenFactor<NavState> raise an error as traits<NaveState> has no Between method.

## Pitch

Adding the method in traits<N

[2022-03-29 15:25] dellaert commented on #1153
Interestingly, there are a few papers that define a Lie group "SE+(2)", which is just NavState plus a group operation I think. We could look into upgrading NavState and connecting to those papers...

[2022-04-02 14:24] varunagrawal commented on #1141
Why are you building `wrap-export`? That may be an old branch that is very outdated and doesn't work.

[2022-04-02 18:49] varunagrawal commented on #1119
Please ask this question on the Google Group since you will get a faster response there. If this is a legit code issue, please feel free to reopen this.

[2022-04-02 18:49] #1119 closed

[2022-04-02 18:51] #889 closed

[2022-04-02 18:59] varunagrawal commented on #883
If the covariance is infinity, why is the prior being added? It is the same as saying there is no prior so it makes sense that rotation will be affected since the optimization is free to move the values around as required to minimize the total error.

If you're still having issues, I recommend asking on the Google Group since this doesn't seem to be a code related issue.

[2022-04-02 18:59] #883 closed

[2022-04-02 19:01] varunagrawal commented on #737
This usually means your system is under-constrained (aka rank-deficient), so it would be good to check your factor graph and make sure each variable is properly constrained.

[2022-04-03 18:43] ProfFan commented on #1134
Wait no. The "GPS" in the Python is for a 1-D car!

[2022-04-03 18:43] #1134 closed

[2022-04-03 18:43] ProfFan commented on #1134
@NickPerezCarletonUniversity

[2022-04-03 18:45] ProfFan commented on #1122
I can add a build target for 3.10 after 4.2a6 is done

[2022-04-04 22:12] ProfFan commented on #1092
I have half a roadmap for fixing this issue. This is due to the old `ClusterTree` code somewhat relying on the TBB behavior. @acxz **The generated BayesTree is incorrect and the issue here is a red herring...**

I still have to debug where the problem exact is.

[2022-04-06 08:49] KibaekJeong opened #1160 "How to use Equirectangular/spherical image for Projection Factor"
I am trying to run Bundle adjustment with GTSAM using equirectangular image.
I have tried to use GenericProjectionFactor with setting Cal3_S2, setting FOV to 360, and image size only.
But seem to obtain high reprojection error at final result.

Is there any other way to do this? or is this the only way I can do this?

[2022-04-06 12:59] #1141 closed

[2022-04-06 23:15] ProfFan commented on #1160
Hi, please use the mailing list (Google Group) for questions, thanks!

[2022-04-06 23:15] #1160 closed

[2022-04-07 06:10] shteren1 commented on #1122
@ProfFan any ETA for 4.2a6?

[2022-04-07 17:29] #1092 closed

[2022-04-07 17:35] ProfFan commented on #1129
@yetongumich may have some insights here? I am not really sure as last time I looked at robust is about 2 years ago...

[2022-04-07 17:49] yetongumich commented on #1129
Let's do a quick chat about this tonight?

[2022-04-07 20:24] ProfFan commented on #1129
Sure

[2022-04-08 07:44] daanwildiers opened #1162 "Missing "this->" in evaluateError() in BearingRangeFactor.h"
When using the
`Vector evaluateError(const A1& a1, const A2& a2, boost::optional<Matrix&> H1 = boost::none, boost::optional<Matrix&> H2 = boost::none) const`
function in BearingRangeFactor.h, it is not possible to compile using _catkin build_ in a catkin workspace.
On line 82 in `const Vector error = unwhitenedError({{keys[0], genericValue(a1)}, {keys[1], genericValue(a2)}}, Hs);`
there is a missi

[2022-04-08 17:22] dellaert commented on #1162
I assume you have a fork, can you PR this change to develop?

[2022-04-09 16:41] dellaert opened #1163 "More basis wrapper"
## Feature

Expand the usefulness of the wrapper for `basis` module.

## Motivation

`basis.i` is missing many things:
- `FitBasis` cannot take an interval [a,b]
- For BasisFactors, only M=3,4,12 is supported
- For BasisFactors, only `Chebyshev2` is supported

## Pitch

- fix FitBasis to take [a,b] and expose in wrapper
- make BasisFactors *dynamic*, if that is possible, then all M are supported
-

[2022-04-10 11:47] shteren1 opened #1164 "Problem with deserialize GenericProjectionFactor with python and Cauchy"
## Description
When a GenericProjectionFactor is filled with serialized data  and Cauchy robust loss it returns wrong error, using python wrapper.
I tested with Huber loss and it works fine. also notice that unweightenedError returns correct result.

## Steps to reproduce

1. see the attached python code:

[code]
output:
original factor error: 0.24628311578204365, deserialized factor error: 0.0034

[2022-04-10 15:58] shteren1 opened #1165 "optimization slowdown since 4.1.0 with python"
## Description

Since gtsam=4.1.0 i notice slow down of factor x2-3 when running a LM optimization on standard Visual Slam problem.

## Steps to reproduce

1. create two new python virtual environment, one with gtsam=4.0.3 pip package, and one with any of the packages >=4.1.0
2. copy the following file somewhere locally: https://github.com/shteren1/gtsam/blob/python_timing/python/gtsam_unstable/te

[2022-04-11 15:01] dellaert commented on #1165
Could you share the timings for *just* the optimizer call in line 76? That will disambiguate whether this is a graph construction issue with python wrapper, or a true slowdown in optimization.

[2022-04-11 15:43] shteren1 commented on #1165
@dellaert here are the results from those lines of code at the bottom, the timer is sampling only the optimizer.optimize() call:
[code]

gtsam=4.2a5:
optimizer ran: 63 iterations, time took: 18.369078636169434 seconds, initial error: 7505.995184644437, final error: 5742.6712427961265

gtsam=4.0.3:
optimizer ran: 63 iterations, time took: 4.867237329483032 seconds, initial error: 7505.995184644437,

[2022-04-11 19:27] dellaert commented on #1165
Wow! Well, that's certainly annoying. @ProfFan ?

[2022-04-12 16:52] ProfFan commented on #1165
Could be a problem with the switch from boost pool allocator. I already have some machinery for micro profiling, but that would need to be after end-of-semester stuff....

[2022-04-12 17:48] ProfFan commented on #1165
OK, most time is wasted in throwing `bad_cast`s....
<img width="509" alt="image" src="https://user-images.githubusercontent.com/5358374/163022903-7293ec6a-116a-4361-93fa-028e8d3e98b7.png">

@shteren1 Change L69 to `values.insert_point3` immediately gives me a 4 sec execution time

[2022-04-12 18:29] shteren1 commented on #1165
@ProfFan Thanks! i wasn't aware of values.insert_point3 option at all, it didn't exist in 4.0.3 and i didn't see it in any example.
after the pull request this won't be necessary right?
i also tried using insert_pose3 for the poses but it doesn't seem to make any difference on the runtime, why is that different than point3? because the poses are still gtsam class and not eigen vector like point3?

[2022-04-12 19:01] ProfFan commented on #1165
@shteren1 You don't need to change any code, the PR will fix the slowdown :)

[2022-04-12 19:09] ProfFan commented on #1165
So the final verdict is that if you use the `insert_point3` (which is guaranteed static 3x1 vector) you get 4.50s of runtime
If you use `insert` after the fix PR you get 4.80s of runtime. The difference is caused by 2 extra dynamic_casts.

So, if your code is not too sensitive to performance, just use `insert` for everything is fine.

[2022-04-12 20:00] dellaert commented on #1165
I think we should *not* point people to insert_point3, which is an accidental name generated by pybind11. I *would* support adding an explicit insertPoint2 and insertPoint3 and properly document their reason for existence. @ProfFan , would you be willing to add that in the same PR?

[2022-04-14 02:02] gradyrw commented on #1101
I've had a chance to look into this again and have an update. It looks like issue #3 that I brought up isn't actually a problem, there's a bug in the `markAffectedKeys` function that I was using to re-organize the graph which was causing that problem to appear. This is good since the first two issues are really easy to fix. I did find one additional issue,  `marginalizeLeaves` ignores the `findUnu

[2022-04-14 03:02] dellaert commented on #1101
great!

[2022-04-14 18:57] #1165 closed

[2022-04-14 18:59] ProfFan commented on #1165
@shteren1 I think you can now use `insertPoint3` if you build from develop

[2022-04-14 19:04] shteren1 commented on #1165
@ProfFan thanks! i'll try it out asap.

btw, how did you run that profiling, it looks usefull.

[2022-04-14 19:26] ProfFan commented on #1164
Hi @shteren1 I pushed the fix in the linked PR. Thanks for reporting :)

[2022-04-15 13:03] shteren1 opened #1170 "Jacobian access in python wrapper"
## Feature

Hi I propose to have the jacobians of all gtsam calculations accessible through the python wrappers.

## Motivation

Having jacobian access in python will help with testing a debugging challenging optimization from python, but most of all, this will improve the custom factors building from python considerably, currently one cannot use other gtsam calculation inside a custom factor, for

[2022-04-15 17:19] dellaert commented on #1170
It is indeed not easy I think. Just a note: even in Python you can take any NonLinearFactor (or nlfGraph) and call `linearize` to get its (whitened) Jacobians at a linearization Values instance. That’s how Yusuf and I found the NaNs for the essentialMatrix issue in the user group yesterday…

[2022-04-15 17:23] dellaert commented on #1170
Although, maybe it *is* easy. @varunagrawal, do you know what happens if we just “expose” an overload with the Jacobians typed as `matrix` in the .i files? There is some possibility it might just work :-)

[2022-04-15 17:49] ProfFan commented on #1170
It is not easy, but solvable. I already have a prototype that works (which will need an overload in the classes).
Reason is pybind11 only does write back when the type is `Eigen::Ref`. Otherwise it results in a copy and the C++ changes to the Jacobians will be discarded.

[2022-04-15 18:01] ProfFan commented on #1170
@shteren1 @dellaert @varunagrawal You can try the demo in #1171.

[2022-04-15 18:02] #1164 closed

[2022-04-15 20:32] dellaert commented on #1170
@ProfFan I see, very cool!
The problem of course is that we are pretty much chained to `boost::optional<Matrix &> ` for NonlinearFactors, or `OptionalJacobian` for many functions, as well as expressions.
Is there no way to "tell" pybind11 to treat these two cases differently? And, even if a copy is made of an OptionalJacobian, maybe the [`Eigen::Map` *inside* it](https://github.com/borglab/gtsam/b

[2022-04-16 07:04] shteren1 commented on #1170
@dellaert using linearize is a nice alternative, but like you said it only applies to NonLinearFactor derivatives, @ProfFan demo is really nice, giving a ref to eigen matrix is cool.
I understand it's not going to be an automatic wrapper solution though no? for every method that i want jacobian access to I will have to add the special python overload with the eigen ref?

[2022-04-16 17:52] ProfFan commented on #1170
I think I have a nice solution to this by adding an implicit conversion from Eigen::Ref @dellaert

See updated PR

[2022-04-17 23:39] #1170 closed

[2022-04-18 05:39] shteren1 opened #1173 "serialization fails for gtsam_unstable factors"
## Description

Calling .serialize() on a gtsam_unstable factor in python wrapper fails with the following traceback:
[code]

## Steps to reproduce

1. Use the following python code snippet:
[code]

## Expected behavior

.serialize() should return a string that can be used to deserialize later

## Environment

Latest pip package 4.2a6 on ubuntu 18.04

## Additional information

I tested several ot

[2022-04-19 01:09] ProfFan commented on #1173
Strange, I tested them all and they work (at least if I build the Python module with CMake locally).
Is this with the PyPI package?

[2022-04-19 01:32] ProfFan opened #1174 "Drafting 4.2 Release"
Since now that the annoying TBB bug has been finally resolved (#1158) I think it's probably a good time for a 4.2 release.

Outstanding issues and PRs:
- #1173
- #292
- #368
- #1129
- #1122
- #1101
- #1098
- #846
- #1175

@varunagrawal @jlblancoc @gchenfc @dellaert @ayushbaid @acxz and all,
feel free to add the issues and PRs you think are important to this list :)

[2022-04-19 14:22] dellaert commented on #1174
We are finalizing the book draft v1.0 by the end of the semester, so I might need one more alpha release to make sure everything works there.

I will work on #1098 as well.

[2022-04-19 14:54] halajun commented on #764
Hi @ProfFan. I saw an example file called CustomFactorExample.py, and from here seems python custom factor has been supported? If so, how can I get to know about the details of defining custom factor, except this example? Thanks!

[2022-04-19 18:58] halajun commented on #764
No worries. I searched the library globally and found the source files (CustomFactor.h, CustomFactor.cpp) in "nonlinear" folder. Cheers!

[2022-04-19 19:27] ProfFan commented on #764
Hi @halajun , great to hear that you found the information you need! Please note though the current Python factor implementation will incur a performance cost, but is very versatile so you can use any Python package in the callback function. We have plans for a JIT-enabled fast Python CustomFactor (#875), so if you are interested, we can look into that together!

[2022-04-19 19:41] ProfFan commented on #875
https://labs.quansight.org/blog/2021/10/cxx-numba-interoperability/

[2022-04-19 19:48] ProfFan commented on #875
[code]

[2022-04-20 08:05] halajun commented on #764
Hi @ProfFan. Thanks for your warm invitating, but I just need it to test my dummy method, not requiring for high performance at the moment. Anyway, Wish you good luck with the progress!

Oh, by the way, would it easier to write custom factor in C++ library, and generate the python bindings without degrading performance?

[2022-04-20 08:18] jlblancoc commented on #1174
Now that you are considering API break, would it be a good time to merge these two commits, which fixed commonly-found crashes?
- https://github.com/borglab/gtsam/commit/a29b4dbd7418b6be4748023fd381648b59872314
- https://github.com/borglab/gtsam/commit/07bace5e057d305674b0b17c47a2bc56bb7926a9

(cc: as mentioned https://github.com/borglab/gtsam/issues/292#issuecomment-1009977935 )

@ProfFan You cou

[2022-04-20 15:28] dellaert commented on #1174
@jlblancoc yeah, feel free to add a small PR with these two commits, although I'd love to have some discussion on native behavior in PR, if only to document.

[2022-04-22 16:25] shteren1 commented on #1173
@ProfFan yes, this issue occurs with the PyPi package.

[2022-04-23 04:52] troyvicsik27 opened #1178 "Python Wrapper TypeError"
Hello,

My teammates and I are currently trying to get the Python wrapper up and running on our computers, but we keep encountering a TypeError. I am using WSL, and my teammate is using Mac; however, the error did not appear when he tried running in Linux instead. The error is with line 157 in classes.py, and is as follows:

in
self.ctype = ctype[0] # ParseResult is a list
TypeError: 'Type' object

[2022-04-25 14:55] gradyrw commented on #1101
The problem turned out to be my usage of "markAffectedKeys". That function wasn't marking all of the necessary variables in order to enforce the ordering requirement. It marks all of the keys in subtrees, but misses keys belonging to the same clique as the marginal variables. In your case, the keys `{v90, b90, 90}` need to get marked, but won't be. Modifying "markAffectedKeys" so that it handles t

[2022-04-25 16:09] patripfr commented on #1101
@gradyrw I just tested the most recent `fix/iSAM2` with your changes merged and the issue does not appear anymore. Thanks!

[2022-04-25 16:52] catproof opened #1179 "Issue with iSAM2: IndeterminantLinearSystemException"
I made a very simple factor graph that can be solved with a batch optimization via Levenberg-Marquardt. However, when I try solving it using iSAM2, I get the Indeterminant Linear System Exception. Here is my code:

[code]

It looks like this is an issue with how iSAM2 solves small graphs... [other people have had this issue](https://groups.google.com/g/gtsam-users/c/cna5Up8aa6w/m/GBSJh_p2HAAJ)

In

[2022-04-25 22:56] dellaert commented on #1179
OK, please help us solve this? What I would do to track down is is (a) break a debugger on the exception to see the actual reason, (b) look at the call-stack to set a breakpoint before it happens, examine what's going on.

[2022-04-25 22:57] dellaert commented on #1101
Yay!

[2022-04-26 12:00] yuchuxiang opened #1180 "ISAM2 initialize ptr failed malloc.c 2401"
## Description
 I initialize the ISAM2 PTR in the construct function in my cpp, and I passed the complile, but when I run,it went wrong.
core dump
the detail description is at bllow url.
[https://ask.csdn.net/questions/7701197](url)

[2022-04-30 20:44] varunagrawal commented on #1178
Are you doing some custom parsing?
Also, can you please post the result of `pip show pyparsing`?

Essentially, the issue is that when `pyparsing` is reading the .i file, it should return a list as the result of parsing a class definition, but it seems like in your case, it is returning just the object directly.

[2022-04-30 20:46] varunagrawal opened #1182 "Identity Concept should be capitalized"
## Feature & Motivation

The `Identity` concept for Lie groups should be capitalized from `identity` to `Identity` since it is a static method.

## Pitch

Update all `identity` static methods in various Lie group classes to be `Identity`.

**NOTE** this is API breaking.

[2022-05-02 16:28] xiaocaiyaa opened #1184 "Error in building MATLAB wrapper: TypeError: unhashable type: 'Typename'"
I am trying to build the MATLAB wrapper. Getting the following error

...
[ 94%] Built target SmartProjectionFactorExample
[ 94%] Built target FixedLagSmootherExample
[ 97%] Built target SmartRangeExample_plaza1
[ 97%] Generating ../wrap/gtsam/gtsam_wrapper.cpp
[MatlabWrapper] Ignoring classes: ['gtsam::Point2', 'gtsam::Point3', 'gtsam::CustomFactor']
Traceback (most recent call last):
  File "/ho

[2022-05-03 15:29] NickPerezCarletonUniversity commented on #1179
Hi @dellaert do you have steps for setting up a debug environment? I am a bit of a C++ noob. See [this google conversation](https://groups.google.com/g/gtsam-users/c/QNmeUUSlnPY).
I'm trying to figure out how to debug one of the example files I modified.

[2022-05-03 18:24] dellaert commented on #1179
I do this in VS Code, with lldb.

[2022-05-03 19:03] ProfFan commented on #1129
I actually stumbled upon this yesterday doing some robust SfM stuff. Yes this is indeed annoying....

[2022-05-03 21:02] jlblancoc commented on #1129
@DanMcGann Thanks for the detailed report and analysis!

You have all the details fresher... would you mind to quickly write down (just as a comment here) what two functions are you thinking of? Then we probably might find a way to make it less redundant via a virtual method or alike...

[2022-05-05 08:20] ZJYone265021 opened #1186 "error: invalid initialization of reference of type ‘const std::vector<bool>&’ from expression of type ‘const std::vector<long unsigned int>’"
## Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2022-05-05 15:48] Sonne-Zhu opened #1188 "Using ceres and GTSAM at the same time, the program is stuck in the update function of the gtsam optimizer and cannot jump out."
## Description

Hello, I implemented a SLAM algorithm based on factor graph optimization (LIO-SAM)  on ubuntu18.04. I used GTSAM4.0.0 and ceres2.0.0 in one node at the same time. After compiling, when the algorithm is executed to the update( of the isam optimizer in gtsam ) function, it will be stuck in the update function and cannot be jumped out, as if it has fallen into an infinite loop, but th

[2022-05-05 16:07] ProfFan commented on #1188
Hello @Sonne-Zhu could you provide more information (for example, a core dump for the application when the application is stuck)? Also, please try the current develop branch and see if the problem is still there.

[2022-05-05 21:27] dinvincible98 opened #1189 "ISAM2 update() function Error: double free or corruption (out)"
## Description
When I tried to run the isam2 [imu factor example code](https://github.com/borglab/gtsam/blob/develop/examples/ImuFactorsExample2.cpp),
I got this error: double free or corruption (out).

## Steps to reproduce

1. Build (Add -DGTSAM_BUILD_WITH_MARCH_NATIVE=OFF in cmake) and install the gtsam4.1.1
2. Run the  [imu factor example code](https://github.com/borglab/gtsam/blob/develop/exa

[2022-05-07 10:27] simin75simin opened #1192 "incompatible function arguments"
os: ubuntu 18.04
python: 3.6.9

the measurements' shapes seem weird in all the possible argument types below.

I was trying to run code from a [ros testing script](http://docs.ros.org/en/melodic/api/gtsam/html/test__Triangulation_8py_source.html) because I want to use the triangulation functions. However, the following occurs after many trials. i tried reinstall different versions of gtsam from pi

[2022-05-08 04:16] gogojjh commented on #177
isam always stores the nonlinear factors
@hunkyu can this code to save g2o:
gtsam::writeG2o(this->isam->getFactorsUnsafe(), isam_current_estimate_, "map.g2o");

[2022-05-08 15:13] richardXia7462 commented on #1184
I also meet this problem

[2022-05-10 08:45] mmattamala commented on #1179
@NickPerezCarletonUniversity I think that the issue is that your problem is ill-defined, and that breaks iSAM. A simple check that I usually do is thinking of the problem like a linear system:

- You have 2 `Pose3` unknowns, each one is 6DoF -> so we can think of it as if you have **12 unknowns**
- You are adding 1 BetweenFactor (Pose3) between the 2 poses -> that's like having **6 equations**
- A

[2022-05-10 14:43] NickPerezCarletonUniversity commented on #1179
hi @mmattamala thank you for your insight. You are correct, it seems that I don't specify the orientation of the robot at any point.

I tried doing batch optimization using Gauss Newton and Dogleg optimizers. Contrary to what you said, it still works (despite in fact being underconstrained).

[2022-05-10 14:45] NickPerezCarletonUniversity commented on #1179
I was still able to get iSAM2 to work without specifying the orientation of the robot. See [this google conversation](https://groups.google.com/u/0/g/gtsam-users/c/cna5Up8aa6w).

[2022-05-15 05:58] water137780117 commented on #1184
The same issue. macOS 12.3.1 (M1).

[2022-05-16 18:35] ceccocats opened #1199 "Segfault during optimize (verison 4.1.1)"
## Description
Random Segfault during multiple optimization.
I load a graph and optimize it, randomly I get a segfault during graph optimization.
My pseudo code i something like this:
[code]
If I only optimize one time it doesnt happen.

## Steps to reproduce
In this repo you can reproduce the issue:
https://github.com/ceccocats/gtsam_segfault

## Expected behavior
Here you can see and example of

[2022-05-16 22:46] ceccocats commented on #1199
I tried gtsam compiled without tbb and till now the issue seems not happening.
Unfortunately its really slow without tbb.

[2022-05-16 23:05] ceccocats commented on #1199
Sorry, i noticed that this issue should be solved by #1158
testing it right now

[2022-05-16 23:19] #1199 closed

[2022-05-18 19:57] catproof opened #1200 "Is it possible to specify different distributions for the noise model?"
when specifying a noise model for a factor via:

```noiseModel::Diagonal::Sigmas```

the noise model always assumes a Gaussian distribution. Is there a way to use different types of distributions for the noise model? Such as an [exponential distribution](https://en.wikipedia.org/wiki/Exponential_distribution) or a [mixture distribution](https://en.wikipedia.org/wiki/Mixture_distribution).

[2022-05-19 00:47] dellaert commented on #1200
Look at robust noise models. Distribution = exp(-error)

[2022-05-19 03:20] huanglilong opened #1201 "typo issue in comments"
https://github.com/borglab/gtsam/blob/da00870ee1a7ce8fe746008abde62ad012dd177b/gtsam/geometry/Rot3.cpp#L295
https://github.com/borglab/gtsam/blob/da00870ee1a7ce8fe746008abde62ad012dd177b/gtsam/geometry/Rot3.cpp#L296
should be
// c10 = a10 * cy + a11 * sx * sy + a12 * cx * sy
// c11 = a11 * cx - a12 * sx
![image](https://user-images.githubusercontent.com/7278867/169197327-43824013-ffe0-46cb-bad0-bd

[2022-05-19 03:25] huanglilong commented on #1201
@Eskilade typo issue in comments.

[2022-05-19 05:57] Eskilade commented on #1201
Indeed, thanks !

[2022-05-19 14:38] halajun commented on #694
Hi @ProfFan, may I ask you how to initialize the jacobians in error function? I tried to do it inside my custom error function, as below:

[code]
but comes with error saying, "A JacobianFactor was attempted to be constructed with a matrix block of
inconsistent dimension.  The JacobianFactor has 2 rows (i.e. length of
error vector) but the provided matrix block has 0 rows." , which I guess is becau

[2022-05-21 06:59] wwtinwhu opened #1202 "How to use Ceres AutoDiff(Jet) in GTSAM?"

[2022-05-23 02:12] Richardson-Chong opened #1204 "Derivation of Oriented Plane"
Thanks for your contributions.
I'm bothering that how the oriented plane Jacobian Matrix inferred. Could you please introduce me some relative lectures to read?
Thanks a lot !

[2022-05-24 17:58] ayushsharma-crypto commented on #912
Hello @xieshuqin  and @ProfFan, I'm also trying to use BearingRangeFactor3D in gtsam python wrapper. Could you please provide the link for the `.i` file that you were referring to?

[2022-05-25 00:00] carlatcrown commented on #1184
Same issue
Ubuntu Focal 20.04
MatLab 2020b

Works with 4.2a5, fails with 4.2a6.

cmake: CMAKE_ARGS=-DGTSAM_USE_SYSTEM_EIGEN:BOOLEAN=FALSE -DGTSAM_WITH_EIGEN_MKL:BOOLEAN=FALSE -DGTSAM_WITH_TBB:BOOLEAN=FALSE -DGTSAM_BUILD_EXAMPLES_ALWAYS:BOOL=FALSE -DGTSAM_BUILD_UNSTABLE:OPTION=OFF -DCMAKE_BUILD_TYPE:STRING=Release -DGTSAM_BUILD_WITH_MARCH_NATIVE:BOOL=OFF -DGTSAM_INSTALL_MATLAB_TOOLBOX:BOOLEAN=true

[2022-05-25 21:55] varunagrawal commented on #1184
Sorry for the late response. I was able to reproduce and fix the issue. Once #1205 gets merged, you can just get the latest `develop` and everything should work.

If you still face any problems, please feel free to open a new issue.

[2022-05-25 21:56] varunagrawal commented on #912
@ayushsharma-crypto please look in `sam.i`.

[2022-05-25 21:57] varunagrawal commented on #1202
Please ask this in the [Google Group](https://groups.google.com/forum/?pli=1#!forum/gtsam-users).

[2022-05-25 21:57] #1202 closed

[2022-05-25 21:58] varunagrawal commented on #1201
@huanglilong can you please make a PR? I'll happily review and help merge it in. Bonus: you get to call yourself a GTSAM contributor.

[2022-05-25 21:59] varunagrawal commented on #1178
Closing due to lack of response. Please reopen if this is still an issue for you.

[2022-05-25 21:59] #1178 closed

[2022-05-26 03:02] #1201 closed

[2022-05-26 04:27] carlatcrown commented on #1184
Thanks for the fix - confirmed working.

[2022-05-26 15:49] orangeRobot990 opened #1208 "documentation for python users for landmark base SLAM"
## Feature

Hi, I would like to use this library for in python but it seems that theres no documentation available on how to do so.

## Motivation

I would like to reproduce a paper using GTSAM as a backend and ai models predictions as landmarks. If anyone has done such or have any tips, please let me know.

[2022-05-30 19:51] NickPerezCarletonUniversity commented on #1200
Hi @dellaert thanks for the help. I am not quit sure what you mean though by 'look at robust noise models'.

I see that there are [definitions for robust noise](https://github.com/borglab/gtsam/blob/develop/gtsam/linear/NoiseModel.h#L640), however I'm not sure how to write the code for what you are suggesting.

For creating a Gaussian noise model I can simply just write:

'''auto model = noiseMode

[2022-06-01 14:17] HViktorTsoi opened #1209 "Rot3 Quaternion BUG"
## Description

There is an issue when using `Rot3().quaternion().x()`, `Rot3().quaternion().y()`, `Rot3().quaternion().z()`, or `Rot3().quaternion().w()` to access the components of a quaternion. For example, when using `Rot3().quaternion().w()` to access `qw`, it actually returns `qz`.

## Steps to reproduce

Using the flowing code to reproduce the bug:
[code]

## Expected behavior
![Screenshot

[2022-06-02 03:06] #1184 closed

[2022-06-02 03:07] YGD159 opened #1210 "How to cross-compile gtsam to arm linux?"
How to cross-compile gtsam to arm linux ?
Any suggestions are greatly appreciated.

[2022-06-02 05:04] tccoin opened #1211 "double free or corruption (out) when using smart factor"
## Description

I am currently using `SmartProjectionPoseFactor` with `CombinedImuFactor` in my project and sometimes the program will fail with the error `double free or corruption (out)`. By using address sanitizer, I managed to find the code which triggers the error.

![image](https://user-images.githubusercontent.com/4727900/171556159-fb5b0b40-4434-45b7-987e-39aff9482091.png)
![image](https://

[2022-06-02 17:20] goktugyildirim opened #1212 "Bundle Adjustment Landmark Visibility"
Hello, I'm a dummy for graph optimization and my aim is to solve the bundle adjustment problem incrementally. My question is about points visibility. All landmarks should be visible from all camera poses? When I try to add some landmark that is not visible all views, optimization, or update function is stuck. How can I solve this problem? Can you help me?

[2022-06-02 18:33] dellaert commented on #1212
As indicated, this type of question is more for the GTSAM user group. But, no, landmarks do not have to be visible from all poses. Just from enough such that dim(measurements)>=dim(point), OR you have a prior on the point.

[2022-06-02 18:33] #1212 closed

[2022-06-02 23:21] teku45 opened #1213 "WRAP_MEX_BUILD_STATIC_MODULE should not be set on Windows"
Hi,

I am trying to build GTSAM and its associated matlab toolbox for Windows 10. I am using Cmake 3.23.2 and trying to compile on Microsoft Visual Studio 2022.

When I try to run the CMake GUI, I get the following error.

[code]

[2022-06-03 02:23] teku45 commented on #1213
Closing this issue as it was resolved by doing a clean build of a fresh clone

[2022-06-03 02:23] #1213 closed

[2022-06-03 12:52] goktugyildirim opened #1214 "iSAM stuck in update state"
## Description
<!--->
My aim is to incrementally update my variables in the Visual Odometry task. When I try to solve my graph using the LevenbergMarguard solver, it solves, but when I try to update iSAM with the same graph, iSAM is stuck. Here is my code snippet stuff:

[code]

The output of this program is:
[code]

[2022-06-03 17:54] teku45 opened #1216 "Build hangs up at 8>TangentPreintegration.cpp (Windows 10)"
Hi,

I am running into an issue where when I attempt to build GTSAM on Windows 10, the build process always hangs up at the following sequence of files even after waiting hours:

[code]

The project was generate with CMake 3.23.2 for windows, and I am using Visual Studio 2022

Thanks

[2022-06-05 18:43] ProfFan commented on #1216
If you build GTSAM with Python wrapper turned on it is going to take a long time. But hanging is a different issue. It would be great if you can provide more verbose logs.

[2022-06-05 18:49] ProfFan commented on #1189
Hi @dinvincible98 , could you run GTSAM with valgrind on the same example?

[2022-06-06 13:07] teku45 commented on #1216
Hi,

Thank you. Disabling the python seems to have made the build take a shorter amount of time.

Incidentally, I am also trying to build GTSAM on an Ubuntu 20.04 machine and am running into a separate issue while running make install. I am mainly trying to compile the Matlab toolbox. I have Python 3.8 as well as the pyparsing package but it seems that it is still unable to find the pyparsing pack

[2022-06-07 14:18] teku45 commented on #1216
Resolved this by using Ubuntu 18.04 instead of 20.04

[2022-06-07 14:18] #1216 closed

[2022-06-07 14:33] HViktorTsoi commented on #1209
Update:
`Rot3().toQuaternion()` will return correct component.
[code]

![Screenshot from 2022-06-07 22-32-51](https://user-images.githubusercontent.com/25725035/172406975-5066be1b-ae9c-499b-84d2-b28adb29f624.png)

[2022-06-07 14:46] teku45 opened #1218 "Matlab Toolbox issue - Unrecognized function or variable 'NonlinearFactorGraph'."
High,

I followed the build and install instructions for the matlab toolbox and am getting unrecognized function errors in matlab when I try to run gtsamExamples.m.

Running Ubuntu 18.04 with the latest version of Boost and Cmake. Python 3.6.9

Here is the matlab error output:

[code]

My install output seems like the matlab toolbox installed fine? It properly compiled the gtsam_wrapper.mexa64 fil

[2022-06-08 14:20] zkk-slam commented on #1186
You can try lowering the version of gcc and g++

[2022-06-08 15:03] #1186 closed

[2022-06-08 15:05] varunagrawal commented on #1218
Did you run `addpath('<path to gtsam_toolbox>')` first before running the examples? E.g. I run `addpath('/usr/local/gtsam_toolbox')` since my install location is `/usr/local`.

[2022-06-08 20:48] leegence opened #1222 "RuntimeError: Unable to cast Python instance to C++ type (compile in debug mode for details)"
When testing the python code version of GTSAM, the code outputs error message saying "RuntimeError: Unable to cast Python instance to C++ type (compile in debug mode for details)" after running the follow

params = gtsam.LevenbergMarquardtParams()
optimizer = gtsam.LevenbergMarquardtOptimizer(graph, initial_estimate, params)

Could anyone tell the reason?

[2022-06-10 00:14] #1209 closed

[2022-06-17 14:12] davidezilio opened #1223 "isam2 keys in python can not be reset"
## Description

I am using isam2 (in python) and noticed that I can't reset the key value following the calculateEstimate and (the graph resize) step.

## Steps to reproduce

Simply run IMUKittyExampleGPS.py but use an additional variable for the keys which is reset after the optimization step.
See example attached.
[IMUKittiExampleGPS.zip](https://github.com/borglab/gtsam/files/8928259/IMUKittiEx

[2022-06-20 04:37] ProfFan commented on #1222
Hmm, are you using the CustomFactor? Are you compiling the Python wrapper yourself?

[2022-06-20 05:02] ProfFan commented on #1211
My gut feeling is that this is b/c a missing lock and the two threads are having a race condition. Don't have the bandwidth to debug this, but I feel that if you add locking to the two mutable `cameraPosesTriangulation_` it should not crash

[2022-06-20 07:04] tccoin commented on #1211
Thank you! I will have a try.

[2022-06-20 13:15] varunagrawal commented on #1223
I guess we just haven't wrapped that functionality in C++ to Python. Should be an easy fix hopefully, unless there is some reason the wrapper doesn't support it yet.

[2022-06-20 13:19] varunagrawal commented on #1223
@davidezilio I looked at your shared code, and I am not quite sure I follow what the issue is. It looks like all you need is for `i_key` to be reset to 0 when `i > (first_gps_pose + 2 * gps_skip)`?
`i_key` in this case is a Python int and doesn't have any dependence on ISAM2, so maybe elaborating a bit more to help us understand your issue please?

[2022-06-21 13:07] TurtleZhong opened #1226 "How to use add ground plane constrain via gtsam factor?"
Hi everyone, I wanna add a ground plane (ax+by+cx+d = 0) constrain to the lidar-inertial-odometry to reduce the z drift or make the trajectories in one plane.
I follow the OrientedPlane3.h andd OrientedPlane3Factor.h, and I write the plane factor below:
[code]
Then I add this factor to a lidar inertial odometry like this
[code]

But the factor seems do not work.
So is there any tutorial how to add

[2022-06-21 14:13] varunagrawal commented on #1192
Okay so the test that is failing is part of our CI system and it passes both there and on my system. This most likely indicates either something is up on your system or python 3.6.9 is being difficult.

Can you please try in a docker container and report if it fails there as well?

[2022-06-22 03:29] ze-ta opened #1227 "How to model Timestamp Offset Calibration(with camera poses and IMU measurement) and perform optimization using GTSAM?"
## Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2022-06-23 02:50] kechaofan opened #1229 "Why do we add this additional condition to judge the positive qualitative of the matrix in choleskyPartial function?"
## Description

I just found that when I adjust some noise params in my application, it may throw **Indeterminant linear system**  error. And then i  log the info matrix and its eigen values:
2.40599e+07,2.40596e+07,2.40599e+07,     140441,     141696,     141701,     416447,     416324,     416323,    **803.371**,     286506,     286541,     286541,    4623.53,    4622.57,    4632.01,
We can see

[2022-06-26 03:03] varunagrawal commented on #1227
This is a question for the Google Group. Please post there.

[2022-06-26 03:03] #1227 closed

[2022-06-26 03:05] varunagrawal commented on #1218
@teku45 any updates? Please reopen this if the issue still persists.

[2022-06-26 03:05] #1218 closed

[2022-06-26 03:06] varunagrawal commented on #1118
@SarveshS325 @wxchencn I recently made some updates to the wrapper. Can you please try again?

[2022-06-26 03:10] varunagrawal commented on #1208
The Python API strongly mirrors the C++ API so you should be able to translate it relatively easily. I recommend looking at some of the Python examples and familiarizing yourself with the 2D SLAM examples.

[2022-06-26 03:10] #1208 closed

[2022-06-26 03:11] varunagrawal commented on #1208
If you are still having issues, please ask on the Google Group :)

[2022-06-27 08:00] davidezilio commented on #1223
Thanks a lot for your reply.
_"It looks like all you need is for i_key to be reset to 0 when i > (first_gps_pose + 2 * gps_skip)"_
That is correct, but when i try to do that (as done in the script in line 333) I get the following error

RuntimeError: Attempting to add a key-value pair with key "b1", key already exists.

But I have seen the key value to be reset successfully in C++ repo.

[2022-06-27 16:40] varunagrawal commented on #1118
Can you try the latest develop branch please?

[2022-06-28 00:44] YeXiaoYu539 commented on #1118
I have tried the latest develop branch and have the same error.
`  File "/home/yexiaoyu/gtsam/wrap/scripts/matlab_wrap.py", line 11, in <module>
    from gtwrap.matlab_wrapper import MatlabWrapper
ModuleNotFoundError: No module named 'gtwrap'
matlab/CMakeFiles/gtsam_matlab_wrapper.dir/build.make:75: recipe for target 'wrap/gtsam/gtsam_wrapper.cpp' failed
`

Thanks very much!

[2022-07-01 04:44] #1129 closed

[2022-07-01 13:47] #1162 closed

[2022-07-01 17:25] leegence commented on #1222
Yes, I am using the CustomFactor with Python wrapper.

[2022-07-01 21:33] ProfFan commented on #1222
You are probably using it wrong. Note you should return an errorVector (NP array), not a number, even if it's 1D

[2022-07-02 06:56] zarathustr opened #1231 "Cannot Progress CMake for macOS Monterey 12.4"
After installing dependencies via Brew on the machine with macOS Monterey 12.4, we are unable to pass the CMake (3.22) check. The messages are:
[code]

Seems that the CMake cannot properly handle the ```project(gtsam LANGUAGES CXX)```. Is there any fix for this issue?

[2022-07-03 02:07] YeXiaoYu539 commented on #1118
I try the version **GTSAM 4.0.3 Release** , and the problem does not appear.

Thanks very much!

- Ubuntu18.04
-  GTSAM 4.0.3
-  MATLAB R2018a
-  Python 3.6.9

[2022-07-03 15:29] varunagrawal commented on #1231
This seems to be an issue on your system. Can you verify that `clang++` is in your PATH variable? You should be able to call `clang++` from the commandline.

[2022-07-03 23:39] ProfFan commented on #1222
@leegence Did this solve your problem?

[2022-07-04 00:08] varunagrawal commented on #1118
Can you add this on line 254 of MatlabWrap.cmake and give us the output?

[code]

[2022-07-04 01:19] varunagrawal commented on #1118
Also please paste the full message here please, starting from the output of CMake.

[2022-07-04 01:34] varunagrawal commented on #1118
@SarveshS325 @YeXiaoYu539 please give us the full message and error log so we can see what is going on in your settings. We have an idea of what the issue may be but we need to confirm it.