[2022-07-04 01:56] varunagrawal commented on #1118
Can you also provide your CMake versions?

[2022-07-04 07:43] lpea opened #1233 "Regression in Logmap (v4.2a7)"
Hi all,

As discussed in https://groups.google.com/g/gtsam-users/c/7dEKY53G4Jk:

According to @ProfFan, this is a side-effect of #887.

## Description

There is a precision error in Logmap for rotation angles close to PI. Furthermore, the conversion error exhibits a strong discontinuity.

## Steps to reproduce

1. Generate random test data in the form of 3D vectors with a norm close to PI.
2. Appl

[2022-07-04 07:45] YeXiaoYu539 commented on #1118
- Ubuntu18.04
- GTSAM 4.0.3
- MATLAB R2018a
- Python 3.6.9
- CMake version : 3.10.2

**Cmake Output**
[code]

[2022-07-04 07:57] YeXiaoYu539 commented on #1118
- Ubuntu18.04
- GTSAM 4.2a7
- MATLAB R2018a
- Python 3.6.9
- CMake version : 3.10.2

[code]

[2022-07-04 08:36] varunagrawal commented on #1118
Thanks for the info. Can you try fixing that Cmake warning? That may actually be your issue (and we should make that an error rather than a warning).

[2022-07-04 08:40] arasika commented on #1226
Do you have solved this problem? I also write my-custom factor. But there is the error: undefined reference to 'vtable for gtsam::***(mycustomfactor)'

[2022-07-04 15:31] varunagrawal commented on #1118
If you're using the system python, the fix is to do `apt install python3-dev`

[2022-07-04 17:16] ProfFan commented on #1233
Thanks! Judging from this data it seems 1e-8 is a better choice, however this may reduce the precision when detR is slightly off 1. The unit test for this case is also in #887, so if 1e-8 can pass that test I would say it's safe to change. @lpea

[2022-07-04 19:13] varunagrawal commented on #1118
@SarveshS325 @YeXiaoYu539 @frank-Regal I figured out the issue!!! PR #1235 fixes this. :tada:

[2022-07-05 02:15] #1118 closed

[2022-07-05 13:12] varunagrawal commented on #1118
Can you please comment on whether the latest develop branch works for you?

[2022-07-05 17:58] #1222 closed

[2022-07-06 13:47] YeXiaoYu539 commented on #1118
Thanks very much! I have already tried the latest develop branch, it indeed fixes the problem!

[2022-07-07 14:54] #1204 closed

[2022-07-07 14:55] varunagrawal commented on #1189
Closing due to lack of response. Please reopen if the issue still persists.

[2022-07-07 15:05] varunagrawal commented on #737
@hunkyu any updates? Please reopen if this is still an issue.

[2022-07-07 20:06] varunagrawal commented on #1210
I believe this would involve some significant CMake updates for the relative hardware. We are able to compile GTSAM for M1 macbooks which means that we do support the ARM architecture. For linux specifically, you may have to do some research on your own.

If you still have questions, please ask on the Google Group for faster responses. 🙂

[2022-07-07 20:06] #1210 closed

[2022-07-07 20:07] varunagrawal commented on #1179
@NickPerezCarletonUniversity if this is resolved, can you please close this issue?

[2022-07-08 04:45] shteren1 commented on #1173
@varunagrawal still getting the same problem with 4.2a7.
i tried with both a clean python venv and conda environment, using ubuntu 18.04.

[2022-07-08 05:18] ProfFan commented on #1210
GTSAM works no problem on ARM (Tested last year on Jetson Nano). No special instruction is necessary.

[2022-07-08 05:21] ProfFan commented on #1173
@shteren1 This is very strange. I think you may have a global GTSAM install that is interfering with the PyPI one. I would suggest you first test in a CLEAN Ubuntu VM and report the result.

[2022-07-08 05:37] ProfFan commented on #1233
Yeah, we may need to think about this more closely... Numeric behavior is VERY tricky. One of the ways I can think of for doing this is introducing a slow path where we just do the full SVD when detecting a rotation that is not detA = 1. However this will give extra computation burden.

Actually, I wonder if it is solvable by just adding more Taylor terms. @lpea thoughts?

[2022-07-08 07:26] shteren1 commented on #1173
@ProfFan i just tried in a clean empty ubuntu 18.04 docker image and i get the same, using this docker file:

`FROM ubuntu:bionic

# Install pip
RUN apt-get update
RUN apt-get install -y python3-pip`

and then docker run -it and ran:
python3 -m pip install -U pip
python3 -m pip install gtsam==4.2a7

then entered python and ran the script in the issue description.

[2022-07-08 09:30] lpea commented on #1233
Yep, I tried with

[code]

and also replace

[code]

but it did not seem to change much... Could you double check that the maths is correct? BTW, could you share an updated version of the paper you mentioned in #892?

[2022-07-08 11:26] #912 closed

[2022-07-10 06:37] zarathustr commented on #1231
@varunagrawal Hi Varun. Thanks for your reply. I believe that this is because of the newest CMake 3.23 which was installed automatically with Brew on macOS. I downgrade the source repo to many old-time versions but still seems to be not working. I managed to pass the CMake issues via the help of internal CMake tools of the CLion IDE. I reproduce the success via a manual compilation of CMake 3.5, w

[2022-07-13 01:38] btalb opened #1242 "Missing geometry classes in Python wrapper (4.1.1)"
## Description

The `Point2()` and `Point3()` classes are missing from the Python library when building GTSAM 4.1.1

## Steps to reproduce

1. Clone and checkout 4.1.1:
[code]
2. Build with Python wrappers:
[code]
3. Attempt to use the build `*.so`:
[code]

Get the following error when trying to use the classes:
[code]

## Expected behavior

I would expect those classes to be available. Tracing ba

[2022-07-13 01:38] btalb commented on #1242
<details>
<summary>geometry.cpp</summary>

[code]
</details>

[2022-07-13 03:59] ProfFan commented on #1242
Because in the new GTSAM Point3 is really just a typedef, so in Python it becomes a simple numpy array. If you look more closely, you will see in `/python/CMakeLists.txt` these classes are in the ignore list.

[2022-07-13 03:59] #1242 closed

[2022-07-13 04:02] ProfFan commented on #1242
They should be shimmed in https://github.com/borglab/gtsam/blob/develop/python/gtsam/__init__.py .
[code]

[2022-07-13 04:05] ProfFan commented on #1233
[AxisAngleConversion.pdf](https://github.com/borglab/gtsam/files/9098813/AxisAngleConversion.pdf)

[2022-07-13 04:16] ProfFan commented on #1233
Sorry for the late response! Was busy for other stuff. I think one can try to cross-check the approximated quaternion with the actual quaternion. I currently do not have bandwidth for re-checking the math, but I will be able to answer your questions against what I've written in the document.

[2022-07-13 20:38] ClaudioCimarelli commented on #1218
I have the same issue with gtsam 4.1.1. I have installed it in a local folder under $HOME. It appears that the gtsam_toolbox folder missed some *.m files needed to use those functions. Is it possible that it is due to switching off the unstable build CMake option?

[2022-07-14 04:53] btalb commented on #1242
Thanks @ProfFan; that's very helpful.

I'd already found the ignore list masking out the classes, but realise my import targets weren't correct (hence the shims missing).

I.e. I had:
[code]

but it should be:
[code]

[2022-07-14 06:11] ProfFan commented on #1242
Yup, glad that you found out :) I guess this is why PyTorch made their Python binary extension named `C`, lol

[2022-07-14 06:12] ProfFan opened #1243 "[RFC] Rename the Python binary extension name to be something like `C`"
See #1242

I think PyTorch does this, the extension is named differently than the package name so one cannot ever import the inner module inadvertently.

[2022-07-14 06:26] ProfFan opened #1244 "Investigate the strange issues associated with implicit STL conversion"
#1239 #1203 both are hit by this strange problem.

Either we are doing something that should not be done, or there is a bug (probably UB) in pybind11.

For #1203 it's looks very similar to https://github.com/pybind/pybind11/issues/1035

Investigation TODO List:

- [ ] Run Python wrapper with ASAN (all unit tests)
- [ ] Run Python wrapper with UBSAN (all unit tests)
- [ ] Include `stl.h` and rerun

[2022-07-14 06:29] ProfFan commented on #1244
Pinging @gchenfc @varunagrawal, have you ever encountered such behavior before?

[2022-07-14 14:10] gchenfc commented on #1244
I couldn't see what was actually the issue with 1203, but for #1239, could it be just that this conversion is clashing with KeyVector defined in specializations/gtsam.h and preamble/gtsam.h ?

[2022-07-14 15:13] ClaudioCimarelli opened #1246 "MATLAB Wrapper Build fail"
## Description
I cannot build the Matlab wrapper due to the following errors:
[code]
[code]
[code]
[code]
Everything else builds correctly, even python wrapper.
## Steps to reproduce

1. `cmake -DCMAKE_BUILD_TYPE=Release  -DGTSAM_BUILD_UNSTABLE:OPTION=ON  -DGTSAM_INSTALL_MATLAB_TOOLBOX=ON -DGTSAM_UNSTABLE_INSTALL_MATLAB_TOOLBOX=ON ..`
2. `make`

## Environment

OS: Ubuntu 18.04
GCC  8.4.0
CMAKE 3.

[2022-07-14 18:18] varunagrawal commented on #1173
Hi @shteren1. I tried running a docker container with your instructions and pip can't seem to find `4.2a7`. @ProfFan do we not support Python 3.6?

[2022-07-14 18:33] shteren1 commented on #1173
@varunagrawal you need to update the pip version, the default old pip can't find it:
python3 -m pip install -U pip

[2022-07-14 18:42] varunagrawal commented on #1173
Yup I did that, but no dice.

[2022-07-14 18:55] varunagrawal commented on #1098
Hi @szx0112 does #1193 solve your issue?

[2022-07-14 19:30] varunagrawal commented on #1244
I think the issue is due to the opaque behavior of the JacobianVector aka `vector<Matrix>`. My guess is that since we don't declare `vector<Matrix>` as an opaque type, the updates on the python side are not being pushed back to the C++ side (which explains the error messages).

[More info](https://pybind11.readthedocs.io/en/stable/advanced/cast/stl.html).

[2022-07-14 20:07] shteren1 commented on #1173
@varunagrawal here is my log from the docker session if its any help:

[code]

[2022-07-15 04:12] ProfFan commented on #1244
@varunagrawal But [this](https://github.com/borglab/gtsam/commit/2ae2cb6dc375a579d3c0754f45bf2c1060b22468) is the commit the fixed the crash, and `JacobianVector` has already been marked opaque...

@gchenfc That is also a good point, there is no documentation on what will happen is the same type gets bound by both `stl.h` and `stl_bind.h` in different compilation units! I can see the devil of ODR

[2022-07-15 04:15] varunagrawal commented on #1244
JacobianVector is marked opaque but then why is pybind passing in a list or np arrays? Shouldn't it pass in a JacobianVector object?

This is also a good time to revisit my PR on using stl.h exclusively. It's on my gtsam repo.

[2022-07-15 13:45] varunagrawal commented on #1244
My previous comments come from looking at the values. I ran print-debugging on both the python and C++ side, and where the `A` matrix should be filled with Jacobians after call the to `error_function_`, it still has matrices of size `0x0` which seems to indicate that the mechanism for updating `H` is not working properly or pybind is not updating things back on the C++ side.

[2022-07-15 13:47] varunagrawal commented on #1173
I was running the docker container on a Mac and was seeing issues, but running on a Linux desktop seems to work fine. Maybe an issue with M1 chip compatibility? @ProfFan

[2022-07-15 13:48] varunagrawal commented on #1173
Yes! I am able to reproduce it. Thanks for the patience @shteren1, will hopefully have a fix for you soon.

[2022-07-15 14:13] #1211 closed

[2022-07-15 14:34] varunagrawal commented on #1243
Yeah I tried looking into this but I couldn't figure it out then. If you get some insight, we can land this pretty quickly.

[2022-07-15 14:45] varunagrawal commented on #1173
FYI this is also an issue on Ubuntu 20.04. I am using this version since CMake is able to find Python3 more easily here.

[2022-07-15 18:59] varunagrawal commented on #1173
I wrote up a simple unit test

[code]

and it throws the same exception so it looks like factor serialization is broken.

[2022-07-17 04:21] ProfFan commented on #1244
@varunagrawal JacobianVector is marked opaque and then bound with `bind_vector`, so it appears as an array of Eigen matrices to pybind, and Eigen arrays are treated as numpy arrays by Pybind11. (this is what is supposed to happen)
However with stl.h added it seems the stl.h conversion takes precedence and the array is copied (per the stl.h limitations), which exactly matches what you are seeing.

[2022-07-17 15:28] varunagrawal commented on #1244
Okay that makes sense. I get the feeling that we should then not use `bind_vector` since `pybind11/stl.h` supports vectors right out of the box. Whether the copy semantics are as expected by us, that is something we can test relatively quickly (ensure that we still use the opaque functionality).

[2022-07-17 19:15] ProfFan commented on #1244
Problem with auto binding is that nothing will be mutable, for example the KeyVector

[2022-07-17 19:44] varunagrawal commented on #1244
That's fine because KeyVector will be removed. Instead we'll just use regular lists.

That being said, I updated the stl.h PR and I still see this issue, so my guess is that it's something deeper.

[2022-07-20 05:04] gchenfc commented on #1200
https://github.com/borglab/gtsam/blob/develop/tests/testRobust.cpp may help:

https://github.com/borglab/gtsam/blob/0af17f438f62f4788f3a572ecd36d06d224fd1e1/tests/testRobust.cpp#L33-L36

together with https://github.com/borglab/gtsam/blob/develop/doc/robust.pdf

[2022-07-21 18:20] varunagrawal commented on #1246
This is interesting. I assume GTSAM compiles without issues and you are able to run all the tests?

[2022-07-25 07:58] ClaudioCimarelli commented on #1246
Dear @varunagrawal, the building with Matlab ON stops at the very last percent point.
I have run the `make check` before it once, and it worked as you figured. Of course, once I remove Matlab, everything works normally. I don't know if it may be the GCC version, but it is the only thing I cannot change now.

[2022-07-26 13:04] varunagrawal commented on #1246
Thanks for the info @ClaudioCimarelli. I'll take a look at it today. :)

[2022-07-26 13:05] varunagrawal commented on #1244
@gchenfc is on the money with his diagnosis. Part of it is the clash with KeyVector.

[2022-07-28 05:14] varunagrawal commented on #1246
@ClaudioCimarelli can you please share the full output of `cmake` and `make`?

[2022-07-28 13:08] ClaudioCimarelli commented on #1246
CMake GUI output:
[code]
`make check`  final output:

[code]
`make` output file log:
[out.txt](https://github.com/borglab/gtsam/files/9209865/out.txt)

Hi @varunagrawal, I have recompiled everything without python just for this test.

[2022-07-28 14:48] EulersBoiler opened #1256 "Adding accessible type information to factors"
This is a conditional feature request, that depends on the actual inability to achieve the functionality i will describe here. I would request the ability for developers to retrieve the name or type of all factors in a graph. Printing a graph using print() and thereby seeing the types is nice, but it does not allow to use this information during execution as far as i see.

I am working on a visual

[2022-07-28 23:57] ProfFan commented on #1256
I don't think this is the case. Maybe you can post the code you used here and we can see what is the thing you are trying to achieve

[2022-07-31 21:46] Tobias-Fischer opened #1259 "Allow using system ceres"
## Feature

Currently gtsam always ships its own bundled version of ceres. It would be great if a similar approach as for Eigen or Metis is taken, where alternatively the system version can be used.

## Motivation

Bundling ceres is undesirable if package managers like conda-forge are used. Also, most distributions ship ceres themselves, so there should not be a need for the bundled version.

## P

[2022-07-31 22:12] Tobias-Fischer opened #1261 "Windows Python bindings do not build (linker errors)"
## Description

## Steps to reproduce

1. Apply this [fix-python-build-win.patch.txt](https://github.com/borglab/gtsam/files/9229802/fix-python-build-win.patch.txt) which is needed to even get to the build error below. Otherwise the build fails much earlier. The patch fixes two issues:

1.1 Basically the problem is that on Linux people rename to the same name different libraries because they have

[2022-08-01 16:00] varunagrawal commented on #1259
@Tobias-Fischer I believe this is already tracked in #292? Would you be okay with closing this and updating that issue so we can track all the system libraries together?

[2022-08-01 16:01] varunagrawal commented on #1261
@mikesheffler and I spent a lot of time on Windows compilation, but there is still a lot of work to do. I might have cycles for this after the ICRA deadline...

[2022-08-01 16:06] varunagrawal commented on #1246
@ClaudioCimarelli I am still unable to reproduce this. Can you please rebuild with the following cmake command?

[code]

[2022-08-01 16:09] varunagrawal commented on #1246
The only difference between yours and mine is Boost. I use version 1.71.0, so let me try with 1.69 in the meantime.

[2022-08-01 18:58] Tobias-Fischer commented on #1259
Indeed this issue already mentions Ceres, so happy to close here.

[2022-08-01 18:58] #1259 closed

[2022-08-01 19:00] Tobias-Fischer commented on #1261
Thanks, sounds good!

One thing I forgot to mention is that we only tried with the last release (4.1.1), not with the latest commit on develop where some fixes might have landed.

[2022-08-01 19:10] varunagrawal commented on #1246
I was able to repro this issue and have submitted a fix.

[2022-08-01 20:38] #1246 closed

[2022-08-01 21:04] varunagrawal commented on #1246
@ClaudioCimarelli please try the latest develop and if it doesn't work, please reopen this issue. Looking forward to your response.

[2022-08-02 06:43] ClaudioCimarelli commented on #1246
Thank you very much. I suspected boost and installed the custom 1.69,  but reading here around, I thought 1.69 was the best. Should I update it to 1.71?

Thanks again.

[2022-08-02 07:48] EulersBoiler commented on #1256
I experimented some more and realised that dynamic_casts work to determine the type, as the dynamic cast returns a boolean for which one can check.

My current method to get the constraints from the graph looks like this.

[code]

[2022-08-02 08:31] varunagrawal commented on #1246
1.71 works extremely well for me, but 1.69 should be fine as well.

[2022-08-02 10:27] mikesheffler commented on #1261
I've been solidly on the Linux side since February**, but I can do some test building on Windows as another data point, if that is helpful.

I updated VS 2019 and pulled the `HEAD` of `develop`. Configuring with default options, the `debug` configuration of `gtsam` builds, but `gtsam_unstable` does not. There are a lot of linker errors related to multiply-defined symbols. Just for grins, I thought

[2022-08-03 07:20] OznOg commented on #99
I had the same error and here my analysis:
Eigen (in Memory.h) does things like:
[code]
the `EIGEN_MALLOC_ALREADY_ALIGNED` is defined as:

[code]

So the header detects if it is used while compiling with sanitizer, and changes the allocation policy in this case.

This is perfectly fine because eigen is header only thus `EIGEN_MALLOC_ALREADY_ALIGNED` cannot change value.

The issue come from the fa

[2022-08-03 13:09] dars-99 opened #1264 "Attribute error in ISAM2 Python examples (Pose2,Pose3 and Visual)"
## Description

While running the examples of iSAM2 related to Pose2, Pose3 and Visual, there appears an attribute error in **iSAM2Params()** . It happens at the line
[code]
Changing the above line to
[code]
fixes the issue.

[2022-08-03 15:18] varunagrawal commented on #1264
Are you using the pip version or the building the python wrapper from scratch? I just ran `Pose2ISAM2Example.py` and it works well. I thought maybe it was an issue with the .i file but that seems okay too. :confused:

[2022-08-03 15:21] varunagrawal commented on #1114
@goldenhazard #874 has the full documentation of the integration covariance.

[2022-08-03 15:22] varunagrawal commented on #1192
@simin75simin I recently pushed some fixes to the python wrapper, so can you please try with the latest `develop`?

[2022-08-03 19:01] dars-99 commented on #1264
I am just cloning the whole repository using git and building the package and directly running it

[2022-08-04 19:16] dars-99 commented on #1264
I have installed gtsam using pip3 and the examples are working fine now. But when I run my code  I get an attribute error.

Currently gtsam is located in the following path **~/.local/lib/python3.6/site-packages/gtsam**.

I am not sure if this is the right installation path.

[2022-08-04 19:30] dars-99 commented on #1264
I think I found out the problem. The installation through pip3 works perfectly because the examples has the change I mentioned above. But the examples on the git doesn't have the change which throws an attribute error.

[2022-08-04 19:38] varunagrawal commented on #1264
I tried running the examples on GitHub directly and they work well for me. Can you please post how you are running your code?

[2022-08-04 21:09] dars-99 commented on #1264
Well I tried to remove my installation and rebuilt the package from scratch. The package is built successfully. But I am getting an error saying that the **gtsam** module is not found. Not sure what is the issue. But the install process completed without any error.

[2022-08-04 22:08] dars-99 commented on #1264
I tried to rebuild the package from source by completely removing the previous installation. I was able to build the wrappers successfully. But for some reason it is throwing an error saying **gtsam** module not found. I am not sure why this is happening. But the installation completed successfully.

[2022-08-04 22:10] varunagrawal commented on #1264
Did you run `make python-install`?

[2022-08-05 00:12] dars-99 commented on #1264
Yep that fixed my issue and also the examples are running without any error. I'm not sure why it is working now. But thanks for your help!

[2022-08-05 00:33] varunagrawal commented on #1264
Ah that's because that command installs the built package so that Python can use it. I am guessing Python was using the pip installed version previously.

Glad we figured this out.

[2022-08-05 00:33] #1264 closed

[2022-08-08 10:22] FaDoSolReLaMiTi opened #1266 "Point3 And Point2 In Python"
## Description
I managed to compile the Python wrapper but it cannot pass the python-test.
It shows some errors like

In python, Point3 is 1x3 numpy array and converted into Eigen::Matrix<double,-1,1,0,-1,1> when adding the initial values for the solver. However, the factor graph keeps Eigen::Matrix<double,3,1,0,3,1> when adding a factor (e.g. PriorFactorPoint3).

## Steps to reproduce

1.  Exactl

[2022-08-09 16:17] #581 closed

[2022-08-12 11:38] pglira opened #1269 "Tutorial: Error in first order approximation of pose increment?"
![2022_08_12_13_36_21](https://user-images.githubusercontent.com/14214284/184346501-3a7322ff-f140-466c-b368-68803a79cdc0.png)

[2022-08-16 06:12] pglira commented on #1269
I noticed right now that it is already corrected in ``doc/ImuFactor.pdf``:
![image](https://user-images.githubusercontent.com/14214284/184809958-a5d8c539-aa02-480d-bebb-bc49a626db9e.png)

However, in the turorial on the website it is still not correct.

[2022-08-16 18:25] pglira commented on #1269
I can do that, however, I don't know where to find the tutorial file of the website here on github.

Specifically, I'm talking about this page: https://gtsam.org/tutorials/intro.html

[2022-08-16 18:37] dellaert commented on #1269
This is probably what you’re looking for: https://github.com/borglab/gtsam.org

[2022-08-17 21:35] ProfFan commented on #1266
Interesting, I think I fixed this already in #1168. Can you try using `. insertPoint3` and report the results?

[2022-08-17 21:37] ProfFan commented on #1256
Yup, you can just dynamic_cast the pointer and check for nullptr.

Feel free to reopen if you think this is not good.

[2022-08-17 21:37] #1256 closed

[2022-08-17 21:38] ProfFan commented on #1233
@lpea wonder if it is numerically negatively impacting your application?

[2022-08-17 21:39] ProfFan commented on #1233
I can take a few hours to look at it immediately if that is the case

[2022-08-17 21:41] ProfFan commented on #1226
If you have a factor in ceres it's easy to convert, but you have to make sure that you have a correct Jacobian.

[2022-08-17 21:54] FaDoSolReLaMiTi commented on #1266
Thank you very much. It works now. I replaced the `initial_values.insert` with `initial_values.insert_point3` in the python test scripts and then it can pass the python test.

[2022-08-17 21:54] #1266 closed

[2022-08-17 22:43] dars-99 opened #1272 "Custom binary factor python"
Hello,

I'm trying to create a custom factor between two different kind of variables in python. The variables are camera pose and landmark pose. I am estimating the relative pose between the camera and landmark using a single frame since I know the object's dimension in real world. I am able to get the relative pose but I am unable to add this to the graph because I don't know how to create a cust

[2022-08-17 22:54] ProfFan commented on #1272
I think https://github.com/borglab/gtsam/blob/d3544d4c06c6ebe1af7f4d810c932a7785348d10/python/gtsam/examples/CustomFactorExample.py#L50 is what you need? It takes 2 variables as input.

[2022-08-17 23:07] dars-99 commented on #1272
So in this examples the two variables belong to same type(X). I want to pass two different type of variables(X and L). Is it possible?

[2022-08-17 23:13] ProfFan commented on #1272
It's the same.

[2022-08-17 23:20] dars-99 commented on #1272
I will look into this. Thanks for your input

[2022-08-17 23:20] #1272 closed

[2022-08-21 13:05] #1182 closed

[2022-08-21 20:33] #368 closed

[2022-08-21 20:33] #1114 closed

[2022-08-22 08:20] hiyyg opened #1274 "How to construct isam2 with NonlinearFactorGraph and Values?"
Currently with the `update` method of isam2, the values will be updated.

If I want to just assign the values to the variables without update, how can I achieve that?

[2022-08-22 10:45] ChallengeHe opened #1275 "Build failed when using static library 'libgtsam.a'"
## Description
 Build failed when using static library 'libgtsam.a'. But build with the shared library 'libgtsam.so' has no issues.

## Steps to reproduce
Here is the build output infomation:

`libgtsam.a(LabeledSymbol.cpp.o): In function "boost::io::basic_oaltstringstream<char, std::__ndk1::char_traits<char>, std::__ndk1::allocator<char> >::~basic_oaltstringstream()":
LabeledSymbol.cpp:(.text._ZN

[2022-08-22 15:10] lpea commented on #1233
@ProfFan It does not seem to be troublesome as far as I'm concerned.

[2022-08-22 16:59] ProfFan commented on #1233
Thanks @lpea , I'll take a look later then

[2022-08-22 17:02] ProfFan commented on #1275
This is related to boost linkage, which boost version are you using? Static build under Windows is something I guess nobody here has ever tried.

[2022-08-22 17:57] ChallengeHe commented on #1275
Thanks a lot for your reply.My version is "boost-1_74". Actually I am tring to use this lib on Android platform and it was build by NDK . The static lib was built on Ubuntu linux OS. I guess it could be platform or compiler issue. -------- 原始邮件 --------发件人： Fan Jiang ***@***.***>日期： 2022年8月23日周二 01:02收件人： borglab/gtsam ***@***.***>抄送： Damon ***@***.***>, Author ***@***.***>主    题： Re: [borglab/gts

[2022-08-22 18:35] ProfFan commented on #1275
Is dynamic linkage a problem for you? Last time I tried static linking on Linux there is no problem. `__aarch64_ldadd4_acq_rel` looks like an intrinsic so I guess you can try turn off `-march=native` and try again.

Please check your compilers.

[2022-08-23 01:54] ChallengeHe commented on #1275
Dynamic lib works fine , but I need to use static lib for my Project.

Here is my commands for compiling:
`/opt/clion-2022.1.3/bin/cmake/linux/bin/cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER=/opt/android/sdk/ndk/25.0.8775105/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android30-clang -DCMAKE_CXX_COMPILER=/opt/android/sdk/ndk/25.0.8775105/toolchains/llvm/prebuilt/linux-x86_64/bi

[2022-08-23 09:17] wangg12 opened #1278 "[UnSolved] Bug when serializing binary ISAM2 with large factor graph."

[2022-08-23 13:08] ProfFan commented on #1278
Please provide information as suggested by the template

[2022-08-23 13:10] ProfFan commented on #1275
`-DGTSAM_BUILD_WITH_MARCH_NATIVE=OFF` in cmake

[2022-08-23 13:49] wangg12 commented on #1278
Just add a large number of factors using the test example provided in this repo, you will see a core dump.

[2022-08-23 14:17] ProfFan commented on #1278
Sorry but if you do not provide stack traces and your system info/build info we cannot help.

[2022-08-23 15:59] wangg12 commented on #1278
@ProfFan I added an example repo https://github.com/wangg12/gtsam_serialze_test to reproduce the bug.

On different computers, the `num` limit https://github.com/wangg12/gtsam_serialze_test/blob/master/test.cc#L77 for `Segmentation fault (core dumped)` might be different.

I used gdb to debug this bug, but it is hard to know how to fix this problem:
[code]

**NOTE**: For the same `num`, I can save

[2022-08-23 18:22] ProfFan commented on #1278
Can you try a different boost version? Also, what is your stack size limit? It seems this is a stack overflow. (you can use ulimit to adjust)

[2022-08-23 23:17] wangg12 commented on #1278
tried, doesnt work.

[2022-08-24 10:28] hiyyg opened #1279 "writeG2o will eliminate symbols"
If more than one symbols are in the factor graph, the vertex indices in the results will only contain the keys without the symbols.

So there will be duplicated indices which is not the expected behavior.

[2022-08-29 02:33] duanabao opened #1283 "wrong use of gtsam_wrapper, undefined function 'gtsam.KeyVector' corresponding to input argument of type 'uint64' when running test_gtsam.m"
The environment is:
vmware + ubuntu 18.04 + gtsam of the latest develop branch + matlab 2021b

The problem description: matlab toolbox is installed succefully and I get the gtsam_toolbox in /usr/local, but when I tried to run /usr/local/gtsam_toolbox/gtsam_tests/test _gtsam

I got the following messages:
*****************************************
wrong use of gtsam_wrapper
Exception from gtsam:
und

[2022-09-14 01:28] fwf-lernen opened #1291 "Warp EssentialMatrixConstraint into Matlab toolbox"
I want to use EssentialMatrixConstraint in my work(based on matlab). I find that EssentialMatrix and EssentialMatrixFactor have been wrapped. However, after searching hard, I didn't find any m-files or code samples related to EssentialMatrixConstraint in the toolbox. Is this feature wrapped and if not how can I add it to matlab? (I found in an earlier [issue](https://github.com/borglab/gtsam/pull/

[2022-09-15 10:25] anchao1997 opened #1292 "some questions about the Jacobian of Pose3::transformTo() and Pose3::transformTo()"
Here are the implement of Pose3::transformTo() and Pose3::transformTo()
[code]
why should be
[code]
and
[code]

Could someone explain this question?

[2022-09-16 01:54] anchao1997 commented on #1292
I get the answer from LieGroups.pdf in doc

[2022-09-16 01:54] #1292 closed

[2022-09-19 01:38] iwohaocai commented on #1278
@wangg12 i have the same problem ,have you solved?

[2022-09-19 02:31] wangg12 commented on #1278
Of course not.

[2022-09-19 02:36] iwohaocai commented on #1278
@wangg12  我在自己查，看看能不能自己搞定，要不要加个 v

[2022-09-19 03:15] wangg12 commented on #1278
@iwohaocai ok, my id is `posegraph`

[2022-09-19 18:26] ProfFan commented on #1278
Might be a boost version issue

[2022-09-21 07:40] iwohaocai commented on #1278
@ProfFan @wangg12 thanks for your help ,two reasons caused this error,first if we have too many factor graph ,we should
ulimit -s unlimited . the second reason is i use two noise ,   noiseModel::Robust and noiseModel::Diagonal,and i did not BOOST_CLASS_EXPORT_GUID(gtsam::noiseModel::mEstimator::Cauchy, "gtsam_noiseModel_mEstimator_Cauchy").
my english is poor ,thank you again

[2022-09-21 18:23] ProfFan commented on #1278
Glad to see it resolved :)

[2022-09-21 18:23] #1278 closed

[2022-09-26 10:13] laxnpander commented on #907
@GabiShahmayster I have written a motion-only BA for my own framework. There are some custom types in this code snippet, but it should be straightforward to work out. I have another implementation in ceres, which does the same thing and the results are pretty the same. So it should be somewhat legit. This is for the monocular pinhole case only though.

[code]

[2022-09-27 07:48] xqyuan060728 commented on #1279
I have come across the same problem!
Besides, I have tested the code with different version of gtsam, I found that in gtsam4.0.2(the version lvi-sam recommented), the symbols and keys can be stored as long sequences of figures in a g2o file, however, in gtsam4.2.0, the symbol is missing, there are only keys of vertex in the g2o file. So, when load the g2o file, it throwing an instance of 'gtsam::V

[2022-09-27 12:46] OznOg opened #1297 "gtsam should use eigen cmake config file"
## Feature

gtsam uses a custom FindEigen3.cmake but eigen3 already provides a Eigen3Config.cmake for eigen detection.

## Motivation

Using vanilla cmake detection will prevent maintaining code and overall prevent bad usage and detection of the library:

for example, path to the eigen lib eventually get embeded in the gtsamConfig.cmake which should not be the case (gtsam should use find_dependenc

[2022-09-28 14:01] wolfcanli opened #1298 "error: ‘identity’ is not a member of ‘gtsam::Pose3’"
## Description

Hi, there. When I tried to build some [code,](https://github.com/MIT-SPARK/Kimera-VIO-ROS), I got this error :error: ‘identity’ is not a member of ‘gtsam::Pose3’
## Steps to reproduce

1. [MIT-SPARK/Kimera-VIO-ROS](https://github.com/MIT-SPARK/Kimera-VIO-ROS)
2.

`In file included from /home/timsir/ws/kimera_vio_ros/src/Kimera-VIO/include/kimera-vio/common/VioNavState.h:27:0,

[2022-10-04 18:42] ProfFan commented on #1298
It's now `Identity` (note the case)

[2022-10-04 18:42] #1298 closed

[2022-10-04 18:43] ProfFan commented on #1297
Yeah but we don't have bandwidth for this, but contributions are always welcome!

[2022-10-05 19:50] OznOg commented on #1297
what is the oldest eigen version supposed to be supported by current gtsam?

[2022-10-06 19:36] OznOg commented on #1297
looks like to be 3.3.0, any one can confirm, please?

[2022-10-06 23:04] ProfFan commented on #1297
3.3.4-4 as in Ubuntu 18.04

[2022-10-07 12:25] Neal0529 opened #1303 "About [mapOptmization-6] process has died"
Because I'm the new computer with the version ubuntu 18.04.I have checked my version(gtsam 4.0.0-alpha2 ). I never meet the problem if I make "sudo apt-get install libparmetis-dev" or "export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib".
The more detalis like this:
SUMMARY
========

PARAMETERS
 * /mapOptmization/file_dir: /home/***
 * /mapOptmization/pitch: 0.0
 * /mapOptmization/roll: 1.57079

[2022-10-07 15:45] ProfFan commented on #1303
Please report this problem to LEGO LOAM

[2022-10-07 15:45] #1303 closed

[2022-10-07 21:10] varunagrawal commented on #1297
@OznOg has this been a problem for you? This seems to be more of an opinion rather than a bug or issue.

[2022-10-08 09:43] OznOg commented on #1297
This is not, I'm working to integrate gtsam on yocto and I had to patch it for this, this is why I'm looking forward having the code patched upstream.
Moreover *any* packager will encounter the very same problem as the path put in the includes of the target references the build tree which it should not.

[2022-10-08 15:19] varunagrawal commented on #1297
Awesome. Thanks for the info and the PR @OznOg :)

[2022-10-09 07:49] OznOg commented on #1297
welcome! If I write more patches for yocto tht make sens in the mainline, I'll open another ticket.

[2022-10-12 08:20] marcelinomalmeidan opened #1305 "Is jointMarginalCovariance behaving as expected?"
## Description

I have been using GTsam's up-to-date `origin/develop` branch using Matlab's wrapper in Matlab 2021a.
I was trying to use the function `jointMarginalCovariance`, but I am wondering if I really understand it. In specific, I don't understand why it returns different values when compared to `marginalCovariance`. If they aren't supposed to yield different results, then this might be a b

[2022-10-13 16:35] ArisKoublis opened #1307 "Sliding window with ISAM2"
Trying to implement a Graph SLAM with a sliding window optimization scheme, meaning that I want the poses and the landmarks of the last n seconds to be optimized only during each update, not the entirety of the factors but also not wiping the factor graph clean after each update (updates happen more regularly than n seconds). Can anybody please propose a computationally efficient way of removing o

[2022-10-14 10:53] KorovkoAlexander commented on #1214
Have the same issue and the same looking gragh.
Dont know how to solve it:(

[2022-10-14 19:16] ProfFan commented on #1214
@yetongumich and @varunagrawal could you look at this bug report?

[2022-10-15 14:24] goktugyildirim commented on #1214
I realized that in the case of using the same vector of points seen from all cameras, it is able to update the variables.

[2022-10-24 06:58] sibi-venti opened #1313 "ubutnu 16 compilation or compilation accept boost 1.58"
## Feature

is there a version I can use to compile for ubuntu 16 or support with boost 1.58
or do I have to download boost 1.74
## Motivation

## Pitch

## Alternatives

## Additional context

[2022-10-25 04:12] 1uxxx commented on #1303
I encountered the same problem and wanted to know how to solve it.

The difference is that my lego loam did not run with this error at the beginning.

But when I run lego loam after installing the dependencies of hdl_localization, it will report this error

[2022-10-25 11:01] Neal0529 commented on #1303
I just reinstall ubuntu 20.04
&nbsp;

琉年欢
***@***.***

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月25日(星期二) 中午12:12
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [borglab/gtsam] About [mapOptmization-6] process has died  (Issue #1303)

I encountered the same problem and wanted to know how to solve it.

The difference is tha

[2022-10-25 14:20] #1297 closed

[2022-11-01 11:55] hfr2015 commented on #1186
tag: wrap-export
file: gtsam/gtsam_unstable/slam/PartialPriorFactor.h:124:53: error: invalid initialization of reference of type ‘const std::vector<bool>&’ from expression of type ‘const std::vector<long unsigned int>’

[2022-11-03 07:00] wugeshenhuaking opened #1320 "How to specify gtsam under non-standard path in cmake?"
I installed version 4.0.0 of gtsam in a custom path. I used the following statement to configure this version in cmakelist.txt, but it failed.Cmake always finds the gtsam installed in the /usr/local/path.

`
set(GTSAM_DIR "/home/wyw/3rdparty/gtsam_4.0.0/lib/cmake/GTSAM")
find_package(GTSAM REQUIRED)
`

[2022-11-05 07:28] Gatsby23 commented on #769
Sorry for troubling you, but what version of gtsam have you used? I have met the same problem as you and change the CMakeLists.txt too, but it still can't find the tbb

[2022-11-08 07:17] hovavalon opened #1322 "Compilation Problems and Missing Includes"
Hello,
I have recently cloned the repository (commit `c21186c6212798e665da6b5015296713ddfe8c1d`) and tried to compile it.
I am running on an `ubuntu 20.04.1`, with `cmake 3.16.3` and `gcc 9.4.0`.

I have installed all the required libraries, created a build directory, ran `cmake` and then `make`.
In the following files I got errors due to usage of `cout` without including `iostream`:

gtsam/base/V

[2022-11-08 15:59] #1322 closed

[2022-11-10 07:02] sonphambk commented on #1226
@TurtleZhong Did you resolve your issue?

[2022-11-11 02:37] kechaofan commented on #1307
take a look at incremental_smoother

[2022-11-12 16:57] varunagrawal commented on #1307
What you want is a fixed lag smoother. You want to marginalize out the last pose/landmarks when you add new ones.

[2022-11-13 09:50] huanglilong opened #1325 "fisheye camera distortion issue"
https://github.com/borglab/gtsam/blob/256c664aaaa27a3204411e461d4d93c0e168bd6b/gtsam/geometry/Cal3Fisheye.cpp#L57

@ghaggin according to https://arxiv.org/pdf/1807.08957.pdf and https://users.aalto.fi/~kannalj1/publications/tpami2006.pdf

`const double s = scaling * K.dot(T);` should be `const double s = scaling * K.dot(T) * t;`

because K.dot(T)  is not equals to d(t) in (27)
![image](https://use

[2022-11-13 10:05] huanglilong commented on #1325
the issue is from this pull https://github.com/borglab/gtsam/pull/307 @ghaggin @dellaert
![image](https://user-images.githubusercontent.com/7278867/201516409-b9e2dd0b-606c-4e14-a6bf-fcd0341d3bdc.png)

[2022-11-13 15:28] varunagrawal commented on #1325
That's interesting. Looks like we don't have the correct unit test coverage for this.

[2022-11-13 15:35] huanglilong commented on #1325
from kalibr: https://github.com/ethz-asl/kalibr/blob/master/aslam_cv/aslam_cameras/include/aslam/cameras/implementation/EquidistantDistortion.hpp#L23
<img width="586" alt="image" src="https://user-images.githubusercontent.com/7278867/201530182-879c3193-f2b9-4f27-8885-f4aae5eb0309.png">

[2022-11-14 10:24] huanglilong commented on #1325
@varunagrawal @ghaggin @roderick-koehle @dellaert please review https://github.com/borglab/gtsam/pull/1326

[2022-11-16 03:57] #1325 closed

[2022-11-16 15:36] berndpfrommer opened #1329 "TBB library not used when building in RelWithDebInfo"
This bug/feature  is observed when building on Ubuntu 20.04LTS x86_64 as "RelWithDebInfo". Since RelWithDebInfo is the current mode how the Ubuntu packages are built, this bug/feature causes the Ubuntu package to compile without TBB.
## Description
When running
[code]
The TBB library is found and used as it should. In the cmake output the following lines can be found:
[code]
When building with Rel

[2022-11-22 14:49] hovavalon commented on #1071
Hello @kkoledic1212 , did you find out the answer on your own?
I have recently tried to solve a similar problem, and I think there is no appropriate factor for translation scale in GTSAM.

[2022-11-23 06:24] hovavalon opened #1333 "Pose3 Subvertices"
## Feature

Pose3 contains both 3D transformation and 3D attitude. It should be possible to add a factor which is attached only to a pose's transformation or attitude.

## Motivation

In some cases, we have a Pose3 element, and we would like to add constraints only on its attitude or on its translation

## Pitch

I am not that familiar with the code of the library, so I will present a few general

[2022-11-23 08:52] hovavalon opened #1334 "IMUScaledFactor"
## Feature

A factor named `IMUScaledFactor`, which gets a key for a scale , two keys for two positions, and the IMU preintegration between them.

## Motivation

Some SLAM algorithms such as ORB-SLAM3 use bundle adjustment to find out the scale of the 3D positions of points identified in multiple frames.
Without this scale, it is not practical to obtain accelerometer biases from the bundle adjustm

[2022-11-23 13:33] laxnpander commented on #1216
Hey all,

same issue for me on 20.04. I can provide the following CMake config:

[code]

I don't think it crashed, but it compiles for 3h now on a rather weak laptop. Python bindings are deactivated. Will report back if it finishes the build at some point.

[2022-11-27 00:46] dellaert commented on #1334
Hmmm. There are observability issues with IMUs, for sure, but under the right motions biases should be observable without introducing an unknown scale, is my understanding.

[2022-11-27 00:48] dellaert commented on #1333
There is already an Attitude factor, and other elements can be constrained using expression factors.

[2022-11-27 10:06] hovavalon commented on #1333
OK, great!
I am not sure I fully understand, how would I use expressions in such a case?
Should I create a key for the pose, the translation and the attitude, and then generate equality expressions between them somehow?

[2022-11-27 10:11] hovavalon commented on #1334
For sure, first approximating the bias and then rescaling the visual data accordingly is possible, but it has some disadvantages.
Actually, I would like to use something like the scale factor used by the ORB-SLAM3 [here](https://github.com/UZ-SLAMLab/ORB_SLAM3/blob/0df83dde1c85c7ab91a0d47de7a29685d046f637/src/G2oTypes.cc), `EdgeInertialGS`, as ORB-SLAM3 have shown substantial improvement over othe

[2022-11-27 12:57] hovavalon opened #1335 "New IMU Preintegration Method"
## Feature

A preintagration class implementing the method fomulated in ["On-manifold preintegration for real-time visual–inertial odometry"](https://ieeexplore.ieee.org/document/7557075).

## Motivation

The method mentioned above is new and was found to be effective in visual inertial SLAM, as described in [ORB-SLAM3](https://arxiv.org/abs/2007.11898).

## Pitch

This class should inherit `Prein

[2022-11-27 14:45] #1335 closed

[2022-11-28 10:10] laxnpander opened #1336 "Expressions cause segfault on Windows (MSVC 2019 v16)"
## Description

Expressions seem to cause a segfault on Windows 2019 v16 (potentially others as well). None of the examples with expressions work. According to the debugger, the following line causes the crash (ExpressionNode.h, L279):

[code]

Stacktrace:
[code]

## Steps to reproduce

CMake configuration is with GTSAM_BUILD_UNSTABLE=OFF and GTSAM_BUILD_PYTHON=OFF. Compiler used is MSVC2019 v16 w

[2022-11-28 10:34] laxnpander commented on #1336
Update: I removed ` (ptr) ` in all lines like these:
https://github.com/borglab/gtsam/blob/a2ffca4ea5470df7b29ccd22f9f2dc7252a840e2/gtsam/nonlinear/internal/ExpressionNode.h#L322

so it's like

[code]

instead of

[code]

Now the examples seem to work (no crash, low final error). Can someone smarter than me say if this modification is safe?

[2022-11-30 00:51] dellaert commented on #1336
Interesting. This is the [placement new operator](https://www.geeksforgeeks.org/placement-new-operator-cpp/) and I remember it being crucial for performance and correctness. I have no idea why it would give problems on windows, unless there is some change in how they handle this (fairly rarely used) C++ feature.

[2022-11-30 01:05] ProfFan commented on #1336
@laxnpander  Could you try modifying https://github.com/borglab/gtsam/blob/43e8f1e5aeaf11890262722c1e5e04a11dbf9d75/gtsam/nonlinear/internal/ExecutionTrace.h#L38 to be 64 instead of 32?

[2022-11-30 13:15] laxnpander commented on #1336
@ProfFan Still segfaulting. I just realised that Pose `Pose2SLAMExampleExpressions.exe` works. However, `Pose3SLAMExampleExpressions_BearingRangeWithTransform.exe` as well as `SFMExampleExpressions.exe` are crashing. Not sure if this helps. Will recompile your change with debug flag and see if stacktrace changed or not.